{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_category %}

{% block extra-head %}
    {% if category.meta %}
        <meta name="description" content="{{ category.meta|escape }}">
    {% endif %}
{% endblock %}

{% block header-text %}{{ category.translated_name }}{% endblock %}
{% block header-description %}
    {% if category.translated_description %}{{ category.translated_description }}{% endif %}
{% endblock %}


{% block content %}
    {% include 'frontend_referral_required_message.html' %}
    {% include 'frontend_offers.html' %}

    <div id="product_category">
        {% for product in all_products %}
            {% if forloop.first %}
                <div class="invent-gallery">
                {% if child_categories %}
                    <ul id="gallery-splitter-1" class="gallery-splitter">
                        <li class="gallery-all selected"><a href="#gallery-all" rel="all">All</a></li>
                        {% for cat in child_categories %}
                            <li class="gallery-{{cat.slug}}"><a href="#gallery-{{cat.slug}}"
                                                                rel="gallerygroup-{{cat.slug}}">{{ cat.translated_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="portfolio-1-4 no-description">
            {% endif %}

        <div class=" {% for c in product.category.all %}gallery-{{ c.slug }} {% endfor %}">
	  <span class="image-decoration image-left shadow-220" style="margin-bottom:0px">
	    <a href="{{ product.get_absolute_url }}" title="{{ product.translated_name }}" data-fancybox="2"
           class="external">
            <span class="image-hover" style="opacity: 0.5; "></span>
            <span class="image-hover-icon" style="opacity: 1; "></span>
            {% if product.main_image %}
                {% thumbnail product.main_image.picture 127x100 crop="center" as image %}
                <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                     class="attachment-invent-small" alt="{{ product.translated_name }}"
                     title="{{ product.translated_name }}">
            {% else %}
                {% thumbnail 'images/cat-default.jpg' 200x200 as image %}
                <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                     class="attachment-invent-small" alt="{{ product.translated_name }}"
                     title="{{ product.translated_name }}">
            {% endif %}
        </a>
	 </span>

        </div>

        {% if forloop.last %}
            </div>
            </div>
        {% endif %}

        {% endfor %}

        {% if sale %}
            {% include "product/some_discount_eligible.html" %}
        {% endif %}
    </div>
{% endblock %}
