{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}

{% block extra-head %}
    {% if product.meta %}
        <meta name="description" content="{{product.meta}}">
    {% endif %}
{% endblock %}

{% block header-text %}{{ product.translated_name }}{% endblock %}
{% block header-description %}
    {% if product.translated_short_description %}{{ product.translated_short_description }}{% endif %}
{% endblock %}


{% block content %}
    {% include 'frontend_referral_required_message.html' %}
    {% include 'frontend_offers.html' %}

    <div class="invent-gallery">
        <ul class="portfolio-1-1">
            <li>
                <a class="portfolio_image"
                   title="{% if product.translated_short_description %}{{ product.translated_short_description }}{% endif %}"
                   href="/media/{{ product.main_image.picture }}" data-fancybox="2">
                    {% thumbnail product.main_image.picture 127x200 crop="center" as image %}
                    <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                         alt="{% if product.translated_short_description %}{{ product.translated_short_description }}{% endif %}"
                         style="margin:auto">
                </a>

                <div class="image-description">
                    <p>
                        {% if product.translated_description %}{{ product.translated_description }}{% endif %}
                    </p>

                    <h5>
                        {% trans "Price" %} {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}:
                        {% if sale %}<strike id="fullprice"
                                             style="display: block;">{{ product|discount_price:""|currency }}</strike>{% endif %}
                        <span id="price">{{ product|discount_price:sale|currency }}</span>
                    </h5>


                    {% with product.translated_attributes as atts %}
                        {% if atts %}
                            <p class="productattributes">
                                {% for att in product.translated_attributes %}
                                    {{ att.description }}: {{ att.value }}<br/>
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endwith %}

                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                    {% if request.referred_by %}
                        <form id="options" action="{% url satchmo_smart_add %}" method="post">
                            {% csrf_token %}
                            {% trans "Quantity" %} <input type="text" size="5" name="quantity" id="quantity" value="1"
                                                          class="priced"/>
                            <input type="hidden" name="productname" id="productname" value="{{product.slug}}"/>
                            <input type="submit" name="addcart" value="{% trans "Add to cart" %}" class="addcart pink"/>
                            {% plugin_point "product_add_buttons" %}
                            {% plugin_point "product_form" %}
                        </form>
                    {% endif %}

                    <style>
                        .addcart {
                            display: inline-block;
                            outline: none;
                            cursor: pointer;
                            text-align: center;
                            text-decoration: none;
                            font: 14px/100% Arial, Helvetica, sans-serif;
                            font-weight: bold;
                            padding: .5em 2em .55em;
                            text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
                            -webkit-border-radius: .5em;
                            -moz-border-radius: .5em;
                            border-radius: .5em;
                            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
                            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
                            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

                            font-size: 11px;
                            padding: .4em 1.5em .42em;
                        }

                        .addcart:hover {
                            text-decoration: none;
                        }

                        .addcart:active {
                            position: relative;
                            top: 1px;
                        }

                        .pink {
                            color: #feeef5;
                            border: solid 1px #d2729e;
                            background: #f895c2;
                            background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
                            background: -moz-linear-gradient(top, #feb1d3, #f171ab);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#feb1d3', endColorstr = '#f171ab');
                        }

                        .pink:hover {
                            background: #d57ea5;
                            background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
                            background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f4aacb', endColorstr = '#e86ca4');
                        }

                        .pink:active {
                            color: #f3c3d9;
                            background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
                            background: -moz-linear-gradient(top, #f171ab, #feb1d3);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f171ab', endColorstr = '#feb1d3');
                        }

                    </style>
                    <!--
         <a href="#" class="button-small-theme-color left">
           <span>View online</span>
         </a>
         -->
                </div>
            </li>

        </ul>
    </div>
{% endblock %}

