/* ================================================= */
/* This file created by Aivah                        */
/* Dated: 3rd Feb 2009	                             */
/* Copyright : 2009 Aivah.com                        */
/* Stylesheet: common.css                            */
/* ================================================= */


html, body, div, span, small, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, abbr, blockquote, acronym, address, code, del, dfn, dl, dt, dd, em, img, q, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, b, p {
border : 0;
font-size : 100%;
font-family : inherit;
}
img,  input { behavior: url("iepngfix.htc") }
body {
background : #d5d5d5;
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
line-height : 1.5em;
color : #000000;
margin : 0;
}
.clearfix:after {
content : ".";
display : block;
clear : both;
visibility : hidden;
line-height : 0;
height : 0;
}
.clearfix {
display : inline-block;
}
html[xmlns] .clearfix {
display : block;
}
* html .clearfix {
height : 1%;
}
#wrapper {
width : 100%;
height : auto;
margin : auto;
}
#toppart {
width : 100%;
height : auto;
margin : auto;
}
#footer {
width : 100%;
height : 100px;
margin : auto;
background : #414141;
}
p.copyright {
color : #cecece;
font : 1em Arial, Helvetica, sans-serif;
margin : auto;
padding : 10px 20px;
}
#header {
background : #ffffff url(../images/header.gif) repeat-x bottom left;
height: 142px;
width : 100%;
}
.logo {
margin : auto;
padding : 0 0 0 0;
}
#header span {
padding : 30px 30px;
font : bold 1em Arial, Helvetica, sans-serif;
color : #484848;
}
#header span small {
font : 11px Arial, Helvetica, sans-serif;
color : #f64e40;
}
.logo a:link {
color : #484848;
}
.logo a:hover {
color : #ffffff;
}
/* ================================================= */
/* 	 COLUMN CSS                               */
/* ================================================= */
#middlepart {
overflow : auto;
height : 100%;
background : #d5d5d5;
margin : auto;
padding : 20px 20px;
}
#leftcolumn {
width : 70%;
padding : 10px 10px;
background : #ffffff;
float : left;
}
#rightcolumn {
width : 25%;
padding : 10px;
background : #ffffff;
float : right;
}

/* ================================================= */
/* 	 ToP MENU CSS                               */
/* ================================================= */
#menu {
background : #414141 url(../images/menu.gif) repeat-x;
height : 31px;
width : 100%;
}
#menu .topmenu {
width : 900px;
margin : auto;
}
/* ================================================= */
/* 	 Settings MENU   CSS                               */
/* ================================================= */
.settingsblock
{
width:auto;
background : #414141 url(../images/settingsbg.gif) top left repeat-x;
padding:0px 10px 5px 10px;
height:70px;
margin:auto 0 0px 0;
clear:both;
}
.settingsblock div
{
float:left;
font:normal 2em Arial, Helvetica, sans-serif;
color:#CCCCCC;
padding:20px 0 0 10px;
}
.settingsblock div a:visited, .settingsblock div a:active, .settingsblock div a:link
{
background :url(../images/arrow.gif) 0% 50% no-repeat;
padding:10px 10px;
float:left;
}
.settingsblock img
{ vertical-align:middle;}

.settingsblock a:link, .settingsblock a:visited, .settingsblock a:active
{ border:0px solid #d9d9d9;
display:inline-block;
margin:0 5px 0 0;
float:right;
padding:5px;
color:#fff;
font:normal 10px tahoma, Helvetica, sans-serif;
font-weight:bold;
text-align:center;
}
.settingsblock a:hover
{ 
color:#f64e40;
}
/* ================================================= */
/* 	 SUB MENU   CSS                               */
/* ================================================= */
#submenu {
background : #fff URL(../images/submenu.gif) top left repeat-x;
padding : 1px 10px;
}
#submenu ul {
margin : 0;
padding : 5px;
}
#submenu li {
list-style : none;
display : inline;
font-weight : bold;
margin : 0 3px 0 0;
padding : 4px 10px;
}
#submenu li a {
color : #ececec;
}
#submenu li:hover {
color : #fff;background:URL(../images/menutop.gif) 50% 0% no-repeat;
}
#submenu li.iehoversm {
color : #fff;background:URL(../images/menutop.gif) 50% 0% no-repeat;
}

#submenu li a:hover {
color : #fff;
}

/* ================================================= */
/* 	 SIDEBAR MENU CSS                              */
/* ================================================= */
#sidebarmenu {
background : #fff;
padding : 1px 0px;
}
#sidebarmenu ul {
margin : 0;list-style : none;
padding : 0px;
}
#sidebarmenu li {
list-style : none;
font-weight : bold;
line-height:25px;
margin : 0 0px 1px 0;
padding : 4px 10px;
border-left:5px solid #414141;
background : #ededed;
}
#sidebarmenu li a {
color : #414141;
}
#sidebarmenu li:hover {
color : #f64e40;
}
#sidebarmenu li a:hover {
color : #f64e40;
}
#sidebarmenu .activesub
{
color:#f64e40;
}
/* ================================================= */
/* 	 SEARCH BAR CSS ITEMS                          */
/* ================================================= */
.searchbar
{
float:right;
padding: 3px 20px 0 0;
text-transform:uppercase;
color:#fff;
}
.searchbar input
{
padding:0px 10px;
}
#submenu img
{
vertical-align:middle;
}
/* ================================================= */
/* 	 Login Box CSS ITEMS                              */
/* ================================================= */
.loginform {
border-top : 0px solid #414141;
padding : 10px;
}
#login form .remember {
float : left;
}
form.loginform label { float:left;}
form.loginform input { clear:left;}
#login .forgot {
clear : both;
float : left;
}
#login form .submit input {
padding : 3px 8px;
border : none;
background : #39b54a;
text-transform : uppercase;
text-decoration : none;
color : #ffffff;
}
#login form .submit input:hover {
padding : 3px 8px;
border : none;
color : #ffffff;
background : #007236;
text-decoration : none;
text-transform : uppercase;
}
form .submit {
float : right;
}
#login {
width : 550px;
margin : 1em auto;
}
#userpass, #userlogin, #useremail {
font-size : 12px;
width : 97%;
padding : 3px;
}
.vmiddle 
{
 vertical-align:middle;
}
/* ================================================= */
/* 	 COMMON CSS ITEMS                              */
/* ================================================= */
a:link, a:visited, a:active {
color : #484848;
text-decoration : none;
}
a:hover {
color : #f64e40;
text-decoration : none;
}
h1 {
font-size : 250%;
margin : 10px 0;
font-weight : normal;
}
h2 {
font-size : 210%;
margin : 8px 0;
font-weight : normal;
}
h3 {
font-size : 180%;
margin : 7px 0;
font-weight : normal;
}
h4 {
font-size : 140%;
margin : 5px 0;
font-weight : normal;
}
h5 {
font-size : 110%;
margin : 5px 0;
font-weight : normal;
}
h6 {
font-size : 92.5%;
margin : 5px 0;
font-weight : normal;
}
pre, code {
font : 1em/1.4em "Courier News", monospace;
color : #484848;
line-height : 1.5em;
}
/* ================================================= */
/* 	 MESSAGE BOX CSS                               */
/* ================================================= */
.success {
background : #e0ecd1 url(../images/success.gif) no-repeat 12px 50%;
border : 1px solid #60a400;
border-width : 5px 0 0 0;
color : #60a400;
}
.error {
background : #ffe3e1 url(../images/error.gif) no-repeat 12px 50%;
border : 1px solid #f14545;
border-width : 5px 0 0 0;
color : #f14545;
}
.notice {
background : #fff0db url(../images/warning.gif) no-repeat 12px 50%;
border : 1px solid #e7a74c;
border-width : 5px 0 0 0;
color : #e7a74c;
}
.notice, .success, .error {
font-size : 100%;
padding : 10px;
width : auto;
margin : 0 0 20px 0;
text-align : left;
}
.notice span, .success span, .error span {
font-weight : bold;
font-size : 18px;
padding : 2px 40px;
}
.success p, .error p, .notice p {
margin : 0;
padding : 0 40px;
color : #333333;
}
/* ================================================= */
/* 	 LIST ITEMS CSS                                   */
/* ================================================= */
.nums ul {
margin : 0;
padding : 0 10px;
}
.nums li {
list-style : decimal;
}
.squares ul {
margin : 0;
padding : 0 10px;
}
.squares li {
list-style : square;
padding : 0;
}
.circles ul {
margin : 0 10px;
padding : 0 10px;
float : right;
}
.circles li {
list-style : circle;
vertical-align : top;
}
/* ================================================= */
/* 	 RIGHTCOLUMN BOX CSS                               */
/* ================================================= */
.notes {
background : #e8e8e8;
border : 1px solid #c5c5c5;
border-top : 7px solid #414141;
}
.notes {
font-size : 100%;
color : #484848;
padding : 20px;
width : auto;
margin : 0 0 10px 0;
text-align : left;
}
.notes p {
margin : 0;
padding : 0;
clear : both;
}
.notes span {
font-weight : bold;
font-size : 1.2em;
padding-bottom : 2px;
margin-bottom : 10px;
}
/* ================================================= */
/* 	 PAGINATION CSS                               */
/* ================================================= */
.pagelink {
width : 10px;
background : #e7e8e8 url(../images/page.gif) repeat-x bottom left;
border : 1px solid #b2b2b2;
color : #787878;
clear : both;
line-height : 35px;
text-decoration : none;
}
a.pagelink:active, a.pagelink:visited, a.pagelink:link {
width : 10px;
background : url(../images/page.gif) repeat-x bottom left;
border : 1px solid #b2b2b2;
color : #787878;
padding : 6px;
}
a.pagelink:hover {
width : 10px;
background : #fff url(../images/page.gif) repeat-x bottom left;
border : 1px solid #b2b2b2;
color : #f64e40;
padding : 6px;
}
.pagecurrent {
width : 10px;
background : #fff url(../images/page.gif) repeat-x bottom left;
border : 1px solid #b2b2b2;
color : #f64e40;
padding : 6px;
}
/* ================================================= */
/* 	 Small Box CSS                               */
/* ================================================= */
.mainbox {
width : auto;
}
div.boxcontainer {
color : #888;
width : 30%;
float : left;
min-height:100px;
font : normal 10px Tahoma, Arial, Helvetica, sans-serif;
background : #ffffff url(../images/boxb.gif) repeat-x top left;
padding : 5px;
margin : 0 0 1% 1%;
border : 1px solid #c6c6c6;
}
.boxcontainer h4 {
float : none;
font-size : 18px;
margin : 0;
font-family : Arial, Tahoma, Verdana, Sans-serif;
padding-bottom : 2px;
}
.boxcontainer h4 {
padding : 5px 0 5px 0;
}
a img.box_thumb, a:visited img.box_thumb {
float : left;
margin-right : 10px;
padding : 5px;
border : 1px solid #7a7a7a;
background : #7a7a7a;
}
a:hover img.box_thumb {
background : #fff;
}



/* ================================================= */
/* 	 TABLE BUTTONS CSS                               */
/* ================================================= */

a.submit:visited,a.submit:active,a.submit:link,   
a.add:visited,a.add:active,a.add:link,   
a.publish:visited,a.publish:active,a.publish:link,   
a.edit:visited,a.edit:active,a.edit:link,   
a.delete:visited,a.delete:active,a.delete:link,
a.reset:visited,a.reset:active,a.reset:link,input.add
{
    border:0px;
    width:auto;
    margin: 0 2px 0 0;
    padding: 2px 8px;
    text-transform: uppercase;
    font:bold 10px "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #fff;
    white-space:nowrap;text-decoration:none;
}
	
a.publish 	{ background: #afd2ea; color:#ffffff; }
a.publish:hover { background: #0072bc; color:#ffffff;}

a.edit { background: #949ca1; color:#000000;}
a.edit:hover { background: #727c82; color: #ffffff; }

a.delete { background: #ffb5b5; color:#ffffff; }
a.delete:hover { background: #d80047; color:#ffffff;}

a.add { background: #99d177; color:#ffffff; }
a.add:hover { background: #00a651; color:#ffffff;}

input.add { background: #99d177; color:#ffffff; }
input.add:hover { background: #00a651; color:#ffffff;}

a.reset { background: #96aabf; color:#ffffff; }
a.reset:hover { background: #6f7f90; color:#ffffff;}

a.submit { background: #12486b; color:#ffffff; }
a.submit:hover { background: #000000; color:#ffffff;}


/* Changes By Aman */



/*- HUMANIZED MESSAGES 1.0 (Habari Edition)
  home - http://humanmsg.googlecode.com */

.humanMsg {
    font: normal 12px Helvetica, Arial, Sans-Serif;
    position: fixed;
    top: 40px;
    left: 10px;
    width: 30%;
    max-width: 300px;
    color: white;
    text-align: left;
    z-index: 90;
    display: none;
    padding: 0px;
}

body.login .humanMsg {
    top: 10px;
}

.humanMsg .imsgs .msg {
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 1px 5px #333;
    -webkit-box-shadow: 0px 1px 5px #333;
    -moz-box-shadow: 0px 1px 5px #333;
    margin-bottom: 5px;
}

.humanMsg p {
    display: inline;
}

.humanMsg p a {
    color: #19a5d1;
}

.humanMsg .imsgs .msg {
    display: none;
    opacity: 0;
}

#humanMsgLog {
    font: normal 10px Helvetica, Arial, Sans-Serif;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    display: none;
    z-index: 10000;
}

#humanMsgLog p:hover {
    opacity: 1;
}



#humanMsgLog p {
    opacity: .3;
    position: relative;
    left: 50%;
    width: 200px;
    margin: 0;
    margin-left: -100px;
    padding: 0 10px;
    line-height: 20px;
    background: #333;
    text-align: center;
    white-space: pre;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}

#humanMsgLog.logisopen p {
    opacity: 1;
}

#humanMsgLog ul {
    background: #eee url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAARCAIAAACaSvE/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNqEjVEKACAIQ516Ee//5wVNCjIjaB/iY5vC3YkoIgDkVDOjQ5pqLCI3r2bLFzNzyydvM4uKqfJPKN4vyl9LO/7o3/6PhwADAIWkFPjc5eRrAAAAAElFTkSuQmCC') repeat-x;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 180px;
    overflow: auto;
    display: none;
}

#humanMsgLog ul li {
    color: #555;
    font-size: 12px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    display: none;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    white-space: pre;
}

#humanMsgLog ul li:hover {
    background: #f2f2f2;
}

#humanMsgLog ul li:first-child {
    margin-top: 1px;
}

#humanMsgLog ul li .error {
    color: #FF4500;
}

#humanMsgLog ul li .indent {
    position: absolute;
    top: 0;
    left: 100px;
    margin-right: 200px;
    height: inherit;
}

.settingsblock span{
    color:white; font:normal 10px tahoma, Helvetica, sans-serif; padding:10px; display:block; float:left; font-weight:bold; background:url(../images/arrow.gif) 0% 50% no-repeat;
}

.warning, .info, .debug {
background : #fff0db url(../images/warning.gif) no-repeat 12px 50%;
border : 1px solid #e7a74c;
border-width : 5px 0 0 0;
color : #e7a74c;
font-size : 100%;
padding : 10px;
width : auto;
margin : 0 0 20px 0;
text-align : left;
}

.warning span, .info span, .debug span {
font-weight : bold;
font-size : 18px;
padding : 2px 40px;
}
.warning p, .info p, .debug p {
margin : 0;
padding : 0 40px;
color : #333333;
}
.sidebarmenu {
background : #fff;
padding : 1px 0px;
}
.sidebarmenu ul {
margin : 0;list-style : none;
padding : 0px;
}
.sidebarmenu li {
list-style : none;
font-weight : bold;
line-height:25px;
margin : 0 0px 1px 0;
padding : 4px 10px;
border-left:5px solid #414141;
background : #ededed;
}
.sidebarmenu li a {
color : #414141;
}
.sidebarmenu li:hover {
color : #f64e40;
}
.sidebarmenu li a:hover {
color : #f64e40;
}
.sidebarmenu .selected a
{
color:#f64e40;
}



ul.modules{
  overflow:auto;
  padding:0px;
}

ul.modules li.module{
  float:left;
  list-style:none;
  position: relative;
  margin-bottom:20px;
  width:410px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 1px 15px #ddd;
  -webkit-box-shadow: 0px 1px 15px #ddd;
  -moz-box-shadow: 0px 1px 15px #ddd;
  border: 1px solid #E7E7E7;
}

ul.modules li.module div.close{
  display:none;
}

ul.modules li.module div.handle{
  display:none;
}

ul.modules li.module.odd{
  margin-right:10px;
  margin-left:10px;
}

ul.modules li.module.even{
  margin-left:10px;
}

ul.modules li.module ul.items.icons li{
  float:left;
  list-style:none;
}

ul.modules li.module ul.items.icons.homeIcons li{
  display:block;
  text-align:center;
  margin-top:5px;
  margin-bottom:10px;
  margin-left:7px;
}
ul.modules li.module ul.items.icons.homeIcons li img{
  width: 50px;
  padding: 0 20px;
}
ul.modules li.module ul.items.icons.homeIcons li a{
  overflow:auto;
}
ul.modules li.module ul.items.icons.homeIcons li a span{
  display:block;
}

ul.modules li.module div.modulecore{
  height:208px;
  overflow: hidden;
  margin:5px 10px;
}

ul.modules li.module div.modulecore ul.items{
  list-style:none;
  padding:0px;
}

ul.modules li.module div.modulecore ul.items li.item{
  clear: both;
  line-height: 24px;
  position: relative;
  border-bottom: 1px solid #E9E9E9;
  /* height:25px;
  overflow:hidden; */
}

ul.actionlist span.addlink, ul.actionlist span.changelink, ul.actionlist span.deletelink{
  height:25px;
  overflow:hidden;
  display:block;
  width:290px;
  float:left;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right:10px;
}

ul.actionlist span.minor{
  width:25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#all_results td, #all_results th{
    /* word-break:break-all; */
    white-space:normal;
}

#profile_left_bar{
    background:#ededed;
    border:1px solid #a6a6a6; 
    float:left; 
    text-align:center; 
    padding:10px 0px;
}

.nav_data{
    display:none;
}


#profile_left_bar span{
    font-weight:bold;
    margin-bottom:5px;
    display:block;
}

#profile_left_bar a:last-child span{
    margin-bottom:0px;
}

.left_align *{
    text-align:left;
}

.side_border tr{
    border: 1px solid #CACACA;
    border:1x 0px;
}

.profile_module{
    width: 47%;
    border: 1px solid #CACACA;
    padding:10px 0px;
    margin:0px 2%;
}

.profile_form{
    padding:0px;
    width:47%;
    margin:0px 2%;
}

.profile_module.left, .profile_form.left{
    margin-right:0px;
}

.profile_module.right, .profile_form.right{
    margin-left:0px;
}

.profile_form_full_width{
    width:96%;
    
}


.left{
    float:left;
}

.right{
    float:right;
}

.profile_form table{
    width:100%;
    table-layout:fixed;
}

.profile_form table td, .profile_form table th{
    word-wrap: break-word;
    white-space:normal;
}

.profile_form table td input, .profile_form table th input, .profile_form table td select, .profile_form table th select, .profile_form table td textarea, .profile_form table th textarea {
    width:95%;
    margin:0px;
}

.profile_form table td input[type=submit], .profile_form table th input[type=submit] {
    text-align:center;
}

.profile_form table .field{
    width:100%;
    padding:0px;
}


.spacing{
    clear: both;
    color: #EEE;
    background-color: #EEE;
    height: 1px;
    border:0px;
}

.profile_marg_top{
    margin-top:10px;
}

.circle1pr{
    width: 15px;
    height: 15px; 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    background:red;
}
.circle1pr.Shipped{
    background:green;
}
.circle1pr.Reshipped{
    background:green;
}
.circle1pr.Cancelled{
    background:red;
}
.circle1pr.Complete{
    background:#a6a6a6;
}
.circle1pr.Billed{
    background:purple;
}
.circle1pr.Temp{
    background:orange;
}
.circle1pr.InProcess{
    background:yellow;
}

#spinner {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 50;
}

fieldset.module{
    border: 1px solid #CCC;
    background: white;
    padding:0px;
    border-top:0px solid white;
    border-bottom:0px solid white;
    margin-bottom:0px;
}

.form_fields .errors{
    background: #FFC;
}

.form_fields ul.errorlist{
    list-style:none;
    padding:0px;
}
.form_fields ul.errorlist li, .errornote{
    background: red;
    color:white;
    display:block;
    padding:2px 10px 2px 10px;
}


.selector h2{
    font: 1.6em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, Sans-Serif;
    color: #333;
    padding: 2px 5px 3px 5px;
    margin:0px;
}

.selector p.selector-filter label img{
    margin:0px;
    padding:0px;
} 

.selector p.selector-filter{
    padding: 4px 5px;
    vertical-align: middle;
    line-height: 140%;
}

.selector select[multiple=multiple]{
    padding:2px;
}

fieldset.module table{
    width:100%;
}

fieldset.module h2{
    margin:0px ! important;
    padding:0px 5px;
}

.add-row{
    padding:15px 0px;
}

.inline-related h3{
    font-size: 1.2em;
    color: #999;
    margin:10px 0px;
}

.inline-related h3 span.delete{
    float:right;
}

.inline-related h3 span.delete label{
    display:inline;
    float:none;
}

.submit-row{
    padding-top:5px;
}