<!DOCTYPE html>
{% load i18n %}
{# {% load compress %} #}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>{% block title %}{% endblock %}</title>
    {# {% compress css %} #}
    <link href="{{ STATIC_URL }}dashboard/css/reset.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}dashboard/css/base.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}dashboard/css/menu.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}dashboard/css/form.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}dashboard/css/tables.css" rel="stylesheet" type="text/css">
    {# <link href="{{ STATIC_URL }}dashboard/css/jquery.wysiwyg.css" rel="stylesheet" type="text/css"> #}
    {# {% endcompress %} #}
    <link href="{{ STATIC_URL }}dashboard/css/print.css" rel="stylesheet" media="print" type="text/css">
    {% block extra-css %}{% endblock %}

    <!--[if !IE 7]>
    	<style type="text/css">
    		#wrapper {display:table;height:100%}
    	</style>
    <![endif]-->
    <!--[if gte IE 5.5]>
	    <script language="JavaScript" src="{{ STATIC_URL }}dashboard/js/ie.js" type="text/JavaScript"></script>
    <![endif]-->
    {% block blockbots %}
        <meta name="robots" content="NONE, NOARCHIVE">
    {% endblock %}
</head>

<body>
<div id="wrapper">
    <div id="main">
        <!-- Header -->
        <div id="header">
            <div class="user-box">
                {% if user.is_authenticated %}

                    {% trans "Welcome" %},
                    {% if user.first_name %}{{ user.get_full_name }}{% else %}{{ user.usernae }}{% endif %} /
                    {# <a href="">{% trans 'Change password' %}</a> / #}
                    <a href="{% url accounts_logout %}">{% trans 'Log out' %}</a>
                    <div class="last-login">
                        {% trans "Last logged in at" %}
                        <span class="last-login-date">{{ user.last_login }}</span>
                    </div>

                {% endif %}
            </div>

            <div class="logo">
                <img src="{{ STATIC_URL }}dashboard/images/logonew.png" width="367" class="logo"
                     alt="CrossMarket Software">
            </div>
        </div>
        <!-- Menu -->
        {# We can add this back in at any point just thought it looks better this way. #}
        {# <div id="menu"> #}
        {#   <ul id="navmenu"> #}
        {#     <li><a href="/" title="Dashboard">Dashboard</a></li> #}
        {#   </ul> #}
        {# </div> #}
        <div id="sub-menu" style="height:26px">
            <div class="inner">
                <div class="search-box">
                    <form method="get" action="{% url dashboard_search %}">
                        <input type="text" name="q" style="" placeholder="Search...">
                    </form>
                </div>
                {% comment %}
          <!-- Gray menu bar nav -->
          <ul>
            <li><a href="/">{% trans "Customer Support" %}</a></li>
          </ul>
	  {% endcomment %}
            </div>
        </div>
        <!-- settings block -->
        <div id="breadcrumbs">
            <div class="inner">
                {% block breadcrumbs %}
                    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
                    {% if title %}<span>{{ title }}</span>{% endif %}
                {% endblock %}
            </div>
        </div>
        <!-- Content Area -->
        <div id="body">
            <!-- Left column -->
            <div id="left-column">
                <div id="content" class="{% block coltype %}colM{% endblock %}">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="right-column">
                {% load inbox %}
                {% support_requests as req %}
                {% include 'dashboard/support_request.html' %}
                {% block right-sidebar %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p class="copyright">{% trans "&copy; Copyright" %} {% now "Y" %} {% trans "Almond Development" %}</p>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}dashboard/js/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/external/jquery-ui-1.8.16.custom.css">
<!-- REQUIRED: jQuery UI -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/smoothness/jquery-ui.css">
<!-- REQUIRED: jQuery UI -->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker()
    })
</script>
{% block extra-js %}{% endblock %}
{% block bottom %}{% endblock %}
</body>
</html>
