{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <span>{% trans 'Communicate' %}</span>
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}

{% endblock %}

{% block content %}
    <h3>{% trans 'Communicate' %}</h3>
    <form method="POST" action=".">
        {% csrf_token %}
        <div id="content" class="colM">
            <fieldset>
                <legend>Broadcast Criteria</legend>
                <div style="margin-left:10px">
                    <div id="search_criteria">
                        {# TODO: NOT SURE IF THIS STUFF BELONGS HERE ANYMORE #}
                        <select id='search_type' name='search_type'>
                            <option value='st'>Subscription Type</option>
                            <option value='los'>LOS Based</option>
                            <option value='ibo'>IBO Based</option>
                        </select>

                        <select class='sc sc_st' name='st' style='width:230px;'>
                            <option value='-1'>Select Subscription</option>
                            {% for s in subscriptions %}
                                <option value="{{ s.product__id }}">{{ s.product__name }}</option>{% endfor %}
                        </select>

                        <select class='sc_los sc' style='display:none; width:230px;' name='los'>
                            <option value='-1'>Select Leader</option>
                            {% for l in leaders %}
                                <option value="{{ l.id }}">{{ l.first_name }} {{ l.last_name }}</option>{% endfor %}
                        </select>

                        <span class='sc sc_st sc_los'>&nbsp; and &nbsp;PIN LEVEL: &nbsp; </span>

                        <select name='pin_equality' style="width:130px;" class='sc sc_st sc_los'>
                            <option value="1">Equal to</option>
                            <option value="2">Equal to and less</option>
                            <option value="3">Equal to and above</option>
                        </select>

                        <select name='pin_level' style="width:130px;" class='sc sc_st sc_los'>
                            <option value="-1">ALL</option>
                            {% for g in groups %}
                                <option value="{{ g.id }}">{{ g.name }}</option>
                            {% endfor %}
                        </select>

                        <input type="text" class="sc sc_ibo" style='margin:0px; display:none; width:60%;' name="ibo">
                    </div>
                </div>
            </fieldset>
        </div>
        {# TODO: Fix this to implement a form  #}
        <div class="field-row">
            {{ form.subject.label_tag }} {{ form.subject }}
            <label for="email_sub" style="width:auto;">Subject:</label>
            <input type="text" id="email_sub" name="subject" style="width:98%;">
        </div>
        <div clas="field-row">
            <textarea id="wysiwyg" name="email" style="width:97%"></textarea>
        </div>
        <div style="padding-top:10px; ">
            <input type="submit" name="action" value="Send Communication">
        </div>
    </form>
{% endblock %}
