{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}

{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    {% if section.slug != sub_section %}
        <a href="{% url dashboard_section_list section.slug sub_section %}">{{ section.title }}</a>
        <span>{% if content %}{% trans "Edit" %}{% else %}{% trans "Create" %}{% endif %}</span>
    {% else %}
        <a href="{% url dashboard_section section.slug %}">{{ section.title }}</a>
        <span>{% if content %}{% trans "Edit" %}{% else %}{% trans "Create" %}{% endif %}</span>
    {% endif %}
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}

{% endblock %}

{% block content %}
    <h3>{% if content %}{% trans "Edit" %} {% endif %}{{ section.title }}</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0"
                   width="100%">
                <tbody>
                {% for item in form %}
                    <tr class="">
                        <td>{{ item.label_tag }}{{ item.errors }}</td>
                        <td>{{ item }} {% if item.help_text %}
                            <div>{{ item.help_text }}</div>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>

        {% for set in formsets %}
            {{ set.management_form }}
            {% for items in set %}
                <fieldset class="module aligned ">
                    <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0"
                           width="100%">
                        <tbody>
                        {% for item in items %}
                            <tr class="{% if item.is_hidden %}hidden-cell{% endif %}
                                    {% if item.errors %}error-field{% endif %}">
                                <td>{{ item.label_tag }}</td>
                                <td>{{ item }} {% if item.help_text %}
                                    <div>{{ item.help_text }}</div>{% endif %}</td>
                            </tr>
                            {% if item.errors %}
                                <tr>
                                    <td colspan="2" class="error-msg">{{ item.errors }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            {% endfor %}
        {% endfor %}

        <div class="form-field" style="margin-top:20px">
            {% if content %}
                <a class="delete" href="delete/">{% trans "DELETE" %}</a>
            {% endif %}
            <input type="submit" class="add" name="id_submit" value="{% if content %}Update{% else %}Create{% endif %}"
                   id="submit">
        </div>

    </form>

    <div style="clear:both"></div>
{% endblock %}
