{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}

{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    {% if section.parent %}
        <a href="{% url dashboard_section section.slug %}">{{ section.title }}</a>
        <a href='{% url dashboard_section_edit section.parent.slug sub_section content.id %}"'>{{ content }}</a>
        <span>{% trans "Remove" %}</span>
    {% else %}
        <a href="{% url dashboard_section_list section.slug sub_section %}">{{ section.title }}</a>
        <a href="{% url dashboard_top_section_edit section.slug content.id %}">{{ content }}</a>
        <span>{% trans "Remove" %}</span>
    {% endif %}
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}

{% endblock %}

{% block content %}
    <h3>{% trans "Removal" %}</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0"
                   width="100%">
                <tbody>
                <tr class="">
                    <td style="font-weight:bold">{% trans "Are you sure that you want to remove" %} "{{ content }}?"
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <div class="form-field" style="margin-top:20px">
            <input type="submit" class="delete" value="{% trans "DELETE" %}">
            <a class="cancel" href="../">{% trans "Cancel" %}</a>
        </div>
    </form>

    <div style="clear:both"></div>
{% endblock %}
