{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load fieldgetter %}
{% load stringreplace %}
{% load i18n %}

{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    {% if section.parent %}
        <a href="{% url dashboard_section section.parent.slug %}">{{ section.parent.title }}</a>
        <span>{{ section.title }}</span>
    {% else %}
        <span>{{ section.title }}</span>
    {% endif %}
{% endblock %}

{% block right-sidebar %}

    {% if search %}
        <div class="inner">
            <h2>Search</h2>

            <div class="side-menu-bar">
                <form style="padding:0px">
                    <ul>
                        <li>
                            Search: <input type="text" name="q" style="width:170px"
                                           value="{% if search_string %}{{ search_string }}{% endif %}"/>
                            {% if search_date %}
                                <div>
                                    <span style="width: 55px;display: block;float: left;">Date:</span>
                                    <input type="text" name="q-ds" style="width:30%" class="datepicker"
                                           value="{% if search_date_s_string %}{{ search_date_s_string }}{% endif %}"/>
                                    -
                                    <input type="text" name="q-de" style="width:30%" class="datepicker"
                                           value="{% if search_date_e_string %}{{ search_date_e_string }}{% endif %}"/>
                                </div>
                            {% endif %}
                            <input type="submit" value="Search" style="clear:both"/>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    {% endif %}

    {% inprocess_order_list %}

{% endblock %}

{% block extra-js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var checkbox_checker = {};
            checkbox_checker.init = function () {
                checkbox_checker.is_checked = false;
                checkbox_checker.counter = 0;
                checkbox_checker.total_count = $(".action-select").length;
                checkbox_checker.display_checkbox_count();

                /* Select all checkbox checker */
                $('#action-toggle').click(function () {
                    checkbox_checker.is_checked = checkbox_checker.is_checked ? false : true;
                    checkbox_checker.counter = checkbox_checker.is_checked ? $(".action-select").length : 0;

                    $(".action-select").each(function () {
                        $(this).attr("checked", checkbox_checker.is_checked);
                    });

                    checkbox_checker.display_checkbox_count();
                });

                /* individual checkbox checker */
                $(".action-select").each(function () {
                    $(this).click(function () {
                        var is_checked = this.checked;
                        checkbox_checker.counter += is_checked ? 1 : -1;
                        checkbox_checker.display_checkbox_count();
                    });
                });
            };
            /* Display checkbox count */
            checkbox_checker.display_checkbox_count = function () {
                txt = checkbox_checker.counter + " of " + checkbox_checker.total_count + " selected";
                $(".action-counter").text(txt);
            };
            checkbox_checker.init();
        });
    </script>
{% endblock %}

{% block content %}
    <h3>{{ section.title }}</h3>
    <form id="content_form" action="." method="post">
        {% csrf_token %}
        <div class="actions">
            <label>Action:
                <select name="action">
                    <option value="" selected="selected">---------</option>
                    <option value="delete_selected">Delete selected documents</option>
                </select>
            </label>
            <input type="hidden" class="select-across" value="0" name="select_across">
            <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
            <script type="text/javascript">
                var _actions_icnt = "9";
            </script>
            <span class="action-counter"></span>
            <a class="add" href="add/">{% trans "Create " %}</a>
        </div>

        <table border="">
            <thead>
            <tr>
                <th class="action-checkbox-column" style="text-align:left">
                    <input type="checkbox" id="action-toggle">
                </th>
                {% for field, human_name in fields %}
                    <th style="text-align:left">
                        <a href="?ot=asc&amp;o=1">{{ human_name }}</a>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in items.object_list %}
                <tr class="{% cycle row1,row2 %}">
                    <td class="action-checkbox" style="text-align:left">
                        <input type="checkbox" class="action-select" value="17" name="_selected_action">
                    </td>
                    {# Hmm this is not a good of of doing this but it works for now. #}
                    {% for field, human_name in fields %}
                        <td style="text-align:left; white-space:normal">
                            <a href="{{ item.pk }}/">{{ item|get_field:field }}</a>
                        </td>
                    {% empty %}
                        <td style="text-align:left; white-space:normal" colspan="fields|length">
                            There are no {{ section.title }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="pagination">

        {% if items.paginator.num_pages > 1 %}
            {% if items.has_previous %}
                <span class="previous"><a
                        href="?page={{ items.previous_page_number }}{% if search_string %}&q={{search_string}}{% endif %}{% if date_in_pagination %}&q-ds={{search_date_s_string|iriencode}}&q-de={{search_date_e_string|iriencode}}{% endif %}">&laquo; {% trans "previous" %}</a></span>
            {% endif %}

            {% for page in items.page_range %}
                {% if items.number == page %}
                    <span class="current">{{ page }}</span>
                {% else %}
                    <span class="page"><a
                            href="?page={{page}}{% if search_string %}&q={{search_string}}{% endif %}{% if date_in_pagination %}&q-ds={{search_date_s_string|iriencode}}&q-de={{search_date_e_string|iriencode}}{% endif %}">{{ page }}</a></span>
                {% endif %}
            {% endfor %}

            {% if items.has_next %}
                <span class="next"><a
                        href="?page={{ items.next_page_number }}{% if search_string %}&q={{search_string}}{% endif %}{% if date_in_pagination %}&q-ds={{search_date_s_string|iriencode}}&q-de={{search_date_e_string|iriencode}}{% endif %}">{% trans "next" %} &raquo;</a></span>
            {% endif %}
        {% endif %}
        <span class="total-count" style="float:right">
             {% trans "Page" %} {{ items.number }} {% trans "of" %} {{ items.paginator.num_pages }}.
         </span>
    </div>

{% endblock %}
  

