{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}

{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <span>{% trans "Dashboard Login" %}</span>
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}
    <div class="inner">

    </div>
{% endblock %}

{% block content %}
    <h3>{% if content %}{% trans "Update" %} {% endif %}{{ section.title }}</h3>
    <form action="{% url dashboard_login %}?next={{ next }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0"
                   width="50%">
                <tbody>
                {% for item in form %}
                    <tr class="">
                        <td>{{ item.label_tag }}{{ item.errors }}</td>
                        <td>{{ item }} {% if item.help_text %}
                            <div>{{ item.help_text }}</div>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <div class="form-field" style="float:right;margin-top:20px">
            <input type="submit" class="add" name="id_submit" value="{% trans 'Login' %}" id="submit">
        </div>
    </form>
    <div style="clear:both"></div>
{% endblock %}
