{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <a href="/backend/dashboard/reports/">{% trans 'Reports' %}</a>
    <span>{{ title }}</span>
{% endblock %}


{% block content %}
    <h3>{{ title }}</h3>
    <div id="map" style="height:600px">
    </div>
    <div style="clear:both"></div>
{% endblock %}


{% block bottom %}
    <link href="{{ STATIC_URL }}vendors/maps/jquery.vector-map.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}vendors/maps/jquery.vector-map.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}vendors/maps/usa-en.js" type="text/javascript"></script>
    <script>
        var gdpData = {}//"af":16.63,"al":11.58,"fl":158.97}
        $('#map').vectorMap({map:'usa_en', 'values':gdpData});
    </script>
{% endblock %}
