{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <a href="{% url dashboard_content %}">{% trans "Password Reset" %}</a>
    <span>{% if content %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}</span>
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}

{% endblock %}

{% block content %}
    <h3>{% trans "Password Reset" %}</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="module aligned">
            <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0"
                   width="100%">
                <tbody>
                {% for item in form %}
                    <tr class="">
                        <td>{{ item.label_tag }}{{ item.errors }}</td>
                        <td>{{ item }} {% if item.help_text %}
                            <div>{{ item.help_text }}</div>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <div class="form-field" style="float:right;margin-top:20px">
            <input type="submit" class="add" name="id_submit" value="Update Password" id="submit">
        </div>
    </form>
    <div style="clear:both"></div>
{% endblock %}
