{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}Customer Profile{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <span>{% trans "Customer Profile" %}</span>
{% endblock %}


{% block content %}
    <h3>Customer Profile</h3>
    <div style="overflow:auto">
        <table cellspacing="0" border="0" cellpadding="0" width="100%"
               style="padding:0px; margin:0px; width:100%; border:0px;">
            <tr>
                <td style="padding:0px; margin:0px; width:100px; border:0px;">
                    <div id="profile_left_bar">
                        <a href="javascript:void(0)" class="left_nav" data="ud">
                            <img src="{{ MEDIA_URL }}/dashboard/images/userdetails.png"/>
                            <span>User Details</span>
                        </a>
                        <a href="javascript:void(0)" class="left_nav" data="add">
                            <img src="{{ MEDIA_URL }}/dashboard/images/adress.jpg"/>
                            <span>Addresses</span>
                        </a>
                        <a href="javascript:void(0)" class="left_nav" data="contact">
                            <img src="{{ MEDIA_URL }}/dashboard/images/contacts.png"/>
                            <span>Contacts</span>
                        </a>
                        <a href="javascript:void(0)" class="left_nav" data="gen">
                            <img src="{{ MEDIA_URL }}/dashboard/images/geneolgoy.png"/>
                            <span>Team</span>
                        </a>
                        <a href="javascript:void(0)" class="left_nav" data="parties">
                            <img src="{{ MEDIA_URL }}/dashboard/images/order.png"/>
                            <span>Parties</span>
                        </a>

                        {% comment %}
	  <a href="javascript:void(0)" class="left_nav" data="order">
	    <img src="{{ MEDIA_URL }}/dashboard/images/order.png"/>
	    <span>Place Order</span>
	  </a>
	  {% endcomment %}

                        <a href="javascript:void(0)" class="left_nav" data="act">
                            <img src="{{ MEDIA_URL }}/dashboard/images/activity.png"/>
                            <span>Activity</span>
                        </a>
                    </div>
                </td>
                <td style="padding:0px; margin:0px; border:0px;">
                    <div style="float:right; overflow:auto; width:100%;">
                        <div id="nav_ud" class="nav_data" style="display:block;">
                            {% include "dashboard/includes/module.info.html" %}
                            {% include "dashboard/includes/module.password.html" %}
                            {% include "dashboard/includes/module.virtual.html" %}
                            {% include "dashboard/includes/module.comm.html" %}
                            {% include "dashboard/includes/module.user_type.html" %}
                            {% include "dashboard/includes/module.credit.html" %}
                            {# include "dasboard/includes/module.subs.html" #}
                            {# include "dashboard/includes/module.phones.html" #}
                            {# include "dashboard/includes/module.payment.html" #}
                        </div>
                        <div id="nav_add" class="nav_data">
                            {% include "dashboard/includes/module.addresses.html" %}
                        </div>
                        <div id="nav_contact" class="nav_data">
                            {% include "dashboard/includes/module.contacts.html" %}
                        </div>
                        <div id="nav_gen" class="nav_data">
                            {% include "dashboard/includes/module.geneaology.html" %}
                        </div>
                        <div id="nav_parties" class="nav_data">
                            {% include "dashboard/includes/module.party.html" %}
                        </div>
                        <div id="nav_order" class="nav_data">
                            {% include "dashboard/includes/module.order.html" %}
                        </div>
                        <div id="nav_act" class="nav_data">
                            {% include "dashboard/includes/module.activity.html" %}
                        </div>
                    </div>

                </td>
            </tr>
        </table>

    </div>


    <div style="clear:both"></div>
{% endblock %}

{% block extra-js %}
    {% comment %}
<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/external/jquery-ui-1.8.16.custom.css">
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endcomment %}

    <script>
        var csrf_token = '{{ csrf_token }}'
        $(document).ready(function () {

            $(".tabs").tabs();

            $('.left_nav').click(function () {
                $('.nav_data:visible').hide()
                $('#nav_' + ($(this).attr('data'))).show()
            })
        })
    </script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/dashboard/js/support.js"></script>
{% endblock %}
