{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <a href="/backend/dashboard/reports/">{% trans 'Reports' %}</a>
    <span>{{ title }}</span>
{% endblock %}

{% block right-sidebar %}

    {% if search %}
        <div class="inner">
            <h2>Search</h2>

            <div class="side-menu-bar">
                <form style="padding:0px">
                    <ul>
                        <li>
                            {% if search_string %}
                                Search: <input type="text" name="q" style="width:170px"
                                               value="{% if q %}{{ q }}{% endif %}"/>
                            {% endif %}

                            {% if search_date %}
                                <div>
                                    <span style="width: 55px;display: block;float: left;">Date:</span>
                                    <input type="text" name="q-ds" style="width:30%" class="datepicker"
                                           value="{% if search_date_s %}{{ search_date_s }}{% endif %}"/>
                                    -
                                    <input type="text" name="q-de" style="width:30%" class="datepicker"
                                           value="{% if search_date_e %}{{ search_date_e }}{% endif %}"/>
                                </div>
                            {% endif %}
                            <input type="submit" value="Search" style="clear:both"/>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block content %}
    <h3>{{ title }}</h3>

    {% if not table_data %}
        <p>No report found.</p>
    {% else %}
        <table style="width:100%">
            <thead>
            <tr>
                {% for title in table_title %}
                    <th>
                        {{ title }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table_data %}
                <tr class="row1">
                    {% for column in row %}
                        <th>
                            {{ column|safe }}
                        </th>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                {% for title in table_title %}
                    <th>
                        {{ title }}
                    </th>
                {% endfor %}
            </tr>
            </tfoot>
        </table>

        <div class="pagination">
            {% if page_data.num_pages > 1 %}
                {% if page_data.has_previous %}
                    <span class="previous"><a
                            href="?page={{ page_data.previous_page_number }}{% if q %}&q={{q}}{% endif %}">&laquo; {% trans "previous" %}</a></span>
                {% endif %}

                {% for page in page_data.page_range %}
                    {% if page_data.number == page %}
                        <span class="current">{{ page }}</span>
                    {% else %}
                        <span class="page"><a href="?page={{page}}{% if q %}&q={{q}}{% endif %}">{{ page }}</a></span>
                    {% endif %}
                {% endfor %}

                {% if page_data.has_next %}
                    <span class="next"><a
                            href="?page={{ page_data.next_page_number }}{% if q %}&q={{q}}{% endif %}">{% trans "next" %} &raquo;</a></span>
                {% endif %}
            {% endif %}

            {% if page_data %}
                <span class="total-count" style="float:right">
    {% trans "Page" %} {{ page_data.number }} {% trans "of" %} {{ page_data.num_pages }}.
  </span>
            {% endif %}
        </div>

    {% endif %}
    <div style="clear:both"></div>
{% endblock %}
