{% extends 'dashboard/base-wide.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
<a href="{% url dashboard %}">{% trans 'Home' %}</a>
<a href="/backend/dashboard/reports/">{% trans 'Reports' %}</a>
<span>{{ title }}</span>
{% endblock %}

{% block right-sidebar %}



{% endblock %}

{% block content %}      

{% if report %}{% if table_data %}<a class="add" href="javascript:void(0)" onclick="javascript:window.print()">Print</a> <a class="add" href="?{% if request.GET %}{{request.GET.urlencode}}&{% endif %}export=csv">generate csv</a>{% endif %}{% endif %}

<h3>{{ title }}</h3>


<form>
  <fieldset>
    <legend>Select Months</legend>
    <div style="margin:0px 10px;">
      <input type="checkbox" id="single_month" {% if not to %}checked{% endif %}/> Single Month?
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Month: <input type="text" class="monthpicker" {% if from %}value="{{ from }}" {% endif %}name="from" id="from"/>
      &nbsp;&nbsp;&nbsp;&nbsp;<span id="second_month" style="{% if not to %}display:none;{% endif %}">To: <input type="text" class="monthpicker" {% if to %}value="{{ to }}" {% endif %}name="to" id="to"/></span>
      <input type="Submit"/>
    </div>
  </fieldset>
</form>

{% if report %}

{% if not table_data %}
<p>No report found.</p>
{% else %}
<table style="width:100%">
  <thead>
    <tr>
      {% for title in table_title %}
      <th>
        {{ title }}
      </th>
      {% endfor %}
    </tr>
    {% if total %}
    <tr style="font-weight:bold">
      <td></td><td></td><td></td><td></td><td></td>
      <td>{{ total.retail|floatformat:2 }}</td>
      <td>{{ total.volume|floatformat:2 }}</td>
      <td>{{ total.bsc|floatformat:2 }}</td>
      <td>{{ total.dl_comm|floatformat:2 }}</td>
      <td>{{ total.prb|floatformat:2 }}</td>
      <td>{{ total.fs|floatformat:2 }}</td>
      <td>{{ total.total|floatformat:2 }}</td>
    </tr>
    {% endif %}
  </thead>
  <tbody>
    {% for row in table_data %}
    <tr class="row1">
      {% for column in row %}
      <th>
        {{ column }}
      </th>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>   
    <tr>
      {% for title in table_title %}
      <th>
        {{ title }}
      </th>
      {% endfor %}
    </tr>
  </tfoot>
</table>

<div class="pagination">
  {% if page_data.num_pages > 1 %}
    {% if page_data.has_previous %}
      <span class="previous"><a href="?page={{ page_data.previous_page_number }}{% if q %}&q={{q}}{% endif %}">&laquo; {% trans "previous" %}</a></span>
    {% endif %}
  
    {% for page in page_data.page_range  %}
      {% if page_data.number == page %}
        <span class="current">{{page}}</span>
      {% else %}
        <span class="page"><a href="?page={{page}}{% if q %}&q={{q}}{% endif %}">{{page}}</a></span>
      {% endif %}
    {% endfor %}
  
    {% if page_data.has_next %}
      <span class="next"><a href="?page={{ page_data.next_page_number }}{% if q %}&q={{q}}{% endif %}">{% trans "next" %} &raquo;</a></span>
    {% endif %}
  {% endif %}
      
  {% if page_data %}
  <span class="total-count" style="float:right">
    {% trans "Page" %} {{ page_data.number }} {% trans "of" %} {{ page_data.num_pages }}.
  </span>
  {% endif %}
</div>

{% endif %}
{% endif %}


<div style="clear:both"></div>
{% endblock %}


{% block bottom %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#single_month').change(function(){
      $('#second_month').toggle()
      $('#second_month input').val('')
    })

    $(".monthpicker").datepicker({ 
        dateFormat: 'mm-yy',
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,

        onClose: function(dateText, inst) {  
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val(); 
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val(); 
            $(this).val($.datepicker.formatDate('yy-mm', new Date(year, month, 1)));
        }
    });

    $(".monthpicker").focus(function () {
        $(".ui-datepicker-calendar").hide();
        $(".ui-datepicker-current").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });    
    });
    
  });
</script>
{% endblock %}
