{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}{{ section.title }}{% endblock %}

{% block breadcrumbs %}
  <a href="{% url dashboard %}">{% trans 'Home' %}</a><span>{% trans "Search Results" %}</span>
{% endblock %}


{% block content %}
<h3>Search Results</h3>

{% if not users %}{% if not retail_users %}<p>No users found.</p>{% endif %}{% endif %}

{% if users %}
<table style="width:100%; margin-bottom:50px;">
  <thead>
    <tr>
      <th colspan="7" style="text-align:center;">Consultants</th>
    </tr>
    <tr>
      <th>Username</th>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Rank</th>
      <th>Sponsor</th>
      <th>Virtual Login</th>
    </tr>  
  </thead>
  <tbody>
    {% for u in users %}
    <tr class="row1">
      <td style="text-align:left; white-space:normal"><a href="{% url dashboard_profile u.id %}">{{ u.username }}</a></td>
      <td style="text-align:left; white-space:normal"><a href="{% url dashboard_profile u.id %}">{{ u.get_full_name }}</a></td>
      <td style="text-align:left; white-space:normal"><a href="{% url dashboard_profile u.id %}">{{ u.email }}</a></td>
      <td>{% if u.phone_number %}{{ u.phone_number }}{% endif %}</td>
      <td>{{ u.current_month_details.payrank.name }}</td>
      <td>{{ u.sponsor.get_full_name }}</td>
      <td style="text-align:left; white-space:normal"><a href="{% url dashboard_virtuallogin u.pk %}?hash={{ 'user'|hash:u.pk }}">{% trans "Virtual Login" %}</a></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Username</th>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Rank</th>
      <th>Sponsor</th>
      <th>Virtual Login</th>
    </tr>
  </tfoot>
</table>
{% endif %}


{% if retail_users %}
<table style="width:100%">
  <thead>
    <tr>
      <th colspan="7" style="text-align:center;">Retail Customers</th>
    </tr>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>  
  </thead>
  <tbody>
    {% for u in retail_users %}
    <tr class="row1">
      <td style="text-align:left; white-space:normal"><a href="{% url dashboard_contact u.id %}">{{ u.full_name }}</a></td>
      <td style="text-align:left; white-space:normal"><a href="{% url dashboard_contact u.id %}">{{ u.email }}</a></td>
      <td>{% if u.primary_phone %}{{ u.primary_phone.phone }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </tfoot>
</table>
{% endif %}
<div style="clear:both"></div>
{% endblock %}
