{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load linkmaker %}
{% load i18n %}

{% block title %}{{ section|capfirst }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    {% if section %}<span>{{ section|capfirst }}</span>{% endif %}
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}

{% endblock %}

{% block content %}

    <h3>{% if not section %}{% trans "Dashboard" %}{% else %}{{ section|capfirst }}{% endif %}</h3>
    {% for sec in sections %}
        <div class="link-container {{ sec.slug }} {% cycle link-container-row1,r2,r3 %}">
            <a href="{% if section %}{% url dashboard_section_list section sec.slug %}{% else %}{% url dashboard_section sec.slug %}{% endif %}">
                <img class="link-thumbnail" src="{{ STATIC_URL }}dashboard/icons/{{ sec.slug }}.jpg" alt="">
            </a>
            <h4>
                <a href="{% if section %}{% url dashboard_section_list section sec.slug %}{% else %}{% url dashboard_section sec.slug %}{% endif %}">{{ sec.title }}</a>
            </h4>

            <div class="link-description">{{ sec.description }}</div>
        </div>
    {% endfor %}
{% endblock %}
