{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}

{% block breadcrumbs %}
    <a href="{% url crossmarket.apps.dashboard.views.dashboard %}">{% trans 'Home' %}</a>
    <span>{% trans 'Products' %}</span>
{% endblock %}

{% block right-sidebar %}
    {% inprocess_order_list %}

{% endblock %}

{% block content %}
    <h3>{% trans 'Products Page' %}</h3>

    <div class="boxcontainer">
        <h4>
            <a href="javascript:void(0)">
                <img src="{{ STATIC_URL }}dashboard/icons/prodsub.jpg" alt="Alternate Text" width="71" height="71"
                     title="your title" class="box_thumb"/>
                {% trans 'Products' %}
            </a>
        </h4>
        {% trans 'Enter and modify products for your store.' %}
    </div>

    <div class="boxcontainer">
        <h4>
            <a href="javascript:void(0)">
                <img src="{{ STATIC_URL }}dashboard/icons/prodcat.jpg" alt="Alternate Text" width="71" height="71"
                     title="your title" class="box_thumb"/>
                {% trans 'Categories' %}
            </a>
        </h4>
        {% trans 'Add a category or change a product category' %}
    </div>

    <div class="boxcontainer">
        <h4>
            <a href="javascript:void(0)">
                <img src="{{ STATIC_URL }}dashboard/icons/seatcolor.jpg" alt="Alternate Text" width="71" height="71"
                     title="your title" class="box_thumb"/>
                {% trans 'Discounts' %}
            </a>
        </h4>
        {% trans 'Apply discounts to products or groups of products' %}
    </div>

    <div class="boxcontainer">
        <h4>
            <a href="javascript:void(0)">
                <img src="{{ STATIC_URL }}dashboard/icons/seatcolor.jpg" alt="Alternate Text" width="71" height="71"
                     title="your title" class="box_thumb"/>
                {% trans 'Gift Certificates' %}
            </a>
        </h4>
        {% trans 'Gift Certificates' %}
    </div>

    <div class="boxcontainer">
        <h4>
            <a href="javascript:void(0)">
                <img src="{{ STATIC_URL }}dashboard/icons/seatcolor.jpg" alt="Alternate Text" width="71" height="71"
                     title="your title" class="box_thumb"/>
                {% trans 'Product Attributes' %}
            </a>
        </h4>
        {% trans 'Used for product attributes like size / color' %}
    </div>

    <div class="boxcontainer">
        <h4>
            <a href="javascript:void(0)">
                <img src="{{ STATIC_URL }}dashboard/icons/seatcolor.jpg" alt="Alternate Text" width="71" height="71"
                     title="your title" class="box_thumb"/>
                {% trans 'Discounts' %}
            </a>
        </h4>
        {% trans 'Apply discounts to products or groups of products' %}
    </div>


    <div style="clear:both"></div>
{% endblock %}
  

