<div class="inner">
    <h2>Support Requests</h2>

    <div class="side-menu-bar">
        <ul>
            {% for r in req %}
                <li><a href="{% url dashboard_view_support r.request.pk %}">{{ r.request.subject }} -
                    by {{ r.request.by }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

