{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}Customer Profile{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <span>{% trans "Support Messages" %}</span>
{% endblock %}

{% block content %}
    <div id="main_content">

        <h3>{{ requested.request.subject }}</h3>

        <div class="content">
            <form style="float:right; width:auto; padding:0px; margin:0px; " method="POST">
                {% csrf_token %}
                Forward To: <select name='forward-to'>
                <option></option>
                {% for g in groups %}
                    <option value="{{ g.id }}">{{ g.name }}</option>{% endfor %}</select><input type="submit"
                                                                                                value="Go"/>
            </form>
	    
            <form style="float:right; width:auto; padding:0px; margin:0px; margin-right:10px;" method="POST">
                {% csrf_token %}
                Change Status: 
		<select name='status-to'>
                  {% for key, display in status.items %}
                    <option value="{{ key }}" {% ifequal current_status key %}selected{% endifequal %}>{{ display }}</option>
		  {% endfor %}
		</select>
		<input type="submit" value="Go"/>
            </form>

            by - {{ requested.request.by }} on {{ requested.request.sent_on }}

            <div class="clear" style="border-bottom:1px solid black; height:5px;"></div>
            <p>{{ requested.request.body }}</p>
            {% for reply in requested.request.replies %}
                <div style="border-left:1px solid grey; padding-left:10px; margin-top:10px;">
                    <span style="color:#c6c6c6">{{ reply.by.username }} replied on {{ reply.sent_on }}:</span><br/>
                    {{ reply.body }}
                </div>
            {% endfor %}

            <div style="border-left:1px solid grey; padding-left:10px; margin-top:10px;">
                <form method="POST">
                    <textarea style="height:30px; width:99%" name="body"></textarea><br/>
                    <input type="submit" value="Reply"/>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
{% endblock %}
