{% extends 'dashboard/base.html' %}
{% load satchmo_adminorder_tags %}
{% load i18n %}
{% load virtual_login %}
{% block title %}Commissions{% endblock %}

{% block breadcrumbs %}
    <a href="{% url dashboard %}">{% trans 'Home' %}</a>
    <span>{% trans 'Commissions' %}</span>
{% endblock %}


{% block content %}
    <h3>{% trans 'Commissions for current month' %}</h3>

    {% if not table_data %}
        <p>No report found.</p>
    {% else %}
        <table style="width:100%">
            <thead>
            <tr>
                {% for title in table_title %}
                    <th>
                        {{ title }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table_data %}
                <tr class="row1">
                    {% for column in row %}
                        <th>
                            {{ column }}
                        </th>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                {% for title in table_title %}
                    <th>
                        {{ title }}
                    </th>
                {% endfor %}
            </tr>
            </tfoot>
        </table>

        <div class="pagination">
            {% if page_data.num_pages > 1 %}
                {% if page_data.has_previous %}
                    <span class="previous"><a
                            href="?page={{ page_data.previous_page_number }}">&laquo; {% trans "previous" %}</a></span>
                {% endif %}

                {% for page in page_data.page_range %}
                    {% if page_data.number == page %}
                        <span class="current">{{ page }}</span>
                    {% else %}
                        <span class="page"><a href="?page={{page}}">{{ page }}</a></span>
                    {% endif %}
                {% endfor %}

                {% if page_data.has_next %}
                    <span class="next"><a
                            href="?page={{ page_data.next_page_number }}">{% trans "next" %} &raquo;</a></span>
                {% endif %}
            {% endif %}
            <span class="total-count" style="float:right">
    {% trans "Page" %} {{ page_data.number }} {% trans "of" %} {{ page_data.num_pages }}.
  </span>
        </div>

    {% endif %}
    <div style="clear:both"></div>
{% endblock %}
