{% load i18n %}
<form class="profile_form left">
    <table class="left_align side_border">
        <caption>
            {% trans "Past Orders" %}
        </caption>
        <tbody>
        {% if  all_order %}
            <thead>
            <tr>
                <th>#</th>
                <th>To</th>
                <th>Date</th>
                {# <th style="width:65px;">Status</th> #}
            </tr>
            </thead>
            {% for o in all_order %}
                <tr>
                  <td><a href="/admin/shop/order/{{o.pk}}/">{{ o.pk }}</a></td>
                  <td>{{ o.contact.full_name }}</td>
                  <td>{{ o.time_stamp }}</td>
                </tr>
		{% endfor %}
		{% else %}
        <thead>
          <tr>
            <th>There are no past orders.</th>
            </tr>
            </thead>
        {% endif %}
        </tbody>
    </table>
</form>

