{% load i18n %}
<style>
    #comp .ui-tabs .ui-tabs-panel {
        padding: 0px;
    }

    #comp .ui-tabs .ui-tabs-panel table th, #comp .ui-tabs .ui-tabs-panel table td {
        padding: 7px 1px 7px 1px;
    }
</style>
<div id="comp" class="profile_module right" style="border:0px">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">Comm.</a></li>
            <li><a href="#tabs-2">Rank &amp; Vol.</a></li>
            {% if member.faststart %}
                <li><a href="#tabs-3">FastStart</a></li> {% endif %}
            <li><a href="#tabs-4">Dl. R. &amp; V.</a></li>
        </ul>
        <div id="tabs-1">
            <table style="width:100%;">
                <thead>
                <tr>
                    <th>Mon.</th>
                    <th>Retail</th>
                    <th>Vol</th>
                    <th>BSC</th>
                    <th>Dl</th>
                    <th>PRB</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for h in member.history %}
                    <tr>
                        <td>{{ h.month }}/{{ h.year }}</td>
                        <td>{{ h.retail_comm|floatformat:'2' }}</td>
                        <td>{{ h.volume_bonus|floatformat:'2' }}</td>
                        <td>{{ h.business_supply_credit|floatformat:'2' }} {# B S C #}</td>
                        <td>{{ h.commissions_on_downline|floatformat:'2' }} {# C o D #}</td>
                        <td>{{ h.pay_rank_bonus|floatformat:'2' }} {# P R B #}</td>
                        <td>{{ h.total|floatformat:'2' }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="tabs-2">
            <table style="width:100%;">
                <thead>
                <tr>
                    <th>Mon.</th>
                    {# <th>Rank</th> #}
                    <th>PCV</th>
                    <th>PCVQ</th>
                    <th>GCV</th>
                    <th>PR</th>
                    <th>PE-A</th>
                </tr>
                </thead>
                <tbody>
                {% for h in member.history %}
                    <tr>
                        <td>{{ h.month }}/{{ h.year }}</td>
                        {# <td>{{ h.payrank }}</td> #}
                        <td>{{ h.pcv }}</td>
                        <td>{{ h.pcv_quater }}</td>
                        <td>{{ h.gcv }}</td>
                        <td>{{ h.personally_enrolled }}</td>
                        <td>{{ h.personally_enrolled_active }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        {% if member.faststart %}
            <div id="tabs-3">
                <table>
                    <thead>
                    <tr>
                        <th style="width:33%; text-align:center">Month 1<br/></th>
                        <th style="width:33%; text-align:center">Month 2<br/></th>
                        <th style="width:33%; text-align:center">Month 3<br/></th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{% if member.faststart.ended_month_1 %}Ended{% endif %}</td>
                        <td>{% if member.faststart.ended_month_2 %}Ended{% endif %}</td>
                        <td>{% if member.faststart.ended_month_3 %}Ended{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Qualifying Parties: {{ member.faststart.parties_month_1 }}</td>
                        <td>Qualifying Parties: {{ member.faststart.parties_month_2 }}</td>
                        <td>Qualifying Parties: {{ member.faststart.parties_month_3 }}</td>
                    </tr>
                    <tr>
                        <td>PCV: {{ member.faststart.pv_month_1 }}</td>
                        <td>PCV: {{ member.faststart.pv_month_2 }}</td>
                        <td>PCV: {{ member.faststart.pv_month_3 }}</td>
                    </tr>
                    <tr>
                        <td>You have {% if not member.faststart.achieved_month_1 %}not yet{% endif %} met the
                            requirements for this month.
                        </td>
                        <td>You have {% if not member.faststart.achieved_month_2 %}not yet{% endif %} met the
                            requirements for this month.
                        </td>
                        <td>You have {% if not member.faststart.achieved_month_3 %}not yet{% endif %} met the
                            requirements for this month.
                        </td>
                    </tr>
                    <tr>
                        <td>Requirements:<br/>Complete your Launch Party and at least one additional qualifying party;
                            and achieve a personal volume of at least $400 in PCV.
                        </td>
                        <td>Requirements:<br/>Complete three additional qualifying parties, and achieve a personal
                            volume of at least $600 in PCV.
                        </td>
                        <td>Requirements:<br/>Complete five additional parties, and achieve a personal volume of at
                            least $1000 in PCV; Personally recruit two active consultants (these consultants can be
                            recruited any time during the first 90 days)
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
        <div id="tabs-4">
            <table style="width:100%">
                <thead>
                <tr>
                    <th>User</th>
                    <th>PCV</th>
                    <th>PE</th>
                    <th>Rank</th>
                    <th>Prev. Month Rank</th>
                </tr>
                </thead>
                {% for m in dl_rank %}
                    <tr>
                        <td>{{ m.user.get_full_name }}</td>
                        <td>{{ m.pcv }}</td>
                        <td>{{ m.pe }}</td>
                        <td>{{ m.rank.name }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div><!-- End demo -->


<div class="profile_module left" style="border:0px;">
    <table style="width:100%" class="side_border">
        <caption>
            <span>{% trans "Available Credit" %}</span>
        </caption>

        <thead>
        <tr>
            <th>Credit Type</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Business Supply Credit</td>
            <td id="bsc_amt">{{ member.bsc }}</td>
        </tr>
        <tr>
            <td>Product Credit</td>
            <td id="pc_amt">{{ member.pc }}</td>
        </tr>
        </tbody>
    </table>
</div>
