{% load i18n %}

<form id="PasswordResetForm" class="profile_form right">
    <table class="left_align side_border">
        <caption>
            <span title="
                    {% blocktrans %}Here you can change this customer's password if they forgot it (or if you just want to).{% endblocktrans %}">{% trans "Change Password" %}</span>
        </caption>
        <thead>
        <tr>
            <th colspan="3">{% trans "Enter new password and press save." %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input id="password1" name="password1" type="password" placeholder="New Password"></td>
            <td><input id="password2" name="password2" type="password" placeholder="Confirm Password"></td>
            <td><input type="submit" class="add" value="Save"/></td>
        </tr>
        <tr class="GeneratePasswordDisplayContainer" style="display:none">
            <td>{% trans "Generated Password" %}</td>
            <td colspan="2">
                <pre><code id="GeneratePasswordDisplay"></code></pre>
            </td>
        </tr>
        </tbody>
        <tfoot class="GeneratePasswordDisplayContainer" style="display:none">
        <tr>
            <td colspan="3">{% trans "Note: You must still hit save to change the password!" %}</td>
        </tr>
        </tfoot>
    </table>
</form>
