{% load i18n %}

<form class="ajaxForm profile_form profile_marg_top right" method="post"
      action="{% url support_update_phones member.pk %}">
    {{ phones_form.management_form }}
    <table class="left_align side_border">
        <caption title="{% trans "A user can have many phone numbers of records." %}">
            <span>{% trans "Phone Numbers on Record" %}</span>
        </caption>

        <thead>
        <tr>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Phone Number" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
        </thead>
        <tbody>

        {% for phone in phones_form %}
            <tr>
                <td>{{ phone.id }} {{ phone.type }}</td>
                <td>{{ phone.phone }}</td>
                <td>{{ phone.DELETE }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="3"><a href="javascript:void(0)" class="right save add" title="Save phone numbers">Save</a></td>
        </tr>

        </tbody>
    </table>
</form>
