{% load i18n %}

<form class="profile_form left">
    <table class="left_align side_border">
        <caption>
            {% trans "Upline" %}
        </caption>
        <thead>
        <tr>
            <th colspan="2">Direct upline of this customer.</th>
        </tr>
        </thead>
        <tbody>
        {% if member.sponsor %}
            <tr>
                <td>{% trans "Customer Name: " %}</td>
                <td><a target="_blank"
                       href="{% url dashboard_profile member.sponsor.id %}"><strong>{{ member.sponsor.get_full_name }}</strong></a>
                </td>
            </tr>
            <tr>
                <td>{% trans "Username: " %}</td>
                <td>{{ member.sponsor.username }}</td>
            </tr>
            <tr>
                <td>{% trans "Rank: " %}</td>
                <td>{{ member.sponsor.rank.rank.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{% trans "This has no sponsor." %}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</form>


<form class="profile_form right">
    <table class="left_align side_border">
        <caption>
            {% trans "Downline" %}:{% trans "Direct downline of this customer." %}
        </caption>
        {% if member.frontline %}
            <thead>
            <tr>
                <th>{% trans "Customer Name" %}</th>
                <th>Username</th>
                <th>{% trans "Rank" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for downline in member.frontline %}
                <tr>
                    <td>
                        <a target="_blank" title="
                                {% blocktrans with name=downline.get_full_name %}View {{ name }}'s profile (new window){% endblocktrans %}"
                           href="{% url dashboard_profile downline.pk %}">{{ downline.get_full_name }}</a>
                    </td>
                    <td>{{ downline.username }}</td>

                    <td>{{ downline.rank.rank.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <thead>
            <tr>
                <th>No user found under this customer.</th>
            </tr>
            </thead>
        {% endif %}
        </tbody>
    </table>
</form>

