{% load i18n %}
<form class="profile_form left">
    <table class="left_align side_border">
        <caption>
            {% trans "Party" %}
        </caption>
        <tbody>
        {% if  all_parties %}
            <thead>
            <tr>
                <th>Starts</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            {% for p in all_parties %}
                <tr>
                    <td><a href="/admin/events/event/{{p.pk}}/">{{ p.starts_at }}</a></td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.get_status_display }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <thead>
            <tr>
                <th>There are no parties.</th>
            </tr>
            </thead>
        {% endif %}
        </tbody>
    </table>
</form>
