{% load i18n %}
<form class="profile_form left">
    <table class="left_align side_border">
        <caption>
            {% trans "Past Orders" %}
        </caption>
        <tbody>
        {% if  all_order %}
            <thead>
            <tr>
                <th>#</th>
                <th>To</th>
                <th>Date</th>
                {# <th style="width:65px;">Status</th> #}
            </tr>
            </thead>
            {% for o in all_order %}
                <tr>
                    <td><a href="/admin/shop/order/{{o.order.pk}}/">{{ o.order.pk }}</a></td>
                    <td>{{ o.order.contact.full_name }}</td>
                    <td>{{ o.order.time_stamp }}</td>
                    {% comment %}
	    <td style="text-align:center">
	      <div class="circle1pr {% ifequal order.status 'In Process' %}InProcess{% else %}{{ order.status }}{% endifequal %}" style="margin:auto">&nbsp;</div>
	    </td>
	    {% endcomment %}
                </tr>
            {% endfor %}
        {% else %}
            <thead>
            <tr>
                <th>There are no past orders.</th>
            </tr>
            </thead>
        {% endif %}
        </tbody>
    </table>
</form>

<form class="profile_form right">
    <table class="left_align side_border">
        <caption>
            {% trans "Credits" %}
        </caption>
        <tbody>
        {% if credit.all %}
            <thead>
            <tr>
                <th>Date</th>
                <th>Credit Type</th>
                <th>Amount</th>
            </tr>
            </thead>
            {% for c in credit.all %}
                <tr>
                    <td>{{ c.timestamp }}</td>
                    <td>{{ c.credit_type }}</td>
                    <td>{% ifequal c.transaction_type 'a' %}+{% else %}-{% endifequal %}{{ c.amount }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <thead>
            <tr>
                <th>No Credits found.</th>
            </tr>
            </thead>
        {% endif %}
        </tbody>
    </table>
</form>
