{% load i18n %}

{% comment %}
<h2>{% trans "Contacts" %}</h2>
<p>{% trans "Contacts are records of other people who are attached to this account. This is where a spouse/partner can be attached." %}</p>
<br>
{% endcomment %}
<form class="ajaxForm profile_form left profile_form_full_width" method="post" action="{% url dashboard_profile_update member.pk 'contacts' %}">
    {{ contacts_form.management_form }}
    <table class="left_align side_border">
        <caption>
            <span>{% trans "Contacts on Record" %}</span>
        </caption>
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts_form %}
            {% for field in contact.visible_fields %}
                {% if forloop.first %}
                    {% for hidden in contact.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endif %}

            {% endfor %}

            <tr>
                <td colspan="2"><a href="javascript:void(0)" class="right save add" title="Save profile information">Save</a>
                </td>
            </tr>

            {% if not forloop.last %}
                <tr style="border:0px;">
                    <td colspan="2" style="height:10px;"></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</form>
