{% load i18n %}

<form class="ajaxForm profile_form left profile_form_full_width" method="post"
      action="{% url dashboard_profile_update member.pk 'address' %}">
    {{ addresses_form.management_form }}

    <table class="left_align side_border">
        <caption>
            <span>{% trans "Addresses on Record" %}</span>
        </caption>
        <thead>
        <tr>
            <th></th>
            <th>{% trans "Address Form" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses_form %}
            <tr id='del_data_address_{{ address.id.value }}'>
                <td>

                    {% if not forloop.first %}
                        {% if not forloop.last %}

                            <ul>
                                <li><a class="del_data" data-type="address" data-id="{{ address.id.value }}"
                                       href="javascript:void(0)"
                                       data-url="{% url dashboard_profile_delete member.pk 'address' %}">Delete
                                    Address</a></li>
                            </ul>
                        {% endif %}
                    {% endif %}

                </td>
                <td style="width: 50%">
                    {% for field in address.visible_fields %}
                        {% if forloop.first %}
                            {% for hidden in address.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}

                        <div class="clear clearfix">
                            <div class="pct30" style="text-align:right; margin-right: 5%;">{{ field.label_tag }}</div>
                            <div class="pct65">{{ field }}</div>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><a href="javascript:void(0)" class="right save add" title="Save information">Save</a></td>
        </tr>
        </tbody>
    </table>
</form>
    
