{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load party_utils %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}


{% block content %}
<style>
  table#checkouttable, table#checkouttable tr, table#checkouttable th, table#checkouttable td,  table#checkouttable table{
  box-shadow: 0px 0px 0px #d6d6d6 ! important;
  background-color: transparent ! important;
  border:0px;
  text-align:left;
  }
  
  table#checkouttable thead, table#checkouttable tfoot *{
  color:white;
  }

  table#checkouttable table tbody td{
  padding-top:0px;
  padding-bottom:0px;
  }

  .wrappers{
  padding:10px;
  width:50%;
  }

  .wrapped_content{
  margin:10px;
  }

  .inner_wrap{
  margin-bottom:15px;
  }

  table#checkouttable input[type='text'], table#checkouttable input[type='password'], table#checkouttable textarea {
  width: 95%;
  border: 1px solid #ccc;
  padding: 5px;
  color: #333;
  //-moz-border-radius: 4px;
  //-webkit-border-radius: 4px;
  //border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; 
  }

  .required{
  color:red;
  }
  
  #shipping_data hr{
  display:none;
  }
</style>

<div id="tour-hud">
    {% if bus_tour %}
        <h1 id="whatever">{{ bus_tour.name }} - {{ bus_tour.price_set.all.0.expires }}</h1>
        <p>
            {{ bus_tour.description }}
        </p>
    {% endif %}
</div>
    
<form id="checkouttable_data">
<table id="checkouttable">
  <tr>
    <td class="wrappers">
      
      {% if request.referred_by %}
      <div class="inner_wrap" style="border:1px solid #CE248C;">
	<div class="wrapped_content" style="border:1px dotted #CE248C; position:relative;">
	  <br/>

	  <img src="{{ STATIC_URL }}{% if request.referred_by.profile.personal_photo %}{{ request.referred_by.profile.personal_photo }}{% else %}images/representative.jpg{% endif %}" style="position:absolute; right:7px; top:7px; height:60px;"/>

	  <h6 style="margin:0px; padding:0px 15px;">Your Consultant: &nbsp;  <strong>{{ request.referred_by.get_full_name }}</strong></h6>
	  <div style="padding:0px 15px; margin-bottom:15px;">
	    @ <a href="mailto:{{ request.referred_by.email }}">{{ request.referred_by.email }}</a>
	    {% if request.referred_by.profile.phone_number %}<br/>&#x260F; <a href="callto:{{ request.referred_by.profile.phone_number }}">{{ request.referred_by.profile.phone_number }}</a>{% endif %}
	  </div>
	</div>
      </div>
      {% endif %}

      <div class="inner_wrap">
	<h6>BASIC INFORMATION</h6>
	<table>
          <tr>
            <td style="width:35%">
	      <label for="id_email">
		{% trans "Email address" %}{% if contact_details.form.email.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td>{{ contact_details.form.email }}</td>
	  </tr>
          <tr>
            <td>
	      <label for="id_first_name">
		{% trans "First name" %}{% if contact_details.form.first_name.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.first_name }}</td>
          </tr>
          <tr>
            <td>
	      <label for="id_last_name">
		{% trans "Last name" %}{% if contact_details.form.last_name.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.last_name }}</td>
          </tr>
          <tr>
            <td>
	      <label for="id_phone">
		{% trans "Phone number" %}{% if contact_details.form.phone.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.phone }}</td>
          </tr>

	</table>
      </div>

      

      <div class="inner_wrap">
	<h6>BILLING INFORMATION</h6>
	<table>
	  <tr>
            <td style="width:35%">
	      <label for="id_addressee">
		{% trans "Bill To" %}{% if contact_details.form.addressee.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.addressee }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_street1">
		{% trans "Street" %}{% if contact_details.form.street1.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.street1 }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_street2">
		{% trans "Street" %}{% if contact_details.form.street2.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.street2 }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_city">
		{% trans "City" %}{% if contact_details.form.city.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.city }}</td>
	  </tr>
	  {% if contact_details.country %}
            {% if contact_details.form.fields.state.choices %}
            <tr>
              <td>
		<label for="id_state">
                  {% if contact_details.country.get_admin_area_display %}
		    {{ contact_details.country.get_admin_area_display }}
		  {% else %}
		    {% trans "State/Province" %}
		  {% endif %}
                  {% if contact_details.form.state.field.required %}<span class="required">*</span>{% endif %}
		</label>
	      </td>
              <td><p id="id_state_loading" style="display: none">Loading...</p> {{ contact_details.form.state }}</td>
            </tr>
            {% endif %}
	  {% else %}
          <tr>
            <td>
	      <label for="id_state">
		{% trans "State/Province" %} {% if contact_details.form.state.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td><p id="id_state_loading" style="display: none">Loading...</p> {{ contact_details.form.state }}</td>
          </tr>
	  {% endif %}
	  <tr>
            <td>
	      <label for="id_postal_code">
		{% trans "Zipcode/Postcode" %}{% if contact_details.form.postal_code.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.postal_code }}</td>
	  </tr>
	  {% if not contact_details.country %}
          <tr>
            <td>
	      <label for="id_country">{% trans "Country" %}</label>
	    </td>
            <td> {{ contact_details.form.country }}</td>
          </tr>
	  {% endif %}
          {% if cart.is_shippable %}
          <tr>
            <td colspan="2">
	      <div style="padding:10px 5px; text-align:center">
		Billing address is same as shipping adress?
		<input type="checkbox" id="id_copy_address" name="copy_address" checked/>
	      </div>
            </td>
          </tr>
	  {% endif %}
	</table>
      </div>

    </td>
    <td class="wrappers">
      <div class="inner_wrap" style="background:#ddd;">
	<div class="wrapped_content">
	  <h6>ORDER SUMMARY</h6>
	  <table>
	    <thead style="border-bottom:1px solid #aaa;">
	      <tr><th>Cart Item</th><th>Unit Price</th><th>Quantity</th><th style="text-align:right">Total</th></tr>
	    </thead>
	    {% for cartitem in cart_details.cart %}
	    <tr>
	      <td>{{ cartitem.description }}</td>
	      <td>{{ cartitem.unit_price|currency }}</td>
	      <td>{{ cartitem.quantity|normalize_decimal }}</td>
	      <td style="text-align:right">{{ cartitem|discount_line_total:cart_details.sale|currency }}</td>
	    </tr>	 
	    {% endfor %}
	    <tfoot style="border-top:1px solid #aaa;">
	      <tr style="border-bottom:3px double #aaa;">

        <td>Cart Subtotal</td>
        <td colspan="3" style="text-align:right;">$<span id="cart-subtotal">{{ cart_details.price_numbers.1|floatformat:2 }}</span></td>
            </tr>
            <tr>
        
        <td>Cart Tax</td>
        <td colspan="3" style="text-align:right;">$<span id="cart-tax">{{ cart_details.price_numbers.2|floatformat:2 }}</span></td>
            </tr>
            <tr>

        <td>Cart Total</td>
        <td colspan="3" style="text-align:right;">$<span id="cart-total">{{ cart_details.price_numbers.0|floatformat:2 }}</span></td>
            </tr>
            <tr>

        {% comment %}
		<td>Cart Total</td>
		<td colspan="3" style="text-align:right;">{{ cart|discount_cart_total:cart_details.sale|currency }}</td>
	      </tr>
	      <tr>
        {% endcomment %}

	    
		<td colspan="4">
		  <a href="{% if  cart|is_party:request %}{% url manager_select_party_products %}{% else %}{% if user.is_authenticated %}/manage/shop/select-products/{% else %}/shop/{% endif %}{% endif %}" class="button-small-theme-color left" style="margin-bottom:0px;"><span>Shop More</span></a>
		</td>
	      </tr>
	    </tfoot>
	  </table>
	</div>
      </div>


      {% if card_details.cart.is_shippable %}
        {% if card_details.form.shipping_hidden %}
          {{ card_details.form.shipping }}
        {% else %}
          <div class="inner_wrap" style="background:#ddd;">
	    <div class="wrapped_content" style="padding-bottom:1px;">
            <h6>SHIPPING INFORMATION</h6>
	      
	    {% comment %}
            {% if card_details.form.shipping_description or card_details.form.shipping.field.choices|length_is:1 %}
              <label for="id_shipping">{% trans "The following shipping method will be used" %}:</label>
            {% else %}
              <label for="id_shipping">{% trans "Please choose your preferred shipping method" %}</label>
            {% endif %}
	    {% endcomment %}	
            {# {{ card_details.form.shipping }} #}
            {# {% if card_details.form.shipping_description %}<br/>{{ card_details.form.shipping_description }}{% endif %} #}
	      
	    <table id="shipping_data">  
 	      {% for f in card_details.form.shipping.field.choices %}
	      <tr>
		<td style="width:10%; text-align:center; vertical-align:middle;">
		  <input type="radio" name="shipping" value="{{ f.0 }}" id="id_shipping_{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>
		</td>
		<td>
		  <label for="id_shipping_{{ forloop.counter }}">{{ f.1 }}</label>
		</td>
	      </tr>
	      {% endfor %}
	    </table>
	    </div>
          </div>
	{% endif %}
    {% endif %}


      <div class="inner_wrap" id="shipping_address" style="display:none;">
	<h6>SHIPPING INFORMATION</h6>
	<table>
	  <tr>
            <td style="width:35%">
	      <label for="id_ship_addressee">
		{% trans "Ship To" %}{% if contact_details.form.ship_addressee.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.ship_addressee }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_ship_street1">
		{% trans "Street" %}{% if contact_details.form.ship_street1.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.ship_street1 }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_ship_street2">
		{% trans "Street" %}{% if contact_details.form.ship_street2.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.ship_street2 }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_ship_city">
		{% trans "City" %}{% if contact_details.form.ship_city.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.ship_city }}</td>
	  </tr>
	  {% if contact_details.country %}
            {% if contact_details.form.fields.ship_state.choices %}
            <tr>
              <td>
		<label for="id_ship_state">
                  {% if contact_details.country.get_admin_area_display %}
		    {{ contact_details.country.get_admin_area_display }}
		  {% else %}
		    {% trans "State/Province" %}
		  {% endif %}
                  {% if contact_details.form.ship_state.field.required %}<span class="required">*</span>{% endif %}
		</label>
	      </td>
              <td><p id="id_ship_state_loading" style="display: none">Loading...</p> {{ contact_details.form.ship_state }}</td>
            </tr>
            {% endif %}
	  {% else %}
          <tr>
            <td>
	      <label for="id_ship_state">
		{% trans "State/Province" %} {% if contact_details.form.ship_state.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td><p id="id_ship_state_loading" style="display: none">Loading...</p> {{ contact_details.form.ship_state }}</td>
          </tr>
	  {% endif %}
	  <tr>
            <td>
	      <label for="id_ship_postal_code">
		{% trans "Zipcode/Postcode" %}{% if contact_details.form.ship_postal_code.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.ship_postal_code }}</td>
	  </tr>
	  {% if not contact_details.country %}
          <tr>
            <td>
	      <label for="id_ship_country">{% trans "Country" %}</label>
	    </td>
            <td> {{ contact_details.form.ship_country }}</td>
          </tr>
	  {% endif %}
	</table>
      </div>


      <div class="inner_wrap" style="display:none;">
	<a href="javascript:void(0)" class="button-small-theme-color right" style="margin-bottom:0px;"><span>Calculate Shipping</span></a>
	<h6 style="display:inline;">SHIPPING OPTIONS</h6>
	<div class="clear" style="height:8px;"></div>
	<div>
	  Please fill out your information and click 'Calculate Shipping' to display shipping options.
	</div>
      </div>

      {% comment %}
      
      {% if not user.is_authenticated %}
        {% if request.referred_by and request.referred_by|has_upcoming_parties %}
        <div class="inner_wrap" style="background:#ddd;">
	  <div class="wrapped_content" style="padding-bottom:1px;">
            <h6>PARTY INFORMATION</h6>
	    <div>
	      Is this a party order? <input type="checkbox" name="is_party_order" id="id_is_party_order" {% if selected_frontend_party %}checked{% endif %}/>
	      &nbsp; &nbsp;
	      Select Party: 
	      <select name="party_id" id="id_party_id">
		{% for party in request.referred_by|upcoming_parties %}
		<option value="{{ party.pk }}" {% ifequal party.pk selected_frontend_party|add:0 %} selected {% endifequal %} >{{ party.name }}</option>
		{% endfor %}
	      </select>
	    </div>
	    <br/>
	  </div>
	</div>      
        {% endif %}
      {% endif %}
      {% endcomment %}


      {% if request|allow_party_selection_in_opc %}
        <div class="inner_wrap" style="background:#ddd;">
	  <div class="wrapped_content" style="padding-bottom:1px;">
            <h6>PARTY INFORMATION</h6>
	    <div>
	      Is this a party order? <input type="checkbox" name="is_party_order" id="id_is_party_order" {% if selected_frontend_party %}checked{% endif %}/>
	      &nbsp; &nbsp;
	      Select Party: 
	      <select name="party_id" id="id_party_id">
		{% for party in request.referred_by|upcoming_parties %}
		<option value="{{ party.pk }}" {% ifequal party.pk selected_frontend_party|add:0 %} selected {% endifequal %} >{{ party.name }}</option>
		{% endfor %}
	      </select>
	    </div>
	    <br/>
	  </div>
	</div>
      {% endif %}
 	
      <div class="inner_wrap" >
	{# If we only have one payment method, then the form renders it as a hidden field #}
	{{ contact_details.form.paymentmethod }}

	<h6>PAYMENT INFORMATION</h6>
	<table>
	  {% if not card_details.PAYMENT_LIVE %}
	  <tr>
	    <td colspan="2" style="border:3px double #aaa; border-left:0px; border-right:0px; color:#aaa; ">
	      <b>TEST MODE</b>: Use Visa 4111111111111111 for CC#, any future date for expiration, any 3 digit CCV.
	    </td>
	  </tr>
	  {% endif %}
	  <tr>
            <td style="width:35%;{% if not card_details.PAYMENT_LIVE %}padding-top:10px;{% endif %}">
	      <label for="id_credit_type">{% trans "Type of credit card" %}<span class="required">*</span></label>
	    </td>
	    <td>{{ card_details.form.credit_type }}</td>
	  </tr>
	  <tr>
	    <td>
	      <label for="id_credit_number">{% trans "Credit card number" %}<span class="required">*</span></label>
	    </td>
	    <td>{{ card_details.form.credit_number }}</td></tr>
	  <tr>
	    <td>
	      <label for="id_month_expires">{% trans "Expiration date" %}<span class="required">*</span></label>
	      <label for="id_year_expires"></label>
	    </td>
	    <td>
	      {{ card_details.form.month_expires }} {{card_details.form.year_expires}}
	    </td>
	  </tr>
	  <tr>
	    <td>
	      <label for="id_ccv">{% trans "CCV" %}<span class="required">*</span></label>
	    </td>
	    <td> {{ card_details.form.ccv}}</td>
	  </tr>
	</table>
      </div>
    </td>    
  </tr>

  <tr>
    <td colspan="2" style="text-align:center;">
      <div style="height:2px; width:2px; margin:auto;"><span id="id___all__"></span></div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center; height:60px;">
      <a href="javascript:void(0)" class="checkout_items button-big-theme-color" style="margin:auto; margin-bottom:0px; width:150px;"><span>Check Out</span></a>
      <img class="checkout_items" style="display:none" src="{{ STATIC_URL }}images/color-loader.gif"/>
    </td>
  </tr>
</table>
</form>
{% endblock %}

{% block bottom %}
{% block contact-form-imports %}

  {% include "shop/_jquery.html" %}
  {% include "shop/_jquery_form.html" %}
  {% if shop.options.PAYMENT.COUNTRY_MATCH.value %}
    {% include "contact/_country_match_script.html" %}
  {% endif %}
  {% include "contact/_contact_info_form_js.html" %}
  {% include "contact/_state_js.html" %}
  <script src="{{ STATIC_URL }}js/jQuery.serializeObject.js" type="text/javascript"></script>
  <link href="{{ STATIC_URL }}styles/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
  <script src="{{ STATIC_URL }}js/jquery.validationEngine-en.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.validationEngine.new.js" type="text/javascript"></script>

  <script>
    // process checkout
    function processCheckout() {
        var data=$('#checkouttable_data').serializeObject()
        data['csrfmiddlewaretoken']='{{ csrf_token }}'
        $('.checkout_items').toggle();
        $('#checkouttable input, #checkouttable select').attr("disabled", "disabled");
        $.ajax({
            data:data,
            type:'POST',
            dataType:'json',
            url:'{% url opc_verify %}',
            complete:function(data){
            },
            success:function(data){
            $('.checkout_items').toggle();
            $('#checkouttable input, #checkouttable select').removeAttr("disabled");

            if(data.status.success){
                window.location='/shop/checkout/credit/success/'
            }else{
                if(data.status.code=='general'){
                    for(fname in data.status.reason){
                        //if(fname=='__all__'){
                        //  $('#id___all__ span').validationEngine('showPrompt', data.status.reason[fname][0], 'error', 'topRight', true);
                        //}else{
                        $('#id_'+fname).validationEngine('showPrompt', data.status.reason[fname][0], 'error', 'topRight', true);
                        //}
                    }
                }
            }
            }
        });
    }

      
    $(document).ready(function(){
      $("#checkouttable_data").validationEngine();
      $("#checkouttable_data").find('input, select, button, textarea').focus(function(){
        $(this).validationEngine('hide');
      });
    });


    $("a.calculate-tax").live('click', function(e) {
        if(!$("#id_postal_code").val()) {
            alert("{% trans 'Please input a valid postal code' %}");
            return false;
        }else{
        // Calculate tax rates and display them on the table. 
            $.get(
                "{% url opc_get_tax %}",
                {'zip_code': $("#id_postal_code").val()},
                function(data) {
                    console.log(data);
                    // Update numbers and what not
                    $("#cart-subtotal").html(data.data.subtotal.toFixed(2));
                    $("#cart-total").html(data.data.total.toFixed(2));
                    $("#cart-tax").html(data.data.tax_amount.toFixed(2));

                    // Update text on action button
                    $(e.currentTarget).html("Check Out");
                    $(e.currentTarget).removeClass("calculate-tax");
                }, "json"
            );   
        }
        return false;
    });

    
    $('a.checkout_items').live('click', function(e){
      // First check zip-code is set
      if(!$("#id_postal_code").val()){
        // Change message from checkout to calculate tax
        $(e.currentTarget).html("Calculate Tax").addClass("calculate-tax");
        alert("{% trans 'Please input a valid postal code' %}");
        return false;
      }else{
        processCheckout();
      }
    });

    $('#id_copy_address').change(function () {
      if($(this).is(':checked')){
        $('#shipping_address').slideUp()
      }else{
        $('#shipping_address').slideDown()
      }
    })
  </script>

{% endblock %}
{% endblock %}
