<?xml version='1.0'?>
<!DOCTYPE Request.dtd>
<XMLRequest>
<certStr>{{ certStr }}</certStr>
<class>partner</class>
<XMLTrans>
<transType>01</transType>
<sourceEmail>{{ sourceEmail }}</sourceEmail>
<firstName>{{ firstName }}</firstName>
<mInitial>{{ mInitial }}</mInitial>
<lastName>{{ lastName }}</lastName>
<addr>{{ addr }}</addr>
<aptNum>{{ aptNum }}</aptNum>
<city>{{ city }}</city>
<state>{{ state }}</state>
<zip>{{ zip }}</zip>
<dayPhone>{{ dayPhone }}</dayPhone>
<evenPhone>{{ evenPhone }}</evenPhone>
<ssn>{{ ssn }}</ssn>
<dob>{{ dob }}</dob>
<tier>{{ tier }}</tier>
<ccNum>{{ ccNum }}</ccNum>
<expDate>{{ expDate }}</expDate>
<phonePin>{{ phonePin }}</phonePin>
</XMLTrans>
</XMLRequest>
