{% extends "shop/base.html" %}
{% load i18n %}
{% load party_utils %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}

{% block navbar %}
    <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
    <li>{% trans "Cart" %}</li>
{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="error">{{ error_message }}</div>
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if not cart|length %}
        <h4>{% trans "Your cart is empty." %}</h4>
    {% else %}
	{% if  cart|is_party:request %}

	{% for user, purchases in cart|party_order_details:request %}
	<table>
	  <thead>
	    <tr>
	      <th colspan="4">{{ user.name }}</th>
	    </tr>
	    <tr style="border-top:1px solid white;">
	      <th>Product</th>
	      <th>Count</th>
	      <th>Unit Price</th>
	      <th>Sub Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in purchases %}
	       <tr>
		 <td>{{ item.product.translated_name }}</td>
		 <td style="width:15%">{{ item.count }}</td>
		 <td style="width:15%">{{ item.unit_price|floatformat:2 }}</td>
		 <td style="width:15%">{{ item.sub_total|floatformat:2 }}</td>
	       </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% endfor %}

        <div style="float:right; width:40%;">
          <a class="button-small-theme-color right" href="{# {% url satchmo_checkout-step1 %} #}{% url opc_checkout %}"><span>{% trans "Check out" %}</span></a>
        </div>


	{% else %}
	{% include 'shop/cart_nonparty.html' %}
	{% endif %}
    {% endif %}
{% endblock %}
    
