{% load i18n %}
{% load party_utils %}
{% load cart_utils %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}

        <h4>{% trans "Your Cart" %}</h4>
        <table>
            <tr>
                <th></th>
                <th align="left">{% trans "Quantity" %}</th>
                <th>{% trans "Item" %}</th>
                {% if sale %}
                    <th>{% trans "Regular Price" %}</th>
                    <th>{% trans "Sale Price" %}</th>
                {% else %}
                    <th>{% trans "Price" %}</th>
                {% endif %}
                <th align="center">
                    {% if default_view_tax %}{% trans "Total<br/>(incl.&nbsp;tax)" %}{% else %}{% trans "Total" %}{% endif %}</th>
            </tr>

            {% for cartitem in cart %}
                {# Discounts should be applied but not shown. Checks if it's an "Offer" and just hides it. #}
                {% if cartitem.product.slug not in discount_product_slug %}
                    <tr>
                        <td>
                            <form action="{% url satchmo_cart_remove %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="cartitem" value="{{ cartitem.id }}"/>
                                <input type="submit" value="{% trans 'Remove' %}"/>
                            </form>
                        </td>
                        
                        <td align="center">
                            <form class="qtyform" id="form-{{ cartitem.id }}" action="{% url satchmo_cart_set_qty %}"
                                  method="post">{% csrf_token %}
                                <input type="hidden" name="cartitem" value="{{ cartitem.id }}"/>
                                <input type="text" name="quantity" id="id_quantity" data-slug="{{ cartitem.product.slug }}"
                                       value="{{ cartitem.quantity|normalize_decimal }}"/>
                                <input type="submit" id="id_update_submit" value="{% trans 'update amount' %}"/>
                            </form>
                        </td>
                        
                        <td>
                            <a href="{{cartitem.product.get_absolute_url}}">{{ cartitem.description }}</a>
                        </td>
                        
                        {% if sale %}
                            <td align="center">{{ cartitem.unit_price|currency }}</td>
                        {% endif %}
                        
                        <td align="center">{{ cartitem|discount_line_unit_price:sale|currency }}</td>
                        <td align="center">{{ cartitem|discount_line_total:sale|currency }}</td>
                    </tr>
                {% else %}
                    <tr class="hidden" id="offer-discount">
                        <td>
                            {{ cartitem.product.slug }}
                            <input type="hidden" id="offer-discount-amount" data-type="discount" value="{{ cartitem|discount_line_total:sale|currency }}"/>
                        </td>
                    </tr>
                {% endif %}
                {% cartitem_custom_details cartitem %}
                {% cartitem_subscription_details cartitem %}
            {% endfor %}
            
            {# This is awfully hackish but it's better than restructuring everything #}
            {% for item in cart %}
                {% if item.product.slug in discount_product_slug %}
                    <tr> 
                        <td colspan="{% if sale %}5{% else %}4{% endif %}" align="right">{% ifequal item.product.slug 'offer' %}{% trans "Discount" %}{% else %}{{ item.product }}{% endifequal %}:</td>
                        <td>{{ item|discount_line_total:sale|currency }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr>
                <td colspan="{% if sale %}5{% else %}4{% endif %}" align="right">{% trans "Cart Total" %}:</td>
                <td>{{ cart|discount_cart_total:sale|currency }}</td>
            </tr>
        </table>
        {% if sale %}
            {% include "product/some_discount_eligible.html" %}
        {% endif %}
        <div style="float:left; width:40%;">
            <a id="continue-shopping-link" class="button-small-theme-color left" href="{% if request.user.is_authenticated %}/manage/shop/select-products/{% else %}/shop{% endif %}"><span>{% trans "Continue Shopping" %}</span></a>
        </div>
        <div style="float:right; width:40%;">
            <a id="checkout-link" class="button-small-theme-color right" href="javascript:void(0)"><span>{% trans "Check out" %}</span></a>
        </div>

{# Didn't really know where to put this code... So I put it here #}
{% if request.user.is_athenticated %}
    <div class="hidden">Kewl</div>
{% else %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fallr.css" />
<script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
<div id="fallr-overlay"></div>
<script>
    var shopping_url="{% if request.user.is_authenticated %}/manage/shop/select-products/{% else %}/shop{% endif %}"
    var cart_url="{% url opc_checkout %}"
    var need_more = {{ cart|need_more }}

    /* TODO: Get a service that connects directly with the systems REST API to get settings */
    $(document).ready(function(){
      $('#checkout-link').click(function(){
         next()
      })
    });

    function next(){        
        if (need_more>0) {
            displayPopUp();
        } else {
            window.location.href = cart_url
        }    
    }
    
    function displayPopUp() {
        $.fallr('show',
            {
                 buttons: {
                     button1: {text: "Click here to add", onclick: function() { window.location.href = shopping_url; }},
                     button2: {text: "No, continue!", onclick: function() { window.location.href = cart_url; }}
                 },
                 content: "<p>You qualifiy for "+need_more+" additonal Nail Shield</p>",
                 position: "center"
            }
        );
    }
</script>
{% endif %}
