{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}

{% block header-text %}What are Jamberry Nails?{% endblock %}
{% block header-description %}
    
    <a href="http://jamberry.crossmarketsoftware.com/application/"<strong>Click here</strong></a> to watch the applicaton process.
{% endblock %}

{% block content %}
    {% include 'frontend_referral_required_message.html' %}
    {% include 'frontend_offers.html' %}
    {% category_list 'product' as cat_list %}
        <div id="page" style="height:10px"></div>
        <div class="invent-gallery">
            <div class="portfolio-1-4 no-description">

                {% for cat in cat_list %}
                    {% if  cat.is_active %}
                        <div class="image-box">
	 <span class="image-decoration image-left shadow-220" style="margin-bottom:0px">
	   <a href="{{ cat.get_absolute_url }}" title="{{ cat.translated_name }}" data-fancybox="2" class="external">
           <span class="image-hover" style="opacity: 0.5; "></span><span class="image-hover-icon"
                                                                         style="opacity: 1; "></span>
           {% if cat.main_image %}
               {% thumbnail cat.main_image.picture 200x100 crop="center" as image %}<img src="{{ image }}"
                                                                                         height="{{ image.height }}"
                                                                                         width="{{ image.width }}"
                                                                                         class="attachment-invent-small"
                                                                                         alt="{{ product.translated_name }}"
                                                                                         title="{{ product.translated_name }}">
           {% else %}
               {% thumbnail 'images/cat-default.jpg' 200x200 as image %}<img src="{{ image }}"
                                                                             height="{{ image.height }}"
                                                                             width="{{ image.width }}"
                                                                             class="attachment-invent-small"
                                                                             alt="{{ product.translated_name }}"
                                                                             title="{{ product.translated_name }}">

           {% endif %}
       </a>
	 </span>

                            <div class="image-description">
                                <h5 style="text-align:center">{{ cat.name }}</h5>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endcategory_list %}

{% endblock %}


{% comment %}

   <style>.image-box{display:none}</style>
 
   <script>
   $(document).ready(function(){

   break_at=8
   l=$('.image-box').length
   page=Math.ceil(l/break_at)

   if(page>1){
     for(counter=1; counter<=page; counter++){
       $('#page').append('<a href="javascript:void(0)" class="page" data-page="'+counter+'" data-break_at="'+break_at+'">Page '+counter+'</a> ')
     }
     $('#page .page').click(function(){
	page=$(this).attr('data-page')
	break_at=$(this).attr('data-break_at')
        $('.image-box').hide()
        for(counter=((page-1)*break_at); counter<page*break_at; counter++){
	  $('.image-box').eq(counter).show()							
        }
	$('.invent-gallery').flowy({margin:20})
     })
     $('#page .page').eq(0).click()
   }else{
     $('.image-box').show()
   }

   })
   </script>
{% endcomment %}
