/*PATTERN BACKGROUND*/

#background {
	background: url("../../images/backgrounds/default-bottom.jpg") top center fixed;
}
#background-2{
	background: url("../../images/backgrounds/default-top.png") top center fixed;
}


/*PHOTO BACKGROUND*/

/*
#background-2{
	background: none;
}
#photo-background{
	background:  url(../../images/photobackgrounds/01.jpg) top center fixed; 
}*/

#main-wrapper, #main-wrapper-narrow {
	background-position: 0 5px ;
	width: 980px;
	margin: 0 auto;
}

.invent-slider-wrapper{
	width:980px;
	overflow: hidden;
}
