/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ==================
 *   Footer Styling
 * ==================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Generic Buttons
 * 2) Header: Toolbar
 *    a) Small button
 * 	  b) Large button
 * 3) Header: Main
 */

/* ==================================================
 * 1) Generic
 * ================================================== */

footer {
	width: 100%;
	height: 37px;
	line-height: 36px;
	float: left;
	
	border-bottom: 1px solid #353535;
	/* The black gradient */
	background: #353535; /* Old browsers */
	background: -moz-linear-gradient(top,  #353535 0%, #101010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#101010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #353535 0%,#101010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #353535 0%,#101010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #353535 0%,#101010 100%); /* IE10+ */
	background: linear-gradient(top,  #353535 0%,#101010 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#101010',GradientType=0 ); /* IE6-9 */
}

/* ==================================================
 * 1a) Generic: Button Bar
 * ================================================== */

footer #button_bar {
	display: inline;
	float: right;
	/* The seperator on the very right */
	padding-right: 2px;
	background: url(../img/footer/button_bar-seperator.png) right no-repeat;
}

footer #button_bar li, footer #button_bar ul {
	display: table-cell;
	padding: 0;
}

footer #button_bar a {
	display: inline-block;
	height: 100%;
	padding: 0 15px;
	margin: 0; 
}

footer #button_bar a:active, footer #button_bar a:hover {
	/* The inverse black gradient */
	background: #101010; /* Old browsers */
	background: -moz-linear-gradient(top,  #101010 0%, #353535 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#353535)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #101010 0%,#353535 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #101010 0%,#353535 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #101010 0%,#353535 100%); /* IE10+ */
	background: linear-gradient(top,  #101010 0%,#353535 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#353535',GradientType=0 ); /* IE6-9 */
}

footer #button_bar span {
	display: inline-block;
	height: 100%;
	/* The seperator */
	padding-left: 2px;
	background: url(../img/footer/button_bar-seperator.png) left no-repeat;
}

