
.image-decoration a, .video-decoration object, .video-decoration iframe, .video-decoration video, .map-decoration .map-canvas {
  border: 5px #fff solid;
  box-shadow: 0px 0px 8px #d6d6d6;
  display: block; }

.image-decoration, .video-decoration, .map-decoration, .accordion-decoration, .tabs-decoration, .lof-decoration {
  padding-bottom: 20px;
  display: block;
  margin-top: 15px;
  position: relative; }
.image-decoration {
  margin-bottom: 5px; }

.map-decoration {
  margin-bottom: 0px;
  margin-top: 0px; }

.image-decoration a, .image-no-decoration a, a.portfolio_image {
  position: relative;
  background: url("../../images/loading.gif") no-repeat;
  background-position: 50% 50%; }

.image-decoration a.no-link, a.no-link * {
  cursor: default; }

.image-decoration .link-icon {
  background: url("../../images/icons/image-hover-icon/link.png") no-repeat;
  background-position: 50% 50%; }
.image-decoration .document-icon {
  background: url("../../images/icons/image-hover-icon/doc.png") no-repeat;
  background-position: 50% 50%; }
.image-decoration .video-icon {
  background: url("../../images/icons/image-hover-icon/video.png") no-repeat;
  background-position: 50% 50%; }


/*-------------------------------
  23. invent gallery
-------------------------------*/
.invent-gallery {
  overflow: visible;
  padding-top: 10px; }
  .invent-gallery .image-decoration, .invent-gallery .video-decoration {
    padding-bottom: 20px;
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative; }
    .invent-gallery .image-decoration a, .invent-gallery .video-decoration a {
      margin: 0 5px; }
  .invent-gallery .image-description {
    margin-bottom: 10px; }
    .invent-gallery .image-description p {
      margin-bottom: 30px; }
  .invent-gallery .shadow-220 {
    background: url("../images/shadows/portfolio-shadow-220.png") bottom center no-repeat; }
  .invent-gallery .shadow-300 {
    background: url("../images/shadows/portfolio-shadow-300.png") bottom center no-repeat; }

.invent-gallery > div {
  position: relative;
  overflow: visible;
  clear: both; }

.invent-gallery > div > div {
  position: absolute; }

ul.portfolio-1-1 {
  list-style: none;
  margin-left: 0px; }
  ul.portfolio-1-1 > li {
    padding: 29px 0px 0 0;
    margin: 0 0 40px 0;
    overflow: auto;
    clear: left;
    border-top: 1px solid #eaeaea; }
    ul.portfolio-1-1 > li:first-child {
      border: none;
      padding: 0px 0 30px 0; }
    ul.portfolio-1-1 > li > :first-child {
      margin-right: 20px; }
  ul.portfolio-1-1 .portfolio_image {
    width: 640px;
    height: auto;
    float: left;
    padding: 0px; }
    ul.portfolio-1-1 .portfolio_image img {
      display: block; }
  ul.portfolio-1-1 .image-description {
    width: 280px;
    height: 100%;
    float: left; }
    ul.portfolio-1-1 .image-description p {
      margin-bottom: 20px; }

.portfolio-1-2 div {
  width: 460px;
  overflow: visible;
  clear: both;
  padding-bottom: 10px; }
  .portfolio-1-2 div .image-decoration, .portfolio-1-2 div .video-decoration {
    margin-bottom: -10px; }

.portfolio-1-3 div {
  width: 300px;
  overflow: visible;
  clear: both; }
  .portfolio-1-3 div .image-decoration, .portfolio-1-3 div .video-decoration {
    margin-bottom: -5px;
    padding-bottom: 15px; }

.portfolio-1-4 div {
  width: 220px;
  overflow: visible;
  clear: both; }

.invent-gallery .no-description .image-decoration {
  margin-bottom: 10px; }

.gallery-splitter {
  margin: -10px 0 15px 0;
  height: 20px;
  overflow: visible;
  list-style: none; }

.gallery-splitter li {
  float: left;
  font-size: 13px;
  margin: 0 15px 0 0;
  padding: 0 0px 0 0; }

.gallery-splitter a {
  color: #989898; }

.gallery-splitter a:hover, .gallery-splitter a:active, .gallery-splitter .selected a {
  color: #171717; }

.flowy-clone .image-decoration a {
  box-shadow: none; }
