a.cross span{
    color:white;
    background:#ccc;
    width: 12px;
    height: 12px; 
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    display:inline-block;
    text-align:center;
    line-height:12px;
}

a.cross:hover span{
    background:#666;
}

        .ui-datepicker-current,
        .ui-datepicker-current:hover,
        .ui-datepicker-close,
        .ui-datepicker-close:hover,
        .ui-datepicker-prev:hover,
        .ui-datepicker-next:hover,
        .ui-datepicker-header,
        #header_main, .box .header {
            background: #CE248C;
            border: 1px solid #CE248C;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#E66AB8', endColorstr = '#CE248C');
            /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
            /*Element must have a height (not auto)*/
            /*All filters must be placed together*/
            -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#E66AB8', endColorstr='#CE248C')";
            /*Element must have a height (not auto)*/
            /*All filters must be placed together*/
            background-image: -moz-linear-gradient(top, #E66AB8, #CE248C);
            background-image: -ms-linear-gradient(top, #E66AB8, #CE248C);
            background-image: -o-linear-gradient(top, #E66AB8, #CE248C);
            background-image: -webkit-gradient(linear, center top, center bottom, from(#E66AB8), to(#CE248C));
            background-image: -webkit-linear-gradient(top, #E66AB8, #CE248C);
            background-image: linear-gradient(top, #E66AB8, #CE248C);
            /*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/

        }

	.pp_expand{
	display:none ! important;
	}

