/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ======================
 *   Navigation Styling
 * ======================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Main Navigaion
 *    a) Buttons
 * 2) Sub Navigaion
 */

/* ==================================================
 * 1) Main Navigatoin
 * ================================================== */
#nav_main {
	position: relative;
}

#nav_main li {
	display: inline-block;
	margin-right: 2px;
}
/* ==================================================
 * 1a) Main Navigation: Buttons
 * ================================================== */
#nav_main > li > a, #nav_main > li > a:visited, #nav_main > li > a:focus {
	display: table-cell;
	/* #header_main height + 1, to move it 1px into the header_main strip */
	height: 61px;
	width: 120px;
	background: url(../img/navigation/main/bg-normal.png) no-repeat;
	/* Concerning fonts/text */
	line-height: 26px;
	/* Concerning text align */
	text-align: center;
	vertical-align: bottom;
}
#nav_main > li > a img, #nav_main > li > a:visited img, #nav_main > li > a:focus img {
	display: block;
    margin: 0 auto;
	opacity:0.58;
	filter:alpha(opacity=58); /* For IE8 and earlier */
}
#nav_main > li > a:hover {
	background: url(../img/navigation/main/bg-hover.png) no-repeat;
}
#nav_main > li.current > a {
	background: url(../img/navigation/main/bg-active.png) no-repeat;
}
#nav_main > li > a:hover img, #nav_main > li.current > a img {
	opacity:1;
	
}

/* ==================================================
 * 2) Sub Navigation
 * ================================================== */
#nav_sub {
	height: 37px;
	border-bottom: 1px solid #b2b2b2;
	/* The sub-navigation gradient */
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #d4d4d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#d4d4d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#d4d4d4 100%); /* IE10+ */
	background: linear-gradient(top,  #e8e8e8 0%,#d4d4d4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
}

#nav_main li ul {
	width: 100%;
	position: absolute;
	line-height: 38px;
	left: 0;
}

.ie7 #nav_main li ul {
	top: 45px;
}

#nav_main li ul li {
	display: inline-block;
	padding: 0 30px;
	background: url(../img/navigation/sub/seperator.png) no-repeat right;
	float: left;
}

.ie7 #nav_main li ul li {
	zoom: 1
	display: inline;
}

#nav_main li ul li:first-child {
	padding-left: 5px;
}

#nav_main li ul li:last-child, #nav_main ul li.last-child {
	background: none;
}
