/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ==================
 *   Sprite: Wizard
 * ==================
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) General Styling
 * 2) Steps Bar
 * 3) Sidebar
 * 4) Content
 */

/* ==================================================
 * 1) General Styling
 * ================================================== */

.wiz_page {
	overflow: auto;
}

/* ==================================================
 * 2) Steps Bar
 * ================================================== */
.wizard .steps ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: -1px;
	left: -1px;
	margin: 0 -12px -2px -10px;
	background: url(../img/sprites/wizard/bg-steps.png) repeat-x #e7e7e7;
	border: 1px solid #c8c8c8;
	border-left-width: 0;
}

.wizard .steps li {
	background: url(../img/sprites/wizard/bg-steps.png) repeat-x #e7e7e7;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	margin: 0;
	margin-right: -5px;
	display: inline-block;
}

.wizard .steps li.current {
	background: url(../img/sprites/wizard/bg-steps-active.png) repeat-x #e7e7e7;
}

.wizard .steps li strong, .wizard .steps li span, .wizard .steps li small {
	display: block;
}

.wizard .steps li a {
	display: inline-table;
	padding: 5px;
	padding-bottom:0px;
}

.wizard .steps li a div {
	margin-left: 42px;
	display: table-cell;
	vertical-align: middle;
}

.wizard .steps li span {
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	background: #fff;
	border-radius: 32px;
	border: 1px solid #e7e7e7;
	text-align: center;
	float: left;
}

/* ==================================================
 * 3) Sidebar
 * ================================================== */
.wiz_sidebar {
	margin: 10px;
	margin-right: 0;
	padding-right: 0;
}

.wiz_sidebar span, .wiz_sidebar strong, .wiz_sidebar small {
	display: block;
}

.wiz_sidebar span {
	float: left;
	margin: 5px;
}

.wiz_sidebar strong {
	position: relative;
	top: 8px;
	font-size: 16px;
}

.wiz_sidebar small {
	position: relative;
	top: 6px;
}

/* ==================================================
 * 4) Content
 * ================================================== */
.wiz_content {
	border-left: 1px solid #e7e7e7;
	margin-left: 5px;
	padding-left: 20px;
	margin-right: 0;
	float: left;
}

.wiz_content h3 {
	border-bottom: 1px solid #c8c8c8;
}
