/*
 * Peach - Clean & Smooth Admin Template
 * by Stammi <http://themeforest.net/user/Stammi>
 * 
 * ===================================
 *   Frequently Used Sprites/Plugins
 * ===================================
 * A collection of sprite stylings, which are frequently used.
 * It would't make sense, to deliver them seperately.
 * 
 * -----------------
 * TABLE OF CONTENTS
 * -----------------
 * 
 * 1) Alert Boxes
 * 2) Buttons
 * 3) jGrowl
 * 4) Tipsy
 * 5) Fallr
 */

/* ==================================================
 * 1) Alert Boxes
 * ================================================== */

.alert {
	position: relative;
	border: 1px solid;
	border-radius: 3px;
	clear: both;
	margin-bottom: 9px;
	margin-top: 10px;
	padding: 7px 15px;
	padding-left: 30px;
	/* The inset shadow */
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
	box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
}

.alert.no-margin {
	box-shadow: none;
	border-radius: 0;
	border-width: 1px 0;
	margin-left: -10px;
	margin-right: -10px;
}

.alert.no-margin.top {
	border-width: 0 0 1px;
	margin-top: 0;
}

.alert.no-margin.bottom {
	border-width: 1px 0 0;
	margin-bottom: 0;
}

.alert span.hide {
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin: 0;
}

.alert span.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 7px;
	top: 50%;
	margin-top: -8px;
}

.alert.success {
	border-color: #70a772;
	background: url(../img/sprites/alertboxes/bg-success.png) repeat-x #a3d9a5;
}

.alert.success span.icon {
	background: url(../img/icons/packs/fugue/16x16/tick-circle.png);
}

.alert.error {
	border-color: #cb5959;
	background: url(../img/sprites/alertboxes/bg-error.png) repeat-x #f2aeae;
}

.alert.error span.icon {
	background: url(../img/icons/packs/fugue/16x16/cross-circle.png);
}

.alert.warning {
	border-color: #c9ab40;
	background: url(../img/sprites/alertboxes/bg-warning.png) repeat-x #ffe68b;
}

.alert.warning span.icon {
	background: url(../img/icons/packs/fugue/16x16/exclamation.png);
}

.alert.info {
	border-color: #446d99;
	background: url(../img/sprites/alertboxes/bg-information.png) repeat-x #a5c8f4;
}

.alert.info span.icon {
	background: url(../img/icons/packs/fugue/16x16/information.png);
}

.alert.note {
	border-color: #a3a3a3;
	background: url(../img/sprites/alertboxes/bg-note.png) repeat-x #dfdfdf;
}

.alert.note span.icon {
	background: url(../img/icons/packs/fugue/16x16/notebook.png);
}

/* ==================================================
 * 2) Buttons
 * ================================================== */
a.add,
button, input[type="submit"], input[type="reset"], a.button {
	display: block;
	/* Setting the height */
	height: 25px;
	line-height: 25px;
	width: auto;
	/* The padding */
	padding: 0 10px;
	/* And the beautiful style */
	border: 1px solid #c7c7c7;
	background: url(../img/sprites/buttons/normal/bg.png);
	border-radius: 5px;
	/* "useful if you don't want a bg color from leaking outside the border" */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/* The shadow around */
	-webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
	-moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
	box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
}

button:hover, button:active, input[type="submit"]:hover, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:active, a.button:hover, a.button:active {
	border-color: #2462a0;
	background-image: url(../img/sprites/buttons/hover/bg.png);
	-webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1), inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
	-moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1), inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
	box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1), inset 0px 0px 1px 0px rgba(255, 255, 255, 0.42);
}

button:active, input[type="submit"]:active, a.button:active {
	background: url(../img/sprites/buttons/active/bg.png);
}

a.button {
	height: 23px;
}

/* ==================================================
 * 2) Buttons: Red
 * ================================================== */


button.red, input[type="reset"], a.button.red {
	color: #952a2a;
}

button:hover.red, button:active.red, input[type="reset"]:hover, input[type="reset"]:active, a.button.red:hover, a.button.red:active {
	border-color: #870d0d;
	background-image: url(../img/sprites/buttons/hover/bg-red.png);
}

button:active.red, input[type="reset"]:active, a.button.red:active {
	background: url(../img/sprites/buttons/active/bg-red.png);
}



/* ==================================================
 * 3) jGrowl
 * ================================================== */

div.jGrowl {
	z-index: 			9999;
	color: 				#222222;
	font-size: 			12px;
	text-shadow: 		0 1px 0 #FFF;
	
	margin: 			0 10px;
	box-shadow: 		0 1px 3px rgba(0, 0, 0, 0.25);
    overflow: 			hidden;
	border-radius: 		0 0 2px 2px;
}

/** Normal Style Positions **/
div.jGrowl {
	position:			absolute;
}

body > div.jGrowl {
	position:			fixed;
}

div.jGrowl.top-left {
	left: 				0px;
	top: 				0px;
}

div.jGrowl.top-right {
	right: 				0px;
	top: 				0px;
}

div.jGrowl.bottom-left {
	left: 				0px;
	bottom:				0px;
}

div.jGrowl.bottom-right {
	right: 				0px;
	bottom: 			0px;
}

div.jGrowl.center {
	top: 				0px;
	width: 				50%;
	left: 				25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
	margin-left: 		auto;
	margin-right: 		auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	zoom: 					1;
	width: 					235px;
	padding: 				10px;
	font-family: 			Tahoma, Arial, Helvetica, sans-serif;
	font-size: 				1em;
	text-align: 			left;
	display: 				none;
	border-bottom: 			1px solid #E5E5E5;
    border-top: 			1px solid #FFFFFF;
	background-color: 		#fafafa;
}

div.jGrowl div.jGrowl-notification:first-child {
	border-top: 			none;
}

div.jGrowl div.jGrowl-notification:last-child, div.jGowl div.jGowl-closer:last-child {
	border-bottom: 			none;
	border-radius: 			0 0 2px 2px;
	overflow: hidden;
}

div.jGrowl div.jGrowl-notification:hover {
	background: 			url(../img/external/jGrowl/bg-hover.png) repeat-x #3675b4;
	border-top-color: 		#3675b4;
	color: 					#fff;
	text-shadow: 			0 1px 0 rgba(0,0,0,0.5);
	box-shadow: 			inset 0 1px 0 0 rgba(255,255,255,0.3);
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-weight: 			bold;
	font-size:				.85em;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
	z-index:				99;
	float: 					right;
	font-weight: 			bold;
	font-size: 				1em;
	cursor:					pointer;
}

div.jGrowl div.jGrowl-closer {
	padding-top: 			4px;
	padding-bottom: 		4px;
	cursor: 				pointer;
	font-size:				.9em;
	font-weight: 			bold;
	text-align: 			center;
}

div.jGrowl div.information .jGrowl-message, div.jGrowl div.success .jGrowl-message, div.jGrowl div.error .jGrowl-message, div.jGrowl div.warning .jGrowl-message, div.jGrowl div.saved .jGrowl-message {
	background: url("../img/icons/packs/fugue/16x16/shadeless/information.png") no-repeat scroll 10px 50% #000;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-color: transparent;
	padding-left: 25px;
}

div.jGrowl div.success .jGrowl-message { background-image: url("../img/icons/packs/fugue/16x16/shadeless/tick-circle.png"); }
div.jGrowl div.error .jGrowl-message { background-image: url("../img/icons/packs/fugue/16x16/shadeless/cross-circle.png"); }
div.jGrowl div.information .jGrowl-message { background-image: url("../img/icons/packs/fugue/16x16/shadeless/information.png"); }
div.jGrowl div.warning .jGrowl-message { background-image: url("../img/icons/packs/fugue/16x16/shadeless/exclamation.png"); }
div.jGrowl div.saved .jGrowl-message { background-image: url("../img/icons/packs/fugue/16x16/shadeless/disk-black.png"); }

/** Hide jGrowl when printing **/
@media print {
	div.jGrowl {
		display: 			none;
	}
}

/* ==================================================
 * 4) Tipsy
 * ================================================== */

.tipsy {
	font-size: 16px;
	padding: 5px;
	position: absolute;
	z-index: 100000;
}

.tipsy-inner {
	background: url("../img/misc/tooltips/tooltip-bg.png") repeat-x scroll left top black;
	border: 1px solid black;
	color: white;
	max-width: 200px;
	padding: 5px 8px 4px;
	text-align: center;
}

.tipsy-inner {
	border-radius: 3px 3px 3px 3px;
}

.tipsy-arrow {
	background: url("../img/misc/tooltips/tooltip-arrow.gif") no-repeat scroll left top transparent;
	height: 5px;
	position: absolute;
	width: 9px;
}

.tipsy-n .tipsy-arrow {
	left: 50%;
	margin-left: -4px;
	top: 0;
}

.tipsy-nw .tipsy-arrow {
	left: 10px;
	top: 0;
}

.tipsy-ne .tipsy-arrow {
	right: 10px;
	top: 0;
}

.tipsy-s .tipsy-arrow {
	background-position: left bottom;
	bottom: 0;
	left: 50%;
	margin-left: -4px;
}

.tipsy-sw .tipsy-arrow {
	background-position: left bottom;
	bottom: 0;
	left: 10px;
}

.tipsy-se .tipsy-arrow {
	background-position: left bottom;
	bottom: 0;
	right: 10px;
}

.tipsy-e .tipsy-arrow {
	background-position: right top;
	height: 9px;
	margin-top: -4px;
	right: 0;
	top: 50%;
	width: 5px;
}

.tipsy-w .tipsy-arrow {
	height: 9px;
	left: 0;
	margin-top: -4px;
	top: 50%;
	width: 5px;
}

/* ==================================================
 * 5) Fallr
 * ================================================== */

 /*
 * Fallr v1.0.4 - jQuery Plugin
 * Simple & elegant modal box jQuery plugin
 *
 * Copyright 2011 amatyr4n
 * http://codecanyon.net/user/amatyr4n
 *
 * licensed under Envato licenses
 * http://wiki.envato.com/support/legal-terms/licensing-terms/
 */

#fallr-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: #333;
    height: 100%;
    width: 100%;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#fallr-wrapper,
#fallr-wrapper * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #555;
    text-shadow: 1px 1px 1px #fff;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

#fallr-wrapper {
    position: fixed;
    overflow: hidden;
    background: #f0f0f0;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #111;
    -moz-box-shadow: 0 0 5px #111;
    -webkit-box-shadow: 0 0 5px #111;
}

#fallr-icon {
    position: absolute;
    top: 35px;
    left: 20px;
    height: 64px;
    width: 64px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#fallr {
    position: relative;
    padding: 40px 20px 20px 72px;
}

#fallr-buttons {
    position: relative;
    bottom: 0;
    right: 0;
    margin: 15px;
    clear: both;
    display: block;
    text-align: right;
}

/*  Github button style
    http://nicolasgallagher.com/lab/css3-github-buttons/ 
*/

#fallr-wrapper .fallr-button,
#fallr button,
#fallr input[type="submit"] {
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 4px 15px; 
    border: 1px solid #d4d4d4; 
    margin-left: 10px;
    margin-top: 10px;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap; 
    cursor: pointer;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
}

#fallr-wrapper .fallr-button:hover,
#fallr-wrapper .fallr-button:focus,
#fallr button:hover,
#fallr button:focus,
#fallr input[type="submit"]:hover,
#fallr input[type="submit"]:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

#fallr-wrapper .fallr-button.fallr-button-danger {
    color: #900;
}

#fallr-wrapper .fallr-button.fallr-button-danger:hover,
#fallr-wrapper .fallr-button.fallr-button-danger:focus {     
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff; 
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

#fallr abbr {
    border-bottom: 1px dotted #333;
}

#fallr h1, 
#fallr h2,
#fallr h3,
#fallr h4,
#fallr h5,
#fallr h6,
#fallr p,
#fallr form,
#fallr input,
#fallr label {
    margin-bottom: 10px;
}

#fallr h3 {
    font-size: 30px;
    line-height: 45px;
}

#fallr h4 {
    font-size: 25px;
    line-height: 37px;
}

#fallr h5 {
    font-size: 20px;
    line-height: 30px;
}

#fallr input[type="text"],
#fallr input[type="password"], 
#fallr textarea {
    background: #fff;
    border: solid 1px #999;
    color: #777;
    padding: 5px;
    width: 97%;
    box-shadow: inset #bbb 0px 0px 5px;
    -moz-box-shadow: inset #bbb 0px 0px 5px;
    -webkit-box-shadow: inset #bbb 0px 0px 5px; 
}

#fallr ol li, 
#fallr ul li,
#fallr blockquote, 
#fallr q {
    margin-left: 20px;
}

#fallr table {
    border: 1px solid #ddd;
	border-collapse:collapse;
	border-spacing: 0;
	line-height: 1.35em;
	width: 100%;
}

#fallr th, 
#fallr td {
    padding: 10px;
}

#fallr th {
    background-color: #cecece;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ececec), to(#cecece));
    background-image: -moz-linear-gradient(#ececec, #cecece);
    background-image: -o-linear-gradient(#ececec, #cecece);
    background-image: linear-gradient(#ececec, #cecece);
}

/* custom icons */

.icon-calendar {
    background: url('../img/icons/25x25/dark/day-calendar.png');
}

.icon-card {
    background: url('../img/icons/25x25/dark/v-card.png');
}

.icon-check {
    background: url('../img/icons/32x32/task-complete.png');
}

.icon-config {
    background: url('../img/icons/25x25/dark/tools.png');
}

.icon-error {
    background: url('../img/icons/25x25/dark/acces-denied-sign.png');
}

.icon-form {
    background: url('../img/icons/25x25/dark/fountain-pen.png');
}

.icon-help {
    background: url('../img/icons/25x25/dark/help.png');
}

.icon-info {
    background: url('../img/icons/25x25/dark/info---about.png');
}

.icon-lamp {
    background: url('../img/icons/25x25/dark/light-bulb.png');
}

.icon-mail {
    background: url('../img/icons/25x25/dark/mail.png');
}

.icon-news {
    background: url('../img/icons/25x25/dark/rss.png');
}

.icon-photo {
    background: url('../img/icons/25x25/dark/image-file.png');
}

.icon-save {
    background: url('../img/icons/25x25/dark/folder.png');
}

.icon-secure {
    background: url('../img/icons/25x25/dark/locked-2.png');
}

.icon-trash {
    background: url('../img/icons/25x25/dark/trashcan-2.png');
}

.icon-user {
    background: url('../img/icons/25x25/dark/users-2.png');
}

.icon-warning {
    background: url('../img/icons/25x25/dark/alert.png');
}

.icon-wizard {
    background: url('../img/icons/25x25/dark/cog-5.png');
}

.errorlist {
    list-style-type:none;
    color: #FF0000;
}
a.add {
    color: #000 !important;
}

.form_fields td {
    vertical-align: middle !important;
}

.form_fields label {
    margin-right:10px;
    vertical-align: middle;
}
input.add,
a.add,
input.add:hover,
a.add:hover {
        border: 1px solid #CE248C;
    text-align: center;
    background: #CE248C !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#E66AB8', endColorstr='#CE248C') !important;
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#E66AB8', endColorstr='#CE248C')" !important;
    background-image: -moz-linear-gradient(top, #E66AB8, #CE248C) !important;
    background-image: -ms-linear-gradient(top, #E66AB8, #CE248C) !important;
    background-image: -o-linear-gradient(top, #E66AB8, #CE248C) !important;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#E66AB8), to(#CE248C)) !important;
    background-image: -webkit-linear-gradient(top, #E66AB8, #CE248C) !important;
    background-image: linear-gradient(top, #E66AB8, #CE248C) !important;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5) !important;
    color: #fff !important;
}
