<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}

    <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0" width="100%">
        {% for line in fieldset %}
            {% for field in line %}

                <tr class="{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
                    {% if field.is_checkbox %}
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field.field }}</td>
                    {% else %}
                        <td>
                            {{ field.label_tag }}
                        </td>
                        <td>
                            {% if field.is_readonly %}
                                {{ field.contents }}
                            {% else %}
                                {{ field.field }}
                            {% endif %}

                            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}

                            {% if field.field.field.help_text %}
                                <p class="help">{{ field.field.field.help_text|safe }}</p>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</fieldset>
