{% load i18n %}

{% block header-text %}
<div>
{% ifequal request.GET.status '1' %}
<div class="box-blue">
  <h2><strong>Thanks!</strong></h2>
  <p style="color:#CE248C;"><a href="/{{ event.pk }}" style="font-weight:normal;">Thanks for joining in the party, <span style="text-decoration:underline;">Click here </span> if you want to purchase some nails for the party?</a></p>
</div>
{% else %}
  {% ifequal request.GET.status '2' %}
    <div class="box-blue">
      <h2><strong>Sorry!</strong></h2>
      <p style="color:#CE248C;">We hope to see you in the next party.</p>
    </div>
  {% endifequal %}
{% endifequal %}
</div>
{% endblock %}


<div id="main_content">
    <div style="clear:both"></div>
    <img src="{% if is_email %}http://{{ event.owner.website.domain }}{% endif %}{{ event.photo.photo.url }}" {% if not is_admin %}width="550px"{% endif %} alt="">

    <div style="float:right;width:350px;margin-top:10px">
        <h2 style="border:0px !important">{{ event.name }}</h2>

        <div>{{ event.description|linebreaks }}</div>
        <h2 style="border:none !important">When</h2>

        <div style="margin-top:15px; margin-bottom:15px">{{ event.starts_at }}</div>
        <h2 style="border:0px !important">Where</h2>

        <div style="line-height:1.7em">{{ event.street }}</div>
        <div style="line-height:1.7em">{{ event.street2 }}</div>
        <div>{{ event.city }}, {{ event.state }} {{ event.postal_code }}</div>
        <div style="margin-top:20px; margin-bottom:20px">
          {% if is_attendee_status %}
	    {% if not request.GET.status %} 
              <form action="." method="post" accept-charset="utf-8" style="width:150px;">
                {% csrf_token %}
                {{ form }}
                <p><input class="add" type="submit" value="Submit"></p>
              </form>
	    {% endif %}
          {% else %}
            {% if is_email %}
              <a href="http://{{ event.owner.website.domain }}{% url events_attendee_status event.code code %}" class="add">{% trans "View on website" %}</a> | 
              <a href="http://{{ event.owner.website.domain }}{% url events_attendee_status event.code code %}?attend=1" class="add">{% trans "Attend" %}</a> | 
              <a href="http://{{ event.owner.website.domain }}{% url events_attendee_status event.code code %}?attend=2" class="add">{% trans "I am not able to attend" %}</a>
            {% else %}
              <a href="http://{{ event.owner.website.domain }}{% if is_admin %}{% url events_manager_attendees event.code %}{% else %}{% url events_attendees event.code %}{% endif %}" class="add" style="width:40%; float:left;">{% if is_admin %}{% trans "Invite Guests" %}{% else %}{% trans "Attend?" %}{% endif %}</a>
              {% if event.can_order %}<a href="{% if user.is_authenticated %}{% url manager_set_wholesale_discount %}?slug=Party&party={{ event.pk }}{% else %}{% url set_party_purchase %}?party={{ event.pk }}{% endif %}" class="add" style="width:40%; float:right;">Order</a> {% endif %}
          {% endif %}
          {% endif %}
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
