{% load i18n %}
<form action="" method="post" enctype="multipart/form-data" style="width:50% !important">
    {% csrf_token %}
    <div class="box closed">
        <div class="header no-icon">
            <h3>{% trans "Guest Information" %}</h3>
        </div>
        <fieldset class="module aligned">
            <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0">
                <tbody>
                {% for item in form %}
                    <tr class="">
                        <td>{{ item.label_tag }}</td>
                        <td>{{ item }} {% if item.help_text %}
                            <div>{{ item.help_text }}</div>{% endif %}{{ item.errors }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        <div class="form-field" style="margin:30px 0px">
            <input type="submit" class="add" name="id_submit" value="Submit" id="submit">
        </div>
</form>
</div>
<div style="clear:both"></div>