{% extends "manage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="main_content">
        <form action="" method="post" enctype="multipart/form-data" style="width:50% !important">
            {% csrf_token %}
            <div class="box">
              <div class="header no-icon">
                <h3>{% trans "Invite Guest" %}</h3>
              </div>
	      <div class="content">
		<fieldset class="module aligned" style="border:0px;">
                  <table class="left_align form_fields" style="margin:0px; " cellspacing="0" border="0" cellpadding="0">
                    <tbody>
                      {% for item in form %}
                      <tr class="">
			<td>{{ item.label_tag }}</td>
			<td>{{ item }} {% if item.help_text %}
                          <div>{{ item.help_text }}</div>{% endif %}{{ item.errors }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
		</fieldset>
	      </div>
              <div class="form-field" style="margin:30px 0px">
                <input type="submit" class="add" name="id_submit" value="{% if edit %}Update{% else %}Invite{% endif %}" id="submit">
              </div>
        </form>
	</div>
    <div style="clear:both"></div>
    </div>
{% endblock %}