{% extends "manage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.tables.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="main_content">
        <h2 class="grid_12">{{ event.name }}</h2>

        <div style="clear:both"></div>
        <div class="box">
            <div class="header no-icon">
                <h3>{% trans "Attendees" %}</h3>
                <span id="bill-info"></span>
            </div>
            <div class="content no-padding">
                <table class="table table-events">
                    <thead>
                    <tr>
                        <th>{% trans "Attendee" %}</th>
                        <th>{% trans "Email" %}</th>
                        <th>{% trans "Phone" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in event.attendee_set.all %}
                    <tr style="text-align:center;">
                            <td><a href="{% url events_attendee_edit code=event.code attendee_id=a.pk %}">{{ a.name }}</a></td>
                            <td>{{ a.email }}</td>
                            <td>{{ a.phone }}</td>
                            <td>{{ a.get_status_display }}</td>
                            <td><button class="button remove-guest" href="{% url events_attendee_list code=event.code %}" attendee_id="{{ a.pk }}">Remove</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="4" style="text-align:center;padding:5px 0px">{% trans "No one has been invited yet" %}</td>
                    </tr>
                    {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>

        <div style="float:right;width:100px;margin-top:10px; margin-bottom:50px">
            <a class="add"
               href="{% url events_manager_attendees event.code %}?next={% url events_attendee_list event.code %}">{% trans "Invite Guest?" %}</a>
        </div>
        <div style="clear:both"></div>
    </div>
    
{% endblock %}

{% block extra-js %}
<script>
    $(document).ready(function(){
        $(".remove-guest").click(function(e){
            url = $(e.currentTarget).attr("href");
            resource_id = $(e.currentTarget).attr("attendee_id");
            if(confirm("{% trans 'Are you sure you want to remove this guest from your party?' %}")){
                $.get(
                    url,
                    {"resource_id": resource_id},
                    function(data){
                        if (data.status === "Success"){
                            // Remove element from the DOM
                            $(e.currentTarget).parent().parent().remove()

                            // Display message
                            alert(data.message);
                        }
                    }, "json"
                );
            }
        });
    });
</script>
{% endblock %}
