{% extends "manage/base.html" %}

{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script>
{% endblock %}

{% block content %}
    {% include "events/_details.html" %}
{% endblock %}
