{% load i18n %}

<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
<style type="text/css" media="screen">
    .table-events {
        width: 100%;
    }

    input.add,
    a.add,
    input.add:hover,
    a.add:hover {
        border: 1px solid #CE248C;
        text-align: center;
        background: #CE248C !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#E66AB8', endColorstr = '#CE248C') !important;
        -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#E66AB8', endColorstr='#CE248C')" !important;
        background-image: -moz-linear-gradient(top, #E66AB8, #CE248C) !important;
        background-image: -ms-linear-gradient(top, #E66AB8, #CE248C) !important;
        background-image: -o-linear-gradient(top, #E66AB8, #CE248C) !important;
        background-image: -webkit-gradient(linear, center top, center bottom, from(#E66AB8), to(#CE248C)) !important;
        background-image: -webkit-linear-gradient(top, #E66AB8, #CE248C) !important;
        background-image: linear-gradient(top, #E66AB8, #CE248C) !important;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
        color: #fff !important;
    }

    a.add,
    button, input[type="submit"], input[type="reset"], a.button {
        display: block;
        /* Setting the height */
        height: 25px;
        line-height: 25px;
        width: auto;
        /* The padding */
        padding: 0 10px;
        /* And the beautiful style */
        border: 1px solid #c7c7c7;
        background: url(../img/sprites/buttons/normal/bg.png);
        border-radius: 5px;
        /* "useful if you don't want a bg color from leaking outside the border" */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        /* The shadow around */
        -webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
        -moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
        box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
    }
</style>

{% include "events/_details.html" %}
