{% extends "manage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }
    </style>
{% endblock %}

{% block extra-js %}

    <script type="text/javascript" charset="utf-8">
        var JAMBERRY = {};
        JAMBERRY.parties = {
            'name':"{{ consultant.name }}",
            'street':'{{ consultant.street }}',
            'street2':'{{ consultant.street2 }}',
            'city':'{{ consultant.city }}',
            'state':'{{ consultant.state }}',
            'postal_code':'{{ consultant.postal_code }}',
            'phone':'{{ consultant.phone }}',
            'email':'{{ consultant.email }}'
        }

        $('#id_ship_to_consultant').click(function () {
            if (this.checked == true) {
                $('#id_name').val(JAMBERRY.parties.name);
                $('#id_street').val(JAMBERRY.parties.street);
                $('#id_street2').val(JAMBERRY.parties.street2);
                $('#id_city').val(JAMBERRY.parties.city);
                $('#id_state').val(JAMBERRY.parties.state);
                $('#id_postal_code').val(JAMBERRY.parties.postal_code);
                $('#id_phone').val(JAMBERRY.parties.phone);
                $('#id_email').val(JAMBERRY.parties.email);
            } else {
                $('#form-step3')[0].reset();
            }
        });

    </script>

{% endblock %}

{% block content %}
    <div id="main_content">
        <form action="" id="form-step3" method="post" enctype="multipart/form-data" style="width:50% !important">
            {% csrf_token %}
            <div class="box closed">
                <div class="header no-icon">
                    <h3>{% trans "Ship to Info" %}</h3>
                </div>
                <fieldset class="module aligned">
                    <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0"
                           cellpadding="0">
                        <tbody>
                        <tr class="">
                            <td><label for="id_ship_to_consultant">Ship to consultant</label></td>
                            <td><input type="checkbox" name="ship_to_consultant" id="id_ship_to_consultant"></td>
                        </tr>
                        {% for item in form %}
                            <tr class="">
                                <td>{{ item.label_tag }}</td>
                                <td>{{ item }} {% if item.help_text %}
                                    <div>{{ item.help_text }}</div>{% endif %}{{ item.errors }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
                <div class="form-field" style="margin:30px 0px">
                    <input type="submit" class="add" name="id_submit" value="Finish" id="submit">
                </div>
        </form>
    </div>
    <div style="clear:both"></div>
    </div>
{% endblock %}
