{% extends "manage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block top %}
<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.wizard.css"> <!-- SPRITE: Wizard -->
<style>
  td{padding:3px 0px;}
</style>
<script type="text/javascript" charset="utf-8">
  var JAMBERRY = {};
  JAMBERRY.parties = {
    'first_name':"{{ consultant.first_name }}",
    'last_name':"{{ consultant.last_name }}",
    'street':'{{ consultant.street }}',
    'street2':'{{ consultant.street2 }}',
    'city':'{{ consultant.city }}',
    'state':'{{ consultant.state }}',
    'postal_code':'{{ consultant.postal_code }}',
    'phone':'{{ consultant.phone }}',
    'email':'{{ consultant.email }}'
  }
  
  function fillform(prefix){
    if(prefix=='id_host-'){
      $('#'+prefix+'first_name').val(JAMBERRY.parties.first_name);
      $('#'+prefix+'last_name').val(JAMBERRY.parties.last_name);  
    }else{
      $('#'+prefix+'name').val($.trim(JAMBERRY.parties.first_name+' '+JAMBERRY.parties.last_name));
    }
    $('#'+prefix+'street').val(JAMBERRY.parties.street);
    $('#'+prefix+'street2').val(JAMBERRY.parties.street2);
    $('#'+prefix+'city').val(JAMBERRY.parties.city);
    $('#'+prefix+'state').val(JAMBERRY.parties.state);
    $('#'+prefix+'postal_code').val(JAMBERRY.parties.postal_code);
    $('#'+prefix+'hostphone').val(JAMBERRY.parties.phone);
    $('#'+prefix+'email').val(JAMBERRY.parties.email);
  }

  function wizard_finish(){
    $('#event-tool').submit()
  }
</script>

{% endblock %}

{% block bottom %}
<script src="{{ STATIC_URL }}js/jquery.datetime.picker.js"></script>
<script>
  $('#id_event-starts_at').datetimepicker({'dateFormat':'mm/dd/yy', 'timeFormat':'hh:mm TT', 'ampm':true});  

  $('#id_is_host').click(function () {
    if (this.checked == true) {
      fillform('id_host-')
    } else {
      $('.host input, .host textarea, .host select').val('');
    }
  });
  $('#id_ship_to').click(function () {
    if (this.checked == true) {
      fillform('id_ship-')
    } else {
      $('.ship input, .ship textarea, .ship select').val('');
    }
  });
</script>
{% endblock %}

{% block content %}
<div id="main_content">
  {# <h2 class="grid_12">Wizard</h2> #}
  <div class="clean"></div>
  <div class="grid_12">
    <form method="POST" id="event-tool">
    {% csrf_token %}
    <div class="box wizard" data-step="1">
      <div class="header">
	<img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/application--arrow.png" alt="" width="16" height="16">
	<h3>Party Wizard</h3>
      </div>
      <div class="content">
	<div class="steps">
	  <ul>
	    <li class="current">
	      <a href="#step_1"> <span>1</span>
		<div>
		  <strong>Party Information</strong>
		  <small>
		    When &amp; Where ?
		  </small>
		</div>
	      </a>
	    </li>
	    <li>
	      <a href="#step_2"> <span>2</span>
		<div>
		  <strong>Host Information</strong>
		  <small>
		    Who's the host?
		  </small>
		</div>
	      </a>
	    </li>
	    <li>
	      <a href="#step_3"> <span>3</span>
		<div>
		  <strong>Shipping Info</strong>
		  <small>
		    Where should the party products be shipped?
		  </small>
		</div>
	      </a>
	    </li>
	  </ul>
	</div>
	<div class="wiz_page step_1">
	  <div class="wiz_sidebar grid_3">
	    <div>
	      <strong>Party Information</strong>
	      <small>
		When &amp; where are you organizing the party??
	      </small>
	    </div>
	  </div>
	  <div class="wiz_content grid_9">
	    <fieldset class="module aligned">
              <table class="left_align form_fields" style="margin:10px 0px; width:98%;" cellspacing="0" border="0" cellpadding="0">
		<tbody>
                  {% for item in event_form %}
                  <tr class="form_data">
                    <td style="width:20%;">{{ item.label_tag }}</td>
                    <td>
		      {{ item }}
		      {% if item.help_text %}
                      <div>{{ item.help_text }}</div>
		      {% endif %}
		      {{ item.errors }}
		    </td>
                  </tr>
                  {% endfor %}
		</tbody>
              </table>
            </fieldset>	    
	  </div>
	</div>

	<div class="wiz_page step_2">
	  <div class="wiz_sidebar grid_3">
	    <div>
	      <strong>Host Information</strong>
	      <small>
		Who is hosting the party?
	      </small>
	    </div>
	  </div>
	  <div class="wiz_content grid_9">
	    <fieldset class="module aligned">
              <table class="left_align form_fields" style="margin:10px 0px; width:98%;" cellspacing="0" border="0" cellpadding="0">
		<tbody>

                  <tr class="">
                    <td><label for="id_is_host">Is host</label></td>
                    <td>
		      <input type="checkbox" name="is_host" id="id_is_host">
                      <div>Consultant is the host</div>
                    </td>
                  </tr>


                  {% for item in host_form %}
                  <tr class="host form_data">
                    <td style="width:20%;">{{ item.label_tag }}</td>
                    <td>
		      {{ item }}
		      {% if item.help_text %}
                      <div>{{ item.help_text }}</div>
		      {% endif %}
		      {{ item.errors }}
		    </td>
                  </tr>
                  {% endfor %}
		</tbody>
              </table>
            </fieldset>
	  </div>
	</div>
	<div class="wiz_page step_3">
	  <div class="wiz_sidebar grid_3">
	    <div>
	      <strong>Shipping Information</strong>
	      <small>
		Where should the party orders be shipped?
	      </small>
	    </div>
	  </div>
	  <div class="wiz_content grid_9">
	    <fieldset class="module aligned">
              <table class="left_align form_fields" style="margin:10px 0px; width:98%;" cellspacing="0" border="0" cellpadding="0">
		<tbody>
                  <tr class="">
                    <td><label for="id_ship_to">Ship to consultant?</label></td>
                    <td>
		      <input type="checkbox" name="id_ship_to" id="id_ship_to">
                    </td>
                  </tr>


                  {% for item in ship_form %}
                  <tr class="ship form_data">
                    <td style="width:20%;">{{ item.label_tag }}</td>
                    <td>
		      {{ item }}
		      {% if item.help_text %}
                      <div>{{ item.help_text }}</div>
		      {% endif %}
		      {{ item.errors }}
		    </td>
                  </tr>
                  {% endfor %}
		</tbody>
              </table>
            </fieldset>
	  </div>
	</div>
      </div>
      <div class="actions">
	<div class="actions-left">
	  <button class="prev">&laquo; Back</button>
	</div>
	<div class="actions-right">
	  <button class="next">Forward &raquo;</button>
	</div>
      </div> <!-- End of .content -->
      <div class="clear"></div>
    </div> <!-- End of .box -->
    </form>
  </div> <!-- End of .grid_12 -->
  

{% endblock %}
