{% extends "manage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" charset="utf-8">
        // The datetime script does not want to load so I put it here so that it does! Lame.
        eval(function (p, a, c, k, e, r) {
            e = function (c) {
                return(c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
            };
            if (!''.replace(/^/, String)) {
                while (c--)r[e(c)] = k[c] || e(c);
                k = [function (e) {
                    return r[e]
                }];
                e = function () {
                    return'\\w+'
                };
                c = 1
            }
            ;
            while (c--)if (k[c])p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
            return p
        }('(q($){$.S.H=$.S.H||{};7($.S.H.3j){u}$.1H($.S,{H:{3j:"1.0.0"}});q 2M(){4.3l=[];4.3l[\'\']={6l:\'5N\',6n:\'5Q\',J:B,1z:[\'2H\',\'A\'],1G:[\'3q\',\'P\'],26:\'3w:3x 3h\',2j:\'\',5h:\'5u 3B\',4f:\'3B\',4v:\'5C\',42:\'6x\',3U:\'5M\',3V:\'5A\',4Z:\'3B 5L\'};4.8={5U:M,1E:B,2d:M,2z:M,2y:B,2x:B,2w:B,3N:M,2E:1,2K:1,2N:1,30:1,F:0,w:0,x:0,y:0,R:\'+1T\',1d:0,18:0,1c:0,17:0,1a:23,1o:59,1p:59,13:5I,1k:r,1j:r,2I:r,2u:0,2t:0,2Q:0,2R:0,4o:M,2Y:\' \',3M:M,25:M,27:B,1V:r,45:B,46:r};$.1H(4.8,4.3l[\'\'])};$.1H(2M.5K,{$15:r,$1M:r,$2L:r,1t:r,1y:r,1u:r,1v:r,1A:r,1F:r,F:0,w:0,x:0,y:0,R:\'+1T\',33:r,2s:r,2r:r,1Y:r,2J:r,2q:r,2p:r,2o:r,J:\'\',2n:\'\',1S:\'\',3H:\'\',1V:r,5P:q(a){4P(4.8,a||{});u 4},51:q(d,o){k e=K 2M(),32={};1N(k f 4c 4.8){k g=d.5V(\'5W:\'+f);7(g){3v{32[f]=5t(g)}3u(1P){32[f]=g}}}e.8=$.1H({},4.8,32,o,{3t:q(a,b){7($.3s(o.3t))u o.3t(a,b,e)},3r:q(a,b,c){e.1O(c);7($.3s(o.3r))o.3r.3W(d[0],a,b,c,e)},3p:q(a,b){7(e.20===M&&d.X()!=\'\')e.1O(b);7($.3s(o.3p))o.3p.3W(d[0],a,b,e)},H:e});e.1z=$.2e(e.8.1z,q(a){u a.24()});e.1G=$.2e(e.8.1G,q(a){u a.24()});7(e.8.1V===r){k h=[];1N(k i=-11;i<=12;i++)h.5G((i>=0?\'+\':\'-\')+(\'0\'+4Q.4W(i).1I()).1U(-2)+\'1W\');7(e.8.27)h=$.2e(h,q(a){u a==\'+1T\'?\'Z\':(a.1s(0,3)+\':\'+a.1s(3))});e.8.1V=h}e.F=e.8.F;e.w=e.8.w;e.x=e.8.x;e.y=e.8.y;e.J=\'\';e.$15=d;7(o.3Y)e.$1M=$(o.3Y).1x({2b:\'2m\'}).47(q(){d.48("47")});7(e.8.1C==0||e.8.1k==0){e.8.1C=K I()}7(e.8.1D==0||e.8.1j==0){e.8.1D=K I()}7(e.8.1C!==19&&e.8.1C 2a I)e.8.1k=K I(e.8.1C.1B());7(e.8.1k!==19&&e.8.1k 2a I)e.8.1C=K I(e.8.1k.1B());7(e.8.1D!==19&&e.8.1D 2a I)e.8.1j=K I(e.8.1D.1B());7(e.8.1j!==19&&e.8.1j 2a I)e.8.1D=K I(e.8.1j.1B());u e},3o:q(a){k b=(4.$1M&&4.8.3M)?4.$15.X()+\' \'+4.$1M.X():4.$15.X();4.20=4.2O(b);4.2P(a,B);4.57()},2O:q(a,b){k c=4.8.26.1I().Q(/h{1,2}/21,\'(\\\\d?\\\\d)\').Q(/m{1,2}/21,\'(\\\\d?\\\\d)\').Q(/s{1,2}/21,\'(\\\\d?\\\\d)\').Q(/l{1}/21,\'(\\\\d?\\\\d?\\\\d)\').Q(/t{1,2}/21,4.3X()).Q(/z{1}/21,\'(z|[-+]\\\\d\\\\d:?\\\\d\\\\d)?\').Q(/\\s/g,\'\\\\s?\')+4.8.2j+\'$\',U=4.43(),J=\'\',16;7(!4.1t)4.1t=$.9.1m(4.$15[0]);7(b||!4.8.1E){k d=$.9.L(4.1t,\'3n\');k e=K 49("[.*+?|()\\\\[\\\\]{}\\\\\\\\]","g");c=\'^.{\'+d.1b+\',}?\'+4.8.2Y.Q(e,"\\\\$&")+c}16=a.4d(K 49(c,\'i\'));7(16){7(U.t!==-1){7(16[U.t]===19||16[U.t].1b===0){J=\'\';4.J=\'\'}v{J=$.4e(16[U.t].24(),4.1z)!==-1?\'2H\':\'3q\';4.J=4.8[J==\'2H\'?\'1z\':\'1G\'][0]}}7(U.h!==-1){7(J==\'2H\'&&16[U.h]==\'12\')4.F=0;v 7(J==\'3q\'&&16[U.h]!=\'12\')4.F=(6F(16[U.h])+12).6I(0);v 4.F=3c(16[U.h])}7(U.m!==-1)4.w=3c(16[U.m]);7(U.s!==-1)4.x=3c(16[U.s]);7(U.l!==-1)4.y=3c(16[U.l]);7(U.z!==-1&&16[U.z]!==19){k f=16[U.z].24();4m(f.1b){1i 1:f=4.8.27?\'Z\':\'+1T\';3m;1i 5:7(4.8.27)f=f.1s(1)==\'1T\'?\'Z\':f.1s(0,3)+\':\'+f.1s(3);3m;1i 6:7(!4.8.27)f=f==\'Z\'||f.1s(1)==\'1W:1W\'?\'+1T\':f.Q(/:/,\'\');v 7(f.1s(1)==\'1W:1W\')f=\'Z\';3m}4.R=f}u M}u B},3X:q(){k b=[],o=4.8;7(o.1z)$.4J(b,o.1z);7(o.1G)$.4J(b,o.1G);b=$.2e(b,q(a){u a.Q(/[.*+?|()\\[\\]{}\\\\]/g,\'\\\\$&\')});u\'(\'+b.3g(\'|\')+\')?\'},43:q(){k a=4.8.26.2B().4d(/(h{1,2}|m{1,2}|s{1,2}|l{1}|t{1,2}|z)/g),2C={h:-1,m:-1,s:-1,l:-1,t:-1,z:-1};7(a)1N(k i=0;i<a.1b;i++)7(2C[a[i].1I().2D(0)]==-1)2C[a[i].1I().2D(0)]=i+1;u 2C},57:q(){k c=4.1t.5m,o=4.8,n=4,1a=Y((o.1a-((o.1a-o.1d)%o.2E)),10),1X=Y((o.1o-((o.1o-o.18)%o.2K)),10),2c=Y((o.1p-((o.1p-o.1c)%o.2N)),10),13=Y((o.13-((o.13-o.17)%o.30)),10),O=4.1t.1f.1I().Q(/([^A-5Z-6c-6f])/g,\'\');7(c.N("G#S-H-G-"+O).1b===0&&o.25){k d=\' 2g="6y:6D;"\',D=\'<G 14="S-H-G" 1f="S-H-G-\'+O+\'"><3Z>\'+\'<1l 14="5v" 1f="5x\'+O+\'"\'+((o.3N)?\'\':d)+\'>\'+o.4f+\'</1l>\'+\'<1q 14="6K" 1f="44\'+O+\'"\'+((o.3N)?\'\':d)+\'></1q>\'+\'<1l 14="5E" 1f="5F\'+O+\'"\'+((o.2d)?\'\':d)+\'>\'+o.4v+\'</1l>\',2k=0,2l=0,2S=0,2T=0,1w=r;D+=\'<1q 14="4a"><G 1f="4b\'+O+\'"\'+((o.2d)?\'\':d)+\'></G>\';7(o.2d&&o.2u>0){D+=\'<G 2g="2V-2W: 2X"><1h 14="S-4g-4k-3k"><1R>\';1N(k h=o.1d;h<=1a;h+=Y(o.2u,10)){2k++;k e=(o.J&&h>12)?h-12:h;7(e<10)e=\'0\'+e;7(o.J){7(h==0)e=12+\'a\';v 7(h<12)e+=\'a\';v e+=\'p\'}D+=\'<1r>\'+e+\'</1r>\'}D+=\'</1R></1h></G>\'}D+=\'</1q>\';D+=\'<1l 14="65" 1f="69\'+O+\'"\'+((o.2z)?\'\':d)+\'>\'+o.42+\'</1l>\'+\'<1q 14="4x"><G 1f="4y\'+O+\'"\'+((o.2z)?\'\':d)+\'></G>\';7(o.2z&&o.2t>0){D+=\'<G 2g="2V-2W: 2X"><1h 14="S-4g-4k-3k"><1R>\';1N(k m=o.18;m<=1X;m+=Y(o.2t,10)){2l++;D+=\'<1r>\'+((m<10)?\'0\':\'\')+m+\'</1r>\'}D+=\'</1R></1h></G>\'}D+=\'</1q>\';D+=\'<1l 14="6g" 1f="6k\'+O+\'"\'+((o.2y)?\'\':d)+\'>\'+o.3U+\'</1l>\'+\'<1q 14="4z"><G 1f="4A\'+O+\'"\'+((o.2y)?\'\':d)+\'></G>\';7(o.2y&&o.2Q>0){D+=\'<G 2g="2V-2W: 2X"><1h><1R>\';1N(k s=o.1c;s<=2c;s+=Y(o.2Q,10)){2S++;D+=\'<1r>\'+((s<10)?\'0\':\'\')+s+\'</1r>\'}D+=\'</1R></1h></G>\'}D+=\'</1q>\';D+=\'<1l 14="6s" 1f="6t\'+O+\'"\'+((o.2x)?\'\':d)+\'>\'+o.3V+\'</1l>\'+\'<1q 14="4C"><G 1f="4D\'+O+\'"\'+((o.2x)?\'\':d)+\'></G>\';7(o.2x&&o.2R>0){D+=\'<G 2g="2V-2W: 2X"><1h><1R>\';1N(k l=o.17;l<=13;l+=Y(o.2R,10)){2T++;D+=\'<1r>\'+((l<10)?\'0\':\'\')+l+\'</1r>\'}D+=\'</1R></1h></G>\'}D+=\'</1q>\';D+=\'<1l 14="6z" 1f="6A\'+O+\'"\'+((o.2w)?\'\':d)+\'>\'+o.4Z+\'</1l>\';D+=\'<1q 14="6C" 1f="4H\'+O+\'"\'+((o.2w)?\'\':d)+\'></1q>\';D+=\'</3Z></G>\';$W=$(D);7(o.1E===M){$W.6G(\'<G 14="S-6H-4K S-6J-5n S-5o-5p">\'+\'<G 14="S-9-5q">\'+o.5h+\'</G>\'+\'</G>\');c.N(\'.S-9-4K, .S-9-5r\').5s()}4.1y=$W.N(\'#4b\'+O).C({34:"35",E:4.F,1L:o.1d,V:1a,39:o.2E,3a:q(a,b){n.1y.C("1g","E",b.E);n.1n()}});4.1u=$W.N(\'#4y\'+O).C({34:"35",E:4.w,1L:o.18,V:1X,39:o.2K,3a:q(a,b){n.1u.C("1g","E",b.E);n.1n()}});4.1v=$W.N(\'#4A\'+O).C({34:"35",E:4.x,1L:o.1c,V:2c,39:o.2N,3a:q(a,b){n.1v.C("1g","E",b.E);n.1n()}});4.1A=$W.N(\'#4D\'+O).C({34:"35",E:4.y,1L:o.17,V:13,39:o.30,3a:q(a,b){n.1A.C("1g","E",b.E);n.1n()}});4.1F=$W.N(\'#4H\'+O).3A(\'<3i></3i>\').N("3i");$.3f.3A.29(4.1F,$.2e(o.1V,q(a,b){u $("<1g />").X(1e a=="1J"?a.E:a).40(1e a=="1J"?a.3k:a)}));4.1F.X((1e 4.R!="19"&&4.R!=r&&4.R!="")?4.R:o.R);4.1F.41(q(){n.1n()});7(o.2d&&o.2u>0){1w=22*2k*o.2u/(1a-o.1d);$W.N(".4a 1h").1x({1K:1w+"%",1Z:(1w/(-2*2k))+"%",3e:\'38\'}).N("1r").1Q(q(b){$(4).2f(q(){k h=$(4).D();7(o.J){k a=h.1s(2).2B(),2h=Y(h.1s(0,2),10);7(a==\'a\'){7(2h==12)h=0;v h=2h}v 7(2h==12)h=12;v h=2h+12}n.1y.C("1g","E",h);n.1n();n.28()}).1x({2b:\'2m\',1K:(22/2k)+\'%\',2G:\'2F\',3d:\'3b\'})})}7(o.2z&&o.2t>0){1w=22*2l*o.2t/(1X-o.18);$W.N(".4x 1h").1x({1K:1w+"%",1Z:(1w/(-2*2l))+"%",3e:\'38\'}).N("1r").1Q(q(a){$(4).2f(q(){n.1u.C("1g","E",$(4).D());n.1n();n.28()}).1x({2b:\'2m\',1K:(22/2l)+\'%\',2G:\'2F\',3d:\'3b\'})})}7(o.2y&&o.2Q>0){$W.N(".4z 1h").1x({1K:1w+"%",1Z:(1w/(-2*2S))+"%",3e:\'38\'}).N("1r").1Q(q(a){$(4).2f(q(){n.1v.C("1g","E",$(4).D());n.1n();n.28()}).1x({2b:\'2m\',1K:(22/2S)+\'%\',2G:\'2F\',3d:\'3b\'})})}7(o.2x&&o.2R>0){$W.N(".4C 1h").1x({1K:1w+"%",1Z:(1w/(-2*2T))+"%",3e:\'38\'}).N("1r").1Q(q(a){$(4).2f(q(){n.1A.C("1g","E",$(4).D());n.1n();n.28()}).1x({2b:\'2m\',1K:(22/2T)+\'%\',2G:\'2F\',3d:\'3b\'})})}k f=c.N(\'.S-9-6h\');7(f.1b)f.6j($W);v c.3A($W);4.$2L=$W.N(\'#44\'+O);7(4.1t!==r){k g=4.20;4.1n();4.20=g}k i=q(){n.28()};4.1y.36(\'31\',i);4.1u.36(\'31\',i);4.1v.36(\'31\',i);4.1A.36(\'31\',i);7(4.8.45){k j=4.8.46;6o(q(){7($W.N(\'.S-C-4h\').1b==0){$W.N(\'.S-C:4i\').6u(j);k b=$W.N(\'.S-C-4h:6w(0)\').4j(M);7(b){$W.N(\'1h:4i\').1Q(q(){k a=$(4),3y=a.4j(),4l=a.1x(\'1Z\').1I().Q(\'%\',\'\'),3z=3y-b,4n=((4l*3z)/3y)+\'%\';a.1x({1K:3z,1Z:4n})})}}},0)}}},2P:q(a,b){k o=4.8,2i=K I(a.4p,a.4q,a.4r);7(!4.8.25)u;7($.9.L(a,\'1k\')!==r&&$.9.L(a,\'1k\')!==19&&2i){k c=$.9.L(a,\'1k\'),4s=K I(c.4t(),c.4u(),c.2A(),0,0,0,0);7(4.33===r||4.2s===r||4.2r===r||4.1Y===r){4.33=o.1d;4.2s=o.18;4.2r=o.1c;4.1Y=o.17}7(a.4w.1E||4s.1B()==2i.1B()){4.8.1d=c.3C();7(4.F<=4.8.1d){4.F=4.8.1d;4.8.18=c.3D();7(4.w<=4.8.18){4.w=4.8.18;4.8.1c=c.3E()}v 7(4.x<=4.8.1c){4.x=4.8.1c;4.8.17=c.3F()}v{7(4.y<4.8.17)4.y=4.8.17;4.8.17=4.1Y}}v{4.8.18=4.2s;4.8.1c=4.2r;4.8.17=4.1Y}}v{4.8.1d=4.33;4.8.18=4.2s;4.8.1c=4.2r;4.8.17=4.1Y}}7($.9.L(a,\'1j\')!==r&&$.9.L(a,\'1j\')!==19&&2i){k d=$.9.L(a,\'1j\'),4B=K I(d.4t(),d.4u(),d.2A(),0,0,0,0);7(4.2J===r||4.2q===r||4.2p===r){4.2J=o.1a;4.2q=o.1o;4.2p=o.1p;4.2o=o.13}7(a.4w.1E||4B.1B()==2i.1B()){4.8.1a=d.3C();7(4.F>=4.8.1a){4.F=4.8.1a;4.8.1o=d.3D();7(4.w>=4.8.1o){4.w=4.8.1o;4.8.1p=d.3E()}v 7(4.x>=4.8.1p){4.x=4.8.1p;4.8.13=d.3F()}v{7(4.y>4.8.13)4.y=4.8.13;4.8.13=4.2o}}v{4.8.1o=4.2q;4.8.1p=4.2p;4.8.13=4.2o}}v{4.8.1a=4.2J;4.8.1o=4.2q;4.8.1p=4.2p;4.8.13=4.2o}}7(b!==19&&b===M){k e=Y((4.8.1a-((4.8.1a-4.8.1d)%4.8.2E)),10),1X=Y((4.8.1o-((4.8.1o-4.8.18)%4.8.2K)),10),2c=Y((4.8.1p-((4.8.1p-4.8.1c)%4.8.2N)),10),13=Y((4.8.13-((4.8.13-4.8.17)%4.8.30)),10);7(4.1y)4.1y.C("1g",{1L:4.8.1d,V:e}).C(\'E\',4.F);7(4.1u)4.1u.C("1g",{1L:4.8.18,V:1X}).C(\'E\',4.w);7(4.1v)4.1v.C("1g",{1L:4.8.1c,V:2c}).C(\'E\',4.x);7(4.1A)4.1A.C("1g",{1L:4.8.17,V:13}).C(\'E\',4.y)}},1n:q(){k a=(4.1y)?4.1y.C(\'E\'):B,w=(4.1u)?4.1u.C(\'E\'):B,x=(4.1v)?4.1v.C(\'E\'):B,y=(4.1A)?4.1A.C(\'E\'):B,R=(4.1F)?4.1F.X():B,o=4.8;7(1e(a)==\'1J\')a=B;7(1e(w)==\'1J\')w=B;7(1e(x)==\'1J\')x=B;7(1e(y)==\'1J\')y=B;7(1e(R)==\'1J\')R=B;7(a!==B)a=Y(a,10);7(w!==B)w=Y(w,10);7(x!==B)x=Y(x,10);7(y!==B)y=Y(y,10);k b=o[a<12?\'1z\':\'1G\'][0];k c=(a!=4.F||w!=4.w||x!=4.x||y!=4.y||(4.J.1b>0&&(a<12)!=($.4e(4.J.24(),4.1z)!==-1))||R!=4.R);7(c){7(a!==B)4.F=a;7(w!==B)4.w=w;7(x!==B)4.x=x;7(y!==B)4.y=y;7(R!==B)4.R=R;7(!4.1t)4.1t=$.9.1m(4.$15[0]);4.2P(4.1t,M)}7(o.J)4.J=b;4.1S=$.9.3G(4.8.26,4,4.8);7(4.$2L)4.$2L.40(4.1S+o.2j);4.20=M;7(c)4.1O()},28:q(){k a=4.8.2I;k b=4.$15?4.$15[0]:r;7(a&&b){a.29(b,[4.3H,4])}},5w:q(a,b){a=a||{F:4.F,w:4.w,x:4.x,y:4.y,J:4.J,R:4.R};k c=(b||4.8.26).1I();c=$.9.3G(c,a,4.8);7(2U.1b)u c;v 4.1S=c},1O:q(a){a=4.1t||a;k b=$.9.5y(K I(a.4p,a.4q,a.4r)),4E=$.9.L(a,\'3n\'),4F=$.9.5B(a),4G=b!==r&&4.20;4.2n=$.9.5D(4E,(b===r?K I():b),4F);k c=4.2n;7(a.3I!==19&&(a.3I.1b>0&&4.$15.X().1b===0))u;7(4.8.1E===M){c=4.1S}v 7(4.8.1E!==M&&(4.8.4o||4G)){c+=4.8.2Y+4.1S+4.8.2j}4.3H=c;7(!4.8.25){4.$15.X(4.2n)}v 7(4.$1M&&4.8.3M===M){4.$1M.X(4.1S);4.$15.X(4.2n)}v 7(4.$1M){4.$1M.X(c);4.$15.X(c)}v{4.$15.X(c)}4.$15.48("41")}});$.3f.1H({H:q(o){o=o||{};k a=2U;7(1e o==\'1J\')a[0]=$.1H(o,{1E:M});u $(4).1Q(q(){$.3f.4I.29($(4),a)})},4I:q(o){o=o||{};3J=2U;7(1e(o)==\'3K\'){7(o==\'2A\')u $.3f.9.29($(4[0]),3J);v u 4.1Q(q(){k a=$(4);a.9.29(a,3J)})}v u 4.1Q(q(){k a=$(4);a.9($.H.51(a,o).8)})}});$.9.3G=q(b,c,d){d=d||{};d=$.1H($.H.8,d);c=$.1H({F:0,w:0,x:0,y:0,R:\'+1T\'},c);k e=b;k f=d[\'1z\'][0];k g=Y(c.F,10);7(d.J){7(g>11){f=d[\'1G\'][0];7(g>12)g=g%12}7(g===0)g=12}e=e.Q(/(?:3w?|3x?|4L?|[4M]{1,2}|[5H])/g,q(a){4m(a.2B()){1i\'3w\':u(\'0\'+g).1U(-2);1i\'h\':u g;1i\'3x\':u(\'0\'+c.w).1U(-2);1i\'m\':u c.w;1i\'4L\':u(\'0\'+c.x).1U(-2);1i\'s\':u c.x;1i\'l\':u(\'1W\'+c.y).1U(-3);1i\'z\':u c.R;1i\'t\':1i\'3h\':7(d.J){7(a.1b==1)f=f.2D(0);u a.2D(0)==\'T\'?f.24():f.2B()}u\'\'}});e=$.5J(e);u e};$.9.3L=$.9.4N;$.9.4N=q(a,b){k c=4.1m($(a)[0]),n=4.L(c,\'H\');7(n){n.2P(c,M);c.4O=c.2Z=M;4.3L(a,b);c.4O=c.2Z=B;4.5O(c);4.2v(c)}v 4.3L(a,b)};$.9.4R=$.9.2v;$.9.2v=q(a){k b=a.15[0];7($.9.4S&&$.9.4S!=a&&$.9.5R&&$.9.5S!=b){u}7(1e(a.2Z)!==\'5T\'||a.2Z===B){4.4R(a);k c=4.L(a,\'H\');7(c)c.3o(a)}};$.9.4T=$.9.4U;$.9.4U=q(a){k b=$.9.1m(a.4V),n=$.9.L(b,\'H\');7(n){7($.9.L(b,\'5X\')){k c=n.8.J,3O=$.9.5Y($.9.L(b,\'3n\')),4X=n.8.26.1I().Q(/[61]/g,\'\').Q(/62/g,c?\'63\':\'\').Q(/64/g,c?\'4Y\':\'\').Q(/4M/g,c?\'4Y\':\'\').Q(/T/g,c?\'66\':\'\').Q(/3h/g,c?\'67\':\'\').Q(/t/g,c?\'68\':\'\')+" "+n.8.2Y+n.8.2j+(n.8.2w?n.8.1V.3g(\'\'):\'\')+(n.8.1z.3g(\'\'))+(n.8.1G.3g(\'\'))+3O,3P=6a.6b(a.50===19?a.6d:a.50);u a.6e||(3P<\' \'||!3O||4X.3Q(3P)>-1)}}u $.9.4T(a)};$.9.52=$.9.53;$.9.53=q(a){k b=$.9.1m(a.4V),n=$.9.L(b,\'H\');7(n){7(n.8.1E&&(b.15.X()!=b.3I)){3v{$.9.2v(b)}3u(1P){$.9.6i(1P)}}}u $.9.52(a)};$.9.54=$.9.55;$.9.55=q(a){k b=4.1m($(a)[0]),$56=b.5m;4.54(a);k c=K I();k d=4.L(b,\'H\');7(d&&d.8.2w&&d.1F){k e=c.6m();k f=e>0?\'-\':\'+\';e=4Q.4W(e);k g=e%60;e=f+(\'0\'+(e-g)/60).1U(-2)+(\'0\'+g).1U(-2);7(d.8.27)e=e.1s(0,3)+\':\'+e.1s(3);d.1F.X(e)}4.3R(b,c);$(\'.S-9-6p\',$56).2f()};$.9.6q=q(a,b,c){k d=4.1m(a),n=4.L(d,\'H\');$(a).9(\'2A\');7(n){n.8.25=B;n.1O(d)}};$.9.6r=q(a,b,c){k d=4.1m(a),n=4.L(d,\'H\');$(a).9(\'2A\');7(n){n.8.25=M;n.3o(d);n.1O(d)}};$.9.3R=q(a,b){k c=4.L(a,\'H\');7(c){k d=c.8,F=b?b.3C():d.F,w=b?b.3D():d.w,x=b?b.3E():d.x,y=b?b.3F():d.y;7((F<d.1d||F>d.1a)||(w<d.18||w>d.1o)||(x<d.1c||x>d.1p)||(y<d.17||y>d.13)){F=d.1d;w=d.18;x=d.1c;y=d.17}c.F=F;c.w=w;c.x=x;c.y=y;7(c.1y)c.1y.C(\'E\',F);7(c.1u)c.1u.C(\'E\',w);7(c.1v)c.1v.C(\'E\',x);7(c.1A)c.1A.C(\'E\',y);c.1n();c.1O(a)}};$.9.58=q(a,b,c){k d=4.1m(a),n=4.L(d,\'H\');7(n){4.5a(d);k e;7(b){7(1e b=="3K"){n.2O(b,c);e=K I();e.5b(n.F,n.w,n.x,n.y)}v e=K I(b.1B());7(e.1I()==\'6v I\')e=19;4.3R(d,e)}}};$.9.5c=$.9.5d;$.9.5d=q(a,b){k c=4.1m(a),5e=(b 2a I)?K I(b.1B()):b;4.2v(c);4.5c.29(4,2U);4.58(a,5e,M)};$.9.5f=$.9.5g;$.9.5g=q(a,b){k c=4.1m(a),n=4.L(c,\'H\');7(n){4.5a(c,b);k d=4.6B(c);7(d&&n.2O($(a).X(),n.1E))d.5b(n.F,n.w,n.x,n.y);u d}u 4.5f(a,b)};$.9.3S=$.9.5i;$.9.5i=q(a,b,c){k d;3v{d=4.3S(a,b,c)}3u(1P){7(1P.3Q(":")>=0){d=4.3S(a,b.1s(0,b.1b-(1P.1b-1P.3Q(\':\')-2)),c)}v{6E 1P;}}u d};$.9.5j=$.9.5k;$.9.5k=q(a,b,c,d){k e=4.L(a,\'H\');7(e){e.1O(a);u e.$15.X()}u 4.5j(a)};$.9.3T=$.9.5l;$.9.5l=q(a,b,c){k d=4.1m(a),n=4.L(d,\'H\');7(n){k e=r,V=r,37=r;7(1e b==\'3K\'){7(b===\'1C\'||b===\'1k\')e=c;v 7(b===\'1D\'||b===\'1j\')V=c;v 7(b===\'2I\')37=c}v 7(1e b==\'1J\'){7(b.1C)e=b.1C;v 7(b.1k)e=b.1k;v 7(b.1D)V=b.1D;v 7(b.1j)V=b.1j}7(e){7(e==0)e=K I();v e=K I(e);n.8.1C=e;n.8.1k=e}v 7(V){7(V==0)V=K I();v V=K I(V);n.8.1D=V;n.8.1j=V}v 7(37)n.8.2I=37}7(c===19)u 4.3T(a,b);u 4.3T(a,b,c)};q 4P(a,b){$.1H(a,b);1N(k c 4c b)7(b[c]===r||b[c]===19)a[c]=b[c];u a};$.H=K 2M();$.H.3j="1.0.0"})(5z);', 62, 419, '||||this|||if|_defaults|datepicker|||||||||||var|||tp_inst|||function|null|||return|else|minute|second|millisec|||false|slider|html|value|hour|div|timepicker|Date|ampm|new|_get|true|find|dp_id||replace|timezone|ui||order|max|tp|val|parseInt|||||millisecMax|class|input|treg|millisecMin|minuteMin|undefined|hourMax|length|secondMin|hourMin|typeof|id|option|table|case|maxDateTime|minDateTime|dt|_getInst|_onTimeChange|minuteMax|secondMax|dd|td|substring|inst|minute_slider|second_slider|size|css|hour_slider|amNames|millisec_slider|getTime|minDate|maxDate|timeOnly|timezone_select|pmNames|extend|toString|object|width|min|altInput|for|_updateDateTime|err|each|tr|formattedTime|0000|slice|timezoneList|00|minMax|millisecMinOriginal|marginLeft|timeDefined|ig|100||toUpperCase|showTimepicker|timeFormat|timezoneIso8609|_onSelectHandler|apply|instanceof|cursor|secMax|showHour|map|click|style|aph|dp_date|timeSuffix|hourGridSize|minuteGridSize|pointer|formattedDate|millisecMaxOriginal|secondMaxOriginal|minuteMaxOriginal|secondMinOriginal|minuteMinOriginal|minuteGrid|hourGrid|_updateDatepicker|showTimezone|showMillisec|showSecond|showMinute|getDate|toLowerCase|orders|charAt|stepHour|center|textAlign|AM|onSelect|hourMaxOriginal|stepMinute|timeObj|Timepicker|stepSecond|_parseTime|_limitMinMaxDateTime|secondGrid|millisecGrid|secondGridSize|millisecGridSize|arguments|padding|left|1px|separator|stay_open|stepMillisec|slidestop|inlineSettings|hourMinOriginal|orientation|horizontal|bind|onselect|collapse|step|slide|hidden|Number|overflow|borderCollapse|fn|join|tt|select|version|label|regional|break|dateFormat|_addTimePicker|onClose|PM|onChangeMonthYear|isFunction|beforeShow|catch|try|hh|mm|oldWidth|newWidth|append|Time|getHours|getMinutes|getSeconds|getMilliseconds|formatTime|formattedDateTime|lastVal|tmp_args|string|_base_selectDate|altFieldTimeOnly|showTime|dateChars|chr|indexOf|_setTime|_base_parseDate|_base_optionDatepicker|secondText|millisecText|call|_getPatternAmpm|altField|dl|text|change|minuteText|_getFormatPositions|ui_tpicker_time_|addSliderAccess|sliderAccessArgs|focus|trigger|RegExp|ui_tpicker_hour|ui_tpicker_hour_|in|match|inArray|timeText|tpicker|access|visible|outerWidth|grid|oldMarginLeft|switch|newMarginLeft|alwaysSetTime|selectedYear|selectedMonth|selectedDay|minDateTimeDate|getFullYear|getMonth|hourText|settings|ui_tpicker_minute|ui_tpicker_minute_|ui_tpicker_second|ui_tpicker_second_|maxDateTimeDate|ui_tpicker_millisec|ui_tpicker_millisec_|dateFmt|formatCfg|timeAvailable|ui_tpicker_timezone_|datetimepicker|merge|header|ss|tT|_selectDate|inline|extendRemove|Math|_base_updateDatepicker|_curInst|_base_doKeyPress|_doKeyPress|target|abs|datetimeChars|AaPpMm|timezoneText|charCode|_newInst|_base_doKeyUp|_doKeyUp|_base_gotoToday|_gotoToday|dp|_injectTimePicker|_setTimeDatepicker||_setDateFromField|setHours|_base_setDateDatepicker|_setDateDatepicker|tp_date|_base_getDateDatepicker|_getDateDatepicker|timeOnlyTitle|parseDate|_base_formatDate|_formatDate|_optionDatepicker|dpDiv|clearfix|corner|all|title|calendar|hide|eval|Choose|ui_tpicker_time_label|_formatTime|ui_tpicker_time_label_|_daylightSavingAdjust|jQuery|Millisecond|_getFormatConfig|Hour|formatDate|ui_tpicker_hour_label|ui_tpicker_hour_label_|push|lz|999|trim|prototype|Zone|Second|Now|_notifyChange|setDefaults|Done|_datepickerShowing|_lastInput|boolean|showButtonPanel|attr|time|constrainInput|_possibleChars|Za||hms|TT|APM|Tt|ui_tpicker_minute_label|AP|apm|ap|ui_tpicker_minute_label_|String|fromCharCode|z0|keyCode|ctrlKey|9_|ui_tpicker_second_label|buttonpane|log|before|ui_tpicker_second_label_|currentText|getTimezoneOffset|closeText|setTimeout|today|_disableTimepickerDatepicker|_enableTimepickerDatepicker|ui_tpicker_millisec_label|ui_tpicker_millisec_label_|sliderAccess|Invalid|eq|Minute|display|ui_tpicker_timezone_label|ui_tpicker_timezone_label_|_getDate|ui_tpicker_timezone|none|throw|parseFloat|prepend|widget|toFixed|helper|ui_tpicker_time'.split('|'), 0, {}))
				
	$('#id_starts_at').datetimepicker({'dateFormat':'mm/dd/yy', 'timeFormat':'hh:mm TT', 'ampm':true});

    </script>
{% endblock %}

{% block content %}
    {# form.starts_at.value #}
    <div id="main_content">
      <form action="" method="post" enctype="multipart/form-data" style="width:50% !important">
        {% csrf_token %}
        <div class="box closed">
          <div class="header no-icon">
            <h3>{% trans "Party Info" %}</h3>
          </div>
          <fieldset class="module aligned">
            <table class="left_align form_fields" style="margin:0px;" cellspacing="0" border="0" cellpadding="0">
              <tbody>
                {% for item in form %}
                <tr class="">
                  <td>{{ item.label_tag }}</td>
                  <td>
		    {{ item }}
		    {% if item.help_text %}
                    <div>{{ item.help_text }}</div>
		    {% endif %}
		    {{ item.errors }}
		  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </fieldset>
          <div class="form-field" style="margin:30px 0px">
            <input type="submit" class="add" name="id_submit" value="Continue" id="submit">
          </div>
      </form>
      </div>
      <div style="clear:both"></div>
    </div>
{% endblock %}
