{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }

        input.add,
        a.add,
        input.add:hover,
        a.add:hover {
            border: 1px solid #CE248C;
            text-align: center;
            background: #CE248C !important;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#E66AB8', endColorstr = '#CE248C') !important;
            -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#E66AB8', endColorstr='#CE248C')" !important;
            background-image: -moz-linear-gradient(top, #E66AB8, #CE248C) !important;
            background-image: -ms-linear-gradient(top, #E66AB8, #CE248C) !important;
            background-image: -o-linear-gradient(top, #E66AB8, #CE248C) !important;
            background-image: -webkit-gradient(linear, center top, center bottom, from(#E66AB8), to(#CE248C)) !important;
            background-image: -webkit-linear-gradient(top, #E66AB8, #CE248C) !important;
            background-image: linear-gradient(top, #E66AB8, #CE248C) !important;
            box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5) !important;
            color: #fff !important;
        }

        a.add,
        button, input[type="submit"], input[type="reset"], a.button {
            display: block;
            /* Setting the height */
            height: 25px;
            line-height: 25px;
            width: auto;
            /* The padding */
            padding: 0 10px;
            /* And the beautiful style */
            border: 1px solid #c7c7c7;
            background: url(../img/sprites/buttons/normal/bg.png);
            border-radius: 5px;
            /* "useful if you don't want a bg color from leaking outside the border" */
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            /* The shadow around */
            -webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
            -moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
            box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1) !important;
        }

        .total span {
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block extra-js %}
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script>
{% endblock %}

{% block content %}
    <div id="main_content">
        <h3>{{ event.name }}</h3>

        <div class="content" style="width:300px; margin-right:30px; display:inline-block">
            <h4>Attendees</h4>
            <table class="table-events">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "status" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for attendee in attendees %}
                    <tr style="text-align:center">
                        <td>{{ attendee.name }}</td>
                        <td>{{ attendee.get_status_display }}</td>
                    </tr>
                {% empty %}
                    <td colspan="2" style="text-align:center;padding:5px 0px">{% trans "There are no attendees." %}</td>
                {% endfor %}
                <tbody>
            </table>

            <a style="width:100px" href="{% url events_attendees event.code %}"
               class="add">{% trans "Invite Guests" %}</a>

        </div>

        <div class="content"
             style="width:550px; display:inline-block; vertical-align:top; margin-bottom:6px !important">
            <h4>Sales</h4>
            <table class="table-events">
                <thead>
                <tr>
                    <th>{% trans "Item" %}</th>
                    <th>{% trans "Quantity" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for p, quantity in orders.items %}
                    <tr style="text-align:center">
                        <td>{{ p.name }}</td>
                        <td>{{ quantity|floatformat:'0' }}</td>
                    </tr>
                {% empty %}
                    <td colspan="2" style="text-align:center;padding:5px 0px">{% trans "No Items sold yet" %}</td>
                {% endfor %}
                <tbody>
            </table>
            {# <div class="total" style="text-align: right; padding-right:10px"><span>Total Sales</span> $0.00</div>#}
        </div>

    </div>
{% endblock %}
