{% extends "manage/base.html" %}
{% load i18n %}
{% block title %}{% trans "Party Manager" %}{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <style type="text/css" media="screen">
        .table-events {
            width: 100%;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="main_content">
        <h2 class="grid_12">{% trans "Parties" %}</h2>

        <div style="clear:both"></div>
        <div style="float:right;width:100px;margin-top:10px">
            <a class="add" href="{% url events_tool %}">{% trans "Create a Party" %}</a>
        </div>
        <div style="clear:both"></div>
        <div class="box">
            <div class="header no-icon">
                <h3>{% trans "Active Parties" %}</h3>
                <span id="bill-info"></span>
            </div>

            <div class="content no-padding">
                <table class="table table-events">
                    <thead>
                    <tr>
		        {% comment %}
                        <th>{% trans "Edit" %}</th>
                        <th>{% trans "Guest List" %}</th>
                        <th>{% trans "Site Preview" %}</th>
			{% endcomment %}
			<th>{% trans "Actions" %}</th>
                        <th>{% trans "Party" %}</th>
                        <th>{% trans "Host Name" %}</th>
                        <th>{% trans "Host Email" %}</th>
                        <th>{% trans "Party Date &amp; Time" %}</th>
                        <th>{% trans "City, State" %}</th>
                        <th>{% trans "Party Status" %}</th>
                        <th>{% trans "Shop" %}</th>
                        <th>{% trans "Orders" %}</th>
                        <th>{% trans "Order Total" %}</th>
			<th>{% trans "Hostess Reward" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in future_events %}
                        <tr style="text-align:center">
			    {% comment %}
                            <td>{% if c.can_order %}<a href="{% url events_tool_edit c.pk %}">{% trans "Edit" %}</a>{% else %}Party Over{% endif %}</td>
                            <td><a href="{% url events_attendee_list c.code %}">{% trans "View" %}</a></td>
                            <td><a href="{% url events_detail c.code %}">{% trans "Preview" %}</a></td>
			    {% endcomment %}
			    <td style="width:75px;">
			      {% if c.can_order %}<a href="{% url events_tool_edit c.pk %}">{% trans "Edit Party" %}</a><br/>{% endif %}
			      <a href="{% url events_attendee_list c.code %}">{% trans "View Guests" %}</a><br/>
			      <a href="{% url events_detail c.code %}">{% trans "Preview Site" %}</a>
			    </td>
                            <td><a href="{% url events_manager_detail c.code %}">{{ c.name }}</a></td>
                            <td>{{ c.host.name }}</td>
                            <td>{{ c.host.email }}</td>
                            <td>{{ c.starts_at }}</td>
                            <td>{{ c.city }}, {{ c.state }}</td>
                            <td>{{ c.get_status_display }}</td>
			    <td>
			      {% if c.can_order %}
			      <a href="{% url manager_set_wholesale_discount %}?slug=Party&party={{ c.pk }}">Shop</a>
			      {% else %}
			      Party Over
			      {% endif %}
			    </td>
                            <td style="width:220px;">
                                {% for o in c.orders %}
                                    {% if not forloop.first %}, {% endif %}<a
                                        href="{% url manager_party_order_details c.pk o.pk %}">{{ o.pk }}</a>
                                {% endfor %}
                            </td>
			    <td>
			      {{ c.orders_total|floatformat:2 }}
			    </td>
			    <td style="width:100px;">
			      {% if not c.redeemed_hostess_reward %}
			      <a class="button redeem_award" href="javascript:void(0)" data-url="{% url manager_redeem_hostess_rewards c.pk %}" data-closed="{% ifnotequal c.get_status_display "Closed" %}false{% else %}true{% endifnotequal%}">Redeem</a>
			      {% else %}
			      Already Redemeed
			      {% endif %}
			    </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10"
                                style="text-align:center;padding:5px 0px">{% trans "There are no parties." %}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>

        <div class="box">
            <div class="header no-icon">
                <h3>{% trans "Requested Parties" %}</h3>
                <span id="bill-info"></span>
            </div>

            <div class="content no-padding">
                <table class="table-events table">
                    <thead>
                    <tr>
                        <th>{% trans "Edit" %}</th>
                        <th>{% trans "Party" %}</th>
                        <th>{% trans "Host Name" %}</th>
                        <th>{% trans "Host Email" %}</th>
                        <th>{% trans "Party Date &amp; Time" %}</th>
                        <th>{% trans "City, State" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in requested %}
                        <tr>
                            <td><a href="{% url events_tool_edit c.pk %}">{% trans "Edit" %}</a></td>
                            <td><a href="{% url events_manager_detail c.code %}">{{ c.name }}</a></td>
                            <td>{{ c.host.name }}</td>
                            <td>{{ c.host.email }}</td>
                            <td>{{ c.starts_at }}</td>
                            <td>{{ c.city }}, {{ c.state }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7"
                                style="text-align:center;padding:5px 0px">{% trans "There are no parties." %}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>

        <div class="box">
            <div class="header no-icon">
                <h3>{% trans "Past Parties" %}</h3>
                <span id="bill-info"></span>
            </div>
            <div class="content no-padding">
                <table class="table-events table style">
                    <thead>
                    <tr>
                        <th>{% trans "Party" %}</th>
                        <th>{% trans "Host Name" %}</th>
                        <th>{% trans "Host Email" %}</th>
                        <th>{% trans "Party Date &amp; Time" %}</th>
                        <th>{% trans "City,State" %}</th>
                        <th>{% trans "Party Status" %}</th>
                        <th>{% trans "Total Sales" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in past_events %}
                        <tr>
                            <td><a href="{% url events_manager_detail c.code %}">{{ c.name }}</a></td>
                            <td>{{ c.host.name }}</td>
                            <td>{{ c.host.email }}</td>
                            <td>{{ c.starts_at }}</td>
                            <td>{% if c.city and c.state %}{{ c.city }}, {{ c.state }}{% endif %}</td>
                            <td>{{ c.get_status_display }}</td>
                            <td>{{ c.orders_total|floatformat:2 }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7"
                                style="text-align:center;padding:5px 0px">{% trans "There are no parties." %}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>
        <div style="float:right;width:100px;margin-top:10px; margin-bottom:50px">
            <a class="add" href="{% url events_tool %}">{% trans "Create a Party" %}</a>
        </div>
        <div style="clear:both"></div>
    </div>
{% endblock %}


{% block bottom %}
    <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
    <script defer src="{{ STATIC_URL}}manage/js/mylibs/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL}}manage/css/sprite.tables.css">
    <script>
      $(document).ready(function(){
        $('.redeem_award').click(function(){
          is_closed=($(this).attr('data-closed')=='false')?false:true
          reward_url=$(this).attr('data-url')
          if(is_closed){
            //redirect
            window.location = reward_url
          }else{
            //confirm
            $.fallr({
               content : "Are you sure? <br/> Your party will be closed if you redeem the rewards.",
               buttons : {
                   button1 : {text: 'Submit', onclick: function(){window.location = reward_url}},
                   button4 : {text: 'Cancel'}
               }
            });
          }
        })
      })
    </script>
{% endblock %}
