{% extends "manage/base.html" %}
{% block title %}Remove Party{% endblock %}


{% block content %}
    <div id="main_content">
        <h2 class="grid_12">Remove Party</h2>

        <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">

        {% for field in form %}
            <div class="form-field">{{ field.labels_tag }} {{ field }}</div>
        {% endfor %}

{% endblock %}