{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/tables.css"/>
{% endblock %}

{% if not is_popup %}

    {% block breadcrumbs %}
        <div class="breadcrumbs"><a href="../">
            {% trans "Dashboard" %}</a>
            {% for app in app_list %}
                {% blocktrans with app.name as name %}<span>{{ name }}</span>{% endblocktrans %}
            {% endfor %}</div>{% endblock %}

{% endif %}

{% block content %}
    <div id="content-main">
        {% url admin:index as root_path %}

        {% if app_list %}
            {% for app in app_list %}
                <div class="module">
                    <table summary="
                            {% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}"
                           cellspacing="0" border="0" cellpadding="0" width="100%">
                        <caption><a href="{{ app.app_url }}" class="section">
                            {% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
                        {% for model in app.models %}
                            <tr>
                                {% if model.perms.change %}
                                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                                {% else %}
                                    <th scope="row">{{ model.name }}</th>
                                {% endif %}

                                {% if model.perms.add %}
                                    <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}

                                {% if model.perms.change %}
                                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                                {% else %}
                                    <td>&nbsp;</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endif %}

    </div>
{% endblock %}

{% block sidebar %}{% endblock %}
