{% extends "admin/base.html" %}
{% load i18n %}
{% load url from future %}

{% block top_user_info %}
    <span style="float:right;">
  Welcome {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
        {% block userlinks %}
            {% url 'admin:password_change' as password_change_url %}
            {% if password_change_url %}
                / <a href="{{ password_change_url }}">{% trans 'Change password' %}</a>
            {% endif %}

            {% url 'admin:logout' as logout_url %}
            {% if logout_url %}
                / <a href="{{ logout_url }}">{% trans 'Log out' %}</a>
            {% endif %}
        {% endblock %}
        <br/><small>Last logged in at <strong>{{ user.last_login }}</strong></small>
</span>
{% endblock %}

{% block main_menu %}
    <ul id="navmenu">
        <li><a href="/admin" title="Dashboard">Dashboard</a></li>
        {% comment %}
  <li><a href="/products">Products / Orders</a></li>
  <li><a href="/user/support/list/">Video / Media</a></li>
  <li><a href="/user/support/broadcast/">Email Broadcast</a></li> 
  <li><a rel="nofollow" target="_blank" href="/user/reports/list/">Events</a></li>
  <li><a rel="nofollow" target="_blank" href="#">Reports</a></li>
  <li><a rel="nofollow" target="_blank" href="/admin/auth/user/">User Information</a></li>
  {% endcomment %}
    </ul>
{% endblock %}


{% block sub_menu %}
    <span class="searchbar">
  <form action="/admin/auth/user/" method="get" style="margin:0px; padding:0px;">
      <input type="text" placeholder="Enter username (then hit enter)" name="q"
             style="width:230px; margin:2px 0px 0px 0px;"/>
  </form>
</span>

    {% comment %}
<ul>
  <li><a href="/user/reports/commissions/">Commissions</a></li>
  <li><a href="/admin/products/discount/">Discounts</a></li>
  <li><a href="/admin/dashboard/document/">Documents</a></li>
  <li><a href="/">Customer Support</a></li>
</ul>
{% endcomment %}
{% endblock %}

{% block breadcrumbs %}
    <a href="/">{% trans 'Home' %}</a>
    {% if title %}<span>{{ title }}</span>{% endif %}
{% endblock %}
