{% load i18n %}{% load adminmedia %}{% load url from future %}<!DOCTYPE html PUBLIC
        "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}"
      {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <title>{% if  title %}{{ title }}{% else %}{% block title %}{% endblock %}{% endif %}</title>
    <link href="{% admin_media_prefix %}css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="{% admin_media_prefix %}css/common.css?v1" rel="stylesheet" type="text/css"/>
    <link href="{% admin_media_prefix %}css/form.css" rel="stylesheet" type="text/css"/>
    <link href="{% admin_media_prefix %}css/tables.css" rel="stylesheet" type="text/css"/>


    <link href="{% admin_media_prefix %}css/widgets.css" rel="stylesheet" type="text/css"/>
    <script src="{% admin_media_prefix %}vendor/jquery.js" type="text/javascript"></script>
    <script src="{% admin_media_prefix %}vendor/jquery-ui.min.js" type="text/javascript"></script>

    <style media="print">
        #header, #menu, #submenu, .settingsblock, #rightcolumn, #footer, #leftcolumn #content table thead tr:first-child, #leftcolumn #content table tfoot {
            display: none;
        }
    </style>
    <style>
        table thead th a {
            color: white ! important;
        }

        .actions {
            padding: 10px 0px;
        }

        .actions label {
            width: auto;
            display: inline-block;
            margin: 0px 10px 0px 0px;
            padding: 0px;
        }
    </style>
    {# {% block extrastyle %}{% endblock %} #}
    <!--[if gte IE 5.5]>
	<script language="JavaScript" src="{% admin_media_prefix %}js/ie.js" type="text/JavaScript"></script>
    <![endif]-->
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
        var cm = {url:{static_url:'{% admin_media_prefix %}'}};
        habari = cm;
    </script>

    </script>
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name = "robots" content="NONE,NOARCHIVE" / >
    {% endblock %}
    </head>
    <body class
    = "{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" >
            < div
    id = "wrapper" >
        <!-- Header -->
            < div
    id = "header" >
            {% block top_user_info %}{% endblock %}
            < div >
            {% block no-branding %}<img src = "{% admin_media_prefix %}images/logonew.png" width = "367" height = "142" class= "logo" alt="CrossMarket Software" / >{% endblock %}
    < /div>
    < /div>
    <!-- Header -->


    <!-- Menu -->
    < div
    id = "menu" >
            {% block main_menu %}{% endblock %}
            < /div>
        <!-- Menu -->

            < div
    id = "submenu"
    style = "height:30px;" >
            {% block sub_menu %}{% endblock %}
            < /div>

        <!-- settings block -->
            < div
    class
    = "settingsblock" >
            < div >
            {% block breadcrumbs %}{% endblock %}
            < /div>
            < /div>
        <!-- settings Block -->

            < div
    style = "clear:both" > < /div>
        <!-- Content Area -->
            < div
    id = "middlepart" >

        <!-- Left column -->
            < div
    id = "leftcolumn" >
            < div
    id = "content"
    class
    = "{% block coltype %}colM{% endblock %}" >
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %} < h3 >{{ title }} < /h3>{% endif %}{% endblock %}

            {% if messages %}
                <br />
                <div class= "messagelist" >
                    {% for message in messages %}
                        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                    </div>
                    {% endfor %}
            < /div>
            {% endif %}

    {% if msg %}
        <br />
        <div class= "messagelist" >
            {% for m in msg %}
                <div{% if m.tags %} class="{{ m.tags }}"{% endif %}>
            {{ m.text|safe }}
            </div>
            {% endfor %}
    < /div>
    {% endif %}

    {% block top-filter %}{% endblock %}
    {% block content %}
        {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    < /div>
    < /div>
    {% block rightcolumn %}
        <div id="rightcolumn" >
            {% block search %}{% endblock %}
            {% block object-tools %}{% endblock %}
            {% block filters %}{% endblock %}
            < /div>
    {% endblock %}
    < /div>
    < /div>
    {% block footer %}
        <div id = "footer" >
            < p class= "copyright" >
            & copy; Copyright {% now "Y" %} AlmondDev
            < /p>
            < /div>
    {% endblock %}
    < div
    id = "spinner" > < /div>
            < /body>
            < /html>
