{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css"/>
{% endblock %}

{% block extrahead %}{{ block.super }}
    {% url admin:jsi18n as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="../../../">{% trans "Home" %}</a>
        <a href="../../">{{ app_label|capfirst|escape }}</a>
        {% if has_change_permission %}<a
                href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
        <span>{% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</span>
    </div>
{% endif %}{% endblock %}

{% block content %}
    <div id="content-main">

    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}
            {% if save_on_top %}{% submit_row %}{% endif %}
            {% if errors %}
                <p class="errornote">
                    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please
                        correct the errors below.{% endblocktrans %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}

            {% for fieldset in adminform %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}

            {% block after_field_sets %}{% endblock %}

            {% for inline_admin_formset in inline_admin_formsets %}
                {% include inline_admin_formset.opts.template %}
            {% endfor %}

            {% block after_related_objects %}{% endblock %}

            {% submit_row %}

            {% if adminform and add %}
                <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
            {% endif %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

        </div>
    </form></div>
{% endblock %}



{% block object-tools %}
    {% if change %}{% if not is_popup %}
        <div class="notes">
            <h2>Other Actions</h2>

            <div class="sidebarmenu">
                <ul class="object-tools">
                    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
                    {% if has_absolute_url %}
                        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/"
                               class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
                    {% block object-tools-extra %}{% endblock %}
                </ul>
            </div>
        </div>
    {% endif %}{% endif %}
{% endblock %}
