{% load i18n %}
<h2>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h2>
<div class="sidebarmenu">
    <ul>
        {% for choice in choices %}
            <li{% if choice.selected %} class="selected"{% endif %}>
                <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
        {% endfor %}
    </ul>
</div>
