{% extends "admin/base_site.html" %}
{% load i18n %}{% load adminmedia %}{% load url from future %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}page-dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block filters %}
    {% url 'admin:index' as root_path %}


    <div class="notes">
        <h3>Manage</h3>

        <div class="sidebarmenu">
            <ul>
                <li><a href="/settings/">{% trans 'System Settings' %}</a></li>
                <li><a href="{{ root_path }}shop/config/">{% trans 'Store Configuration' %}</a></li>
                <li><a href="{{ root_path }}l10n/country/">{% trans 'Countries' %}</a></li>
                <li><a href="{{ root_path }}sites/site/">{% trans 'Multi-Site' %}</a></li>
            </ul>
        </div>
    </div>

{% endblock %}


{% block content %}
    {# {% load auth_utils product_utils %} #}
    {% url 'admin:index' as root_path %}

    <div class="container dashboard transparent">
        <ul class="modules">
            <li class="module latest-entries-module even" id="module:quick_links">
                <div class="close">&nbsp;</div>
                <div class="modulecore">
                    <h2>Quicker Links</h2>

                    <div class="handle">&nbsp;</div>
                    <ul class="items icons homeIcons">
                        {% block homeIcons %}
                            <li><a href="{{ root_path }}auth"><img
                                    src="{% admin_media_prefix %}images/user_and_groups.png" alt=""/><span>Users &amp; Groups</span></a>
                            </li>
                            <li><a href="{{ root_path }}shop"><img src="{% admin_media_prefix %}images/store.png"
                                                                   alt=""/><span>Store</span></a></li>
                            <li><a href="/settings"><img src="{% admin_media_prefix %}images/settings.png"
                                                         alt=""/><span>Settings</span></a></li>
                            <li><a href="{{ root_path }}sites"><img src="{% admin_media_prefix %}images/sites.png"
                                                                    alt=""/><span>Sites</span></a></li>
                        {% endblock %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>



    {% comment %}
<div class="container" id="content-main">
{% url admin:index as root_path %}
{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endcomment %}

{% endblock %}
