{% extends "admin/base.html" %}

{% comment %}
{% block top_user_info %}{% endblock %}
{% block main_menu %}{% endblock %}
{% block sub_menu %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block rightcolumn %}{% endblock %}
{% endcomment %}

{% block content_title %}{% if title %}<h3>Login Page</h3>{% endif %}{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="/admin"/>
    </form>

{% endblock %}
