{% load i18n %}
<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
    {% if show_delete_link %}<span class="deletelink-box"><a href="delete/"
                                                             class="deletelink delete">{% trans "Delete" %}</a>
        </span>{% endif %}
    {% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default add right"
                             name="_save" {{ onclick_attrib }}/>{% endif %}
    {% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}"
                                    name="_saveasnew" {{ onclick_attrib }}/>{% endif %}
    {% if show_save_and_add_another %}<input type="submit" class="add right" value="{% trans 'Save and add another' %}"
                                             name="_addanother" {{ onclick_attrib }} />{% endif %}
    {% if show_save_and_continue %}<input type="submit" class="add right"
                                          value="{% trans 'Save and continue editing' %}"
                                          name="_continue" {{ onclick_attrib }}/>{% endif %}
</div>
