a:link,a:visited,a:active {
    color:#484848;
    text-decoration:none;
}
a:hover {
    color:#f64e40;
    text-decoration:none;
}
h1 {
    font-size:250%;
    margin:10px 0;
    font-weight:normal;
}
h2 {
    font-size:210%;
    margin-bottom:10px;
    font-weight:normal;
}
h3 {
    font-size:180%;
    margin-bottom: 10px;
    font-weight:normal;
}
h4 {
    font-size:140%;
    margin-bottom:10px;
    font-weight:normal;
}
h5 {
    font-size:110%;
    margin:5px 0;
    font-weight:normal;
}
h6 {
    font-size:92.5%;
    margin:5px 0;
    font-weight:normal;
}
pre,
code {
    font: 1em/1.4em "Courier News",monospace;
    color:#484848;
    line-height:1.5em;
}

div.user-box {
    float: right;
}

table thead th a {
    color: #ffffff !important;
}

.actions {
    padding: 0px 0px 10px 0px;
}
.actions label {
    width: auto;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}

/* Messages */
.success {
    background: #e0ecd1 url("../images/success.gif") no-repeat 12px 50%;
    border: 1px solid #60a400;
    border-width: 5px 0 0 0;
    color: #60a400;
}
.error {
    background: #ffe3e1 url('../images/error.gif') no-repeat 12px 50%;
    border: 1px solid #f14545;
    border-width: 5px 0 0 0;
    color: #f14545;
}
.notice {
    background: #fff0db url("../images/warning.gif") no-repeat 12px 50%;
    border: 1px solid #e7a74c;
    border-width: 5px 0 0 0;
    color: #e7a74c;
}
.notice,.success,.error {
    font-size: 100%;
    padding: 10px;
    width: auto;
    margin: 0 0 20px 0;
    text-align: left;
}
.notice span,.success span,.error span {
    font-weight: bold;
    font-size: 18px;
    padding: 2px 40px;
}
.success p,.error p,.notice p {
    margin:0;
    padding:0 40px;
    color:#333333;
}

/* Sticky Footers */
html,body {
    height: 100%;
}
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}
#wrapper {
    min-height: 100%;
    min-width: 980px;
}
#main {
    overflow: auto;
    padding-bottom: 10px; /* must be same height as the footer */
}

/* Header Section */
#header {
    background: #ffffff url("../images/header.gif") repeat-x bottom left;
    height: 110px;
    width: 100%;
}

#header div.user-box {
    padding: 30px 30px;
    color: #484848;
}
#header div.user-box div.last-login {
    font-size: 11px;
    color: #f64e40;
}
#header div.user-box div.last-login-date {
    font-size: 11px;
    color: #f64e40;
    font-weight: bold;
}
#header div.logo {
    padding-left:10px;
}
/* Sub-menu */
#sub-menu {
    background: #fff url("../images/submenu.gif") top left repeat-x;
}
#sub-menu img {
    vertical-align: middle;
}
#sub-menu div.inner {
    min-width:1120px;
    margin-left: 25px;
    margin-right: 25px;
}
#sub-menu li {
    font-size: .8em;
    letter-spacing: .15em;
    font-weight: bold;
    list-style: none;
    display: inline;
}
#sub-menu li a {
    display: inline-block;
    line-height: 2.8em;
    color: #ececec;
}
#sub-menu li:hover {
    color:#fff;
}
#sub-menu li a:hover {
    background: url("../images/sub-menu-arrow-top.gif") 50% 0 no-repeat;
    color:#fff;
}

/* Search form */
#sub-menu div.search-box form {
    margin: 0px;
    padding: 0px;
}
#sub-menu div.search-box {
    float: right;
    padding: 3px 0 0 0;
    text-transform: uppercase;
    color: #fff;
}
#sub-menu div.search-box input[type="text"] {
    float:right;
    padding: 0px 10px;
    border: 1px solid #ccc;
    line-height: 1.2em;
    height: 1.8em;
    width: 228px;
    margin: 0px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius:    3px 3px 3px 3px;
    border-radius:         3px 3px 3px 3px;

}
#sub-menu div.search-box input[type="text"]:focus {
    outline: none;
}

/* Breadcrumbs */
#breadcrumbs {
    font-size:.8em;
    letter-spacing: .1em;
    background:#414141 url("../images/breadcrumbs-bg.gif") top left repeat-x;
    line-height: 16px;
}
#breadcrumbs div.inner {
    margin-left: 25px;
/*    margin-right: auto;*/
    width: 1080px;
    color: #ccc;
}
#breadcrumbs div.inner span {
    color: #ccc;
}
#breadcrumbs div.inner span,
#breadcrumbs a:link,
#breadcrumbs a:visited,
#breadcrumbs a:active {
    background: url("../images/breadcrumbs-arrow.gif") 0% 50% no-repeat;
    padding: 10px 8px 10px 12px;
    border: 0px solid #d9d9d9;
    font-weight: bold;
    text-align: center;
    display:-moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}
#breadcrumbs a:link,
#breadcrumbs a:visited,
#breadcrumbs a:active {
    color: #fff;
}

#breadcrumbs a:hover {
    color: #f64e40;
}

#side-menu-bar {
    background:#fff;
    padding:1px 0px;
}
#side-menu-bar ul {
    list-style: none;
}
#side-menu-bar li {
    list-style: none;
    font-weight: bold;
    line-height: 25px;
    margin: 0 0px 1px 0;
    padding: 4px 10px;
    border-left: 5px solid #414141;
    background: #ededed;
}
#side-menu-bar li a {
    color:#414141;
}
#side-menu-bar li:hover {
    color:#f64e40;
}
#side-menu-bar li a:hover {
    color:#f64e40;
}
#side-menu-bar .activesub {
    color: #f64e40;
}

/* Footer Section */
#footer {
    position: relative;
    margin: auto;
    margin-top: -10px; /* negative value of footer height */
    height: 150px;
    clear: both;
    width: 100%;
    background: #414141;
}
p.copyright {
    color:#cecece;
    margin:auto;
    padding:10px 20px;
}

/* Content Section */
#body {
    overflow : auto;
    height : 100%;
    background : #d5d5d5;
    margin : auto;
    padding : 20px 20px;
    min-width:1150px;
}
#left-column {
    width : 70%;
    padding : 10px 10px;
    background : #ffffff;
    float : left;
    border: 1px solid #bbb;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
}
#right-column {
    width : 25%;
    padding : 10px;
    background : #ffffff;
    float : right;
    border: 1px solid #bbb;
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
}
#right-column div.inner {
    background:#e8e8e8;
    border: 1px solid #c5c5c5;
    border-top: 7px solid #414141;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    font-size:100%;
    color: #484848;
    padding:10px;
}
#right-column div.inner p {
    margin:0;
    padding:0;
    clear:both;
}
#right-column div.inner span {
    font-weight:bold;
    font-size:1.2em;
    padding-bottom:2px;
    margin-bottom:10px;
}

/* Section Link containers */
#body div.link-container {
    display: inline-block;
    color: #888;
    width: 30%;
    height: 100px;
    overflow: hidden;
    font-size: 10px;
    background: #ffffff url("../images/boxb.gif") repeat-x top left;
    padding: 10px 6px 6px 6px;
    margin-left:4px;
    margin-right:4px;
    margin-bottom:8px;
    border: 1px solid #c6c6c6;
    vertical-align:top;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    
}

#body a img.link-thumbnail {
    -webkit-border-radius: 6px;
    -moz-border-radius:    6px;
    border-radius:         6px;
}

#body div.link-container h4 {
    font-size: 18px;
}
#body div.link-container a img.link-thumbnail,
#body div.link-container a:visited img.link-thumbnail {
    float: left;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #7a7a7a;
    background: #7a7a7a;
}
#body div.link-container a:hover img.link-thumbnail {
    background: #fff;
}

#body div.link-container div.link-description {
    font-size:10px;
    line-height: 1.2em;
    letter-spacing:.09em;
}
/* Error handling box */
.form_fields ul.errorlist {
    list-style: none;
    padding: 0px;
}
.form_fields ul.errorlist li,.errornote {
    color: #ff0000;
    display: block;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
}
/* ================================================= */
/* Login Box CSS ITEMS */
/* ================================================= */
.loginform {
    border-top: 0px solid #414141;
    padding: 10px;
}
#login form .remember {
    float:left;
}
form.loginform label {
    float: left;
}
form.loginform input {
    clear: left;
}
#login .forgot {clear:both;float:left;
}
#login form .submit input {
    padding:3px 8px;border:none;background:#39b54a;text-transform:uppercase;text-decoration:none;color:#ffffff;
}
#login form .submit input:hover {
    padding:3px 8px;border:none;color:#ffffff;background:#007236;text-decoration:none;text-transform:uppercase;
}
form .submit {
    float:right;
}
#login {
    width:550px;margin:1em auto;
}
#userpass,#userlogin,#useremail {
    font-size:12px;width:97%;padding:3px;
}
.vmiddle {
    vertical-align: middle;
}
/* ================================================= */
/* LIST ITEMS CSS */
/* ================================================= */
.nums ul {
    margin:0;
    padding:0 10px;
}
.nums li {
    list-style:decimal;
}
.squares ul {
    margin:0;
    padding:0 10px;
}
.squares li {
    list-style:square;
    padding:0;
}
.circles ul {
    margin:0 10px;
    padding:0 10px;
    float:right;
}
.circles li {
    list-style:circle;
    vertical-align:top;
}

#content, #documents_form {
    text-align: left !important;
}
#content h3 {
    margin: 0 10px 10px 0;
}

#content form {
    margin-top:0px;
}

/* ================================================= */
/* Form Fields CSS */
/* ================================================= */
.form-field {
    
}
.form-field label {
    width: 200px !important;
    display:-moz-inline-stack;
    display: inline-block !important;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

/* ================================================= */
/* TABLE BUTTONS CSS */
/* ================================================= */
input.delete,
a.submit:visited,a.submit:active,a.submit:link,
a.add:visited,a.add:active,a.add:link,
a.publish:visited,a.publish:active,a.publish:link,
a.edit:visited,a.edit:active,a.edit:link,
a.delete:visited,a.delete:active,a.delete:link,
a.reset:visited,a.reset:active,a.reset:link,input.add {
    border: 0px;
    width: auto;
    margin: 0 2px 0 0;
    padding: 6px 10px;
    text-transform: uppercase;
    font: bold 10px "Lucida Grande",Arial,Helvetica,sans-serif;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
}
a.publish {
    background: #afd2ea;
    color: #ffffff;
}
a.publish:hover {
    background: #0072bc;
    color: #ffffff;
}
a.edit {
    background: #949ca1;
    color: #000000;
}
a.edit:hover {
    background: #727c82;
    color: #ffffff;
}
input.delete,
a.delete {
    background: #ffb5b5;
    color: #ffffff;
}
input.delete:hover,
a.delete:hover {
    background: #d80047;
    color: #ffffff;
}
a.add {
    float: right;
    background: #99d177;
    color: #ffffff;
}
a.add:hover {
    background: #00a651;
    color: #ffffff;
}
input.add {
    float: right;
    background: #99d177;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
input.add:hover {
    background: #00a651;
    color: #ffffff;
}
a.reset {
    background: #96aabf;
    color: #ffffff;
}
a.reset:hover {
    background: #6f7f90;
    color: #ffffff;
}
a.submit {
    background: #12486b;
    color: #ffffff;
}
a.submit:hover {
    background: #000000;
    color: #ffffff;
}

#content_form table {
    width: 100%;
}

/* Changes By Aman */
/*- HUMANIZED MESSAGES 1.0 (Habari Edition)
home - http://humanmsg.googlecode.com */
.humanMsg {
    font-size: 12px;
    position: fixed;
    top: 40px;
    left: 10px;
    width: 30%;
    max-width: 300px;
    color: white;
    text-align: left;
    z-index: 90;
    display: none;
    padding: 0px;
}
body.login .humanMsg {
    top: 10px;
}
.humanMsg .imsgs .msg {
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 1px 5px #333;
    -webkit-box-shadow: 0px 1px 5px #333;
    -moz-box-shadow: 0px 1px 5px #333;
    margin-bottom: 5px;
}
.humanMsg p {
    display: inline;
}
.humanMsg p a {
    color: #19a5d1;
}
.humanMsg .imsgs .msg {
    display: none;
    opacity: 0;
}
#humanMsgLog {
    font-size: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    display: none;
    z-index: 10000;
}
#humanMsgLog p:hover {
    opacity: 1;
}
#humanMsgLog p {
    opacity: .3;
    position: relative;
    left: 50%;
    width: 200px;
    margin: 0;
    margin-left: -100px;
    padding: 0 10px;
    line-height: 20px;
    background: #333;
    text-align: center;
    white-space: pre;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
}
#humanMsgLog.logisopen p {
    opacity: 1;
}
#humanMsgLog ul {
    background: #eee url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAARCAIAAACaSvE/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNqEjVEKACAIQ516Ee//5wVNCjIjaB/iY5vC3YkoIgDkVDOjQ5pqLCI3r2bLFzNzyydvM4uKqfJPKN4vyl9LO/7o3/6PhwADAIWkFPjc5eRrAAAAAElFTkSuQmCC') repeat-x;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 180px;
    overflow: auto;
    display: none;
}
#humanMsgLog ul li {
    color: #555;
    font-size: 12px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
    display: none;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    white-space: pre;
}
#humanMsgLog ul li:hover {
    background: #f2f2f2;
}
#humanMsgLog ul li:first-child {
    margin-top: 1px;
}
#humanMsgLog ul li .error {
    color: #FF4500;
}
#humanMsgLog ul li .indent {
    position: absolute;
    top: 0;
    left: 100px;
    margin-right: 200px;
    height: inherit;
}
.warning,.info,.debug {background:#fff0db url(../images/warning.gif) no-repeat 12px 50%;border:1px solid #e7a74c;border-width:5px 0 0 0;color:#e7a74c;font-size:100%;padding:10px;width:auto;margin:0 0 20px 0;text-align:left;
}
.warning span,.info span,.debug span {font-weight:bold;font-size:18px;padding:2px 40px;
}
.warning p,.info p,.debug p {margin:0;padding:0 40px;color:#333333;
}
.side-menu-bar {background:#fff;padding:1px 0px;
}
.side-menu-bar ul {margin:0;list-style:none;padding:0px;
}
.side-menu-bar li {list-style:none;font-weight:bold;
    line-height: 25px;margin:0 0px 1px 0;padding:4px 10px;
    border-left: 5px solid #414141;background:#ededed;
}
.side-menu-bar li a {color:#414141;
}
.side-menu-bar li:hover {color:#f64e40;
}
.side-menu-bar li a:hover {color:#f64e40;
}
.side-menu-bar .selected a {
    color: #f64e40;
}
ul.modules {
    overflow: auto;
    padding: 0px;
}
ul.modules li.module {
    float: left;
    list-style: none;
    position: relative;
    margin-bottom: 20px;
    width: 410px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0px 1px 15px #ddd;
    -webkit-box-shadow: 0px 1px 15px #ddd;
    -moz-box-shadow: 0px 1px 15px #ddd;
    border: 1px solid #E7E7E7;
}
ul.modules li.module div.close {
    display: none;
}
ul.modules li.module div.handle {
    display: none;
}
ul.modules li.module.odd {
    margin-right: 10px;
    margin-left: 10px;
}
ul.modules li.module.even {
    margin-left: 10px;
}
ul.modules li.module ul.items.icons li {
    float: left;
    list-style: none;
}
ul.modules li.module ul.items.icons.homeIcons li {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 7px;
}
ul.modules li.module ul.items.icons.homeIcons li img {
    width: 50px;
    padding: 0 20px;
}
ul.modules li.module ul.items.icons.homeIcons li a {
    overflow: auto;
}
ul.modules li.module ul.items.icons.homeIcons li a span {
    display: block;
}
ul.modules li.module div.modulecore {
    height: 208px;
    overflow: hidden;
    margin: 5px 10px;
}
ul.modules li.module div.modulecore ul.items {
    list-style: none;
    padding: 0px;
}
ul.modules li.module div.modulecore ul.items li.item {
    clear: both;
    line-height: 24px;
    position: relative;
    border-bottom: 1px solid #E9E9E9;/* height:25px;
    overflow: hidden;*/
}
ul.actionlist span.addlink,ul.actionlist span.changelink,ul.actionlist span.deletelink {
    height: 25px;
    overflow: hidden;
    display: block;
    width: 290px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}
ul.actionlist span.minor {
    width: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#all_results td,#all_results th {/* word-break:break-all;*/
    white-space:normal;
}
#profile_left_bar {
    background: #ededed;
    border: 1px solid #a6a6a6;
    float: left;
    width: 93px;
    text-align: center;
    padding: 10px 0px;
}
.nav_data {
    display: none;
}
#profile_left_bar span {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
#profile_left_bar a:last-child span {
    margin-bottom: 0px;
}
.left_align * {
    text-align: left;
}
.side_border tr {
    border: 1px solid #CACACA;
    border: 1x 0px;
}
.profile_form {
    padding: 0px;
    width:49.5%;
}
.profile_form_full_width {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.profile_form table {
    width: 100%;
    table-layout: fixed;
}
.profile_form table td,.profile_form table th {
    word-wrap: break-word;
    white-space: normal;
}
.profile_form table td input,.profile_form table th input,.profile_form table td select,.profile_form table th select,.profile_form table td textarea,.profile_form table th textarea {
    width: 95%;
    margin: 0px;
}
.profile_form table td input[type=submit],.profile_form table th input[type=submit] {
    text-align: center;
}
.profile_form table .field {
    width: 100%;
    padding: 0px;
}
.profile_module {
    width: 49.5%;
    border: 1px solid #CACACA;
    padding: 10px 0px;
}
.spacing {
    clear: both;
    color: #EEE;
    background-color: #EEE;
    height: 1px;
    border: 0px;
}
.profile_marg_top {
    margin-top: 10px;
}
.circle1pr {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    background: red;
}
.circle1pr.Shipped {
    background: green;
}
.circle1pr.Reshipped {
    background: green;
}
.circle1pr.Cancelled {
    background: red;
}
.circle1pr.Complete {
    background: #a6a6a6;
}
.circle1pr.Billed {
    background: purple;
}
.circle1pr.Temp {
    background: orange;
}
.circle1pr.InProcess {
    background: yellow;
}
#spinner {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 50;
}
fieldset.module {
    border: 1px solid #CCC;
    background: white;
    padding: 0px;
    border-top: 0px solid white;
    border-bottom: 0px solid white;
    margin-bottom: 30px;
}
fieldset.module tr.hidden-cell{
    display:none;
}
fieldset.module tr.error-field td{
    border-bottom:0px;
}
fieldset.module tr td.error-msg{
    padding-top:0px;
    padding-left:0px;
    border-top:0px;
}
.form_fields .errors {
    background: #FFC;
}
.selector h2 {
    font-size: 1.6em;
    color: #333;
    padding: 2px 5px 3px 5px;
    margin: 0px;
}
.selector p.selector-filter label img {
    margin: 0px;
    padding: 0px;
}
.selector p.selector-filter {
    padding: 4px 5px;
    vertical-align: middle;
    line-height: 140%;
}
.selector select[multiple=multiple] {
    padding: 2px;
}
fieldset.module table {
    width: 100%;
}
fieldset.module h2 {
    margin: 0px ! important;
    padding: 0px 5px;
}
.add-row {
    padding: 15px 0px;
}
.inline-related h3 {
    font-size: 1.2em;
    color: #999;
    margin: 10px 0px;
}
.inline-related h3 span.delete {
    float: right;
}
.inline-related h3 span.delete label {
    display: inline;
    float: none;
}
.submit-row {
    padding-top: 5px;
}

/* MRVG: Added this to get a nice vertical spaceing on the join us button in the /join/ flatpage */
.top-spaced-button {
    display: block;
    margin-top: 12px;
}
