/* ================================================= */
/* This file created by Aivah                        */
/* Dated: 3rd Feb 2009	                             */
/* Copyright : 2009 Aivah.com                        */
/* Stylesheet: form.css                              */
/* ================================================= */


form {
font : 12px Geneva, arial, sans-serif;
margin : 0 0;
padding : 10px 0;
width : 100%;
}
fieldset {
padding : 10px 0;
margin : 0 0 15px 0;
background : #fff;
border : 5px solid #ececec;
}
* html fieldset {
position : relative;
margin : 10px 0 30px 0;
padding : 20px 0;
}
* html legend {
position : absolute;
top : -1.2em;
left : 0;
}
fieldset legend {
font : normal 1.5em Helvetica, sans-serif;
padding : 10px 5px;
text-transform : uppercase;
background : #fff;
}
form label {
display : block;
float : left;
width : 150px;
padding : 0 10px 0 0;
margin : 6px 0 0;
text-align : right;
}
form dfn {
margin : 0 10px;
}
form input, form textarea {
width : auto;
margin : 5px 0 0 0;
}
form input#reset {
margin-left : 0;
}
textarea {
overflow : auto;
}
form small {
display : block;
margin : 0 0 5px 160px;
padding : 1px 3px;
font-size : 88%;
}
form .required {
font-weight : bold;
}
form br {
clear : left;
}
