{% extends "manage/base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %} {% trans "Dashboard" %} {% endblock title %}

{% block content %}
    <style>
        .closed .content, .closed .actions {
            display: none;
        }
    </style>

    <div id="main_content">
    <form method="POST" enctype="multipart/form-data">
        <div class="grid_12">
            <div class="box closed">
                <div class="header">
                    <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-text-field-format.png" alt=""
                         width="16"
                         height="16">

                    <h3>Trip Registration</h3>
                    <span id="bill-info"></span>
                </div>
                <div class="content">

                    {{ user_form.management_form }}
                    {{ user_form.0.id }}

                    <div class="_50">
                        <p>
                            <label>First Name{% if user_form.0.first_name.field.required %}*{% endif %}</label>
                            {{ user_form.0.first_name }}
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <label>Last Name{% if user_form.0.last_name.field.required %}*{% endif %}</label>
                            {{ user_form.0.last_name }}
                        </p>
                    </div>

                    <div class="_50">
                        <p>
                            <label>Email Address{% if user_form.0.email.field.required %}*{% endif %}</label>
                            {{ user_form.0.email }}
                        </p>
                    </div>


                    {{ profile_form.management_form }}
                    {{ profile_form.0.id }}

                    <div class="_50">
                        <p>
                            <label>Phone Number{% if profile_form.0.phone_number.field.required %}*{% endif %}</label>
                            {{ profile_form.0.phone_number }}
                        </p>
                    </div>

                    <div class="_50">
                        <p>
                            <label>Promo Page{% if profile_form.0.promo_page.field.required %}*{% endif %}</label>
                            {{ profile_form.0.promo_page }}
                        </p>
                    </div>


                    <div class="_50">
                        <p>
                            <label>Language{% if profile_form.language.field.required %}*{% endif %}</label>
                            {{ profile_form.0.language }}
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <label>Gender{% if profile_form.gender.field.required %}*{% endif %}</label>
                            {{ profile_form.0.gender }}
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <label>Profile Picture{% if profile_form.personal_photo.field.required %}
                                *{% endif %}</label>
                            {{ profile_form.0.personal_photo }}
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            {{ propay_form }}
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="actions">
                    <div class="actions-left">
                    </div>
                    <div class="actions-right">
                        <input type="submit" value="Submit"/>
                    </div>
                </div>
            </div>
            <!-- End of .box -->
        </div>
        <div class="clear"></div>
        {% csrf_token %}
    </form>
    <div class="clear"></div>

{% endblock content %}

{% block aside %}
    {% include "manage/aside.html" %}
{% endblock aside %}
<div class="clear"></div>
{% block bottom %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
{% endblock bottom %}