{% extends "admin/base.html" %}
{% load url from future %}
{% block content_title %}{% if title %}<h3>Logged Out</h3>{% endif %}{% endblock %}
{% block content %}
    Thanks for spending some quality time with the Web site today.
    {% url 'admin:logout' as logout_url %}
    {% if logout_url %}
        <a href="{{ logout_url }}">Login again</a>.
    {% endif %}

{% endblock %}
