<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login</title>
    <link href="{{ STATIC_URL }}styles/login.css" rel="stylesheet" type="text/css"/>
    <style>
        a {
            text-decoration: none;
            color: #3a5cb3;
        }
    </style>
</head>
<body>
<form name="Form1" method="post" action="?next={% if next %}{{ next }}{% else %}/redirect/{% endif %}">
    {% csrf_token %}
    <div align="center">
        <div id="loginBox" align="center">
            <div id="loginBoxInner">
                <table width="280" border="0" cellspacing="0" cellpadding="4" style="margin-top:130px">
                    <tr>
                        <td colspan="2" class="loginTxt">
                            Username {% if form.username.errors %}<span
                                style="color:red; font-size:85%; float:right">{{ form.username.errors|join:", " }}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ form.username }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="loginTxt">
                            Password {% if form.password.errors %}<span
                                style="color:red; font-size:85%; float:right">{{ form.password.errors|join:", " }}</span>{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {{ form.password }}
                        </td>
                    </tr>
                    {% if form.non_field_errors %}
                        <tr>
                            <td colspan="2" style="text-align:center"><span
                                    style="color:red; font-size:85%;">{{ form.non_field_errors|join:", " }}</span></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" value="Log In" id="btnSubmit" tabindex="4" class="bttn"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a href="{% url django.contrib.auth.views.password_reset %}" tabindex="5">Forgot
                                Password?</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
</body>
</html>
