{% extends "shop/checkout/base_pay_ship.html" %}
{% load i18n %}
{# credit card pay_ship version - we just need to collect CC info #}

{% block payment_table %}

    {% if form.order_type %}
        <tr>
            <td><h4>{% trans "Order Type" %}</h4></td>
        </tr>
        <tr>
            <td><label for="id_order_type">{% trans "Type of Order" %}</label></td>
            <td>{{ form.order_type }}</td>
        </tr>
        {% if form.order_type.errors %}
            <tr>
            <td class="error" colspan="2">*** {{ form.order_type.errors|join:", " }}</td></tr>{% endif %}
    {% endif %}

    <tr>
        <td><h4>{% trans "Payment Information" %}</h4></td>
    </tr>
    {% if not PAYMENT_LIVE %}
        <tr>
            <td valign="top"><b>TEST MODE</b></td>
            <td><i>Use Visa 4111111111111111 for CC#<br/>any future date for expiration<br/>any 3 digit CCV</i></td>
        </tr>
    {% endif %}

    <tr>
        <td><label for="id_credit_type">{% trans "Type of credit card" %}</label></td>
        <td>{{ form.credit_type }}</td>
    </tr>
    {% if form.credit_type.errors %}
        <tr>
        <td class="error" colspan="2">*** {{ form.credit_type.errors|join:", " }}</td></tr>{% endif %}

    <tr>
        <td><label for="id_credit_number">{% trans "Credit card number" %}</label></td>
        <td> {{ form.credit_number }}</td>
    </tr>
    {% if form.credit_number.errors %}
        <tr>
        <td class="error" colspan="2">*** {{ form.credit_number.errors|join:", " }}</td></tr>{% endif %}

    <tr>
        <td><label for="id_month_expires">{% trans "Expiration date" %}</label><label for="id_year_expires"></label>
        </td>
        <td> {{ form.month_expires }} {{ form.year_expires }}</td>
    </tr>
    {% if form.year_expires.errors %}
        <tr>
        <td class="error" colspan="2">*** {{ form.year_expires.errors|join:", " }}</td></tr>{% endif %}

    <tr>
        <td><label for="id_ccv">{% trans "CCV" %}</label></td>
        <td> {{ form.ccv }}</td>
    </tr>
    {% if form.ccv.errors %}
        <tr>
        <td class="error" colspan="2">*** {{ form.ccv.errors|join:", " }}</td></tr>{% endif %}

    {% csrf_token %}
{% endblock %}
