{% extends 'frontend.html' %}
{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% block blank-content %}

    <div class="page-header">
        <div class="wrapper">
            <h2>{% block header-text %}{% endblock %}</h2>

            <p>
                {% block header-description %}{% endblock %}
            </p>
        </div>
    </div>
    <div class="page-header-decoration"></div>
    <div id="content">
        <div class="wrapper first-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
