{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div id="main_content">
    <h2 class="grid_12">Main Dashboard</h2>

    <div class="grid_12 alert info" style="padding:10px 0px 10px 30px; width:97%;">
        <span class="icon"></span>
        <strong>Note</strong>
        Welcome to your Crossmarket Dashboard. From here you can access everything you need to succeed in your online
        business. Below you will find some quick links to help you access information quickly. To remove these control
        buttons or add additional control items simply roll over the button and select the "Add to Main Dashboard"
        option.
    </div>


    <div class="clean"></div>


    <div class="grid_8">
        <div id="shortcuts-steps" class="box tabbed">
            <div class="header">
                <h3>Your Shortcuts</h3>
            </div>
            <div class="content">
                <ul id="shortcuts" class="shortcuts tab-content">

                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}images/icons/25x25/blue/info---about.png" width="25" height="25">

                            <div class="divider"></div>
                        </div>

                        {# <a class="shortcut-description" href="{% url control_user_resources_user_information %}"> <strong>User Information</strong> <span>Change your user information.</span> </a>#}
                    </li>
                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}images/icons/25x25/blue/locked-2.png" width="25" height="25">

                            <div class="divider"></div>
                        </div>
                        {# <a class="shortcut-description" href="{% url control_user_resources_security %}"> <strong>Security</strong> <span>Change your password or security settings.</span> </a>#}
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="grid_4">
        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}/images/icons/16x16/list.png" alt="" width="16" height="16">

                <h3>Stats List</h3>
                <span></span>
            </div>
            <div class="content">
                <div class="alert warning no-margin top">
                    <span class="icon"></span>You have 3 overdue support tickets.
                </div>
                <ul class="stats-list">
                    <li>
                        <a href="#">Total Visits <span>12132</span></a>
                    </li>
                    <li>
                        <a href="#">Today Visits <span>875</span></a>
                    </li>
                    <li>
                        <a href="#">Comments <span>312</span></a>
                    </li>
                    <li>
                        <a href="#">Support Tickets <span>12</span></a>
                    </li>
                </ul>
            </div>
            <div class="actions">
                <div class="actions-left"></div>
                <div class="actions-right">
                    <a class="button" href="charts.html">Go to stats &raquo;</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="grid_8">
        <div id="shortcuts-steps" class="box tabbed">
            <div class="header">
                <h3>Calendar</h3>
            </div>
            <div class="content">
                <div id="calendar" style="margin:10px 0px">
                </div>
            </div>
        </div>
    </div>


    <div class="grid_4">
        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}images/icons/16x16/list.png" alt="" width="16"
                     height="16">

                <h3>Stats List</h3>
                <span></span>
            </div>
            <div class="content">
                <ul class="stats-list">
                    <li>
                        <a href="#">Commisions Earned <span>$213.20</span></a>
                    </li>
                    <li>
                        <a href="#">Total In Dowline <span>875</span></a>
                    </li>
                    <li>
                        <a href="#">Sales This Month<span>$215.00</span></a>
                    </li>
                    <li>
                        <a href="#">New Members For You <span>12</span></a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="actions">
                <div class="actions-left"></div>
                <div class="actions-right">
                    <a href="charts.html">
                        <button>
                            Go to stats &raquo;
                        </button>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="grid_6">
        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}images/icons/packs/fugue/16x16/ui-text-field-format.png" alt="" width="16"
                     height="16">

                <h3>Form</h3>
                <span></span>
            </div>
            <form class="validate" novalidate action="" method="get">
                <div class="content">
                    <div class="_50">
                        <p>
                            <input name="username" type="text" placeholder=" Your Name" class="required"/>
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <input name="email" type="email" placeholder=" Your E-Mail" class="required"/>
                        </p>
                    </div>
                    <div class="_100">
                        <p>
                            <label>
                                Where are you from?
                            </label>
                            <select name="from" class="required">
                                <option></option>
                                <option>Europe</option>
                                <option>America</option>
                                <option>Asia</option>
                                <option>Africa</option>
                            </select>
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <label for="newsletter">
                                <input name="newsletter" type="checkbox" class="required"/>
                                Recieve newsletter?
                            </label>
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <span class="label">Newsletter type:</span>
                            <label>
                                <input name="htmltext" type="radio" class="required"/>
                                Email
                            </label>
                            <label>
                                <input name="htmltext" type="radio" class="required"/>
                                HTML
                            </label>
                        </p>
                    </div>
                </div>
                <div class="actions">
                    <div class="actions-left">
                        <input type="reset"/>
                    </div>
                    <div class="actions-right">
                        <input type="submit"/>
                    </div>
                </div>
            </form>
        </div>
        <!-- End of .box -->
    </div>
    <!-- End of .grid_6 -->
    </div>
{% endblock %}



{% block bottom %}

    {% comment %}
<script defer src="{{ STATIC_URL }}js/mylibs/jquery.validate.js"></script>
<script defer src="{{ STATIC_URL }}js/mylibs/jquery.checkbox.js"></script>
<script defer src="{{ STATIC_URL }}js/mylibs/jquery.chosen.js"></script>
<script defer src="{{ STATIC_URL }}js/mylibs/jquery.placeholder.js"></script>
<script defer src="{{ STATIC_URL }}js/mylibs/jquery.miniColors.js"></script>


<link rel="stylesheet" href="{{ STATIC_URL }}css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
<script defer src="{{ STATIC_URL }}js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/sprite.forms.css"> <!-- SPRITE: Forms styling -->

		<script>
			$(window).load(function(){
				/* Demo Calendar */
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();
				$('#calendar') .fullCalendar({
					header : {
						left : 'prev,next today',
						center : 'title',
						right : 'month,agendaWeek,agendaDay'
					},
					editable : true,
					events : [{
						title : 'All Day Event',
						start : new Date(y, m, 1)
					}, {
						title : 'Long Event',
						start : new Date(y, m, d - 5),
						end : new Date(y, m, d - 2)
					}, {
						id : 999,
						title : 'Repeating Event',
						start : new Date(y, m, d - 3, 16, 0),
						allDay : false
					}, {
						id : 999,
						title : 'Repeating Event',
						start : new Date(y, m, d + 4, 16, 0),
						allDay : false
					}, {
						title : 'Meeting',
						start : new Date(y, m, d, 10, 30),
						allDay : false
					}, {
						title : 'Lunch',
						start : new Date(y, m, d, 12, 0),
						end : new Date(y, m, d, 14, 0),
						allDay : false
					}, {
						title : 'Birthday Party',
						start : new Date(y, m, d + 1, 19, 0),
						end : new Date(y, m, d + 1, 22, 30),
						allDay : false
					}, {
						title : 'Click for Google',
						start : new Date(y, m, 28),
						end : new Date(y, m, 29),
						url : 'http://google.com/'
					}]
				});
			});
		</script>

{% endcomment %}
{% endblock %}
