{% load offers %}
{% if request.referred_by %}
    {% offers as offer %}

    {% for o in offer %}
        <div class="box-blue">
            <h6>Special Offer</h6>

            <p>{{ o.description }}</p>
        </div>
    {% endfor %}

{% endif %}
