<ul id="social">
    <li><a class="phone" title="Call Us Free: +48 123 456 789"></a></li>
    <li><a href="http://linkedin.com/in/" class="linkedin" title="linkedin"></a></li>
    <li><a href="http://twitter.com/" class="twitter" title="twitter"></a></li>
    <li><a href="http://facebook.com" class="facebook" title="facebook"></a></li>
    <li><a href="http://vimeo.com/" class="vimeo" title="vimeo"></a></li>
    <li><a href="#rss" class="rss" title="rss"></a></li>
</ul>
