{% if not request.referred_by %}
    <div class="box-blue">
        <h6>Want the latest Jamberry Nails?</h6>

        <p>
            All nails are sold through a network of Independent Jamberry Consultants. <a
                href="/accounts/find/?next={{ request.path }}">Click here</a> to locate your nearest Consultant.
        </p>
    </div>
{% endif %}
