<div id="widgets-container">
    <div class="widgets-container-bg">
        <div class="wrapper no-margin-top no-margin-bottom">

            <div class="column-1-4">
                <div class="widget-container widget_popular_posts"
                        {# id="flickr-3" class="widget-container widget_flickr" #}>
                    <h5 class="widget-title">Demo Links</h5>

                    <ul>
                        <li><a href=""><span class="invent-title">The Product</span></a>

                            <div class="clear"></div>
                        </li>
						
						<li><a href=""><span class="invent-title">About</span></a>

                            <div class="clear"></div>
                        </li>
						
						<li><a href=""><span class="invent-title">Contact Us</span></a>

                            <div class="clear"></div>
                        </li>
                        
                        <li><a href="/privacy/"><span class="invent-title">Privacy Policy</span></a>

                            <div class="clear"></div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="column-1-4">
                <div id="popular_posts-3" class="widget-container widget_popular_posts">
                    <h5 class="widget-title">Blog Postings</h5>
                    <ul>
                        <li><span class="invent-title">This is Awesome!</span><br/><span class="invent-data">October 21, 2011</span>

                            <div class="clear"></div>
                        </li>
                        <li><span class="invent-title">Check us Out!!</span><br/><span class="invent-data">October 21, 2011</span>

                            <div class="clear"></div>
                        </li>
                        <li><span class="invent-title">Some more Cool Text!!!</span><br/><span class="invent-data">October 21, 2011</span>

                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column-1-4">
                <div id="twitter-1" class="widget-container widget_twitter">
                    <h5 class="widget-title">Latest tweets</h5>

                    <div class="fade-carousel">
                        <div class="twitter-widget-carousel-top"></div>
                        <div class="twitter-carousel-center">
                            <form class="twitter-data">
                                <input type="hidden" name="user" value="JamberryNails"/>
                                <input type="hidden" name="number" value="3"/>
                            </form>
                        </div>
                        <div class="twitter-widget-carousel-bottom">
                            <div class="fade-carousel-controls"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <a class="all-tweets" href="#">View all tweets</a>
                </div>
            </div>

            <div class="column-1-4 column-last">
                <div class="widget-container widget_popular_posts"
                        {# id="flickr-3" class="widget-container widget_flickr" #}>
                    <h5 class="widget-title">Quick Links</h5>
                    <ul>
                        <li><a href="/application/"><span class="invent-title">Program Features</span></a>

                            <div class="clear"></div>
                        </li>
						
						<li><a href="http://jamberry.crossmarketsoftware.com/media/docs/71322667-Jamberry-Nails-Spring-Summer-Catalog-2012.pdf"><span class="invent-title">Spring / Summer Catalog</span></a>

                            <div class="clear"></div>
                        </li>
						
						<li><a href="/faq/"><span class="invent-title">Frequently Asked Questions</span></a>

                            <div class="clear"></div>
                        </li>
                        
                        <li><a href="/terms/"><span class="invent-title">Terms & Conditions</span></a>

                            <div class="clear"></div>
                        </li>

                    </ul>

                    {% comment %}
	  <ul>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/jnsolidst.jpg"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	    <li><a class="flickr_img" href=""><img alt="" title="" src="{{ STATIC_URL }}images/thumbs/mark.png"><span class="flickr-hover" ><span class="flickr-hover-arrow" ></span></span></a></li>
	  </ul>
	  {% endcomment %}
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>
