<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Jamberry Nails</title>
    <link rel="shortcut icon" type="image/icon" href="http://www.jamberrynails.net/assets/images/icons/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/site.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/superfish.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/nivo-slider.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/tiptip.css" media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/theme-settings/color.css" media="screen"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/carousel.css" media="screen"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollto.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tiptip.minified.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/cufon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lavalamp.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flowy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>


    <!--[if IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie9.css"/>
	<![endif]-->

    <!--[if lte IE 8]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie8.css"/>
			<script type="text/javascript" src="{{ STATIC_URL }}js/coreie8.js"></script>
	<![endif]-->

    <!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie7.css"/>
	<![endif]-->

</head>
<body>
<div id="background">
    <div id="background-2">
        <div id="main-wrapper">

            <div class="top-page-color"></div>

            <div class="logo-menu-container">
                <div class="wrapper">
                    <h1 id="logo"><a href="home_invent_slider.html"><img src="{{ STATIC_URL }}images/logo.png"
                                                                         alt="Jamberry Nails"/></a></h1>

                    <div class="head-info">
                        {% include "frontend_header_links.html" %}
                    </div>
                    {% include "frontend_menu.html" %}
                    <div class="clear"></div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

            <div class="wrapper content no-margin-bottom">
                <div class="carousel-container big">
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div id="widgets-container">
            <div class="widgets-container-bg">
                <div class="wrapper no-margin-top no-margin-bottom">

                    <div class="column-1-4">
                        <div id="text-3" class="widget-container widget_text">
                            <h5 class="widget-title">Contact us</h5>

                            <div class="textwidget">
                                <p><img src="{{ STATIC_URL }}images/demo/mark.png" class="icon" alt=""/>Hello everybody!
                                    We are Jamberry Nails </p>

                                <p><strong>456 Street Name, Provo, Utah <br/>Phone: +48 123 456 789<br/>Fax: +48
                                    81-743-01<br/>Email: </strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="column-1-4">
                        <div id="popular_posts-3" class="widget-container widget_popular_posts">
                            <h5 class="widget-title">Popular posts</h5>
                            <ul>
                                <li><a href="post2.html"><span class="post-thumb"><img width="66" height="66"
                                                                                       src="{{ STATIC_URL }}images/demo/popular-post/post1.jpg"
                                                                                       class="attachment-invent-widget-small"
                                                                                       alt="full6" title="full6"></span>
                                    <span class="invent-title">Jamberry Nails is Awesome!</span></a><span
                                        class="invent-data">October 21, 2011</span>

                                    <div class="clear"></div>
                                </li>
                                <li><a href="post2.html"><span class="post-thumb"><img width="66" height="66"
                                                                                       src="{{ STATIC_URL }}images/demo/popular-post/post2.jpg"
                                                                                       class="attachment-invent-widget-small"
                                                                                       alt="full51"
                                                                                       title="full51"></span><span
                                        class="invent-title">Check us Out!!</span></a><span class="invent-data">October 21, 2011</span>

                                    <div class="clear"></div>
                                </li>
                                <li><a href="post2.html"><span class="post-thumb"><img width="66" height="66"
                                                                                       src="{{ STATIC_URL }}images/demo/popular-post/post3.jpg"
                                                                                       class="attachment-invent-widget-small"
                                                                                       alt="full3" title="full3"></span><span
                                        class="invent-title">Some more Cool Text!!!</span></a><span class="invent-data">October 21, 2011</span>

                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="column-1-4">
                        <div id="twitter-1" class="widget-container widget_twitter">
                            <h5 class="widget-title">Latest tweets</h5>

                            <div class="fade-carousel">
                                <div class="twitter-widget-carousel-top"></div>
                                <div class="twitter-carousel-center">
                                    <form class="twitter-data">
                                        <input type="hidden" name="user" value="JamberryNails"/>
                                        <input type="hidden" name="number" value="3"/>
                                    </form>
                                </div>
                                <div class="twitter-widget-carousel-bottom">
                                    <div class="fade-carousel-controls"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <a class="all-tweets" href="#">→ View all tweets</a>
                        </div>
                    </div>

                    <div class="column-1-4 column-last">
                        <div id="flickr-3" class="widget-container widget_flickr">
                            <h5 class="widget-title">From Flickr</h5>
                            <ul>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750867878/"><img alt="natalia"
                                                                                                         title="natalia"
                                                                                                         src="http://farm6.static.flickr.com/5230/5750867878_5d23ebfc9e_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750325047/"><img alt="zachod"
                                                                                                         title="zachod"
                                                                                                         src="http://farm4.static.flickr.com/3166/5750325047_8e26f85951_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750867504/"><img alt="zachod 2"
                                                                                                         title="zachod 2"
                                                                                                         src="http://farm3.static.flickr.com/2076/5750867504_b9773ee5fe_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750324677/"><img alt="zachod 3"
                                                                                                         title="zachod 3"
                                                                                                         src="http://farm6.static.flickr.com/5182/5750324677_885091f22f_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750324469/"><img
                                        alt="zwierzyniec" title="zwierzyniec"
                                        src="http://farm3.static.flickr.com/2562/5750324469_7c381f40af_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750324325/"><img
                                        alt="zwierzyniec 2" title="zwierzyniec 2"
                                        src="http://farm6.static.flickr.com/5308/5750324325_a559df3d4b_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750324189/"><img
                                        alt="zemborzyce" title="zemborzyce"
                                        src="http://farm4.static.flickr.com/3216/5750324189_1a460a9658_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750324071/"><img
                                        alt="zemborzyce 2" title="zemborzyce 2"
                                        src="http://farm3.static.flickr.com/2541/5750324071_6d0376544f_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                                <li><a class="flickr_img"
                                       href="http://www.flickr.com/photos/marcinsrodek/5750866594/"><img
                                        alt="zemborzyce 3" title="zemborzyce 3"
                                        src="http://farm4.static.flickr.com/3013/5750866594_b8c10714a1_t.jpg"><span
                                        class="flickr-hover"><span class="flickr-hover-arrow"></span></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div id="page-bottom">
                <div id="copyright">
                    <p>Copyright (c) 2011 by <a href="" class="color">Jamberry Nails LLC.</a>. All Rights Reserved.</p>
                </div>
                <a href="#" class="scrolltop" title="Scroll to top"></a>

                <div id="bottom-social-contener">
                    {% include 'frontend_footer_links.html' %}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="bottom-page-color"></div>

    </div>
</div>
</body>
</html>
