{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal thumbnail party_utils %}
{# Referance From:  https://bitbucket.org/chris1610/satchmo/src/ce64e8a40922/satchmo/apps/satchmo_store/shop/templates/base.html #}
{% block doctype %}
    <!DOCTYPE html>
{% endblock %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" type="image/icon" href=""/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/site.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/superfish.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/nivo-slider.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/tiptip.css" media="screen"/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/theme-settings/color.css" media="screen"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/carousel.css" media="screen"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollto.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tiptip.minified.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/cufon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lavalamp.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flowy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("a#jamberry-info-box").fancybox({
                "autoDimensions":false,
                "width":680,
                "height":530
            });
        });
    </script>

    {% comment %} I really don't know where to put this {% endcomment %}

    <!--[if IE 9]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie9.css"/>
  <![endif]-->

    <!--[if lte IE 8]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie8.css"/>
      <script type="text/javascript" src="{{ STATIC_URL }}js/coreie8.js"></script>
  <![endif]-->

    <!--[if lte IE 7]>
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/ie7.css"/>
  <![endif]-->

    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>

    {% block extra-css %}{% endblock %}
    {% block extra-head %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    {% plugin_point "page_head" %}
    <style>
        .top-page-color {
            height: 30px;
            color: white;
            font-weight: bold;
            line-height: 10px;
        }

        #social_icons {
            float: right;
            margin-top: 5px;
        }
    </style>

</head>
{% block body %}
    <body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    {% plugin_point "page_top" %}
    <div id="background">
        <div id="background-2">
            <div id="main-wrapper">
                <div class="top-page-color">
                    <div class="wrapper">

                        {% if referred_by %}
                            <div>
                                {% ifequal request.path '/' %}
                                    <style>
                                        .top-page-color {
                                            height: 70px;
                                            line-height: 55px;
                                        }

                                        #social_icons {
                                            margin-top: 25px;
                                        }
                                    </style>

                                    {% if request.referred_by.profile.personal_photo %}
                                        {% thumbnail request.referred_by.profile.personal_photo 60x60 crop="center" as image %}
                                        <img src="{{ image }}" alt="{{ referred_by.get_full_name }}"
                                             style="margin:4px; height:60px; border:1px solid #D5D5D5; vertical-align:middle; float:left "/>
                                    {% else %}
                                        {% thumbnail 'images/representative.jpg' 60x60 as image %}
                                        <img src="{{ image }}" alt="{{ referred_by.get_full_name }}"
                                             style="margin:4px; height:60px; background:white; padding:0px 15px; border:1px solid #D5D5D5; vertical-align:middle; float:left "/>
                                    {% endif %}



                                {% endifequal %}
                                <style>
                                    .top-page-color {
                                        height: 70px;
                                        line-height: 55px;
                                    }

                                    #social_icons {
                                        margin-top: 25px;
                                    }
                                </style>

                                <ul style="float:left; margin-left: 0; margin-bottom: 0; padding-top: 16px; padding-bottom: 0; list-style: none;">
                                    <li>Presented by:
                                        {% if referred_by.website.name %} {{ referred_by.website.name }} {% else %}{{ referred_by.get_full_name }}{% endif %}</li>
                                    <li><a href="#about-me" id="jamberry-info-box">(Click Here To Learn More About
                                        Me)</a></li>
                                </ul>
	    <span id="social_icons">
	      {% include "frontend_header_links.html" %}
	    </span>
                            </div>
                        {% else %}
                            <span id="social_icons">
	    {% include "frontend_header_links.html" %}
	  </span>
                        {% endif %}


                    </div>
                </div>

                <div class="logo-menu-container">
                    <div class="wrapper">
                        <h1 id="logo">
			  <a href="/"><img src="{{ STATIC_URL }}images/logo.png" alt="Jamberry Nails"/></a>
                        </h1>

                        <div class="head-info" style="margin-top:10px; height:40px;">
			  {% if request.referred_by %}
                          <a href="{% if  request|has_party_cart %}{% url manager_select_party_products %}{% else %}{% if user.is_authenticated %}/manage/shop/select-products/{% else %}/shop/cart/{% endif %}{% endif %}">
			    <span style="font-size:15px;">{{ no_of_items_in_cart|floatformat:0 }} item(s)</span> &nbsp; 
			    <img style="margin-right:10px; vertical-align:middle;" src="{{ STATIC_URL }}images/shopcartsmall.png"/>
			  </a>
			  {% endif %}

                          {% if not user.is_authenticated %}
                          <a href="{% url auth_login %}">
			    <img style="margin-right:40px; vertical-align:middle;" src="{{ STATIC_URL }}images/jamberry-consultant-login.png"/>
			  </a>
                          {% else %}
                            {% if request.user.website %}
                            <a href="http://{{request.user.website.domain}}/manage/">
			      <img style=" margin-right:40px; height:28px; vertical-align:middle;" src="{{ STATIC_URL }}images/returndash.png"/>
			    </a>
                            {% endif %}
                          {% endif %}
                        </div>
                        {% include "frontend_menu.html" %}
                        <div class="clear"></div>
                    </div>
                </div>

                {% block blank-content %}
                {% endblock %}

                {% include 'frontend_widget.html' %}


                <div class="hidden">
                    <div id="about-me">
                        {% if referred_by %}
                            <div id="user-hud">

                                <div id="user-photo-id" class="left">
                                    {% if referred_by.profile.personal_photo %}
                                        {% thumbnail referred_by.profile.personal_photo 120x120 crop="center" as image %}
                                        <img src="{{ image }}" alt="profile pic">
                                    {% else %}
                                        <img src="{{ STATIC_URL }}images/representative.jpg" width="120" height="90"
                                             alt="">
                                    {% endif %}
                                </div>

                                <ul id="user-data">
                                    <li> {{ referred_by.first_name }} {{ referred_by.last_name }}
                                        / {{ referred_by.title }}</li>
                                    <li> {{ referred_by.contact.addressbook_set.all.0.city }}, {{ referred_by.contact.addressbook_set.all.0.state|upper }} </li>
                                </ul>
                                <div class="clear"></div>
                                <ul id="social-buttons-popup" class="post-info">
                                    {% for slug, data in referred_by.network.items %}
				      {% for d in data %}
               				    <li class="post-info-social"><a href="{{ date.network.prepend_text }}{{ d.network_address}}" class="{{ slug }}"></a></li>
			              {% endfor %}
		                   {% endfor %}
                                </ul>
                                <div class="clear"></div>
                            </div>

                            <div id="user-promotional">
                                {{ referred_by.profile.promo_page|linebreaks }}
                            </div>
                        {% endif %}
                    </div>
                </div>


                <div class="wrapper">

                    <div id="page-bottom">
                        {% block footer %}
                            <div id="copyright">
                                <p>Copyright (c) 2011 by <a href="" class="color">Almond Development LLC.</a>. All Rights
                                    Reserved.</p>
                                <!-- <a href="#about-me" title="" id="jamberry-info-box">DELETE THIS. TESTING</a> -->
                            </div>
                            <a href="#" class="scrolltop" title="Scroll to top"></a>
                            <div id="bottom-social-contener">
                                {% include "frontend_footer_links.html" %}
                            </div>
                            </div>
                        {% endblock %}
                    <div class="clear"></div>
                </div>
                <div class="bottom-page-color"></div>
            </div>
        </div>
    </div>

    {% block page-close %}
        {% block google-tracker %}
            {% if shop.options.GOOGLE.ANALYTICS.value %}
                {% show_tracker is_secure %}
            {% endif %}
        {% endblock %}
    {% endblock %}

    {% block bottom %}
    {% endblock %}
    {% block extra-js %}{% endblock %}
    </body>
{% endblock %}
</html>
