<ul id="nav" class="sf-menu lavaLampWithImage">
    <li class="{% ifequal request.path "/" %}current{% endifequal %}">
        <a href="/">Home Page <span> Start Here </span> </a>
    </li>
    {% if referred_by %}
        <li class="{% ifequal request.path|slice:":6" "/shop/" %}current{% endifequal %}">
            <a href="/shop/">Demo Shop<span>Shop</span></a>
        </li>
    {% else %}
        <li class="{% ifequal request.path|slice:":6" "/shop/" %}current{% endifequal %}">
            <a href="/shop/">Demo Shop <span>Store</span></a>
        </li>
        <li class="{% ifequal request.path "/accounts/find/" %}current{% endifequal %}">
            <a href="/accounts/find/">Geo Locate<span>Find a Consultant</span></a>
        </li>
    {% endif %}

    {% if referred_by %}
        {% if referred_by.scheduled_parties %}
            <li class="{% ifequal request.path "/parties/" %}current{% endifequal %}">
                <a href="/parties/">My Parties<span>Party</span></a>
            </li>
        {% endif %}
    {% endif %}

    <li class="{% ifequal request.path "/host/" %}current{% endifequal %}">
        <a href="/host/">Hosting Demo<span>Connect</span></a>
    </li>
    <li class="{% ifequal request.path "/join/" %}current{% endifequal %}
            {% ifequal request.path "/accounts/join/" %}current{% endifequal %}">
        <a href="/join/">Join Us<span>Party for a Living</span></a>
    </li>
</ul>
<style>
    .sf-menu li {
        height: auto ! important;
    }

    .sf-menu li {
        text-align: center;
    }

    .sf-menu li:hover, .sf-menu li.current {
        background: url('{{ STATIC_URL }}images/menubg.png');
        background-position: center;
        -moz-background-size: 100% 100%; /* Gecko 1.9.2 (Firefox 3.6) */
        -o-background-size: 100% 100%; /* Opera 9.5 */
        -webkit-background-size: 100% 100%; /* Safari 3.0, Chrome */
        background-size: 100% 100%;
    }

    .sf-menu li a {
        font-size: 17px;
    }

    .sf-menu li span {
        display: block;
        margin: 10px 0px;
        text-align: center;
        color: #b3b3b3;
        text-transform: uppercase;
        font-size: 60%;
    }

    .logo-menu-container #nav {
        border-bottom: 0px;
    }

    .sf-menu li.sfHover ul {
        top: 48px;
    }
</style>
