{% extends 'frontend_base.html' %}
{% block content %}
    <div class="home-page-header">
        <div class="invent-slider-wrapper">
            <div class="invent-slider-container">
                <div id="invent-slider-background"></div>
                <div class="invent-slider-inner-container">
                    <div id="slider-boxes">

                        <div class="slider-box light slide-right ">
                            <h1 class="slide-title"></h1>

                            <div class="slide-content">
                                    <a href="/shop/" class="button-big-theme-color left"><span>PURCHASE</span></a>
                                    <h5><p>Your own unique professional nail design and say goodbye to nail polish!</p></h5>
                                
                            </div>
                        </div>

                        <div class="slider-box light slide-right ">
                            <h1 class="slide-title"></h1>

                            <div class="slide-content">
                                <p>
                                    <a href="{{ MEDIA_URL }}docs/71322667-Jamberry-Nails-Spring-Summer-Catalog-2012.pdf"><img
                                            src="{{ MEDIA_URL }}images/catalog.jpg" style="height:310px"/></a>
                                </p>
                                {# <a href="/shop/" class="button-big-theme-color left"><span>PURCHASE</span></a> #}
                            </div>
                        </div>

                        <div class="slider-box light slide-right">
                            <h1 class="slide-title"></h1>

                            <div class="slide-content">
								<a href="/application/"> <img src="{{ STATIC_URL }}images/videocover.png" alt="" title=""/> </a>
                            </div>
                        </div>

                    </div>

                    <div class="nivoSlider invent-slider slider-arrows2">
                        <img src="{{ STATIC_URL }}images/slide1.png" alt="" title=""/>
                        <img src="{{ STATIC_URL }}images/slide2.png" alt="" title=""/>
                        <img src="{{ STATIC_URL }}images/slide3.png" alt="" title=""/>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="invent-home-page-header-decoration ">

    </div>

    <div class="content">

        <div class="wrapper home-page first-content">
            <!--
            <div class="carousel-container small">
              <div class="arrow-left-box jcarousel-controls"> <a class="jcarousel-left jcarousel-prev"></a></div>
              <div class="jcarousel-900">
            <ul class="jcarousel-skin-horizontal1 testimonials-carousel hidden">

              <li>
                <div>
                </div>
              </li>
              <li>
                <div>

                </div>
              </li>
              <li>
                <div>
                </div>
              </li>
            </ul>
              </div>
              <div class="arrow-right-box jcarousel-controls"><a class="jcarousel-right jcarousel-next"></a></div>
              <div class="clear"></div>
            </div>
            -->
        </div>

        <div class="shadow-area">
            <div class="wrapper">

                <div class="column-1-3">
                    <h5 class="big-icon-title"><span class=""></span>Demo User Lookup</h5>

                    <p>
                        Want the latest Jamberry Nails? All nails are sold through a network of Independent Jamberry
                        Consultants.
                    </p>
                    {% if not referred_by %}
                        <p>Locate your nearest Consultant below to place your order. </p>
                        <p class="clear left post-read-more"><a href="/accounts/find/"
                                                                class="button-small-theme-color left"><span>Find A Consultant</span></a>
                        </p>
                    {% else %}
                        <p class="clear left post-read-more"><a href="/shop/"
                                                                class="button-small-theme-color left"><span>Go to shop</span></a>
                        </p>
                    {% endif %}
                </div>

                <div class="column-1-3">
                    <h5 class="big-icon-title"><span class=""></span>Party Plan Features</h5>

                    <p>
                        Your consultant will bring product, order forms, and everything else to make your party a
                        success.</p>
                    <br>

                    <p>All you have to do is get your friends together! </p>

                    <p class="clear left post-read-more"><a href="/host/" class="button-small-theme-color left"><span>Learn More</span></a>
                    </p>
                </div>

                <div class="column-1-3 column-last">
                    <h5 class="big-icon-title"><span class=""></span>Easy Sign Up Forms</h5>

                    <p>
                        If you love Jamberry Nails as much as we do, join our incredible network of Independant
                        Consultants.</p>

                    <p>

                        Get all the support you need while running your own business!
                    </p>

                    <p class="clear left post-read-more"><a href="/accounts/join/"
                                                            class="button-small-theme-color left"><span>Join Now</span></a>
                    </p>
                </div>
                <div class="clear"></div>

            </div>
        </div>
        <div class="shadow-area-bottom"></div>


        <div class="wrapper content no-margin-bottom">

            <div class="carousel-container big">

                <div class="clear"></div>
            </div>

        </div>

    </div>
{% endblock %}

