<ul id="nav_main">
    {% comment %}
  <li class="{% ifequal request.path "/user/dashboard/" %}current{% endifequal %}">
    <a href="{% url dash_home %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/computer-imac.png" width=25 height=25 alt="">Dashboard
    </a>
  </li>
  <li class="{% ifequal request.path|slice:":20" "/user/control/store/" %}current{% endifequal %}">
    <a href="{% url control_store %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/shopping-cart.png" width=25 height=25 alt="">Store
    </a>
  </li>
  <li class="{% ifequal request.path|slice:":29" "/user/control/user-resources/" %}current{% endifequal %}">
    <a href="{% url control_user_resources %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/user-comment.png" width=25 height=25 alt="">User Resources
    </a>
  </li>
  <li class="{% ifequal request.path|slice:":19" "/user/control/site/" %}current{% endifequal %}">
    <a href="{% url control_site %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/post-card.png" width=25 height=25 alt="">Site Control
    </a>
  </li>
  <li class="{% ifequal request.path|slice:":24" "/user/control/financial/" %}current{% endifequal %}">
    <a href="{% url control_financial %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/money-2.png" width=25 height=25 alt="">Financial
    </a>
  </li>
  <li class="{% ifequal request.path|slice:":19" "/user/control/team/" %}current{% endifequal %}">
    <a href="{% url control_team %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/group-2.png" width=25 height=25 alt="">Your Team
    </a>
  </li>
  <li class="{% ifequal request.path|slice:":20" "/user/control/tools/" %}current{% endifequal %}">
    <a href="{% url control_tools %}">
      <img src="{{ STATIC_URL }}{{ template }}/img/icons/25x25/dark/tools.png" width=25 height=25 alt="">Tools
    </a>
  </li>
  {% endcomment %}
</ul>
