{% extends 'base.html' %}
{% load party_utils %}

{% block header-text %}
    My Parties
{% endblock %}

{% block header-description %}
    Join me at these parties.
{% endblock %}

{% block content %}
<style>
  table, table tr, table th, table td,  table table{
  box-shadow: 0px 0px 0px #d6d6d6 ! important;
  background-color: transparent ! important;
  text-align:left;
  }
  
  table{
  border:#DDD 1px inset;
  }

  table thead{
  border-bottom:#DDD 1px inset;
  }

  table thead td{
  font-weight:bold;
  }
  
  table td{
  padding:10px;
  }
  
  table thead, table tfoot *{
  color:white;
  }
</style>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>When?</td>
      <td>Where?</td>
      <td></td>
    </tr>
  </thead>
  {% for p in request.referred_by.scheduled_parties %}
  <tr>
    <td><a href="{% url events_detail code=p.code %}">{{ p.name }}</a></td>
    <td>{{ p.description }}</td>
    <td>{{ p.starts_at }}</td>
    <td>
      <div style="line-height:1.7em">{{ p.street }}</div>
      <div style="line-height:1.7em">{{ p.street2 }}</div>
      <div>{{ p.city }}, {{ p.state }} {{ p.postal_code }}</div>
    </td>
    <td>
      <a href="/parties/{{ p.code }}/" class="add">View</a> 
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
