{% load thumbnail %}

<aside class="equalize">
    <div id="sidebar_top">
        <div class="userinfo">
            <div class="info">
                <div class="avatar">
                    {% if request.user.profile.personal_photo %}
                        {% thumbnail request.user.profile.personal_photo 120x120 crop="center" as image %}
                        <img src="{{ image }}" width="120">
                    {% else %}
                        <img src="{{ STATIC_URL }}images/representative.jpg" width="120">
                    {% endif %}
                </div>
            </div>
            <ul class="links">
                <li>
                    Welcome, <br/>
                    <strong><a href="{% url manager_userinfo %}">
                        {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</a></strong>
                    <br/>
                    <a style="font-size: 10px;" href="{% url manager_userinfo %}">(edit your profile)</a>
                </li>
                {% comment %}
	<li>
	  <a href="#">New Enrollees</a>
	</li>
	<li>
	  <a href="#">New Commissions</a>
	</li>
	{% endcomment %}
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    <div style='padding:10px; text-align:center;'>
        {# <a href="javascript:void(0)" class="tog" onclick="clicked_tog('list')">List View</a> | <a href="javascript:void(0)" class="tog" onclick="clicked_tog('graph')">Graph View</a> #}
    </div>

    <div id="view_list" class="view">
        <table style="width:90%">
            <tr>
                <td colspan="3" style="text-align:center">
                    <div class="box">
                        <div class="header no-icon">
                            <h3>My Information</h3>
                            <span id="bill-info"></span>
                        </div>
                        <div class="content" style="padding:0px">
                            {# request.user.current_month_details #}
                            <table style="text-align:left; width:100%" class="info">
                                {% if request.user.title %}
                                    <tr>
                                        <th>Title:</th>
                                        <td>{{ request.user.title }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Join Date:</th>
                                    <td>{{ request.user.join_date|date:"d M, Y" }}</td>
                                </tr>
                                {% if request.user.title %}
                                    <tr>
                                        <th>Title:</th>
                                        <td>{{ request.user.title }}</td>
                                    </tr> {% endif %}
                                {% if request.user.current_month_details %}
                                    <tr>
                                        <th>Rank:</th>
                                        <td>{{ request.user.current_month_details.payrank.name }}</td>
                                    </tr> {% endif %}
                                {% ifnotequal request.user.sponsor request.user %}
                                    {% if request.user.sponsor %}
                                        <tr>
                                            <th>Sponsor:</th>
                                            <td><a href="javascript:void(0)"
                                                   title="Email: {{ request.user.sponsor.email }}{% if request.user.sponsor.profile.phone_number %}&lt;br&gt; Phone: {{ request.user.sponsor.profile.phone_number }}{% endif %}"
                                                   rel="tooltip-html">{{ request.user.sponsor.get_full_name }}</a></td>
                                        </tr>
                                    {% endif %}
                                {% endifnotequal %}
                            </table>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">

                    <div class="box">
                        <div class="header no-icon">
                            <h3>Volumes (Current Month)</h3>
                            <span id="bill-info"></span>
                        </div>
                        <div class="content" style="padding:0px">
                            <table style="text-align:left; width:100%" class="info">
                                <tr class="odd">
                                    <th>PRV:</th>
                                    <td>{{ volumes.prv|floatformat:2 }}</td>
                                </tr>
                                <tr class="even">
                                    <th>PCV:</th>
                                    <td>{{ volumes.pcv|floatformat:2 }}</td>
                                </tr>
                                <tr class="odd">
                                    <th>GCV:</th>
                                    <td>{{ volumes.gcv|floatformat:2 }}</td>
                                </tr>
                                <tr class="even">
                                    <th>Commission:</th>
                                    <td>{{ request.user.current_month_details.comm|floatformat:2 }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="box">
                        <div class="header no-icon">
                            <h3>Stats</h3>
                            <span id="bill-info"></span>
                        </div>
                        <div class="content" style="padding:0px">
                            <table style="text-align:left; width:100%" class="info">
                                <tr class="">
                                    <th>Business Supply Credit:</th>
                                    <td>${{ request.user.bsc|floatformat:2  }}</td>
                                </tr>
                                <tr class="">
                                    <th>Product Credit:</th>
                                    <td>{{ request.user.pc|floatformat:2  }}</td>
                                </tr>
                                <tr class="">
                                    <th>Frontline:</th>
                                    <td>{{ request.user.active_frontline }}</td>
                                </tr>
                                <tr class="">
                                    <th>New Recruits Current Month:</th>
                                    <td>{{ request.user.new_recruits }}</td>
                                </tr>
				<tr>
				  <th colspan="2">Rolling PCV Needed</th>
				</tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            {% comment %}
            <tr>
                <td style="vertical-align: middle;">
                    Performance
                </td>
                <td>
                    <input type="text" class="datepicker" placeholder="Start Date" style="width:95%"/>
                </td>
                <td>
                    <input type="text" class="datepicker" placeholder="End Date" style="width:95%"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button style="float:right; margin-right:1.5%;">Update</button>
                </td>
            </tr>
            {% endcomment %}
        </table>
    </div>

    <div id="view_graph" class="view" style="display:none">
        <h2 style="text-align:center; padding-top:0px">Information</h2>

        <p style="width:300px; height:300px; margin:auto" id="chart_here"></p>
    </div>
    <div class="divider"></div>


<style>
    #sidebar_content table.info tr td, #sidebar_content table.info tr th {
        padding: 4px;
        padding-left: 10px;
    }

    #sidebar_content table tr.even {
        background: #F7F7F7;
    }

    #sidebar_content table.info tr td {
        text-align: right;
        padding-right: 10px;
    }
</style>


</aside>

