{% load inbox %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
{% load i18n %}
<head>
    <link rel=dns-prefetch href="//fonts.googleapis.com">
    <title>{% block title %}{% if pagetitle %}{{ pagetitle }} - {% endif %}{% endblock %}
        - {{ shop_name }} {% trans ":: Powered By Crossmarket, a modular marketing software" %}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {# {% compress css %} #}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/960gs/fluid.css">
    <!-- 960.gs Grid System -->
    <!-- The HTML5-Boilerplate CSS styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/h5bp/normalize.css">
    <!-- RECOMMENDED: H5BP reset styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/h5bp/non-semantic.helper.classes.css">
    <!-- RECOMMENDED: H5BP helpers (e.g. .clear or .hidden) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/h5bp/print.styles.css">
    <!-- OPTIONAL: H5BP print styles -->
    <!-- The main styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprites.css">
    <!-- STRONGLY RECOMMENDED: Basic sprites (e.g. buttons, jGrowl) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/header.css">
    <!-- REQUIRED: Header styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/navigation.css">
    <!-- REQUIRED: Navigation styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/content.css">
    <!-- REQUIRED: Content styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/footer.css">
    <!-- REQUIRED: Footer styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/typographics.css">
    <!-- REQUIRED: Typographics -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/ie.fixes.css">
    <!-- OPTIONAL: Fixes for IE7 -->
    <!-- Sprite styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.lists.css">
    <!-- SPRITE: Lists styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <!-- SPRITE: Forms styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/external/jquery-ui-1.8.16.custom.css">
    <!-- REQUIRED: jQuery UI -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/icons.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/manage.css">
    <!-- OPTIONAL: List icons -->
    {# {% endcompress %} #}
    {% block top %}{% endblock %}
    {% block extra-css %}{% endblock %}
</head>
<body>
<!-- Begin of #height-wrapper -->
<div id="height-wrapper">
    <!-- Begin of header -->
    <header>
        <!-- Begin of the header toolbar -->
        <div id="header_toolbar">
            <div class="container_12">
                <h1 class="grid_8">
                    <a href="{% if not user.is_authenticated %}/{% else %}http://{{ user.website.domain }}{% endif %}"><img
                            src="{{ STATIC_URL }}images/logo.png" alt="" style="height:51px"></a>
                </h1>
                <!-- Start of right part -->
                <div class="grid_4">
                    <!-- A small toolbar button -->
                    <div class="toolbar_small">
                        <div class="toolbutton">
                            <span>{% inbox_count %}</span>
                            <a href="{% url manager_tools_view_supportlist %}"><img
                                    src="{{ STATIC_URL }}manage/img/icons/16x16/mail.png" width="16" height="16"
                                    alt="mail"></a>
                        </div>
                        {% comment %}
	                        <div class="toolbox" style="display:none">
		                  <span class="arrow"></span>
		                  <h3>{% trans "Your Messages" %}</h3>
		                  {% if message_list %}
    		                  <ul class="mail">
        		            {% for message in message_list %} 
        		            <li class="{% if message.read_at %}read{% endif %}">
        		              <a href="{{ message.get_absolute_url }}">
            		                <strong>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</strong>
            		                {{ message.subject }}
            		                <small>{% trans "From" %}: {{ message.sender.get_full_name }}{% if message.sender.aid %} ({{ AID_TITLE_SHORT }} {{ message.sender.aid }}){% endif %}</small>
        		              </a>
        		            </li>
        		            {% endfor %}
        		          </ul>
    		                  <a class="inbox" href="{# url messages_inbox #}">{% trans "Go to inbox &raquo;" %}</a>
		                  {% else %}
		                  <a class="inbox" href="{# url messages_inbox #}">{% trans "No message in your inbox!" %}</a>
		                  {% endif %}
				</div>
				{% endcomment %}
                    </div>
                    <!-- A large toolbar button -->
                    <div class="toolbar_large">

                        <div class="toolbutton">
                            <div class="toolicon">
                                <img src="{{ STATIC_URL }}manage/img/icons/16x16/user.png" width="16" height="16"
                                     alt="user">
                            </div>
                            <div class="toolmenu">
                                <div class="toolcaption">
                                    <span>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</span>
                                </div>
                                <!-- Start of menu -->
                                <div class="dropdown">
                                    <ul>
                                        {# <li> #}
                                        {# <a href="{% url profile_update %}">Settings</a> #}
                                        {# </li> #}
                                        <li>
                                            {# <a href="{% url auth_logout %}?next={{ request.path }}">{% trans "Logout" %}</a> #}
                                            <a href="{% url accounts_logout %}">{% trans "Logout" %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start of the main header bar -->
        <nav id="header_main" style="position:relative">

            {% if request.session.admin_user_id %}
                <div class="container_12" style="text-align:right; position:absolute; top:0px;">
                    <a href="{% url dashboard_re_login_as_admin request.session.admin_user_id %}">LOG BACK IN AS YOUR
                        ADMIN USER</a>
                </div>

            {% endif %}

            <div class="container_12">
                {% include "manage/menu.html" %}
            </div>
        </nav>
        <div id="nav_sub"></div>
    </header>

    <!-- Start of the content -->
    <div role="main" class="container_12" id="content-wrapper">
        {% block aside %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <div class="clear"></div>
</div>

<footer>
    <div class="container_12">
        {% trans "Copyright &copy; 2011 Almond Development, all rights reserved." %}
	{% comment %}
        <div id="button_bar">
            <ul>
                <li>
                    <span><a href="#">{% trans "Dashboard" %}</a></span>
                </li>
                <li>
                    <span><a href="#">{% trans "Settings" %}</a></span>
                </li>
            </ul>
        </div>
	{% endcomment %}
    </div>
</footer>

<script src="{{ STATIC_URL }}manage/js/libs/modernizr-2.0.6.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}manage/js/libs/jquery-1.6.4.js"><\/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="{{ STATIC_URL }}manage/js/libs/jquery-ui-1.8.16.min.js"><\/script>')</script>
<script defer src="{{ STATIC_URL }}manage/js/plugins.js"></script>
<script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.ba-resize.js"></script>
<script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.easing.1.3.js"></script>
<script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.ui.touch-punch.js"></script>
<script defer src="/static/manage/js/mylibs/jquery.tipsy.js"></script>
<script defer src="/static/manage/js/mylibs/flot/jquery.flot.js"></script>
<script defer src="/static/manage/js/mylibs/flot/jquery.flot.pie.js"></script>
<script defer src="/static/manage/js/mylibs/flot/jquery.flot.orderBars.js"></script>
<script>var static_path = '{{ STATIC_URL }}manage/';</script>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to
support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
    <script defer
    src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script
    defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
{% block bottom %} {% endblock %}
{% block extra-js %}{% endblock %}
<script defer src="{{ STATIC_URL }}manage/js/script.js"></script>
<script src="{{STATIC_URL}}js/jQuery.equalHeights.js"></script>
<script>
    $(window).load(function () {
      $('#content-wrapper').equalHeights();
    });
</script>

</body>
</html>
