<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- DNS prefetch -->
    <link rel=dns-prefetch href="//fonts.googleapis.com">
    <!-- Use the .htaccess and remove these lines to avoid edge case issues. More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        {% block title %}{% if pagetitle %}{{ pagetitle }} - {% endif %}{% endblock %} - {{ shop_name }} :: Powered By
        Crossmarket, a modular marketing software</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script>
        var static_path = '{{ STATIC_URL }}manage/';
    </script>
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory:     mathiasbynens.be/notes/touch-icons -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/960gs/fluid.css">
    <!-- 960.gs Grid System -->
    <!-- The HTML5-Boilerplate CSS styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/h5bp/normalize.css">
    <!-- RECOMMENDED: H5BP reset styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/h5bp/non-semantic.helper.classes.css">
    <!-- RECOMMENDED: H5BP helpers (e.g. .clear or .hidden) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/h5bp/print.styles.css">
    <!-- OPTIONAL: H5BP print styles -->
    <!-- The main styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprites.css">
    <!-- STRONGLY RECOMMENDED: Basic sprites (e.g. buttons, jGrowl) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/header.css">
    <!-- REQUIRED: Header styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/navigation.css">
    <!-- REQUIRED: Navigation styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/content.css">
    <!-- REQUIRED: Content styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/footer.css">
    <!-- REQUIRED: Footer styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/typographics.css">
    <!-- REQUIRED: Typographics -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/ie.fixes.css">
    <!-- OPTIONAL: Fixes for IE7 -->
    <!-- Sprite styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.lists.css">
    <!-- SPRITE: Lists styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
    <!-- SPRITE: Forms styling -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/external/jquery-ui-1.8.16.custom.css">
    <!-- REQUIRED: jQuery UI -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/icons.css">
    <!-- OPTIONAL: List icons -->

    <script src="{{ STATIC_URL }}manage/js/libs/modernizr-2.0.6.min.js"></script>
    {% block top %}
    {% endblock %}
</head>

<body>

<!-- Begin of #height-wrapper -->
<div id="height-wrapper">
    <!-- Begin of header -->
    <header>
        <!-- Begin of the header toolbar -->
        <div id="header_toolbar">
            <div class="container_12">
                <h1 class="grid_8"><img src="{{ STATIC_URL }}images/logo.png" alt="" style="height:85%"></h1>
                <!-- Start of right part -->
                <div class="grid_4">
                    <!-- A small toolbar button -->
                    <div class="toolbar_small">
                        <div class="toolbutton">
                            {% if unread %}
                                <span>{{ unread }}</span>
                            {% endif %}
                            <img src="{{ STATIC_URL }}manage/img/icons/16x16/mail.png" width="16" height="16"
                                 alt="mail">
                        </div>
                        <div class="toolbox">
                            <span class="arrow"></span>

                            <h3>Your Messages</h3>
                            {% if message_list %}
                                <ul class="mail">
                                    {% for message in message_list %}
                                        <li class="{% if message.read_at %}read{% endif %}">
                                            <a href="{{ message.get_absolute_url }}">
                                                <strong>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</strong>
                                                {{ message.subject }}
                                                <small>From:
                                                    {{ message.sender.get_full_name }}{% if message.sender.aid %}
                                                        ({{ AID_TITLE_SHORT }} {{ message.sender.aid }}
                                                        ){% endif %}</small>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a class="inbox" href="{% url messages_inbox %}">Go to inbox &raquo;</a>
                            {% else %}
                                <a class="inbox" href="{% url messages_inbox %}">No message in your inbox!</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End of small toolbar button -->

                    <!-- A large toolbar button -->
                    <div class="toolbar_large">
                        <div class="toolbutton">
                            <div class="toolicon">
                                <img src="{{ STATIC_URL }}manage/img/icons/16x16/user.png" width="16" height="16"
                                     alt="user">
                            </div>
                            <div class="toolmenu">
                                <div class="toolcaption">
		    <span>
		      {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
		    </span>
                                </div>
                                <!-- Start of menu -->
                                <div class="dropdown">
                                    <ul>
                                        <!--
		      <li>
			{# <a href="{% url profile_update %}">Settings</a> #}
		      </li>
		      -->
                                        <li>
                                            <a href="{% url auth_logout %}?next={{ request.path }}">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End of menu -->
                            </div>
                        </div>
                    </div>
                    <!-- End of large toolbar button -->
                </div>
                <!-- End of right part -->
            </div>
        </div>
        <!-- End of the header toolbar -->

        <!-- Start of the main header bar -->
        <nav id="header_main">
            <div class="container_12">
                {% include "manage/menu.html" %}
            </div>
        </nav>
        <div id="nav_sub"></div>
    </header>

    <!-- Start of the content -->
    <div role="main" class="container_12" id="content-wrapper">

        {% block aside %}{% endblock %}


        <!-- Start of the main content -->
        {% block content %}{% endblock %}
        <!-- End of #main_content -->
        <div class="clear"></div>

    </div>
    <!-- End of #content-wrapper -->
    <div class="clear"></div>

</div>
<!-- End of #height-wrapper -->

<!-- Start of footer-->
<footer>
    <div class="container_12">
        Copyright &copy; 2011 Almond Development, all rights reserved.
        <div id="button_bar">
            <ul>
                <li>
                    <span><a href="dashboard.html">Dashboard</a></span>
                </li>
                <li>
                    <span><a href="#">Settings</a></span>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- End of footer-->


<!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery + jQueryUI, with a protocol relative URL; fall back to local -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}manage/js/libs/jquery-1.6.4.js"><\/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="{{ STATIC_URL }}manage/js/libs/jquery-ui-1.8.16.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via build script -->
<script defer src="{{ STATIC_URL }}manage/js/plugins.js"></script>
<!-- REQUIRED: Different own jQuery plugnis -->
<script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.ba-resize.js"></script>
<!-- RECOMMENDED when using sidebar: page resizing -->
<script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.easing.1.3.js"></script>
<!-- RECOMMENDED: box animations -->
<script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.ui.touch-punch.js"></script>
<!-- RECOMMENDED: touch compatibility -->

{% block bottom %} {% endblock %}


<script defer src="{{ STATIC_URL }}manage/js/script.js"></script>
<!-- REQUIRED: Generic scripts -->
<!-- end scripts -->

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to
       support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
	  <script defer
		  src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	  <script
	     defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	  <![endif]-->
</body>
</html>
