{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock %}


{% block content %}


    <div id="main_content">

        {% for product in all_products %}
            {% if forloop.first %}
                <div class="invent-gallery">
                {% if child_categories %}
                    <ul id="gallery-splitter-1" class="gallery-splitter">
                        <li class="gallery-all selected"><a href="#gallery-all" rel="all">All</a></li>
                        {% for cat in child_categories %}
                            <li class="gallery-{{cat.slug}}"><a href="#gallery-{{cat.slug}}"
                                                                rel="gallerygroup-{{cat.slug}}">{{ cat.translated_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="portfolio-1-4 no-description">
            {% endif %}

        <div class=" {% for c in product.category.all %}gallery-{{ c.slug }} {% endfor %}">
	<span class="image-decoration image-left shadow-220" style="margin-bottom:0px">
	  <a href="/manage{{ product.get_absolute_url }}" title="{{ product.translated_name }}" data-fancybox="2"
         class="external">
          <span class="image-hover" style="opacity: 0.5; "></span>
          <span class="image-hover-icon" style="opacity: 1; "></span>
          {% if product.main_image %}
              {% thumbnail product.main_image.picture 200x100 crop="center" as image %}
              <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                   class="attachment-invent-small" alt="{{ product.translated_name }}"
                   title="{{ product.translated_name }}">
          {% else %}
              {% thumbnail 'images/cat-default.jpg' 200x200 as image %}
              <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                   class="attachment-invent-small" alt="{{ product.translated_name }}"
                   title="{{ product.translated_name }}">
          {% endif %}
      </a>
	</span>

        </div>

        {% if forloop.last %}
            </div>
            </div>
        {% endif %}

        {% endfor %}


    </div>

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
{% endblock %}


{% block bottom %}
    <!-- writing css here, needs to be removed lateron - Aman -->
    <script type="text/javascript" src="/static/js/jquery.flowy.js"></script>
    <link rel="stylesheet" href="/static/manage/css/invent.css">
    <script>

        function portfolioAnimations() {

        }
        $('.invent-gallery').flowy({margin:20});

    </script>
    <!-- end css -->


{% endblock %}
