<style type="text/css">
    #consultant-info {
        float:left;
    }
    #consultant-info table {
        width: 400px;
    }

    #consultant-party table {
        width: 350px;
    }
</style>
<div class="consultant-content" id="consultant-content">
    <div id="consultant-info">
        <h3>User Information</h3>
        <table>
            <tr>
                <td>Name</td><td id="user-name">{{ name }}</td>
            </tr>
            <tr>
                <td>Username</td><td id="user-username">{{ username }}</td>
            </tr>
            <tr>
                <td>Personal URL</td><td id="user-personalurl">{{ personal_url|lower }}</td>
            </tr>
            <tr>
                <td>Rank</td><td id="user-rank">{{ rank }}</td>
            </tr>
            <tr>
                <td>Sponsor</td><td id="user-sponsor">{{ sponsor }}</td>
            </tr>
            <tr>
                <td>Member Since</td><td id="user-membersince">{{ member_since }}</td>
            </tr>
            <tr>
                <td>Mailing Address</td><td id="user-mailingaddress">{{ mailing_address.street }}<br /> {{ mailing_address.city }}, {{ mailing_address.state }} {{ mailing_address.zip_code }} <br /> {{ mailing_address.country}}</td>
            </tr>
            <tr>
                <td>Email</td><td id="user-email">{{ email }}</td>
            </tr>
            <tr>
                <td>Phone Number</td><td id="user-phone">{{ phone }}</td>
            </tr>
            <tr>
                <td>Last Login</td><td id="user-lastlogin">{{ last_login }}</td>
            </tr>
        </table>
    </div>
    <div id="consultant-party">
        <h3>Open Parties</h3>
        <table>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Starts At</td>
            </tr>
            {% for party in parties %}
                <tr>
                    <td>{{ party.name }}</td>
                    <td>{{ party.description }}</td>
                    <td>{{ party.starts_at }}</td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="3">
                    <strong>No open parties</strong>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
