{% extends "manage/base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}
    <div id="main_content">

    {% for note in notices %}
        <div class="grid_11 alert {{ note.type }}" style="padding:10px 0px 10px 30px;">
            <span class="icon"></span>
            <strong>{{ note.title }}</strong>
            {{ note.description|safe }}
        </div>
    {% endfor %}

    <div class="clean"></div>

    <div class="grid_12" id="quick_links">
        <div id="shortcuts-steps" class="box tabbed">
            <div class="header">
                <h3>Your Shortcuts</h3>
            </div>
            <div class="content">
                <ul id="shortcuts" class="shortcuts tab-content">
                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/balloons.png" width="25" height="25"
                                 alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url events %}"> <strong>Parties</strong> <span>Create a party and send out e-vites.</span>
                        </a>
                    </li>
                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/lemonade-stand.png" width="25"
                                 height="25" alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_shop %}"> <strong>Shop Jamberry
                            Nails</strong> <span>Shop for you or for your parties.</span> </a>
                    </li>
                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/box-outgoing-2.png" width="25"
                                 height="25" alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_tools %}"> <strong>Email Marketing</strong>
                            <span>Setup and send emails to potential clients.</span> </a>
                    </li>

                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/piggy-bank.png" width="25" height="25"
                                 alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_financial %}"> <strong>Commissions</strong>
                            <span>Your Earnings and Commissions.</span> </a>
                    </li>
                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/blackberry-2.png" width="25"
                                 height="25" alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_team %}"> <strong>Genealogy</strong> <span>View your genealogy and dowline here.</span>
                        </a>
                    </li>
                    <li>
                        <div class="shortcut-icon">
                            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/film-2.png" width="25" height="25"
                                 alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_resources %}"> <strong>Training &mp;
                            Marketing Resources</strong> <span>Videos, documents &amp; tools to promote sales.</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="clean"></div>


    <div class="grid_12">
        <div class="box tabbed">
            {% for video in videos %}
                <div class="grid_4">
                    {% comment %} Render a thumbnail here of the video if present. If not render the default one {% endcomment %}
                    <a style="display: block; padding: 10px;" href="http://www.youtube.com/watch?v={{ video.video_id }}"
                       rel="prettyPhoto" title="{{ video.title }}">
                        {% if video.thumbnail %}
                            {% thumbnail video.thumbnail 200x150 crop="center" as image %}
                            <img src="{{ image }}">
                        {% else %}
                            <img src="http://img.youtube.com/{{ m.video_id }}/2.jpg">
                        {% endif %}
                    </a>

                    <p style="text-align: center;"><strong>{{ video.title }}</strong></p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}


{% block aside %}
    {% include 'manage/aside.html' %}
{% endblock %}


{% block bottom %}

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.gallery.css"> <!-- SPRITES: Gallery styling -->

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>



    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.prettyPhoto.js"></script>

    <script>
        {% comment %}
      function clicked_tog(what){
      $('.view').hide()
      $('#view_'+what).show()
      }
      {% endcomment %}

        $(".datepicker").datepicker();
        $(document).ready(function () {
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });
    </script>


{% endblock %}
