{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">

    <div class="grid_12">
        <div class="box" id="tab-panel-orders">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">

                <h3>Orders</h3>
                <ul>
                    <li><a href="#tab-all">All</a></li>
                    <li><a href="#tab-personal">Your Personal Orders</a></li>
                    <li><a href="#tab-retail">Retail Orders</a></li>
                    <li><a href="#tab-enrolles">Your Frontline</a></li>
                    <li><a href="#tab-parties">Parties</a></li>
                </ul>

            </div>
            <div class="content">
                <div id="tab-all" class="tab-content in">
                    <form method="post" action="{# this filter is breaking url contact-manager-filter #}">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Shipped To</th>
                            <th>PCV</th>
                            <th>Retail Commission</th>
                            <th>Tracking</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                        </thead>

                        {% for o in  all_order %}
                            <tr>
                                <td><a class="order-trigger" title="" rel="prettyPhoto" href="#render-here"
                                       url="{% url manager_financial %}?order_pk={{ o.order.pk }}">{{ o.order.pk }}</a>
                                </td>
                                <td>{{ o.order.time_stamp }}</td>
                                <td>{{ o.order.contact.full_name }}</td>
                                <td>{{ o.pcv|floatformat:"2" }}</td>
                                <td>${{ o.retail_comm|floatformat:"2" }}</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>${{ o.order.total|floatformat:"2" }}</td>

                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <div id="tab-personal" class="tab-content in">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>By</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        {% for o in  personal_order %}
                            <tr>
                                <td><a class="order-trigger" title="" rel="prettyPhoto" href="#render-here"
                                       url="{% url manager_financial %}?order_pk={{ o.order.pk }}">{{ o.order.pk }}</a>
                                </td>
                                <td>{{ o.order.time_stamp }}</td>
                                <td>{{ o.order.contact.full_name }}</td>
                                <td>${{ o.order.total|floatformat:"2" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="tab-retail" class="tab-content in">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Date</th>
                            <th>By</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        {% for o in  retail_order %}
                            <tr>
                                <td><a class="order-trigger" title="" rel="prettyPhoto" href="#render-here"
                                       url="{% url manager_financial %}?order_pk={{ o.order.pk }}">{{ o.order.pk }}</a>
                                </td>
                                <td>{{ o.order.time_stamp }}</td>
                                <td>{{ o.order.contact.full_name }}</td>
                                <td>${{ o.order.total|floatformat:"2" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="tab-enrolles" class="tab-content in">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Date</th>
                            <th>By</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        {% for o in  enrolles_order %}
                            <tr>
                                <td><a class="order-trigger" title="" rel="prettyPhoto" href="#render-here"
                                       url="{% url manager_financial %}?order_pk={{ o.order.pk }}">{{ o.order.pk }}</a>
                                </td>
                                <td>{{ o.order.time_stamp }}</td>
                                <td>{{ o.order.contact.full_name }}</td>
                                <td>${{ o.order.total|floatformat:"2" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="tab-parties" class="tab-content in">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>By</th>
                            <th>Party</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        {% for o in  party_orders %}
                            <tr>
                                <td><a class="order-trigger" title="" rel="prettyPhoto" href="#render-here"
                                       url="{% url manager_financial %}?order_pk={{ o.order.pk }}">{{ o.order.pk }}</a>
                                </td>
                                <td>{{ o.order.time_stamp }}</td>
                                <td>{{ o.order.contact.full_name }}</td>
                                <td>{% for p in o.order.order_party.all %} {{ p.party.name }} {% endfor %}</td>
                                <td>${{ o.order.total|floatformat:"2" }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </form>
                </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_12 -->
    <div class="grid_12">
        <div class="box" id="tab-panel-comm-vol">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">

                <h3>Commissions &amp; Volumes</h3>
                <ul>
                    <li><a href="#tab-comm">Your Commissions</a></li>
                    <li><a href="#tab-rnv">Ranks & Volumes</a></li>
                    {% if request.user.faststart %}
                        <li><a href="#tab-fs">Fast Start</a></li>{% endif %}
                    <li><a href="#tab-enrolles-1">Downline Ranks &amp; Volumes</a></li>
                </ul>
            </div>
            <div class="content">
                <div id="tab-comm" class="tab-content in">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Rank</th>
                            <th>Retail Commission</th>
                            <th>Volume Bonus</th>
                            <th>Business Supply Credit</th>
                            <th>Commissions on Downline</th>
                            <th>Pay Rank Bonus</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        {% for h in request.user.history %}
                            <tr>
                                <td>{{ h.year }}</td>
                                <td>{{ h.month }}</td>
                                <td>{{ h.earned_rank.name }}</td>
                                <td>$ {{ h.retail_comm|floatformat:'2' }}</td>
                                <td>$ {{ h.volume_bonus|floatformat:'2' }}</td>
                                <td>$ {{ h.business_supply_credit|floatformat:'2' }} {# B S C #}</td>
                                <td>$ {{ h.commissions_on_downline|floatformat:'2' }} {# C o D #}</td>
                                <td>$ {{ h.pay_rank_bonus|floatformat:'2' }} {# P R B #}</td>
                                <td>$ {{ h.total|floatformat:'2' }} </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div id="tab-rnv" class="tab-content in">
                    <table class="table style">
                        <thead>
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Rank</th>
                            <th>PCV</th>
                            <th>PCV this Quarter</th>
                            <th>GCV</th>
                            <th>Personally Enrolled</th>
                            <th>Personally Enrolled - Active</th>
                        </tr>
                        </thead>
                        {% for h in request.user.history %}
                            <tr>
                                <td>{{ h.year }}</td>
                                <td>{{ h.month }}</td>
                                <td>{{ h.earned_rank.name }}</td>
                                <td>{{ h.pcv }}</td>
                                <td>{{ h.pcv_quater }}</td>
                                <td>${{ h.gcv }}</td>
                                <td>{{ h.personally_enrolled }}</td>
                                <td>{{ h.personally_enrolled_active }}</td>
                            </tr>
                        {% endfor %}


                    </table>
                </div>
                <div id="tab-fs" class="tab-content">
                    {% if request.user.faststart %}
                        <table style="width: 1046px; margin-left: -10px;" class="table">
                            <thead>
                            <tr>
                                <th style="width:33%; text-align:center">Month 1<br/></th>
                                <th style="width:33%; text-align:center">Month 2<br/></th>
                                <th style="width:33%; text-align:center">Month 3<br/></th>
                            </tr>
                            </thead>
                            <tr>
                                <td>{% if request.user.faststart.ended_month_1 %}Ended{% endif %}</td>
                                <td>{% if request.user.faststart.ended_month_2 %}Ended{% endif %}</td>
                                <td>{% if request.user.faststart.ended_month_3 %}Ended{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Qualifying Parties: {{ request.user.faststart.parties_month_1 }}</td>
                                <td>Qualifying Parties: {{ request.user.faststart.parties_month_2 }}</td>
                                <td>Qualifying Parties: {{ request.user.faststart.parties_month_3 }}</td>
                            </tr>
                            <tr>
                                <td>PCV: {{ request.user.faststart.pv_month_1 }}</td>
                                <td>PCV: {{ request.user.faststart.pv_month_2 }}</td>
                                <td>PCV: {{ request.user.faststart.pv_month_3 }}</td>
                            </tr>
                            <tr>
                                <td>You have {% if not request.user.faststart.achieved_month_1 %}not yet{% endif %} met
                                    the requirements for this month.
                                </td>
                                <td>You have {% if not request.user.faststart.achieved_month_2 %}not yet{% endif %} met
                                    the requirements for this month.
                                </td>
                                <td>You have {% if not request.user.faststart.achieved_month_3 %}not yet{% endif %} met
                                    the requirements for this month.
                                </td>
                            </tr>
                            <tr>
                                <td>Requirements:<br/>Complete your Launch Party and at least one additional qualifying
                                    party; and achieve a personal volume of at least 400 in PCV.
                                </td>
                                <td>Requirements:<br/>Complete three additional qualifying parties, and achieve a
                                    personal volume of at least 600 in PCV.
                                </td>
                                <td>Requirements:<br/>Complete five additional parties, and achieve a personal volume of
                                    at least 1000 in PCV; Personally recruit two active consultants (these consultants
                                    can be recruited any time during the first 90 days)
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
                <div id="tab-enrolles-1" class="tab-content in">
                    <table class="table style">
		      <thead>
                        <tr>
                          <th>User</th>
                          <th>PCV</th>
                          <th>Personally Enrolled</th>
                          <th>Rank</th>
                          <th>Previous Month Rank</th>
                        </tr>
		      </thead>
                        {% for m in dl_rank %}
                            <tr>
                                <td>{{ m.user.get_full_name }}</td>
                                <td>{{ m.pcv }}</td>
                                <td>{{ m.personally_enrolled }}</td>
                                <td>{{ m.earned_rank.name }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>


            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
        <div id="render-here" class="grid_12" style="display: none;"></div>
    </div> <!-- End of .grid_12 -->


    <style>
        .tab-content.in {
            padding-top: 10px;
        }

        .tab-content.in .actions {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
        }
    </style>

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.tables.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprites.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.gallery.css"> <!-- SPRITES: Gallery styling -->

    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.dataTables.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.prettyPhoto.js"></script>

{% endblock %}
{% block bottom %}
    <script>
        $(document).ready(function () {
            /*
             * Tabs
             */
            $('#tab-panel-orders').createTabs();
            $('#tab-panel-comm-vol').createTabs();

            /*
             * Launch an ajax request to get order information
             */

            $("a[rel^='prettyPhoto']").prettyPhoto({
                "social_tools":"",
                "allow_resize":false,
                "default_width":800,
            });

            $(".order-trigger").click(function (e) {
                e.preventDefault();
                var url = $(e.currentTarget).attr("url");
                $.get(
                        url,
                        {},
                        function (data) {
                            $("#render-here").html(data.template);
                        }
                );
            });

            $('.table.style').dataTable({
                "aaSorting":[
                    [ 0, "desc"]
                ]
            });

        });
    </script>
{% endblock %}
