{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div id="main_content">
  <style>
    #gene_data td{
    padding:2px 10px;
    }
  </style>
  <h2 class="grid_12">Genealogy</h2>
  <div id="gene_data" style="display:none; background:url({{ STATIC_URL }}manage/img/main_content/title-underline.png) repeat-x bottom; margin-left:10px; width:100%; padding-bottom:10px; overflow:auto;">
    <table style="float:left">
      <tr>
	<td colspan="2" id="name"></td>
	<td>Last Login:</td><td id="last_login"></td>
	<td>Active Frontline:</td><td id="frontline"></td>
      </tr>  
      <tr>
	<td>Username:</td><td id="username"></td>
	<td>Commissions:</td><td id="commissions"></td>
	<td>New Recruits:</td><td id="new_recruits"></td>
      </tr>
      <tr>
	<td>Email:</td><td id="email"></td>
	<td>PCV:</td><td id="pcv"></td>
	<td></td><td></td>
      </tr>
    </table>
    <div style="clear:both;"></div>
  </div>
  <div id="d3tree" style="height:800px; width:1100px; margin-bottom:100px;">
  </div>
</div>
{% endblock %}
{% block bottom %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}vendors/d3/style.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
    <script src="{{ STATIC_URL }}vendors/d3/d3.js"></script>
    <script src="{{ STATIC_URL }}vendors/d3/d3.layout.js"></script>
    <script type="text/javascript">

var shown=false
var loading=false
function show_data(d){
  if(d.data){ 
    show(d)
  }else{
    if(loading){
      return false;
    }
    loading=true
    $.ajax({
      'url':'{% url manager_user_details %}',
      'data':{user_id:d.user_id},
      'success':function(data){
        d.data=data.data
        show(d)
      },
      'complete':function(){
        loading=false
      }
    })
  }
}
function show(d){
  $('#name').text(d.name)
  $('#username').text(d.data.username)
  $('#email').text(d.data.email)
  $('#last_login').text(d.data.last_login)
  $('#pcv').text(d.data.pcv)
  $('#commissions').text(d.data.commissions)
  $('#frontline').text(d.data.active_frontline)
  $('#new_recruits').text(d.data.new_recruits)
  if(!shown){
    $('#gene_data').slideDown()
    shown=true
  }
}

var m = [20, 40, 20, 40],
    w = 1100 - m[1] - m[3],
    h = 800 - m[0] - m[2],
    i = 0,
    root;

var tree = d3.layout.tree()
    .size([h, w]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var vis = d3.select("#d3tree").append("svg:svg")
    .attr("width", w + m[1] + m[3])
    .attr("height", h + m[0] + m[2])
  .append("svg:g")
    .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

d3.json("{% url manager_genealogy_tree %}", function(json) { 
  root = json;
  root.x0 = h / 2;
  root.y0 = 0;

  function toggleAll(d) {
    if (d.children) {
      d.children.forEach(toggleAll);
      toggle(d);
    }
  }

  // Initialize the display to show a few nodes.
  root.children.forEach(toggleAll);
  update(root);
  setTimeout(function(){show_data(root)}, 800)
  
});


function update(source) {
  var duration = d3.event && d3.event.altKey ? 5000 : 500;

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse();

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = vis.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("svg:g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; });

  nodeEnter.append("svg:circle")
      .attr("r", 1e-6)
      .on("click", function(d) { toggle(d); update(d); })
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("svg:text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .on("click", function(d){ show_data(d); })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6)
      .style("cursor", "pointer");
      

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = vis.selectAll("path.link")
      .data(tree.links(nodes), function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("svg:path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      })
    .transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children.
function toggle(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
}

    </script>
{% endblock %}
