{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load cart_details %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        table td {
            vertical-align: middle;
        }

    </style>
    <div id="main_content">

    <table style="width:95%;" id="selector">
        {% for attendee, po in porder.items %}
            <tr>
                <td>
                    <div class="box">
                        <div class="header no-icon" style="position:relative;">
			    {% if attendee.pk in direct_shippers %}<h3 style="position:absolute; right:10px;">Direct Shipping Order</h3>{% endif %}
                            <h3>{{ po.attendee.name }}</h3>
                        </div>
                        <div class="content" style="padding:0px">
                            <table style="width:100%; margin:auto;" class="table">
                                <thead>
                                <tr>
                                    <th style="width:30%">SKU</th>
                                    <th style="width:50%">Product</th>
                                    <th>Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for o in po.orders %}
                                    <tr>
                                        <td>{{ o.product.sku }}</td>
                                        <td>{{ o.product.name }}</td>
                                        <td>{{ o.quantity }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td style="text-align:right">
                <a href="{% url manager_order_tracking order.pk %}" class="button"
                   style="width:150px; text-align:center; float:right">View Payment Details</a>
            </td>
        </tr>
    </table>


{% endblock %}


{% block bottom %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.tables.css">
{% endblock %}
