<ul id="nav_main">
    <li class="{% ifequal request.path "/manage/" %}current{% endifequal %}">
        <a href="{% url manager_dashboard %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/computer-imac.png" width=25 height=25 alt="">Dashboard
        </a>
    </li>
    <li class="{% ifequal request.path|slice:":13" "/manage/shop/" %}current{% endifequal %}">
        <a href="{% url manager_shop %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/shopping-cart.png" width=25 height=25 alt="">Store
        </a>
    </li>
    <li class="{% ifequal request.path|slice:":23" "/manage/user_resources/" %}current{% endifequal %}">
        <a href="{% url manager_resources %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/user-comment.png" width=25 height=25 alt="">User
            Resources
        </a>
    </li>
    {% comment %}
  <li class="{% ifequal request.path|slice:":13" "/manage/site/" %}current{% endifequal %}">
    <a href="{% url manager_site %}">
      <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/post-card.png" width=25 height=25 alt="">Site Control
    </a>
  </li>
  {% endcomment %}
    <li class="{% ifequal request.path|slice:":18" "/manage/financial/" %}current{% endifequal %}">
        <a href="{% url manager_financial %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/money-2.png" width=25 height=25 alt="">Orders/Commissions
        </a>
    </li>
    <li class="{% ifequal request.path|slice:":13" "/manage/team/" %}current{% endifequal %}">
        <a href="{% url manager_team %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/group-2.png" width=25 height=25 alt="">Your Team
        </a>
    </li>
    <li class="{% ifequal request.path|slice:":14" "/manage/tools/" %}current{% endifequal %}">
        <a href="{% url manager_tools_menu %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/tools.png" width=25 height=25 alt="">Tools
        </a>
    </li>
    <li class="{% ifequal request.path|slice:":14" "/manage/tools/communicate/" %}current{% endifequal %}">
        <a href="{% url manager_tools %}">
            <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/mail.png" width=25 height=25 alt="">Email
        </a>
    </li>
</ul>
