{% extends "manage/base.html" %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div id="main_content">
  <h2 class="grid_12">Party Hostess Reward</h2>
  <div class="grid_12" id="quick_links">
    <div id="shortcuts-steps" class="box tabbed">
      <div class="content" style="border:0px; background:none;">
	You have not earned any reward for this party.
      </div>
    </div>
  </div>
{% endblock %}
