{% load cart_details %}
<style type="text/css">
    table.order-detail-popup, table.order-detail-popup td {
        border: 1px solid black;
        padding: 6px;
    }

    table.order-detail-popup {
        width: 100%;
        margin-bottom: 18px;
    }

    table.order-detail-popup th {
        background-color: #f669a3;
    }

    table.order-detail-popup tr {
        text-align: center;
    }

    table.order-detail-popup td {
        text-align: center;
    }

    .order-hud-container {
        float: right;
        margin-left: 100px;
    }

    td.data-cell {
        padding-left: 12px;
    }

    table.order-hud td {
        text-align: right;
    }

</style>

<table class="order-detail-popup">
    <thead>
    <tr>
        <th>SKU</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    {% for item in order.orderitem_set.all %}
        <tr>
            <td>{{ item.product.sku }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.unit_price|floatformat:2 }}</td>
            <td>{{ item.quantity|floatformat:2 }}</td>
            <td>{{ item.unit_price|get_item_total:item.quantity|floatformat }}</td>
        </tr>
    {% endfor %}
</table>

<div class="grid_6 order-hud-container">
    <table class="order-hud">
        <tr>
            <td>Order Placed By:</td>
            <td class="data-cell"><strong>{{ order.contact.first_name }} {{ order.contact.last_name }}</strong></td>
        </tr>
        <tr>
            <td>Shipped To:</td>
            <td class="data-cell"><strong>{{ order.ship_city }}, {{ order.ship_state }}</strong></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td class="data-cell"><strong>{{ order.ship_street1 }}</strong></td>
        </tr>
    </table>
</div>
<div class="grid_6 order-hud-container">
    <table class="order-hud">
        <tr>
            <td>Subtotal:</td>
            <td class="data-cell"><strong>${{ order.sub_total|floatformat:2 }}</strong></td>
        </tr>
        <tr>
            <td>Shipping:</td>
            <td class="data-cell"><strong>${{ order.shipping_cost|floatformat:2 }}</strong></td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td class="data-cell"><strong>${{ order.tax|floatformat:2 }}</strong></td>
        </tr>
        <tr>
            <td>Total:</td>
            <td class="data-cell"><strong>${{ order.total|floatformat:2 }}</strong></td>
        </tr>
    </table>
</div>