<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>{{ form.name_of_party.label_tag }}</td>
                    <td>{{ form.name_of_party }}</td>
                </tr>
                <tr>
                    <td><label for="id_dob_day">Party Date</label></td>
                    <td>
                        {{ form.dob_day }}
                        {{ form.dob_month }}
                        {{ form.dob_year }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.party_time.label_tag }}</td>
                    <td>
                        {{ form.party_time }}
                    </td>
                </tr>
                <tr>
                    <td> {{ form.street1.label_tag }}</td>
                    <td>
                        {{ form.street1 }}
                    </td>
                </tr>
                <tr>
                    <td> {{ form.street2.label_tag }}</td>
                    <td>
                        {{ form.street2 }}
                    </td>
                </tr>
                <tr>
                    <td><label for="lblcoty">City</label></td>
                    <td>
                        {{ form.city }}
                    </td>
                </tr>
                <tr>
                    <td><label for="lblstate">State</label></td>
                    <td>
                        {{ form.state }}
                    </td>
                </tr>

                <tr>
                    <td><label for="show_onpws">Show On PWS</label></td>
                    <td>
                        {{ form.choice_field2 }}
                    </td>
                </tr>
                <tr>
                    <td><label for="user_events">User Events</label></td>
                    <td>
                        {{ form.choice_field3 }}
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>{{ form.host_info_name.label_tag }}</td>
                    <td>
                        {{ form.host_info_name }}
                    </td>
                </tr>

                <tr>
                    <td>{{ form.street5.label_tag }}</td>
                    <td>
                        {{ form.street5 }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.street6.label_tag }}</td>
                    <td>
                        {{ form.street6 }}
                    </td>
                </tr>


                <tr>
                    <td>{{ form.zippostalhost.label_tag }}</td>
                    <td>
                        {{ form.zippostalhost }}
                    </td>
                </tr>

                <tr>
                    <td><label for="lblstate3">City</label></td>
                    <td>
                        {{ form.city3 }}
                    </td>
                </tr>
                <tr>
                    <td><label for="lblstate3">State</label></td>
                    <td>
                        {{ form.state3 }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.host_phone.label_tag }}</td>
                    <td>
                        {{ form.host_phone }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.host_email.label_tag }}</td>
                    <td>
                        {{ form.host_email }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td> {{ form.shpping_add_name.label_tag }}</td>
                    <td>
                        {{ form.shpping_add_name }}
                    </td>
                </tr>

                <tr>
                    <td> {{ form.street3.label_tag }}</td>
                    <td>
                        {{ form.street3 }}
                    </td>
                </tr>
                <tr>
                    <td> {{ form.street4.label_tag }}</td>
                    <td>
                        {{ form.street4 }}
                    </td>
                </tr>
                <tr>
                    <td><label for="lblcoty2">City</label></td>
                    <td>
                        {{ form.city2 }}
                    </td>
                </tr>
                <tr>
                    <td><label for="lblstate2">State</label></td>
                    <td>
                        {{ form.state2 }}
                    </td>
                </tr>
            </table>

        <td>
    </tr>
</table>

