{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">
        <h2 class="grid_12">Create A Party</h2>

        {% include "manage/party.html" %}


        <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>


        <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css">
        <!-- PLUGIN: The calendar styling -->
        <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script>
        <!-- REQUIRED for calendar -->
        <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css">
        <!-- SPRITE: Forms styling -->
{% endblock %}