{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load cart_details %}

{% block title %}Dashboard{% endblock %}



{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
<style>
  /*
  #attendee_selector, #attendee_selector_chzn{
  display:inline-block;
  width:300px;
  margin-left:30px;
  display:none;
  }*/

  #id_year_expires_chzn, #id_month_expires_chzn{
  display:inline-block;
  }

  #id_month_expires, #id_year_expires{
  width:49%;
  }

  table td {
  vertical-align: middle;
  }

  table td.loader img {
  display: none;
  }

  #selector {
  margin-bottom: 200px
  }
  
  table#party_info th div {
  margin-top: 10px;
  text-align: left;
  color: white;
  background: #a6a6a6;
  }
  
  .totals-data span {
  float: right;
  font-weight: bold;
  }
  
  .order-total {
  background: #E66AB8;
  color: white;
  }
  
  .inline-radio{
  display:inline;
  width:auto;
  margin:10px 5px;
  margin-left:20px;
  }
</style>

<aside>
  <div class="box" style="margin:15px">
    <div class="header no-icon">
      <h3>Party Information</h3>
    </div>
    <div class="content no-padding">
      <table style="width:100%" id="party_info">
        <tr class="party name">
          <td><strong>{{ party.name }}</strong></td>
        </tr>
	
        {% if party.street %}
        <tr  class="party street">
          <td>{{ party.street }}</td>
	</tr>{% endif %}
	
        {% if party.street2 %}
        <tr class="party street2">
          <td>{{ party.street2 }}</td>
	</tr>
	{% endif %}
	
        {% if party.city %}
        <tr class="party city">
          <td>{{ party.city }}</td>
	</tr>
	{% endif %}
	
        {% if party.state %}
        <tr class="party state">
          <td>{{ party.get_state_display }}</td>
	</tr>
	{% endif %}
	
        <tr>
          <th>
            <div>Guests</div>
          </th>
        </tr>
        {% for pk, a in attendee.items %}
        <tr>
          <td>{{ a.name }}<span style="float:right">${{ a.final_amount|floatformat:2 }}</span></td>
        </tr>
        {% endfor %}
        <tr>
          <th>
            <div>Totals</div>
          </th>
        </tr>
        <tr>
          <td class="totals-data pcv">PCV<span>{{ pcv|floatformat:2 }}</span></td>
        </tr>
        <tr>
          <td class="totals-data shipping">Party Shipping<span>${{ party_shipping|floatformat:2 }}</span></td>
        </tr>
        <tr>
          <td class="totals-data rewards"></td>
        </tr>
        <tr>
          <td class="totals-data order-total">Order Total<span>${{ oeder_total|floatformat:2 }}</span></td>
        </tr>
	{% if previous_order_total %}
        <tr>
          <td class="totals-data">Total of all previous orders for this party<span>${{ previous_order_total|floatformat:2 }}</span></td>
        </tr>
	{% endif %}
      </table>
    </div>
  </div>
</aside>

<div id="main_content">
  <div class="grid_12">
    <h2 class="grid_12">Payments</h2>
  </div>
  <div style="clear:both;"></div>
  
  
  <div class="box" style="margin:10px;">
    <div class="header no-icon">
      <h3>Apply Payment to?</h3>
    </div>
    <div class="content" style="padding:10px;">
      <select id="attendee_selector">
	<option></option>
	{% for pk, a in split_orders.items %}
	  <option value="{{ a.for }}">{{ a.display }}</option>
	{% endfor %}
      </select>
    </div>
  </div>
  


  <div class="box grid_6" style="">
    <div class="header no-icon">
      <h3>Credit Card Information</h3>
    </div>
    <div class="content">
      {# If we only have one payment method, then the form renders it as a hidden field #}
      {{ contact_details.form.paymentmethod }}
      <form class="form">
      <table id="cc_details">
	{% if not card_details.PAYMENT_LIVE %}
	<tr>
	  <td colspan="2" style="padding-top:5px; border-bottom:3px double #aaa; color:#aaa; ">
	    <b>TEST MODE</b>: Use Visa 4111111111111111 for CC#, any future date for expiration, any 3 digit CCV.
	  </td>
	</tr>
	{% endif %}
	<tr>
          <td style="width:35%;{% if not card_details.PAYMENT_LIVE %}padding-top:10px;{% endif %}">
	    <label for="id_credit_type">{% trans "Type of credit card" %}<span class="required">*</span></label>
	  </td>
	  <td>{{ card_details.form.credit_type }}</td>
	</tr>
	<tr>
	  <td>
	    <label for="id_credit_number">{% trans "Credit card number" %}<span class="required">*</span></label>
	  </td>
	  <td>{{ card_details.form.credit_number }}</td></tr>
	<tr>
	  <td>
	    <label for="id_month_expires">{% trans "Expiration date" %}<span class="required">*</span></label>
	    <label for="id_year_expires"></label>
	  </td>
	  <td>
	    {{ card_details.form.month_expires }} {{card_details.form.year_expires}}
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="id_ccv">{% trans "CCV" %}<span class="required">*</span></label>
	  </td>
	  <td> {{ card_details.form.ccv}}</td>
	</tr>
	<tr>
	  <td>
	    <label for="amount_to_apply">{% trans "Amount to Apply" %}<span class="required">*</span></label>
	  </td>
	  <td><input type="text" id="amount_to_apply" name="amount_to_apply" value="" readonly="readonly"/></td>
	</tr>
	<tr>
	  <td colspan="2" style="padding-bottom:10px">
	    <img src="{{ STATIC_URL }}images/loading.gif" id="loader" style="display:none"/>
	    <button id="apply_button" onclick="apply_payments()" style="float:right">Apply Payment</button>
	  </td>
	</tr>
      </table>
      </form>
    </div>
  </div>



  <div class="box grid_6" style="">
    <div class="header no-icon">
      <h3>Address Information</h3>
    </div>
    <div class="content">
      <form class="form">


	<table style="width:100%;" id="address_details">
	  <tr>
            <td style="width:35%">
	      <label for="id_addressee">
		{% trans "Ship To" %}<span class="required">*</span>{% if contact_details.form.addressee.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td> {{ contact_details.form.addressee }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_street1">
		{% trans "Street" %}{% if contact_details.form.street1.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.street1 }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_street2">
		{% trans "Street" %}{% if contact_details.form.street2.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.street2 }}</td>
	  </tr>
	  <tr>
            <td>
	      <label for="id_city">
		{% trans "City" %}{% if contact_details.form.city.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.city }}</td>
	  </tr>
	  {% if contact_details.country %}
            {% if contact_details.form.fields.state.choices %}
            <tr>
              <td>
		<label for="id_state">
                  {% if contact_details.country.get_admin_area_display %}
		    {{ contact_details.country.get_admin_area_display }}
		  {% else %}
		    {% trans "State/Province" %}
		  {% endif %}
                  {% if contact_details.form.state.field.required %}<span class="required">*</span>{% endif %}
		</label>
	      </td>
              <td><p id="id_state_loading" style="display: none">Loading...</p> {{ contact_details.form.state }}</td>
            </tr>
            {% endif %}
	  {% else %}
          <tr>
            <td>
	      <label for="id_state">
		{% trans "State/Province" %} {% if contact_details.form.state.field.required %}<span class="required">*</span>{% endif %}
	      </label>
	    </td>
            <td><p id="id_state_loading" style="display: none">Loading...</p> {{ contact_details.form.state }}</td>
          </tr>
	  {% endif %}
	  <tr>
            <td>
	      <label for="id_postal_code">
		{% trans "Zipcode/Postcode" %}{% if contact_details.form.postal_code.field.required %}<span class="required">*</span>{% endif %}
	    </label>
	    </td>
            <td> {{ contact_details.form.postal_code }}</td>
	  </tr>
	  {% if not contact_details.country %}
          <tr>
            <td>
	      <label for="id_country">{% trans "Country" %}</label>
	    </td>
            <td> {{ contact_details.form.country }}</td>
          </tr>
	  {% endif %}
	</table>



      </form>
    </div>
  </div>



  <div class="box grid_12" style="margin:15px; text-align:center; background:red; padding:10px 0px;; color:white; font-weight:bold; border-radius: 6px;">
    Balance Due $ <span id="balance">{{ oeder_total|floatformat:2 }}</span>
  </div>
{% endblock %}


{% block bottom %}
  <link href="{{ STATIC_URL }}styles/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
  <script src="{{ STATIC_URL }}js/jquery.validationEngine-en.new.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.validationEngine.new.js" type="text/javascript"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.tables.css">
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
  <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
  <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery.checkbox.js"></script>
  <script>
    var due={{ oeder_total|floatformat:2 }};
    var paid_for=[]
    var split_orders={
      {% for at, data in split_orders.items %}
        '{{ at }}':{
          'amount':'{{ data.amount }}',
          'for':'{{ data.for }}',
          'display':'{{ data.display }}',
          'add_name':'{{ data.add_name }}',
          'add_street1':'{{ data.add_street1 }}',
          'add_street2':'{{ data.add_street2 }}',
          'add_city':'{{ data.add_city }}',
          'add_state':'{{ data.add_state }}',
          'add_postal_code':'{{ data.add_postal_code }}',
          'not_implemented':{% if data.not_implemented %}true{% else %}false{% endif %}
        } {% if not forloop.last %},{% endif %}
      {% endfor %}
    }

    var attendee_totals={
      {% for at, data in attendee.items %}
        '{{ at }}':{
            'amount':{{ data.amount }},
            'discount':{{ data.discount }},
            'shipping_cost':{{ data.shipping_cost }},
            'final_amount':{{ data.final_amount }}
        } {% if not forloop.last %},{% endif %} 
      {% endfor %}
    }

    function getType(input) {
    var m = (/[\d]+(\.[\d]+)?/).exec(input);
    if (m) {
       // Check if there is a decimal place
       if (m[1]) { return 'float'; }
       else { return 'int'; }          
    }
    return 'string';
    }

    $('#attendee_selector').change(function(){
      id=$(this).val()
      amt=0.00
      if(id!=''){
        amt=split_orders[id].amount
      }
      $('#amount_to_apply').val(amt)


      $('#id_addressee').val(split_orders[id].add_name)
      $('#id_street1').val(split_orders[id].add_street1)
      $('#id_street2').val(split_orders[id].add_street2)
      $('#id_city').val(split_orders[id].add_city)
      $('#id_state').val(split_orders[id].add_state)
      $('#id_postal_code').val(split_orders[id].add_postal_code)



    })

    function apply_payments(){
      $('.form').validationEngine('hideAll');
    
      selected_split=$('#attendee_selector').val()
      if(selected_split==''){
        $('#attendee_selector_chzn').validationEngine('showPrompt', 'Whome should I apply payment to?', 'error', 'topLeft', true)
        return false
      }

      already_paid=false

      for(c=0; c<paid_for.length; c++) {
	    if(paid_for[c]==selected_split){
          already_paid=true
        }
      }

      if(already_paid){
        $('#attendee_selector_chzn').validationEngine('showPrompt', 'This has already been paid for.', 'error', 'topLeft', true)
        return false				   
      }

      amt=split_orders[selected_split].amount
      $('#amount_to_apply').val(amt)


      var none_blank=true
      $('#cc_details').find('input[id], select[id]').each(function(){
        if($(this).val()==''){
          none_blank=false
          $('#'+$(this).attr('id')).validationEngine('showPrompt', 'Cannot be blank', 'error', 'topRight', true)
        }
      })

      $('#address_details').find('#id_addressee, #id_street1, #id_city, #id_state, #id_postal_code').each(function(){
        if($(this).val()==''){
          none_blank=false
          $('#'+$(this).attr('id')).validationEngine('showPrompt', 'Cannot be blank', 'error', 'topLeft', true)
        }
      })

      if(none_blank){
        var d = new Date();
        month=d.getUTCMonth();
        year=d.getUTCFullYear();
        any_error=false
        if( $('#id_year_expires').val()<year || ($('#id_year_expires').val()==year && $('#id_month_expires').val()<month)){
	  any_error=true
          $('#id_year_expires_chzn').validationEngine('showPrompt', 'Your credit card has expired.', 'error', 'topRight', true)
														     
	}
   
        if(!any_error){
          cc_no=$('#id_credit_number').val()
          if(cc_no==''){
            $('#id_credit_number').validationEngine('showPrompt', 'Please enter a credit card no.', 'error', 'topRight', true)
            any_error=true														     
          }

          cvv=$('#id_ccv').val()
          if(cvv.length>4 || isNaN(cvv)){
            $('#id_ccv').validationEngine('showPrompt', 'Please enter correct CVV.', 'error', 'topRight', true)
            any_error=true
          }


	  amt=$('#amount_to_apply').val()
	  if(getType($('#amount_to_apply').val())=='string'){
            $('#amount_to_apply').validationEngine('showPrompt', 'Please enter correct amount.', 'error', 'topRight', true)
            any_error=true
	  }
        }
    
        if(!any_error){

          /*
	  amt=parseFloat($('#amount_to_apply').val())
          if(amt>due){
            $('#amount_to_apply').validationEngine('showPrompt', 'Amount should be less than '+due+'.', 'error', 'topRight', true)
      
          }else{
            due=due-amt
            $('#balance').text(due)
          }
          */
          //#id_addressee, #id_street1, #id_city, #id_state, #postal_code

	  if(split_orders[selected_split]['not_implemented']){
		alert('Payment split is not 100% complete. Please try paying for party ship/direct ship attendee for successful payment.')
		return true		  
	  }

          data={
            'add_addressee':$('#id_addressee').val(),
            'add_street1':$('#id_street1').val(),
            'add_street2':$('#id_street2').val(),
            'add_city':$('#id_city').val(),
            'add_state':$('#id_state').val(),
            'add_postal_code':$('#id_postal_code').val(),
            'credit_type':$('#id_credit_type').val(),
            'credit_number':$('#id_credit_number').val(),
            'month_expires':$('#id_month_expires').val(),
            'year_expires':$('#id_year_expires').val(),
            'ccv':$('#id_ccv').val(),
            'amount_to_apply':$('#amount_to_apply').val(),
            'for':selected_split,
            'event':{{ event.pk }},
            'shipping':'UPS',
            'csrfmiddlewaretoken':'{{ csrf_token }}'
          }
          $('#loader').show()
          $('#apply_button').attr("disabled", "disabled");

          $.ajax({
            data:data,
            type:'POST',
            dataType:'json',
            url:'{% url manager_process_party_payment %}',
            success: function(data){
              if(data.status.success){
                paid_for.push(data.data.for)
                due=(due-split_orders[data.data.for]['amount']).toFixed(2) 
                $('#balance').text(due)
                if(due<=0){
                  window.location='{% url events %}'
                }
              }
            },
            complete: function(){
              $('#loader').hide()
              $('#apply_button').removeAttr("disabled");
            }
          })
        
          console.log(data)
        }

      }
      
      return false;
    }
    
    $(".form").submit(function(){
    return false;
    })
    $(".form").validationEngine();

    
    $('input[name=apply_to]:radio').change(function(){
      val=$('input:radio[name=apply_to]:checked').val()
      if(val=='att'){
        $('#attendee_selector_chzn').css('display', 'inline-block')
      }else{
        $('#amount_to_apply').val(due)
        $('#attendee_selector_chzn').css('display', 'none')
      }
    })
  </script>

{% endblock %}
