{% extends "manage/base.html" %}
{% load i18n %}
{% load app_plugins %}

{% block title %}Propay{% endblock %}

{% block content %}
    <div id="main_content">
    <div class="grid_12">
        <div class="box">
            <div class="header">
                <h3>Create ProPay Account</h3>
            </div>
            <div class="content">
                <form class="vform">
                    <table style="margin-left:15%; width:70%; text-align:left">
                        <tr>
                            <td style="width:15%"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">ProPay is the preferred commission payment method for Jamberry Nails
                                consultants. Payment is convenient and immediate. You can transfer money directly to
                                your bank account, or use your ProPay MasterCard to get instant access to your earned
                                commissions.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">Please enter the information requested below to establish your ProPay
                                account. Please enter all information carefully. Any errors will cause your ProPay
                                account to be declined.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="alert info" style="padding:10px 0px 10px 30px;">
                                    <span class="icon"></span>
                                    <strong>Note</strong>
                                    If you already have a ProPay account, please <a href="{% url manager_userinfo %}"
                                                                                    style="text-decoration:underline">click
                                    here</a> to enter your account number.
                                </div>

                            </td>
                        </tr>
                        {{ form.as_table }}
                        <tr>
                            <td colspan="2" style="text-align:right"><input type="submit" style="float:right"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottom %}
    <link href="{{ MEDIA_URL }}styles/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
    <script src="{{ MEDIA_URL }}js/jquery.validationEngine-en.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/jquery.validationEngine.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".vform").validationEngine();
            {% for i in form.errors.items %}$.validationEngine.buildPrompt($('#id_{{ i.0 }}'), '{{ i.1.0 }}');{% endfor %}
        })
    </script>

{% endblock %}
