{% extends "manage/base.html" %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <style>
    table td {
      vertical-align: middle;
      padding:0px 10px;
    }
    table td.loader img {
      display: none;
    }
    #selector {
      margin-bottom: 200px
    }
    #item-selected{
      display:none
    }
    .quant input{
      margin:0px;
    }
  </style>



<div id="main_content" style="min-height:300px;">
  <div class="grid_11">
    <div class="box">
      <div class="header no-icon">
	<h3>You have {{ reward.desc }}.</h3>
      </div>
      <div class="content" style="padding:0px">
        <table style="width:100%; margin:auto;">
          <tr>
            <td>Item:</td>
            <td>
              <select class="product-selector" id="product-selector">
                <option></option>
              </select>
            </td>
            <td>Quantity:</td>
            <td><input type="text" class="input-numeric" id="product-quantity"/></td>
            <td>
              <button onClick="add_to_cart()">Add to cart</button>
            </td>  
          </tr>

	  <td colspan="5" style="padding:0px;">
            <table id="item-selected" class="table" style="width:100%;">
	      <thead style="border-top:1px solid #C3C3C3">
		<tr><th>SKU</th><th>Product</th><th>Price</th><th>Quantity</th><th>Total</th><th></th></tr>
	      </thead>
	      <tbody>
	      </tbody>
	    </table>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottom %}
  <script src="/static/manage/js/libs/modernizr-2.0.6.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/manage/js/libs/jquery-1.6.4.js"><\/script>')</script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script>window.jQuery.ui || document.write('<script src="/static/manage/js/libs/jquery-ui-1.8.16.min.js"><\/script>')</script>
  <link rel="stylesheet" href="/static/manage/css/sprite.tables.css">
  <script defer src="/static/manage/js/mylibs/jquery.chosen.js"></script>
  <script>
    jQuery.fn.ForceNumericOnly = function () {
      return this.each(function () {
        $(this).keydown(function (e) {
          var key = e.charCode || e.keyCode || 0;
          return (
            key == 8 ||
            key == 9 ||
            key == 13 ||
            key == 46 ||
            (key >= 37 && key <= 40) ||
            (key >= 48 && key <= 57) ||
            (key >= 96 && key <= 105)
          );
        });
      });
    };
    $('.input-numeric').ForceNumericOnly()

  </script>

  <script>
    var free_products={{ reward.free_sheilds }};
    var half_priced_item={{ reward.half_priced_item }};
    var products ={{ products|safe }};
    for(p in products){
      $('.product-selector').append('<option value="'+(p)+'">'+(products[p]['name'])+'</option>')
    }

    function remove_prod(id){
      $('#'+id).remove()
      if($('#item-selected tbody tr.item_row').length<1){
        $('#item-selected').hide()
      }
    }

    function add_to_cart(){
      product=$("#product-selector").val()
      quantity=$("#product-quantity").val()

      if(quantity=='' || parseInt(quantity)!=quantity || product=='' || parseInt(product)!=product) {
        return false
      }

      if(parseInt(quantity)>half_priced_item){
        $.fallr({'content':'You cannot add more than '+half_priced_item+' product(s).'})
        return false
      }else{
        total_prod=0;
        $('.quant input').each(function(){
          total_prod+=parseInt($(this).val())
        })
        if(total_prod+parseInt(quantity) > half_priced_item){
          $.fallr({'content':'You cannot add more than '+half_priced_item+' product(s).'})    
	  return false
        }
      }

      $('#item-selected').show()
    
      p=products[product]
      total = quantity * p.price
      html = '<tr id="prod-'+product+'" class="item_row"><td>' + (p.sku) + '</td><td>' + (p.name) + '</td><td class="price">' + (p.price.toFixed(2)) + '</td><td class="quant"> <input type="text" class="input-numeric" value="' + quantity + '"/></td><td class="line_total">' + total.toFixed(2) + '</td><td><button class="remove-prod" onclick="remove_prod(\'prod-'+product+'\')">—</button></td></tr>'
	  
     if($('#item-selected tbody #prod-'+product).length>0){
       $('#item-selected tbody #prod-'+product).replaceWith(html)
     }else{
       $('#item-selected tbody').append(html)
     }
    }
  </script>
  <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
  <script defer src="/static/manage/js/plugins.js"></script>
{% endblock %}
