{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load cart_details %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        table td {
            vertical-align: middle;
        }

        table td.loader img {
            display: none;
        }
    </style>
    <div id="main_content">
    {% cart_details as cart_items cat_totals %}

    <div style="position:fixed; top:50%; right:0px; background:#ececec; background:white;  margin-right:20px; border:1px solid #acacac;">
        <a href="{% url satchmo_cart %}" style="padding:10px; display:block; text-align:center;" title="Checkout" id="checkout_link">
            <img src="{{ MEDIA_URL }}images/shopcart.png"/>
        </a>

        <div style="text-align:center">
            <span id="count-of-items">{{ cat_totals|getitem:'quantity' }}</span> Item(s) <br/>
            <span id="total-of-cart">${{ cat_totals|getitem:'price' }}</span>
        </div>

    </div>
    <table style="width:95%;">
        <tr>
            <td colspan="3">
                Search by name: &nbsp; &nbsp;<input type="text" style="width:250px; display:inline"
                                                    id="search-by-text"/>
            </td>
	    <td colspan="3">
	      {% if marketing_material %}
	      {% if request.user.bsc %}You have {{ request.user.bsc|floatformat:2 }} Business Supply Credit{% endif %}
	      {% endif %}
	    </td>
        </tr>
        {% for product in products %}
            <tr class="product-line" data-id="{{ product.pk }}" data-slug-orig="{{ product.slug }}"
                data-slug="{{ product.slug|lower }}" data-name="{{ product.translated_name|lower }}">
                <td>
                    {% if product.main_image %}
                        {% thumbnail product.main_image.picture 40x40 crop="center" as image %}
                        <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                             alt="{% if product.translated_short_description %}{{ product.translated_short_description }}{% endif %}"
                             style="margin:auto">
                    {% endif %}
                </td>
                <td>
                    {% if product.translated_name %}{{ product.translated_name }}{% endif %}
                </td>
                <td>
                    {% if sale %}<strike class="fullprice">{{ product|discount_price:""|currency }}</strike>{% endif %}
                    <span class="price">{{ product|discount_price:sale|currency }}</span>
                    {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}
                </td>
                <td>
                    <input type="text" class="count" data-id="{{ product.pk }}"
                           style="width:45px; text-align:right; padding-left:3px; padding-right:3px" value="1"/>
                </td>
                <td style="width:18px" class="loader" data-id="{{ product.pk }}">
                    <img src="{{ MEDIA_URL }}manage/img/ajax.gif"/>
                </td>
                <td style="width:80px">
                    <button class="add" data-slug="{{ product.slug }}" data-id="{{ product.pk }}">Add to Cart</button>
                </td>
                <td style="width:125px;" class="count" data-id="{{ product.pk }}">
                    {% if product.pk in cart_items %}
		      {{ cart_items|getitem:product.pk|floatformat:0 }} item(s) in cart.
		      <a class="cross" href="javascript:void(0)" onClick="rem_product({{ product.pk }})"><span>x</span></a>
		    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
{% block bottom %}
    <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>

    <script>
        var offerless_products_slug={{offerless_products_slug|safe}}
        var item_in_cart = {% if item_in_cart %}{{ item_in_cart|safe }}{% else %}{}
        {% endif %}
        {# Are there any active offers they do not apply to marketing materials #}
        var offers = {% if marketing_material %}[]{% else %}
            {% if offers %}[{% for o in offers %}{% if not forloop.first %}, {% endif %}{'id':'{{ o.pk }}', 'description':'{{ o.description }}', 'buy':'{{ o.buy }}', 'free':'{{ o.free }}'}{% endfor %}]{% else %}[]{% endif %} {% endif %}
        {# Setting the credit data #}
        {% if marketing_material %}
            var credit = {'available':true, 'amount':{{ request.user.bsc|floatformat:2 }}, 'label':'Business Supply Credit', 'amt_url':'{% url manager_offerable_amount_in_cart %}', 'apply_url':'{% url manager_set_bsc %}', 'amt_prefix':'$' }
        {% else %}
            var credit = {'available':true, 'amount':{{ request.user.pc }}, 'label':'Product Credit', 'amt_url':'{% url manager_offerable_items_in_cart %}', 'apply_url':'{% url manager_set_pc %}', 'amt_prefix':'' }
        {% endif %}
        var set_offer_url = '{% url manager_set_offer %}';
        var csrfmiddlewaretoken = '{{ csrf_token }}';
	var remove_from_cart_url='{% url manager_del_products %}';
    </script>

    <script src="{{STATIC_URL}}js/offer_selector.js"></script>

    <script>
        $('#checkout_link').attr('data-orig-url', $('#checkout_link').attr('href'))
        $('#checkout_link').attr('href', 'javascript:void(0)')
        $('#checkout_link').click(offer_selector)

	$(document).ready(function(){
	  show_offer_in_cart()
	})

        $('.add').click(function () {
            product = $(this).attr('data-id')
            productslug = $(this).attr('data-slug')
            quantity = $('input.count[data-id=' + product + ']').val()
            $('td.loader[data-id=' + product + '] img').show()
            $.ajax({
                'type':'POST',
                'data':{'product_1':product, 'productslug_1':productslug, 'csrfmiddlewaretoken':'{{ csrf_token }}', 'quantity_1':quantity},
                'dataType':'json',
                'url':'{% url manager_add_products %}',
                'success':function (data) {
                    $('td.loader[data-id=' + (data.request.product) + '] img').hide()
                    if (data.status.success) {
                        for (product in data.item_in_cart) {
                            $('td.count[data-id=' + product + ']').html((data.item_in_cart[product]['quantity']) + ' item(s) in cart. <a class="cross" href="javascript:void(0)" onClick="rem_product('+product+')"><span>x</span></a>')
                        }
                        item_in_cart = data.item_in_cart
                        total_items = 0
                        total_cart = 0
                        for (i in item_in_cart) {
                            total_items = total_items + item_in_cart[i]['quantity']
                            total_cart = total_cart + (item_in_cart[i]['quantity'] * item_in_cart[i]['unit_price'])
                        }
                        $('#count-of-items').html(total_items)
                        $('#total-of-cart').html('$'+total_cart.toFixed(2))
	                show_offer_in_cart()
                    }
                }
            })
        })

        $('#search-by-text').keyup(function () {
            text = $(this).val()
            if (text == '') {
                $('.product-line').show()
            } else {
                $('.product-line').hide()
                data = text.toLowerCase().split(' ')
                for (d in data) {
                    if (data[d] != '') {
                        $('.product-line[data-name*="' + (data[d]) + '"]').show()
                        $('.product-line[data-slug*="' + (data[d]) + '"]').show()
                    }
                }
            }
        })

    </script>
{% endblock %}
