{% extends "manage/base.html" %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}


{% block content %}


    <div id="main_content">
    <h2 class="grid_12">Please select a party</h2>
    <div class="grid_12" id="quick_links">
        <div id="shortcuts-steps" class="box tabbed">
            <div class="content" style="border:0px; background:none;">
                {% if parties %}
                    <select id="selparty">
                        <option></option>
                        {% for p in parties %}
                            <option value="{{ p.pk }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <a class="add" href="{% url events_tool %}" style="width:130px">Create a Party</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block bottom %}
    <script>
        $('#selparty').change(function () {
            if ($(this).val() != '') {
                url = '{% url manager_set_party %}?party=' + $(this).val()
                window.location = url
            }
        })
    </script>
{% endblock %}
