{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load cart_details %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        table td {
            vertical-align: middle;
        }

        table td.loader img {
            display: none;
        }

        #selector {
            margin-bottom: 200px
        }

        table#party_info th div {
            margin-top: 10px;
            text-align: left;
            color: white;
            background: #a6a6a6;
        }

        .totals-data span {
            float: right;
            font-weight: bold;
        }

        .order-total {
            background: #E66AB8;
            color: white;
        }
	
	.totals_row td:first-child{
	    text-align:right;
	}
	
	.quant input{
	    width:95px;
	    margin:0px;
	}
    </style>

    <aside style="padding-top:20px">
        <div class="box" style="margin:15px">
            <div class="header no-icon">
                <h3>Party Information</h3>
            </div>
            <div class="content no-padding">
                <table style="width:100%" id="party_info">
                    <tr class="party name">
                        <td><strong>{{ party.name }}</strong></td>
                    </tr>

                    {% if party.street %}
                    <tr  class="party street">
                      <td>{{ party.street }}</td>
		    </tr>{% endif %}

                    {% if party.street2 %}
                    <tr class="party street2">
                        <td>{{ party.street2 }}</td>
		    </tr>
		    {% endif %}

                    {% if party.city %}
                    <tr class="party city">
                      <td>{{ party.city }}</td>
		    </tr>
		    {% endif %}

                    {% if party.state %}
                    <tr class="party state">
                      <td>{{ party.get_state_display }}</td>
		    </tr>
		    {% endif %}

		    <tr>
		      <td style="text-align:center;"><a href="javascript:void(0)" onclick="edit_party()">Edit Party</a></td>
		    </tr>

                    <tr>
                      <th>
                        <div>Guests</div>
                      </th>
                    </tr>
                    {% for a in attendee %}
                        <tr>
                            <td onclick="edit_attendee({{ a.pk }})" class="totals-data user-total" data-id="{{ a.pk }}" data-name="{{ a.name }}" data-last_name="{{ a.last_name }}" data-first_name="{{ a.first_name }}" data-email="{{ a.email }}" data-phone="{{ a.phone }}" data-street="{{ a.street }}" data-street2="{{ a.street2 }}" data-city="{{ a.city }}" data-state="{{ a.state }}" data-zip="{{ a.zip }}" data-status="{{ a.status }}">{{ a.name }} <small style="color:#a6a6a6">(edit)</small> <small style="color:#a6a6a6" class="host_a_party">Host a party</small><span>$0.00</span></td>
                        </tr>
                    {% endfor %}
		    <tr>
		      <td style="text-align:center;"><a href="javascript:void(0)" onclick="add_guest()">Add Guests</a></td>
		    </tr>
                    <tr>
                        <th>
                            <div>Totals</div>
                        </th>
                    </tr>
                    <tr>
                        <td class="totals-data pcv">PCV<span>0.00</span></td>
                    </tr>
                    <tr class="shipment-data">
                        <td class="totals-data shipping party-shipping">Party Shipping<span>$0.00</span></td>
                    </tr>
                    <tr>
                        <td class="totals-data rewards"></td>
                    </tr>

                    <tr>
                        <td class="totals-data party-tax-total">Tax <span>$0.00</span></td>
                    </tr>

                    <tr>
                        <td class="totals-data order-total">Order Total <span>$0.00</span></td>
                    </tr>
		    {% if previous_order_total %}
                    <tr>
                        <td class="totals-data">Total of all previous orders for this party<span>${{ previous_order_total|floatformat:2 }}</span></td>
                    </tr>
		    {% endif %}
		    <tr>
		      <td style="text-align:center;">
			<button style="display:inline-block; margin:10px 0px;" id="save_cart">Save Cart</button>
			<button style="display:inline-block; margin:10px 0px;" id="submit_order">Process Order</button>
		      </td>
		    </tr>
		    <tr>
		      <td>
			<label style="margin-bottom:0px;">Enter Cash and Carry Amount: <input type="text" style="display:inline; width:120px;margin-left:10px; "/></label>
			<button style="display:inline-block; margin:0px 0px 10px 200px;" onClick="alert('This is a placeholder; Functionality yet to be complete.')" >
			  Apply
			</button>
		      </td>
		    </tr>
                </table>
            </div>
        </div>
    </aside>

    <div id="main_content">
    <div class="grid_11">
        <div>
	</div>
        <table style="width:710px;" id="selector">
            {% for a in attendee %}
                <tr class="attendee_purchase_info">
                    <td>
                        <div class="box">
                            <div class="header no-icon">
                                <h3 class="guest-name-header">{{ a.name }}</h3> 
				<button class="remove" data-id='{{ a.pk }}'>X</button>
				<div class="dship-block" data-id='{{ a.pk }}'>
				  {% if a.direct_ship %}
				  <strong onclick="disable_ds({{ a.pk }})">Remove direct ship</strong> || <strong onclick="edit_ds({{ a.pk }})">Edit direct ship address</strong>
				  {% else %}
				  <strong onclick="enable_ds({{ a.pk }})">Direct ship to this attendee</strong>
				  {% endif %}
				</div>
                            </div>
                            <div class="content" style="padding:0px">
                                <table style="width:100%; margin:auto;">
                                    <tr data-type='select' data-id='{{ a.pk }}'>
                                        <td>Item:</td>
                                        <td>
                                            <select data-type='product' data-id='{{ a.pk }}' class="product-selector">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td>Quantity:</td>
                                        <td><input type="text" class="input-numeric" data-type='count'
                                                   data-id='{{ a.pk }}'/></td>
                                        <td>
                                            <button class="add" data-id='{{ a.pk }}'>Add to cart</button>
					    <input type="checkbox" class="direct-ship exclude" {% if a.direct_ship %}checked{% endif %} data-id='{{ a.pk }}'/>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="5" style="padding:0px;">
                                            <table data-type='order' data-id='{{ a.pk }}' class="user-order-table table" style="width:100%;" class="table">
					      {% if a.cart %}
					      <thead style="border-top:1px solid #C3C3C3"><tr><th>SKU</th><th>Product</th><th>Price</th><th>Quantity</th><th>PCV</th><th>Total</th><th></th></tr></thead>
					      {% for item in a.cart %}
					        <tr class="item_row" data-pid="{{ item.product.pk }}" data-slug="{{ item.product.slug }}">
						  <td>{{ item.product.sku }}</td>
						  <td>{{ item.product.translated_name }}</td>
						  <td class="price">{{ item.unit_price|floatformat:2 }}</td>
						  <td class="quant"><input data-userid="{{ a.pk }}" type="text" class="input-numeric" value="{{ item.count|floatformat:0 }}"/></td>
						  <td class="user_pcv">{{ item.pcv|floatformat:2 }}</td>
						  <td class="line_total">{{ item.sub_total|floatformat:2 }}</td>
						  <td><button data-pid="{{ item.product.pk }}" class="remove-prod">—</button></td>
						</tr>
					      {% endfor %}
					      <!-- <tfoot style="border-bottom:0px;"><tr><th colspan="7">Offer</th></tr></tfoot> -->
					      {% endif %}
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="add_guest_form" style="display:none">
      <table class="add_guest_form">
	<tr>
	  <td> {{ attendee_form.first_name.label_tag }} </td>
	  <td> {{ attendee_form.first_name }} </td>
	  <td> {{ attendee_form.last_name.label_tag }} </td>
	  <td> {{ attendee_form.last_name }} </td>
	</tr>
	<tr>
	  <td> {{ attendee_form.email.label_tag }} </td>
	  <td> {{ attendee_form.email }} </td>
	  <td> {{ attendee_form.phone.label_tag }} </td>
	  <td> {{ attendee_form.phone }} </td>
	</tr>
	<tr>
	  <td> {{ attendee_form.street.label_tag }} </td>
	  <td> {{ attendee_form.street }} </td>
	  <td> {{ attendee_form.street2.label_tag }} </td>
	  <td> {{ attendee_form.street2 }} </td>
	</tr>
	<tr>
	  <td> {{ attendee_form.city.label_tag }} </td>
	  <td> {{ attendee_form.city }} </td>
	  <td> {{ attendee_form.state.label_tag }} </td>
	  <td> {{ attendee_form.state }} </td>
	</tr>
	<tr>
	  <td> {{ attendee_form.postal_code.label_tag }} </td>
	  <td> {{ attendee_form.postal_code }} </td>
	  <td> {{ attendee_form.status.label_tag }} </td>
	  <td> {{ attendee_form.status }} </td>
	</tr>
	<tr>
	  <td colspan="2"> Direct Shipping to this attendee? </td>
	  <td colspna="2"> <input type="checkbox" class="exclude dropdown_direct_ship" style="margin-top:10px"/></td>
	</tr>
	<tr style="display:none;">
	  <td colspan="2">{% csrf_token %}</td>
	</tr>
      </table>
    </div>


    <div class="attendee_html_box" style="display:none">
      <tr class="attendee_purchase_info">
        <td>
          <div class="box">
            <div class="header no-icon">
              <h3 class="tmp_name"></h3>
	      <button class="tmp_remove">X</button>
	      <div class="dship-block">
		<strong class="tmp_ds_enabler">Direct ship to this attendee</strong>
	      </div>
            </div>
            <div class="content" style="padding:0px">
              <table style="width:100%; margin:auto;">
                <tr class="tmp_select">
                  <td>Item:</td>
                  <td>
                    <select class="tmp_product_selector exclude">
                      <option></option>
                    </select>
                  </td>
                  <td>Quantity:</td>
                  <td><input type="text" class="tmp_input_numeric" /></td>
                  <td>
                    <button class="tmp_add" >Add to cart</button>
 		    <input type="checkbox" class="exclude tmp_direct_ship"/>
                  </td>
                </tr>
                <tr>
                  <td colspan="7">
                    <table class="tmp_user_order_table table" style="width:100%;" >
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
      
    </div>
    <div id="edit_party_form" style="display:none">
      <table class="party_form">
	<tr>
	  <td> {{ event_form.name.label_tag }} </td>
	  <td colspan="3"> {{ event_form.name }} </td>
	</tr>
	<tr>
	  <td> {{ event_form.description.label_tag }} </td>
	  <td colspan="3"> {{ event_form.description }} </td>
	</tr>
	<tr>
	  <td> {{ event_form.street.label_tag }} </td>
	  <td> {{ event_form.street }} </td>
	  <td> {{ event_form.street2.label_tag }} </td>
	  <td> {{ event_form.street2 }} </td>
	</tr>
	<tr>
	  <td> {{ event_form.city.label_tag }} </td>
	  <td> {{ event_form.city }} </td>
	  <td> {{ event_form.state.label_tag }} </td>
	  <td> {{ event_form.state }} </td>
	</tr>
	<tr>
	  <td> {{ event_form.postal_code.label_tag }} </td>
	  <td> {{ event_form.postal_code }} </td>
	  <td> {{ event_form.starts_at.label_tag }} </td>
	  <td> {{ event_form.starts_at }} </td>
	</tr>
	<tr style="display:none;">
	  <td colspan="2">
	    {# bad way, but we want it fast right now #}
	    {{ event_form.status }}
 	    {{ event_form.photo }}
 	    {{ event_form.use_personal_website }}
 	    {{ event_form.photo }}
	    {% csrf_token %}
	  </td>
	</tr>
      </table>
    </div>


{% endblock %}


{% block bottom %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.tables.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
    <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery.checkbox.js"></script>
    <style>
      #add_guest_form_table, #add_data_table{
      border:0px ! important;
      }
      #add_guest_form_table *, #add_data_table *{
      vertical-align:middle;
      }
      .totals-data.user-total{
      cursor:pointer;
      }
      .direct-ship{
      display:none;
      }
      button.remove{
      float:right;
      margin:4.5px 4px;
      }
      .dship-block{
      float:right;
      color:white;
      }
      .dship-block strong{
      cursor:pointer;
      }
    </style>

    <script>
   
       Array.prototype.exists = function(search){
         for(var i=0; i<this.length; i++){
	    if (this[i] == search) return true;
         }
         return false;
      }


      var offerless_products_slug={{ offerless_products_slug|safe }}
      var per_product_price=15.00
      var party_details={{ party_json|safe }};
      var offers = {% if offers %}[{% for o in offers %}{% if not forloop.first %}, {% endif %}{'id':'{{ o.pk }}', 'description':'{{ o.description }}', 'buy':'{{ o.buy }}', 'free':'{{ o.free }}'}{% endfor %}]{% else %}[]{% endif %} 

      
      function host_a_party_attach(){
        $('.host_a_party').click(function(e){
          e.stopPropagation()
          window.location="/accounts/host/?for="+($(this).parent().attr('data-id'))
        })
      }
      host_a_party_attach()

      function edit_ds(user_id){
	edit_attendee(user_id)
      }

      function enable_ds(user_id, dont_show_edit_addendee){
        $('.dship-block[data-id='+user_id+']').html('<strong onclick="disable_ds('+user_id+')">Remove direct ship</strong> || <strong onclick="edit_ds('+user_id+')">Edit direct ship address</strong>')
	$('.direct-ship[data-id='+user_id+']').attr('checked', 'checked')
	if(dont_show_edit_addendee!=true){
          edit_attendee(user_id)
	}
        update_totals()
      }

      function disable_ds(user_id){
        $('.dship-block[data-id='+user_id+']').html('<strong onclick="enable_ds('+user_id+')">Direct ship to this attendee</strong>')
	$('.direct-ship[data-id='+user_id+']').removeAttr('checked')
        update_user_totals(user_id)
      }

      var previous_order_total= {{ previous_order_total|floatformat:2 }};
      function send_party_data(){
        var data={}
        $('#add_data_table input, #add_data_table select, #add_data_table textarea').each(function(){
          data[$(this).attr('name')]=$(this).val()
        })
        data['ajax']=true

        $.ajax({
          'data':data,
          'url':'{% url events_creator_edit party.pk %}',
          'type':'POST',
          'dataType':'json',
          'success':function(data){
            if(data.status.success){
              $('.party.street, .party.street2, .party.city, .party.state').remove()
              $('.party.name').replaceWith('<tr class="party name"><td><strong>'+($('#add_data_table input[name=name]').val())+'</strong></td></tr>')
              $('.party.name').after('<tr class="party street"><td>'+($('#add_data_table input[name=street]').val())+'</td></tr>')
              $('.party.street').after('<tr class="party street2"><td>'+($('#add_data_table input[name=street2]').val())+'</td></tr>')
              $('.party.street2').after('<tr class="party city"><td>'+($('#add_data_table input[name=city]').val())+'</td></tr>')
              $('#add_data_table').remove()
              $.fallr('hide')
            }else{
              $('#fallr-buttons .err').remove()
              for(e in data.status.errors){
                $('#fallr-buttons').append('<span class="err" style="color:red; float:left;">'+e+': '+(data.status.errors[e][0])+'</span>')
                return false;
              }   
            }
          }
        })
      }

      function edit_party(){
        var content="<div>"+$('#edit_party_form').html()+"</div>";
        content=$(content)
        content.find('table').attr('id', 'add_data_table')
        $.fallr('show', {
          icon        : 'form',
          content     : content.clone(),
          width       : 600,
          buttons     : {
                button1 : {text: 'Submit', 'onclick':send_party_data},
                button4 : {text: 'Cancel'}
          }	
        }); 	
        var content=$('#add_data_table')
        content.append('<tr style="display:none"><td conspan="4"><input type="hidden" name="party_id" value="'+(party_details.id)+'"></td></tr>')
      

      }


      function edit_attendee(which){
        attendee=$(".totals-data.user-total[data-id="+which+"]")
      
        var content="<div>"+$('#add_guest_form').html()+"</div>";
        content=$(content)
        content.find('table.add_guest_form').attr('id', 'add_guest_form_table')
        $.fallr('show', {
          icon        : 'form',
          content     : content.clone(),
          width       : 600,
          buttons     : {
                button1 : {text: 'Submit', 'onclick':send_user_data},
                button4 : {text: 'Cancel'}
          }	
        }); 	

        var content=$('#add_guest_form_table')
        content.append('<tr style="display:none"><td conspan="4"><input type="hidden" name="attendee_id" value="'+(attendee.attr('data-id'))+'"></td></tr>')
        content.find('input[name=first_name]').val(attendee.attr('data-first_name'))
        content.find('input[name=last_name]').val(attendee.attr('data-last_name'))
        content.find('input[name=email]').val(attendee.attr('data-email'))
        content.find('input[name=phone]').val(attendee.attr('data-phone'))
        content.find('input[name=street]').val(attendee.attr('data-street'))
        content.find('input[name=street2]').val(attendee.attr('data-street2'))
        content.find('input[name=city]').val(attendee.attr('data-city'))
        content.find('input[name=postal_code]').val(attendee.attr('data-zip'))
        content.find('select[name=state]').val(attendee.attr('data-state'))
        content.find('select[name=status]').val(attendee.attr('data-status'))
        content.find('.dropdown_direct_ship').attr('data-id', which).click(function(){
	  if($(this).is(':checked')){
	    enable_ds(which, true)
          }else{
	    disable_ds(which)
          }
	})
	if($('.direct-ship[data-id='+which+']').is(':checked')){
	  content.find('.dropdown_direct_ship').attr('checked', 'checked')
        }
  
      }

      function send_user_data(){
        var data={}
        $('#add_guest_form_table input, #add_guest_form_table select, #add_guest_form_table textarea').each(function(){
          data[$(this).attr('name')]=$(this).val()
        })
        data['ajax']=true
        $.ajax({
          'data':data,
          'url':'{% url events_manager_attendees party.code %}',
          'type':'POST',
          'dataType':'json',
          'success':function(data){
            if(data.status.success){
              $('#add_guest_form_table').remove()
              $.fallr('hide')

              var user_line='<tr><td onclick="edit_attendee('+(data.data.id)+')" class="totals-data user-total" data-id="'+(data.data.id)+'" data-first_name="'+(data.data.first_name)+'"  data-last_name="'+(data.data.last_name)+'"  data-name="'+(data.data.name)+'" data-email="'+(data.data.email)+'" data-phone="'+(data.data.phone)+'" data-street="'+(data.data.street)+'" data-street2="'+(data.data.street2)+'" data-city="'+(data.data.city)+'" data-state="'+(data.data.state)+'" data-zip="'+(data.data.zip)+'" data-status="'+(data.data.status)+'">'+(data.data.name)+' <small style="color:#a6a6a6">(edit)</small> <small style="color:#a6a6a6" class="host_a_party">Host</small><span>$0.00</span></td><tr>'
            
              exists=$('td.totals-data.user-total[data-id='+(data.data.id)+']')
              if(exists.length>0){
                exists.parent().replaceWith(user_line)
                update_user_totals(data.data.id)
                return true
               
              }else{ 
                $('.totals-data.user-total').eq(0).parent().before(user_line)
              }
	      host_a_party_attach()
              var attendee_html=$('.attendee_html_box').html()
              attendee_html=$(attendee_html)
              attendee_html.find('.tmp_name').html(data.data.name)
              attendee_html.find('.tmp_remove').addClass('remove').attr('data-id', data.data.id)
              attendee_html.find('.dship-block').attr('data-id', data.data.id)
              attendee_html.find('.tmp_ds_enabler').attr('onClick', "enable_ds("+(data.data.id)+")")
              attendee_html.find('.tmp_product_selector').attr('data-type', 'product').attr('data-id', data.data.id).addClass('product-selector')
              attendee_html.find('.tmp_input_numeric').attr('data-type', 'count').attr('data-id', data.data.id).addClass('input-numeric')
              attendee_html.find('.tmp_add').attr('data-id', data.data.id).addClass('add')
              attendee_html.find('.tmp_direct_ship').attr('data-id', data.data.id).addClass('direct-ship')
              attendee_html.find('.tmp_user_order_table').attr('data-type', 'order').attr('data-id', data.data.id).addClass('user-order-table')
              ps=attendee_html.find('.product-selector')
              attendee_html.find('input[type=checkbox]').checkbox({
	        cls : 'checkbox',
	        empty : '/static/manage/img/sprites/forms/checkboxes/empty.png'
	      });
              for (p in products) {
                ps.append('<option value="' + p + '">' + (products[p].name) + '</option>')
              }
              $('#selector').prepend(attendee_html)
              ps.chosen()
	
            }else{
              $('#fallr-buttons .err').remove()
              for(e in data.status.errors){
                $('#fallr-buttons').append('<span class="err" style="color:red; float:left;">'+e+': '+(data.status.errors[e][0])+'</span>')

                return false;
              }
            }
      
          }
        })
      }
      
      function add_guest(){
        //var content=$('#add_guest_form');
        //content.find('table.add_guest_form').attr('id', 'add_guest_form_table')
        //content.find('input[name=postal_code]').val(attendee.attr('data-zip'))

        var content="<div>"+$('#add_guest_form').html()+"</div>";
	content=$(content)
        content.find('table.add_guest_form').attr('id', 'add_guest_form_table')
	
        $.fallr('show', {
          icon        : 'form',
          content     : content.html(),
          width       : 600,
          buttons     : {
                button1 : {text: 'Submit', 'onclick':send_user_data},
                button4 : {text: 'Cancel'}
          }	
        }); 	
      }
	
	var rewards = {{ rewards|safe }};
        var carrier_charges =
        {{ carrier_charges|safe }}

        var products ={{ products_data|safe }};
        for (p in products) {
            $('.product-selector').append('<option value="' + p + '">' + (products[p].name) + '</option>')
        }

	function get_party_cart(){
            var purchasers = []
            var data = {'purchasers':[], 'direct_ship':[], 'csrfmiddlewaretoken':'{{ csrf_token }}'}
            $('.user-order-table').each(function () {
                user = $(this).attr('data-id')
                data['purchasers'].push(user)
                var oi_list = []
	        
                direct_ship=$('.direct-ship[data-id='+user+']')
	        //console.log(direct_ship)
                if(direct_ship.eq(0).is(":checked")){
	          data['direct_ship'].push(user)
	        }

                $(this).find('tr.item_row').each(function () {
                    pid = $(this).attr('data-pid')
                    oi_list.push(pid)
                    q = $(this).find('td.quant').find('input').val()
                    data['quantity_' + user + '_' + pid] = q
                })
                data['products_' + user] = oi_list
            })
	    return data
	}

        $('#submit_order').click(function () {
            var has_no_item=0
            $('.user-order-table').each(function(){
              if($(this).find('.item_row').length==0){
                has_no_item=has_no_item+1
              }
            })

            if(has_no_item>0){
              $.fallr('show', {
              icon        : 'error',
              content     : 'You have not selected products for '+has_no_item+' attendees. Please select items for everyone and then checkout.',
              buttons     : {
                button4 : {text: 'Cancel'}
              }	}); 	

              return false;
            }
	
	    data=get_party_cart()
            $.ajax({
                data:data,
                url:'{% url manager_add_party_products %}',
                type:'POST',
                dataType:'json',
                success:function (data) {
                    if (data.status.success) {
                        window.location = '{% url manager_party_payment %}'
                    }
                }
            })

        })

        $('#save_cart').click(function () {
	    data=get_party_cart()
            $.ajax({
                data:data,
                url:'{% url manager_save_party_cart %}',
                type:'POST',
                dataType:'json',
                success:function (data) {
	            
                    if (data.status.success) {
                        //window.location = '{% url opc_checkout %}'

	              $.fallr('show', {
                         icon        : 'success',
                         content     : 'Your cart has been successfully saved for this party.',
                         buttons     : {
                           button4 : {text: 'Ok'}
                      }}); 	

                    }
                }
            })

        })

        $(document).ready(function () {
            $('.input-numeric').live('keypress', function (e) {
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    user = $(this).attr('data-id')
                    $('.add[data-id=' + user + ']').click()
                    e.preventDefault();
                }
            });

            $('.remove-prod').live('click', function () {
                tr = $(this).parent().parent()
                table = tr.closest('table')
                tr.remove()

                count = table.find('tbody tr.item_row').length
                if (count == 0) {
                    table.children().remove()
                }
                update_user_totals(table.attr('data-id'))
            })

            $('.add').live('click', function () {
                user = $(this).attr('data-id')
                quantity = parseInt($('input[data-type=count][data-id=' + user + ']').val())
                product = $('select[data-type=product][data-id=' + user + ']').val()
                append_to = $('table[data-type=order][data-id=' + user + ']')
                if (quantity == '' || product == '') {
                    return false;
                }

                if (append_to.find('thead').length == 0) {
                    append_to.append('<thead style="border-top:1px solid #C3C3C3"><tr><th>SKU</th><th>Product</th><th>Price</th><th>Quantity</th><th>PCV</th><th>Total</th><th></th></tr></thead>')
                }

                p = products[product]
                total = quantity * p.price
                html = '<tr class="item_row" data-slug="'+(p.slug)+'" data-pid="' + (product) + '"><td>' + (p.sku) + '</td><td>' + (p.name) + '</td><td class="price">' + (p.price.toFixed(2)) + '</td><td class="quant"> <input type="text" data-pid="'+(product)+'" data-userid="'+(user) + '" class="input-numeric" value="' + quantity + '"/></td><td class="user_pcv">' + (0.65 * p.price * quantity).toFixed(2) + '</td><td class="line_total">' + total.toFixed(2) + '</td><td><button class="remove-prod">—</button></td></tr>'
                exists = append_to.find('tr[data-pid=' + product + ']')
                if (exists.length > 0) {
                    $(exists[0]).replaceWith(html)
                } else {
                    append_to.append(html)
                }
	        append_to.find('.input-numeric').ForceNumericOnly()
                update_user_totals(user)

            });

	    $('.input-numeric').live('change', function(){
	       if($.trim($(this).val())=='' || parseInt($(this).val())==0){
  	         $(this).parent().parent().find('.remove-prod').click()
	       }else{
                update_user_totals($(this).attr('data-userid'))
	       }
	    })
	    
            $('.direct-ship').live('change', function(){
              update_totals()
            })

            // Remove user from table
            $(".remove").live("click", function(e){
                var user = $(e.currentTarget).attr("data-id");
                var url = "{% url events_attendee_list code=party.code %}"

                if(confirm("{% trans 'Are you sure you want to remove this guest from your party?' %}")) {
                    $.get(
                        url,
                        {"resource_id": user},
                        function(data){
                            if(data.status === "Success") {
                                $(e.currentTarget).parent().parent().parent().parent().remove();
                                $("#party_info").find("[data-id='"+ user +"']").remove();
                                // update totals
                                update_user_totals(user);       
                                alert(data.message);
                            }else{
                                alert(data.message);
                            }
                        }
                    );
                }
                
            });
        });

      function update_totals(){
          order_total=0.00
          // get tax amounts 
          var tax_total = 0.00;
          $.each($(".tax-cell"), function(k, v) {
            ttmp = parseFloat($(v).html());
            if (!isNaN(ttmp)) {
                tax_total += ttmp;
            }
          });

          ind_ship_amt={'party':0.00}
          $('#selector tbody tr.attendee_purchase_info').each(function(){

            direct_ship=$(this).find('.direct-ship').eq(0).is(":checked")

            ind_total=0.00
            $(this).find('.item_row').each(function () {
                ind_total=ind_total+parseFloat($(this).find('.line_total').text())
            })

            free_products=0
            $(this).find('span[data-type=free_count]').each(function(){
              ind_total=ind_total-(per_product_price*parseInt($(this).text()))
            })
            order_total=order_total+ind_total

            if(!direct_ship){
              ind_ship_amt['party']=ind_ship_amt['party']+ind_total
            }else{
              attendee_id=$(this).find('tr[data-type=select]').attr('data-id')
              ind_ship_amt[attendee_id]=ind_total
            }
          })

          order_total=order_total-(per_product_price*free_products)
          totals_pcv=0.65*order_total
          $('.totals-data.pcv span').html(totals_pcv.toFixed(2))

          hreward = false
          for (r in rewards) {
            if (order_total+previous_order_total >= rewards[r].min) {
              hreward = rewards[r]
            }
          }
          if (hreward) {
              $('.totals-data.rewards').html('Hostess gets ' + hreward.desc + '.')
          } else {
              $('.totals-data.rewards').html('')
          }

          shipping_charges = 0.00
	  $('tr.ind-shipping').remove()
	  charges=0.00
          if(order_total>0.00){
	    $('.totals-data.shipping.party-shipping span').html('$0.00')
            for(i in ind_ship_amt){
              if(ind_ship_amt[i]<=0.00){
	        continue			   
	      }

              //charges=0.00
              for (c in carrier_charges) {
                if(ind_ship_amt[i] >= parseFloat(carrier_charges[c]['min_total'])) {
                   charges=parseFloat(carrier_charges[c]['price'])
                }
              }
	  
              shipping_charges=parseFloat(shipping_charges)+charges
	  
	      if(i=='party'){
	        $('.totals-data.shipping.party-shipping span').html('$' + (charges.toFixed(2)))
	      }else{
	        if(charges>0){
	          name=$('.totals-data.user-total[data-id='+i+']').attr('data-name')
	          $('.shipment-data').after('<tr class="ind-shipping"><td class="totals-data shipping">'+(name)+'\'s Direct Shipping<span>$'+(charges.toFixed(2))+'</span></td></tr>')
	          amt=parseInt($('table[data-type=order][data-id='+i+'] tbody tr.totals_row.total').attr('data-cart-total'))

	          if($('table[data-type=order][data-id='+i+'] tbody .totals_row.user_ind_shipping').length){
	            $('table[data-type=order][data-id='+i+'] tbody .totals_row.user_ind_shipping').remove()
	          }
	  
	          $('table[data-type=order][data-id='+i+'] tbody tr.totals_row.total').before('<tr class="totals_row user_ind_shipping"><td colspan="5">Shipping</td><td colspan="2">'+(charges.toFixed(2))+'</td></tr>')
   	          //$('table[data-type=order][data-id='+i+'] tbody tr.totals_row.total').attr('data-cart-total', (amt+charges))
	          $('table[data-type=order][data-id='+i+'] tbody tr.totals_row.total td:last-child').text((amt+charges).toFixed(2))

	          
	        }
	      }

            }
          }

	  //Displaying shipping for party shipppers
	  total_party_shipping_items=0
	  $('.direct-ship').each(function(){
            if(!$(this).is(":checked")){
              $('table[data-type=order][data-id='+$(this).attr('data-id')+']').find('tr.item_row td.quant').each(function(){
	        total_party_shipping_items+=parseInt($(this).find('input').val())
	      })
	    }
	  })
	  price_per_item=charges/total_party_shipping_items
	  ind_item_count=0
	  $('.direct-ship').each(function(){
            if(!$(this).is(":checked")){
	      ind_item_count=0
	      id=$(this).attr('data-id')
              $('table[data-type=order][data-id='+id+']').find('tr.item_row td.quant').each(function(){
	        ind_item_count+=parseInt($(this).find('input').val())
	      })
	      
	      shipping_cost_for_user=ind_item_count*price_per_item
	      $('table[data-type=order][data-id='+id+'] tbody .totals_row.user_ind_shipping').remove()
	      $('table[data-type=order][data-id='+id+'] tbody tr.totals_row.total').before('<tr class="totals_row user_ind_shipping"><td colspan="5">Shipping</td><td colspan="2">'+(shipping_cost_for_user.toFixed(2))+'</td></tr>')
	      amt=parseInt($('table[data-type=order][data-id='+id+'] tbody tr.totals_row.total').attr('data-cart-total'))
   	      //$('table[data-type=order][data-id='+id+'] tbody tr.totals_row.total').attr('data-cart-total', (amt+charges))
	      $('table[data-type=order][data-id='+id+'] tbody tr.totals_row.total td:last-child').text((amt+shipping_cost_for_user).toFixed(2))
              
	    }
	  })


          order_total = parseFloat(order_total) + parseFloat(shipping_charges) + tax_total;
          $(".party-tax-total span").html("$" + tax_total);
          $('.totals-data.order-total span').html('$' + order_total.toFixed(2))
	  

	  setTimeout(function(){
	    height=$('#main_content').height()+"px"
	    $('aside').css({"height":height})
	  }, 200)


        }
      
        function update_shipping_and_order_total(){
            var totals_pcv = 0.00
            var order_total = 0.00
            $('.item_row').each(function () {
                order_total = order_total + parseFloat($(this).find('.line_total').text())
            })

      
            free_products=0
            $('span[data-type=free_count]').each(function(){
              free_products=free_products+parseInt($(this).text())
            })
            order_total=order_total-(per_product_price*free_products)
            totals_pcv=0.65*order_total
            $('.totals-data.pcv span').html(totals_pcv)

            hreward = false
            for (r in rewards) {
                if (order_total+previous_order_total >= rewards[r].min) {
                    hreward = rewards[r]
                }
            }
            if (hreward) {
                $('.totals-data.rewards').html('Hostess gets ' + hreward.desc + '.')
            } else {
                $('.totals-data.rewards').html('')
            }
      

      
            shipping_pots={'party':{'individual_total':0.00}}
            if(order_total>0.00){
              $('#selector tbody tr').each(function(){
                direct_ship=$(this).find('.direct-ship').eq(0).is(":checked")
              })
            }

            shipping_charges = 0.00
            if(order_total>0.00){
              for (c in carrier_charges) {
                  if (order_total >= parseFloat(carrier_charges[c]['min_total'])) {
                      shipping_charges = carrier_charges[c]['price']
                  }
              }
            }

            $('.totals-data.shipping span').html('$' + shipping_charges)

            order_total = parseFloat(order_total) + parseFloat(shipping_charges)
            //console.log(order_total)
            $('.totals-data.order-total span').html('$' + order_total)



        }
      
        function update_user_totals(user_id) {
            var quantity = 0
	    var offerable_quantity=0
            var total = 0.00
            totals_rows = $('table[data-type=order][data-id=' + user_id + '] tbody tr.totals_row')
	    totals_rows.remove()
            item_rows = $('table[data-type=order][data-id=' + user_id + '] tbody tr.item_row')
            item_rows.each(function () {
	        slug = $(this).attr('data-slug')
                q = $(this).find('.quant').find('input').val()
                p = $(this).find('.price').text()
                total = total+(q * p)
                quantity = quantity+parseInt(q)
	        if(!offerless_products_slug.exists(slug)){
	          offerable_quantity=offerable_quantity+parseInt(q)
	        }
           ;})

            applicable_offers=[]
            applicable_offer=false
            for(offer=0; offer<offers.length; offer++){
	      buy=parseInt(offers[offer].buy)
	      free=parseInt(offers[offer].free)
	      set_count=buy+free
	      if(offerable_quantity%set_count==0){
	        applicable_offer=true
	        applicable_offers.push({offer:offers[offer], need_more:0})
	      }else if( (offerable_quantity+free)%set_count==0 ){
	        applicable_offer=true
	        applicable_offers.push({offer:offers[offer], need_more:free})
	      }else{
	        units=parseInt(offerable_quantity/(buy+free))
	        if(units>0){
	          applicable_offer=true
		  applicable_offers.push({offer:offers[offer], need_more:0})	
	        }

	      }
            }
	    orig_total=total
	    discount_amt=0.00
	    $('tfoot[data-type=offer][data-id=' + user_id + ']').remove()
	    if(applicable_offer){
	        applicable_offer=applicable_offers[0]
	        buy=parseInt(applicable_offer.offer.buy)
	        free=parseInt(applicable_offer.offer.free)

	        free_count=parseInt(offerable_quantity/(buy+free))*free
	  
	        msg=''
	        if(free_count==0 && applicable_offer.need_more>0){
	          msg="Please select "+(applicable_offer.need_more)+" free item(s)."
	        }else{
	          if(free_count>0){
   	            msg='<span data-id="'+user_id+'" data-type="free_count">'+free_count+'</span> of your attendee\'s items are free. '
	          }
	          if(applicable_offer.need_more>0){
	            msg=msg+"Please select "+(applicable_offer.need_more)+" free item(s)."
	          }
	        }

	        if(msg!=''){
	          offer_html='<tfoot data-type="offer" data-id="'+user_id+'" style="border-bottom:0px;"><tr><th colspan="7">'+msg+'</th></tr></tfoot>'
	          $('table[data-type=order][data-id=' + user_id + ']').append(offer_html)
	        }else{
	          $('tfoot[data-id='+user_id+']').remove()
	        }
	        total=total-(per_product_price*free_count)
                discount_amt=(per_product_price*free_count)
	    }

            $('td.user-total[data-id=' + user_id + '] span').html('$' + total.toFixed(2))
	    if(orig_total>0){
            // Check for the tax amount first, then display it on a table
            //console.log("discount amount " + discount_amt);
            //console.log("sub total " + orig_total);
            $.ajax({
                url: "{% url apiwrapper_avatax_geographical_tax %}",
                data: {
                        "attendee_id": user_id, 
                        "price": total,
                        "discount_amt": discount_amt, 
                        "orig_total": orig_total, 
                        "party_id": {{ party.pk }}
                },
                discount_amt: discount_amt,
                orig_total: orig_total,
                total: total,
                success: function(data){
                        var total = this.total;
                        var discount_amt = this.discount_amt;
                        var orig_total = this.orig_total;

                        if(data.status) {
                            /*I know this looks retarded. Not very familiar with this so I'd rather
                            just copy paste what's working. */
                            // Get the tax rate thing that there here
                            var taxAmount = total * data.response.Rate;
                            total = total + taxAmount;
                                                        
                            //console.log(data);
                            ///console.log("discount amount inside " + this.discount_amt);
                            //console.log("sub total inside " + this.orig_total);
                            //console.log("user id inside", user_id);

                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row sub_total" style="border-top:1px solid #BEBEBE;;"><td colspan="5">Sub Total</td><td colspan="2">'+orig_total.toFixed(2)+'</td></tr>');
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row discount"><td colspan="5">Discount</td><td colspan="2">'+discount_amt.toFixed(2)+'</td></tr>');
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row tax"><td colspan="5">Tax</td><td colspan="2" class="tax-cell">'+ taxAmount.toFixed(2) +'</td></tr>');
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row total" data-cart-total="'+total+'"><td colspan="5">Cart Total</td><td colspan="2">'+total.toFixed(2)+'</td></tr>');
                        }else{
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row sub_total" style="border-top:1px solid #BEBEBE;;"><td colspan="5">Sub Total</td><td colspan="2">'+orig_total.toFixed(2)+'</td></tr>');
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row discount"><td colspan="5">Discount</td><td colspan="2">'+discount_amt.toFixed(2)+'</td></tr>');
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row tax"><td colspan="5">Tax</td><td colspan="2" class="tax-cell">'+ 'No postal registered' +'</td></tr>');
                            $('table[data-type=order][data-id=' + user_id + '] tbody').append('<tr class="totals_row total" data-cart-total="'+total+'"><td colspan="5">Cart Total</td><td colspan="2">'+total.toFixed(2)+'</td></tr>');
                        }

                        update_totals();
                },
                 
            });
        }

            update_totals();
        }

        jQuery.fn.ForceNumericOnly =
                function () {
                    return this.each(function () {
                        $(this).keydown(function (e) {
                            var key = e.charCode || e.keyCode || 0;
                            // console.log(key)
                            // allow enter, backspace, tab, delete, arrows, numbers and keypad numbers ONLY
                            return (
                                    key == 8 ||
                                            key == 9 ||
                                            key == 13 ||
                                            key == 46 ||
                                            (key >= 37 && key <= 40) ||
                                            (key >= 48 && key <= 57) ||
                                            (key >= 96 && key <= 105));
                        });
                    });
                };

        $('.input-numeric').ForceNumericOnly()

	{% for a in attendee %}update_user_totals({{ a.id }});{% endfor %}
							
    </script>
{% endblock %}
