{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}
{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}

{% block title %}Dashboard{% endblock %}


{% block content %}


    <div id="main_content">

        {% category_list 'product' as cat_list %}
            <div class="invent-gallery">
                <div class="portfolio-1-4 no-description">

                    {% for cat in cat_list %}
                        {% if  cat.is_active %}
                            <div>
                                {% if settings.DEBUG %}
                                    <span class="image-decoration image-left shadow-220" style="margin-bottom:0px">
	  <a href="/manage{{ cat.get_absolute_url }}" title="{{ cat.translated_name }}" data-fancybox="2" class="external">
          <span class="image-hover" style="opacity: 0.5; "></span><span class="image-hover-icon"
                                                                        style="opacity: 1; "></span>

          {% if cat.main_image %}
              {% thumbnail cat.main_image.picture 200x100 crop="center" as image %}<img src="{{ image }}"
                                                                                        height="{{ image.height }}"
                                                                                        width="{{ image.width }}"
                                                                                        class="attachment-invent-small"
                                                                                        alt="{{ product.translated_name }}"
                                                                                        title="{{ product.translated_name }}">
          {% else %}
              {% thumbnail 'images/cat-default.jpg' 200x200 as image %}<img src="{{ image }}"
                                                                            height="{{ image.height }}"
                                                                            width="{{ image.width }}"
                                                                            class="attachment-invent-small"
                                                                            alt="{{ product.translated_name }}"
                                                                            title="{{ product.translated_name }}">
          {% endif %}
      </a>
	</span>
                                {% endif %}
                                <div class="image-description">
                                    <h5 style="text-align:center"><a href="/manage{{ cat.get_absolute_url }}"
                                                                     title="{{ cat.translated_name }}">{{ cat.name }}</a>
                                    </h5>
                                </div>


                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endcategory_list %}


    </div>

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
{% endblock %}


{% block bottom %}
    <!-- writing css here, needs to be removed lateron - Aman -->
    <script type="text/javascript" src="/static/js/jquery.flowy.js"></script>
    <link rel="stylesheet" href="/static/manage/css/invent.css">
    <script>

        function portfolioAnimations() {

        }
        $('.invent-gallery').flowy({margin:20});

    </script>
    <!-- end css -->


{% endblock %}
