{% extends "manage/base.html" %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}


{% block content %}


    <div id="main_content">
        <h2 class="grid_12">What type of order will you be placing?</h2>

        <div class="grid_12" id="quick_links">
            <div id="shortcuts-steps" class="box tabbed">
                <div class="content" style="border:0px; background:none;">
                    <ul id="shortcuts" class="shortcuts tab-content">
                        {% for d in discounts %}
                            <li>
                                <div class="shortcut-icon">
                                    <img src="/static/manage/img/icons/25x25/dark/lemonade-stand.png" width="25"
                                         height="25" alt="">

                                    <div class="divider"></div>
                                </div>
                                <a class="shortcut-description"
                                   href="{% url manager_set_wholesale_discount %}?slug={{ d.slug }}">
                                    <strong>{{ d.slug }}</strong><span>{{ d.description }}</span> </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
{% endblock %}


{% block bottom %}
    <!-- writing css here, needs to be removed lateron - Aman -->
    <script type="text/javascript" src="/static/js/jquery.flowy.js"></script>
    <link rel="stylesheet" href="/static/manage/css/invent.css">
    <script>

        function portfolioAnimations() {

        }
        $('.invent-gallery').flowy({margin:20});

    </script>
    <!-- end css -->


{% endblock %}
