{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}
{% load user_overview %}

{% block content %}
    {% user_overview as uv %}
    <div id="main_content">
    <h2 class="grid_12">Team Tools</h2>

    <div class="grid_6">
        <div class="box" id="tab-panel-overview">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">

                <h3>Overview</h3>
            </div>
            <div class="content no-padding">
                <div class="tab-content">
                    <table style="width:100%" class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th colspan="3" style="text-align:center">Personally Enrolled</th>
                        </tr>
                        </thead>
                        <tr>
                            <td></td>
                            <th>Retail</th>
                            <th>Consultant</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <th>New Today:</th>
                            <td>{{ uv|getitem:"retail"|getitem:"day" }}</td>
                            <td>{{ uv|getitem:"consultant"|getitem:"day" }}</td>
                            <td>{{ uv|getitem:"total"|getitem:"day" }}</td>
                        </tr>
                        <tr>
                            <th>New This Week:</th>
                            <td>{{ uv|getitem:"retail"|getitem:"week" }}</td>
                            <td>{{ uv|getitem:"consultant"|getitem:"week" }}</td>
                            <td>{{ uv|getitem:"total"|getitem:"week" }}</td>
                        </tr>
                        <tr>
                            <th>New This Month:</th>
                            <td>{{ uv|getitem:"retail"|getitem:"month" }}</td>
                            <td>{{ uv|getitem:"consultant"|getitem:"month" }}</td>
                            <td>{{ uv|getitem:"total"|getitem:"month" }}</td>
                        </tr>
                        <tr>
                            <th>All Time:</th>
                            <td>{{ uv|getitem:"retail"|getitem:"total" }}</td>
                            <td>{{ uv|getitem:"consultant"|getitem:"total" }}</td>
                            <td>{{ uv|getitem:"total"|getitem:"total" }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_6 -->


    {% comment %}
    <div class="grid_6">
        <div class="box" id="tab-panel-genealogy">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">
                <h3>Unilevel Genealogy</h3>
            </div>
            <div class="content">
              <div id="tab-gen" class="tab-content">
                <div id="gene"></div>
              </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_6 -->
    {% endcomment %}

    <div class="grid_6">
        <div class="box" id="tab-panel-genealogy">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">
                <h3>Genealogy</h3>
            </div>
            <div class="content">
              <div class="tab-content">
		
		<ul id="shortcuts" class="shortcuts tab-content">
		  <li>
                    <div class="shortcut-icon">
                      <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/lemonade-stand.png" width="25" height="25" alt="">
                      <div class="divider"></div>
                    </div>
                    <a class="shortcut-description" href="{% url manager_genealogy %}">
                      <strong>Graphical Genealogy</strong><span><!-- desc --></span> </a>
                  </li>
		  <li>
                    <div class="shortcut-icon">
                      <img src="{{ STATIC_URL }}manage/img/icons/25x25/dark/lemonade-stand.png" width="25" height="25" alt="">
                      <div class="divider"></div>
                    </div>
                    <a class="shortcut-description" href="">
                      <strong>Flat Genealogy</strong><span><!-- desc --></span> </a>
                  </li>
		</ul>

              </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_6 -->


    <div class="grid_12">
        <div class="box" id="tab-panel-consultants">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">
                <h3>Consultants</h3>
            </div>
            <div class="content no-padding">
                <div class="tab-content">
                    <div class="max200">
                        <table style="width:100%" class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Enrolment Date</th>
                                <th>MTD PCV</th>
                                <th>MTD GCV</th>
                                <th>PCV</th>
                                <th>GCV</th>
                            </tr>
                            </thead>
                            {% for dl in user.frontline %}
                                <tr>
                                    <td><a href="{% url manager_get_consultant_info %}?sponsor_id={{dl.pk}}" class="user-sponsor">{{ dl.get_full_name }}</a></td>
                                    <td>{{ dl.email }}</td>
                                    <td>{{ dl.date_joined }}</td>
                                    <td>{{ dl.current_month_volumes.pcv|floatformat:2 }}</td>
                                    <td>{{ dl.current_month_volumes.gcv|floatformat:2 }}</td>
                                    <td>{{ dl.previous_month_details.pcv|floatformat:2 }}</td>
                                    <td>{{ dl.previous_month_details.gcv|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_6 -->

    <div class="grid_12">
        <div class="box" id="tab-party-attendees">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">
                <h3>Party Attendees</h3>
            </div>
            <div class="content no-padding">
                <div class="tab-content">
                    <div class="max200">
                        <table style="width:100%" class="table">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Lasr Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Party</th>
                            </tr>
                            </thead>
                            {% for pa in party_attendees %}
                                <tr>
                                    <td>{{ pa.first_name }}</td>
                                    <td>{{ pa.last_name }}</td>
                                    <td>{{ pa.email }}</td>
                                    <td>{{ pa.phone }}</td>
                                    <td>{{ pa.event.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_6 -->

    <div class="grid_6">
        <div class="box" id="tab-panel-retail-customers">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">

                <h3>Retail Customers</h3>
            </div>
            <div class="content no-padding">
                <div class="tab-content">
                    <div class="amax200">
                        <table class="table style">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Enrolment Date</th>
                            </tr>
                            </thead>
                            {% for r in user.retail %}
                                <tr>
                                    <td>{{ r.name }}</td>
                                    <td>{{ r.email }}</td>
                                    <td>{{ r.date_joined }}</td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->
    </div> <!-- End of .grid_6 -->

    <div class="grid_6">
        <div class="box" id="tab-panel-recruiters">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">

                <h3>Recruiters</h3>
                <ul>
                    <li><a href="#tab-top-rec">Top Recruiters</a></li>
                    <li><a href="#tab-top-rec-week">Weekly Top</a></li>
                    <li><a href="#tab-top-rec-month">Monthly Top</a></li>
                    <li><a href="#tab-per-enroll">Enrolled Yesterday</a></li>
                </ul>
            </div>
            <div class="content no-padding">
                <div id="tab-top-rec" class="tab-content">
                    <div class="amax200">
                        <table class="table style">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Total Recruits</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u, count in top_sponsors.items %}
                                <tr>
                                    <td>
                                        {{ u.get_full_name }}
                                    </td>
                                    <td>
                                      {{ u.email }}
                                    </td>
                                    <td>
                                        {{ count }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab-top-rec=week" class="tab-content">
                    <div class="amax200">
                        <table class="table style">
                            <thead>
                            <tr>
                                <th>Name</th>
				<th>Email</th>
                                <th>Recruit in last 7 days</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u, count in week_top_sponsors.items %}
                                <tr>
                                    <td>
                                        {{ u.get_full_name }}
                                    </td>
                                    <td>
                                      {{ u.email }}
                                    </td>
                                    <td>
                                        {{ count }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab-top-rec-month" class="tab-content">
                    <div class="amax200">
                        <table class="table style">
                            <thead>
                            <tr>
                                <th>Name</th>
				<th>Email</th>
                                <th>Recruit in last 30 days</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u, count in month_top_sponsors.items %}
                                <tr>
                                    <td>
                                        {{ u.get_full_name }}
                                    </td>
                                    <td>
                                      {{ u.email }}
                                    </td>
                                    <td>
                                        {{ count }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tab-top-rec-enroll" class="tab-content">
                    <div class="amax200">
                        <table class="table style">
                            <thead>
                            <tr>
                                <th>Name</th>
				<th>Email</th>
                                <th>Sponsor</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in enrolled_yesterday %}
                                <tr>
                                    <td>
                                        {{ u.get_full_name }}
                                    </td>
                                    <td>
                                      {{ u.email }}
                                    </td>
                                    <td>
                                        {{ s.sponsor }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- End of .content -->
        </div>
        <!-- End of .box -->

        <div class="hidden" id="fallr-content-holder">
        </div>


    </div> <!-- End of .grid_6 -->

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/sprite.tables.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.dataTables.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
{% endblock %}


{% block bottom %}
    <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
    <script>



        $(window).load(function () {
            // Consultant info
            $(".user-sponsor").click(function(e){
                e.preventDefault();
                $.get(
                    $(e.currentTarget).attr("href"),
                    {},
                    function(data) {
                        $("#fallr-content-holder").html(data.template);
                        $.fallr("show", {
                            content: $("#consultant-content").html(),
                            icon: "",
                            width: "900px",
                        });
                    }, "json"
                );
            });

            /*
             * Tabs
             */
            $('#tab-panel-recruiters').createTabs();


            $("#gene").dynatree({
                initAjax:{
                    url:"/accounts/frontline_dir/"
                },

                onLazyRead:function (node) {
                    node.appendAjax({url:"/accounts/frontline_dir/", data:{"for":node.data.key, "mode":"all"} });
                },
            });

            $(".table.style").dataTable({
                "aaSorting":[
                    [ 0, "desc" ]
                ],
                // "sDom": '<"toolbar">frtip'
            });

            // hide toolbar.
            // $("div.toolbar").css("display", "none");

        });
    </script>

    <link rel='stylesheet' type='text/css' href='http://wwwendt.de/tech/dynatree/src/skin/ui.dynatree.css'>
    <script src='http://wwwendt.de/tech/dynatree/jquery/jquery.cookie.js' type="text/javascript"></script>
    <script src='http://wwwendt.de/tech/dynatree/src/jquery.dynatree.js' type="text/javascript"></script>
    <style>
        #gene {
            height: 184px;
            overflow: none;
            width: 491px;
        }

        .max200 {
            height: 200px;
            overflow-y: scroll;
        }

        ul.dynatree-container {
            border: none;
        }
    </style>
{% endblock %}
