{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/sprite.tables.css">
    <div class="grid_12">

        <div>
            <a href="{% url manager_tools_support %}" class="button"
               style="width:100px; text-align:center; float:right">Compose</a>
        </div>
        <div class="clear"></div>

        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/document-word-text.png">

                <h3>Support Requests</h3>
            </div>
            <div class="content no-padding">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Body</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% load inbox %}
                    {% support_requests as req %}
                    {% for r in req %}
                        <tr>
                            <td>{{ r.request.sent_on }}</td>
                            <td><a href="{% url manager_tools_view_support r.request.pk %}">{{ r.request.subject }}</a>
                            </td>
                            <td><a href="{% url manager_tools_view_support r.request.pk %}">{{ r.request.body }}</a>
                            </td>
			    <td>
			      {{ r.request.get_status_display }}
			    </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>


{% endblock %}
