{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">

    <div class="grid_12">
        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/document-word-text.png">
                <h3>Email</h3>
            </div>
            <div class="content ">
                <form method="POST">
                    {% csrf_token %}
                    <div style="margin:10px">
                        {{ formset.management_form }}
                        <table style="width:100%">
                            <thead>
                            <td style="width:48%">Recepient's Name</td>
                            <td style="width:48%">Recepient's Email</td>
                            <td></td>
                            </thead>
                            {% for form in formset %}
                                {% if form.errors %}
                                    <tr class="recepient-row rr-{{ forloop.counter }}">
                                        <td>{% if form.receipient.errors %}
                                            <div class="alert error" style="margin-bottom:0px"><span
                                                    class="icon"></span><strong>Error: </strong>{% for error in form.receipient.errors %}{{ error }}{% endfor %}
                                            </div> {% endif %}</td>
                                        <td>{% if form.email_id.errors %}
                                            <div class="alert error" style="margin-bottom:0px"><span
                                                    class="icon"></span><strong>Error: </strong>{% for error in form.email_id.errors %}{{ error }}{% endfor %}
                                            </div>{% endif %}</td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                <tr class="recepient-row rr-{{ forloop.counter }}">
                                    <td style="padding-right:10px;">{{ form.receipient }}</td>
                                    <td style="padding-left:10px;">{{ form.email_id }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3"></td>
                            </tr>
                        </table>
                    </div>

                    <div style="margin:10px;">
                        {% if subject_err %}
                            <div class="alert error"><span class="icon"></span><strong>Error: </strong>Subject should be
                                in between 3 - 256 characters.
                            </div>
                        {% endif %}
                        <label>Email Subject: <input type="text" name="subject"/></label>
                    </div>

                    {% if body_err %}
                        <div style="margin:10px;">
                            <div class="alert error"><span class="icon"></span><strong>Error: </strong>Email body should
                                be in between 25 - 2500 characters.
                            </div>
                        </div>
                    {% endif %}

                    <textarea id="wysiwyg" name="body"></textarea>

                    <div>
                        <input type="submit" value="Send Email"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block bottom %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.wysiwyg.css"> <!-- PLUGIN: Wysiwyg Editor -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/jquery.wysiwyg.js"></script>
    <!-- REQUIRED for jWysiwyg -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/controls/wysiwyg.link.js"></script>
    <!-- jWysiwyg Plugin -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/controls/wysiwyg.image.js"></script>
    <!-- jWysiwyg Plugin -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/controls/wysiwyg.table.js"></script>
    <!-- jWysiwyg Plugin -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->

    <style>
        .recepient-row {
            display: none;
        }

        .rr-1 {
            display: table-row;
        }
    </style>

    <script>
        $(window).load(function () {
            $('#wysiwyg').wysiwyg({
                autoGrow:true
            });

            var cont = '<p>Dear {name},<br/>My name is {{ request.user.get_full_name}} and I am a participant in Jamberry.</p><p>Please visit me at {promo_url}</p><br/>Kind Regards,<br/>{{ request.user.get_full_name}}'
            $('#wysiwyg').wysiwyg('setContent', {% if body_content %}'{{ body_content|safe }}'{% else %}cont{% endif %}
            )
        });
    </script>
{% endblock %}
