{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">

    <div class="grid_12">
        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/document-word-text.png">

                <h3>{{ requested.request.subject }}</h3>
            </div>
            <div class="content">
                <p>{{ requested.request.body }}</p>

                {% for reply in requested.request.replies %}
                    <div style="border-left:1px solid grey; padding-left:10px; margin-top:10px;">
                        <span style="color:#c6c6c6">{{ reply.by.username }} replied on {{ reply.sent_on }}:</span><br/>
                        {{ reply.body }}
                    </div>
                {% endfor %}

		{% ifnotequal requested.request.status 'closed' %}
                <div style="border-left:1px solid grey; padding-left:10px; margin-top:10px;">
                    <form method="POST">
                        <textarea style="height:30px; " name="body"></textarea>
                        <input type="submit" value="Reply" style="display:inline-block"/>
			<a href="{% url manager_tools_close_support requested.request.id %}" class="button" style="display:inline-block">Close Ticket</a>

                        {% csrf_token %}
                    </form>
                </div>
		{% else %}
		<div style="padding:20px 0px;">
		  <i>This Ticket has been closed.</i>
		</div>
		{% endifnotequal %}

            </div>
        </div>
    </div>


{% endblock %}

{% block bottom %}
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script>
        $('#support-category').change(function () {
            id = $(this).val()
            c = $(this).find('option[data-id=' + id + ']').attr('data-children')
            $('.subcat').hide()
            if (c == 'True') {
                $('.subcat[data-id=' + id + ']').show()
            }
        })
    </script>
{% endblock %}
