{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">

    <div class="grid_12">

        <div>
            <a href="{% url manager_tools_view_supportlist %}" class="button"
               style="width:120px; text-align:center; float:right">View all requests</a>
        </div>
        <div class="clear"></div>


        <div class="box">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/document-word-text.png">

                <h3>Support Email</h3>
            </div>
            <div class="content " style="height:500px;">
                <form method="POST">
                    {% csrf_token %}
                    <div class="_50">
                        <p>
                            <label>To</label>
                            <select id="support-category" name="cat">
                                <option></option>
                                {% for cat in supportcategories %}
                                    <option data-children="{{ cat.has_children }}" data-id="{{ cat.pk }}"
                                            value="{{ cat.pk }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </p>
                    </div>

                    <div class="_50">
                        {% for cat in supportcategories %}
                            <div data-id="{{ cat.pk }}" class="subcat" style="display:none; ">
                                <p>
                                    <label>Sub Category</label>
                                    <select data-id="{{ cat.pk }}" style="width:470px;" name="subcat_{{ cat.pk }}">
                                        {% for subcat in cat.children.all %}
                                            <option></option>
                                            <option value="{{ subcat.pk }}">{{ subcat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="_100">
                        <p>
                            <label>Subject</label>
                            <input type="text" name="subject"/>
                        </p>
                    </div>
                    <div class="_100">
                        <p>
                            <label>Body</label>
                            <textarea name="body" style="height:150px;"></textarea>
                        </p>
                    </div>
                    <div class="_100">
                        <p>
                            <input type="submit" value="Contact Support"/>
                        </p>
                    </div>

                </form>

            </div>
        </div>
    </div>


{% endblock %}

{% block bottom %}
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script>
        $('#support-category').change(function () {
            id = $(this).val()
            c = $(this).find('option[data-id=' + id + ']').attr('data-children')
            $('.subcat').hide()
            if (c == 'True') {
                $('.subcat[data-id=' + id + ']').show()
            }
        })
    </script>
{% endblock %}
