{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <div id="main_content">
    <div class="grid_12" id="quick_links">
        <div id="shortcuts-steps" class="box tabbed">
            <div class="content" style="border:0px; background:none;">
                <ul id="shortcuts" class="shortcuts tab-content">

                    <li>
                        <div class="shortcut-icon">
                            <img src="/static/manage/img/icons/25x25/dark/box-outgoing-2.png" width="25" height="25"
                                 alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url report_builder_index %}"> <strong>Team Communication</strong><span>Setup and send emails to members of your team.</span>
                        </a>
                    </li>

                    <li>
                        <div class="shortcut-icon">
                            <img src="/static/manage/img/icons/25x25/dark/box-outgoing-2.png" width="25" height="25"
                                 alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_tools %}"> <strong>Email Marketing</strong><span>Setup and send emails to potential clients.</span>
                        </a>
                    </li>

                    <li>
                        <div class="shortcut-icon">
                            <img src="/static/manage/img/icons/25x25/dark/help.png" width="25" height="25" alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_tools_support %}"> <strong>Support</strong><span>Ask questions to us directly.</span>
                        </a>
                    </li>
		    {% comment %}
                    <li>
                        <div class="shortcut-icon">
                            <img src="/static/manage/img/icons/25x25/dark/help.png" width="25" height="25" alt="">

                            <div class="divider"></div>
                        </div>
                        <a class="shortcut-description" href="{% url manager_propay_create %}">
                            <strong>Propay</strong><span>Create a propay account.</span> </a>
                    </li>
		    {% endcomment %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
