{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
<div id="main_content">
  <div class="grid_12">
    <div class="box">
      <div class="header">
        <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/document-word-text.png">
        <h3>Send out promo email</h3>
      </div>
      <div class="content ">
        <form method="POST">
          {% csrf_token %}
	  
	  {% if done %}
          <div style="margin:10px;">
            <div class="alert success"><span class="icon"></span><strong>Success! </strong> Email sent successfully.
            </div>
          </div>

	  {% endif %}

          {% if not only.c %}
          {% if not only.r %}

          <div style="margin:10px;">
            <div class="alert error"><span class="icon"></span><strong>Error: </strong> There are no users to email to.
            </div>
          </div>
	  {% endif %}
	  {% endif %}
	  
	  {% if only.c %}
          <div style="margin:30px 0px">
	    <strong>Consultants:</strong> &nbsp; &nbsp;
	    {% for u in only.c %}
	       {{ u.get_full_name }}{% if not forloop.last %}, &nbsp; &nbsp;{% else %}.{% endif %}
	       <input type="hidden" name="recepients[c][]" value="{{ u.pk }}"/>
	    {% endfor %}
          </div>
          {% endif %}

	  {% if only.r %}
          <div style="margin:30px 0px">
	    <strong>Reatil Customers:</strong> &nbsp; &nbsp;
	    {% for u in only.r %}
	       {{ u.full_name }}{% if not forloop.last %}, &nbsp;{% else %}.{% endif %}
	       <input type="hidden" name="recepients[r][]" value="{{ u.pk }}"/>
	    {% endfor %}
          </div>
          {% endif %}

	  
          <div style="margin:10px;">
            {% if subject_err %}
            <div class="alert error"><span class="icon"></span><strong>Error: </strong>Subject should be
              in between 3 - 256 characters.
            </div>
            {% endif %}
            <label>Email Subject: <input type="text" name="subject"/></label>
          </div>
	  
          {% if body_err %}
          <div style="margin:10px;">
            <div class="alert error"><span class="icon"></span><strong>Error: </strong>Email body should
              be in between 25 - 2500 characters.
            </div>
          </div>
          {% endif %}

	  
          <textarea id="wysiwyg" name="body"></textarea>
          <div><input type="submit" value="Send Email"/></div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}
{% block bottom %}
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.wysiwyg.css"> <!-- PLUGIN: Wysiwyg Editor -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/jquery.wysiwyg.js"></script>
    <!-- REQUIRED for jWysiwyg -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/controls/wysiwyg.link.js"></script>
    <!-- jWysiwyg Plugin -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/controls/wysiwyg.image.js"></script>
    <!-- jWysiwyg Plugin -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jwysiwyg/controls/wysiwyg.table.js"></script>
    <!-- jWysiwyg Plugin -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->

    <style>
        .recepient-row {
            display: none;
        }

        .rr-1 {
            display: table-row;
        }
    </style>

    <script>
        $(window).load(function () {
            $('#wysiwyg').wysiwyg({
                autoGrow:true
            });

            var cont = '<p>Dear {name},<br/>My name is {{ request.user.get_full_name}} and I am a participant in Jamberry.</p><p>Please visit me at {promo_url}</p><br/>Kind Regards,<br/>{{ request.user.get_full_name}}'
            $('#wysiwyg').wysiwyg('setContent', {% if body_content %}'{{ body_content|safe }}'{% else %}cont{% endif %}
            )
        });
    </script>
{% endblock %}
