{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <style>
        .closed .content, .closed .actions {
            display: none;
        }
    </style>
    <div id="main_content">
    <!-- <h2 class="grid_12">Dummy Header</h2> -->

    <form method="POST" enctype="multipart/form-data">
    <div class="grid_12">
        <div class="box closed">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-text-field-format.png" alt="" width="16"
                     height="16">

                <h3>Profile Information</h3>
                <span id="bill-info"></span>
            </div>
            <div class="content">

                {{ user_form.management_form }}
                {{ user_form.0.id }}

                <div class="_50">
                    <p>
                        <label>First Name{% if user_form.0.first_name.field.required %}*{% endif %}</label>
                        {{ user_form.0.first_name }}
                    </p>
                </div>
                <div class="_50">
                    <p>
                        <label>Last Name{% if user_form.0.last_name.field.required %}*{% endif %}</label>
                        {{ user_form.0.last_name }}
                    </p>
                </div>

                <div class="_50">
                    <p>
                        <label>Email Address{% if user_form.0.email.field.required %}*{% endif %}</label>
                        {{ user_form.0.email }}
                    </p>
                </div>


                {{ profile_form.management_form }}
                {{ profile_form.0.id }}

                <div class="_50">
                    <p>
                        <label>Phone Number{% if profile_form.0.phone_number.field.required %}*{% endif %}</label>
                        {{ profile_form.0.phone_number }}
                    </p>
                </div>

                <div class="_50">
                    <p>
                        <label>Promo Page{% if profile_form.0.promo_page.field.required %}*{% endif %}</label>
                        {{ profile_form.0.promo_page }}
                    </p>
                </div>


                <div class="_50">
                    <p>
                        <label>Language{% if profile_form.language.field.required %}*{% endif %}</label>
                        {{ profile_form.0.language }}
                    </p>
                </div>
                <div class="_50">
                    <p>
                        <label>Gender{% if profile_form.gender.field.required %}*{% endif %}</label>
                        {{ profile_form.0.gender }}
                    </p>
                </div>
                <div class="_50">
                    <p>
                        <label>Profile Picture{% if profile_form.personal_photo.field.required %}*{% endif %}</label>
                        {{ profile_form.0.personal_photo }}
                    </p>
                </div>
                <div class="_50">
                    <p>
                        {{ propay_form }}
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="actions">
                <div class="actions-left">
                </div>
                <div class="actions-right">
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </div>
        <!-- End of .box -->
    </div>
    <!-- End of .grid_6 -->
    <div class="clear"></div>

    <div class="grid_12">
        <div class="box closed">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-text-field-format.png" alt="" width="16"
                     height="16">

                <h3>Network Information</h3>
                <span id="bill-info"></span>
            </div>
            <div class="content">
                {{ network_form.management_form }}
                {% for network in network_form %}
                    {{ network.id }}
                    <div class="_50">
                        <p><label>Type{% if network.network.field.required %}*{% endif %}</label>
                            {{ network.network }}
                        </p>
                    </div>
                    <div class="_50">
                        <p><label>Address{% if network.network_address.field.required %}*{% endif %}</label>
                            {{ network.network_address }}
                        </p>
                    </div>
                    {% if not forloop.last %}
                        <div class="_100" style="text-align:right">
                            <p><label>Delete{% if network.DELETE.field.required %}*{% endif %} &nbsp;
                                &nbsp; {{ network.DELETE }}</label>
                            </p>
                        </div>
                        <div class="clear"></div>
                        <hr style="border-top:1px dotted #C8C8C8"/>
                    {% endif %}

                {% endfor %}
                <div class="clear"></div>
            </div>
            <div class="actions">
                <div class="actions-left">
                </div>
                <div class="actions-right">
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </div>
        <!-- End of .box -->
    </div>
    <!-- End of .grid_6 -->

    <div class="grid_12">
        <div class="box closed">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-text-field-format.png" alt="" width="16"
                     height="16">

                <h3>Website Information</h3>
                <span id="bill-info"></span>
            </div>
            <div class="content">
                <div class="_100">
                    {{ website_form }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="actions">
                <div class="actions-left">
                </div>
                <div class="actions-right">
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </div>
        <!-- End of .box -->
    </div>
    <!-- End of .grid_6 -->
    <div class="clear"></div>

    <div class="grid_12">
        <div class="box closed">
            <div class="header">
                <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-text-field-format.png" alt="" width="16"
                     height="16">

                <h3>Shipping and Billing Information</h3>
                <span id="bill-info"></span>
            </div>
            <div class="content">
                {{ address_form.management_form }}
                {% for form in address_form %}
                    {{ form.id }}
                    <div class="_100">
                        <p>
                            <label>
                                Adressee{% if form.adressee.field.required %}*{% endif %}
                            </label>
                            {{ form.addressee }}
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div class="_50">
                        <p>
                            <label>Street Address One{% if form.street1.field.required %}*{% endif %}</label>
                            {{ form.street1 }}
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <label>Street Address Two{% if form.street2.field.required %}*{% endif %}</label>
                            {{ form.street2 }}
                        </p>
                    </div>
                    <div class="clear"></div>
                    <div class="_50">
                        <p>
                            <label>City{% if form.city.field.required %}*{% endif %}</label>
                            {{ form.city }}
                        </p>
                    </div>
                    <div class="_50">
                        <p><label>State{% if form.state.field.required %}*{% endif %}</label>
                            {{ form.state }}
                        </p>
                    </div>
                    <div class="clear"></div>

                    <div class="_50">
                        <p><label>Postal Code{% if form.postal_code.field.required %}*{% endif %}</label>
                            {{ form.postal_code }}
                        </p>
                    </div>
                    <div class="_50">
                        <p>
                            <label>Country{% if form.country.field.required %}*{% endif %}</label>
                            {{ form.country }}
                        </p>
                    </div>
                    <div class="clear"></div>

                    <div class="_100">
                        <p>
                            <label style="float:left">Default Shipping{% if form.is_default_shipping.field.required %}
                                *{% endif %} &nbsp; &nbsp; {{ form.is_default_shipping }}</label>
                            <label style="float:left">Default Billing{% if form.is_default_billing.field.required %}
                                *{% endif %} &nbsp; &nbsp; {{ form.is_default_billing }}</label>
                            {% if not forloop.last %}<label style="float:left">Delete{% if form.DELETE.field.required %}
                                *{% endif %} &nbsp; &nbsp; {{ form.DELETE }}</label>{% endif %}
                        </p>
                    </div>
                    <div class="clear"></div>

                    {% if not forloop.last %}
                        <hr style="border-top:1px dotted #C8C8C8"/>
                    {% endif %}


                {% endfor %}
            </div>
            <div class="actions">
                <div class="actions-left">
                </div>
                <div class="actions-right">
                    <input type="submit" value="Submit"/>
                </div>
            </div>
        </div>
        <!-- End of .box -->
    </div>
    <!-- End of .grid_6 -->
    <div class="clear"></div>

    {% csrf_token %}
    </form>
    <div class="clear"></div>


{% endblock %}


{% block aside %}
    {% include 'manage/aside.html' %}
{% endblock %}


{% block bottom %}

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>


    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->

{% endblock %}
