{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}
{% load thumbnail %}

{% block content %}
    <div id="main_content">
    <!-- <h2 class="grid_12">Dummy Header</h2>  -->

    <ul style="font-size:18px;">
      <li>
	<strong>To view an image on this page or a document simply click on the item.</strong>
      </li>
      <li>
	<strong>To save an document or image right click the item and select "Save As" from the drop down to save to your computer.</strong>
      </li>
    </ul>

    {% if media %}
        <div class="grid_12">
            <div class="box">
                <div class="header">
                    <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/images-stack.png" alt="" width="16"
                         height="16">

                    <h3>Training and Marketing</h3>
                    <span></span>
                </div>
                <div class="content">
                    <table class="gallery">
                        <tr>
                            {% for m in media %}
                                {% ifequal m.type 'video' %}
                                    <td style="width:130px">
                                        <a href="http://www.youtube.com/watch?v={{ m.video_id }}" rel="prettyPhoto"
                                           title="{{ m.title }}">
                                            <!--<img src="http://img.youtube.com/{{ m.video_id }}/2.jpg">-->
                                            {% if m.thumbnail %}
                                                {% thumbnail m.thumbnail 120x90 crop="center" as image %}
                                                <img src="{{ image }}" style="height: 90px;">
                                            {% else %}
                                                <img src="http://img.youtube.com/{{ m.video_id }}/2.jpg">
                                            {% endif %}
                                        </a>
                                    </td>
                                {% endifequal %}

                                {% ifequal m.type 'picture' %}
                                    <td style="width:130px">
                                        <a href="{{ MEDIA_URL }}{{ m.image }}" rel="prettyPhoto" title="{{ m.title }}">
                                            {% thumbnail m.image 120x90 crop="center" as image %}
                                            <img style="height:90px;" src="{{ image }}">
                                        </a>
                                    </td>
                                {% endifequal %}

                                {% ifequal m.type 'doc' %}
                                    <td style="width:130px">

                                        <a href="{{ MEDIA_URL }}{{ m.document }}" title="{{ m.title }}">
                                            <img style="height:90px;padding:2px 16px;"
                                                 src="{{STATIC_URL}}/manage/img/file-icons/{{m.ext}}.png">
                                        </a>

                                    </td>
                                {% endifequal %}

                                <td style="width:205px">
                                    <h4 style="margin:0px;">{{ m.title }}</h4>
                                    {{ m.description }}
                                </td>

                                {% if forloop.counter|divisibleby:3 %} </tr>
                                    <tr>
                                        <td style="height:20px;" colspan="2"></td>
                                    </tr>
                                    <tr> {% endif %}
                            {% endfor %}
                            </tr>

                    </table>
                </div>
                <!-- End of .content -->
            </div>
            <!-- End of .box -->
        </div> <!-- End of .grid_12 -->
    {% endif %}



    {% if cus_media.ci %}
        <div class="grid_12">
            <div class="box">
                <div class="header">
                    <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/images-stack.png" alt="" width="16"
                         height="16">

                    <h3>Customer Information</h3>
                    <span></span>
                </div>
                <div class="content">
                    <table class="gallery">
                        <tr>
                            {% for m in cus_media.ci %}
                                <td style="width:130px">

                                    <a href="{{ MEDIA_URL }}{{ m.document }}" title="{{ m.title }}">
                                        <img style="height:90px;padding:2px 16px;"
                                             src="{{STATIC_URL}}/manage/img/file-icons/{{m.ext}}.png">
                                    </a>

                                </td>

                                <td style="width:205px">
                                    <h4 style="margin:0px;">{{ m.title }}</h4>
                                    {{ m.description }}
                                </td>

                                {% if forloop.counter|divisibleby:3 %} </tr>
                                    <tr>
                                        <td style="height:20px;" colspan="2"></td>
                                    </tr>
                                    <tr> {% endif %}
                            {% endfor %}
                            </tr>

                    </table>
                </div>
                <!-- End of .content -->
            </div>
            <!-- End of .box -->
        </div> <!-- End of .grid_12 -->
    {% endif %}

    {% if cus_media.cf %}
        <div class="grid_12">
            <div class="box">
                <div class="header">
                    <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/images-stack.png" alt="" width="16"
                         height="16">

                    <h3>Customer Forms</h3>
                    <span></span>
                </div>
                <div class="content">
                    <table class="gallery">
                        <tr>
                            {% for m in cus_media.cf %}
                                <td style="width:130px">

                                    <a href="{{ MEDIA_URL }}{{ m.document }}" title="{{ m.title }}">
                                        <img style="height:90px;padding:2px 16px;"
                                             src="{{STATIC_URL}}/manage/img/file-icons/{{m.ext}}.png">
                                    </a>

                                </td>

                                <td style="width:205px">
                                    <h4 style="margin:0px;">{{ m.title }}</h4>
                                    {{ m.description }}
                                </td>

                                {% if forloop.counter|divisibleby:3 %} </tr>
                                    <tr>
                                        <td style="height:20px;" colspan="2"></td>
                                    </tr>
                                    <tr> {% endif %}
                            {% endfor %}
                            </tr>

                    </table>
                </div>
                <!-- End of .content -->
            </div>
            <!-- End of .box -->
        </div> <!-- End of .grid_12 -->
    {% endif %}


{% endblock %}


{% block aside %}
    {# {% include 'manage/aside.html' %} #}
{% endblock %}


{% block bottom %}

    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.gallery.css"> <!-- SPRITES: Gallery styling -->
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>


    <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.prettyPhoto.js"></script>

{% endblock %}
