{% extends "manage/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load cart_details %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <style>
        table td {
            vertical-align: middle;
        }

        table td.loader img {
            display: none;
        }
    </style>
    <div id="main_content">
        <table style="width:95%;">
        <tr>
            <td colspan="6">
                Search by name: &nbsp; &nbsp;<input type="text" style="width:250px; display:inline"
                                                    id="search-by-text"/>
            </td>
        </tr>
        {% for product in products %}
            <tr class="product-line" data-id="{{ product.pk }}" data-slug-orig="{{ product.slug }}"
                data-slug="{{ product.slug|lower }}" data-name="{{ product.translated_name|lower }}">
                <td>
                    {% if product.main_image %}
                        {% thumbnail product.main_image.picture 40x40 crop="center" as image %}
                        <img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}"
                             alt="{% if product.translated_short_description %}{{ product.translated_short_description }}{% endif %}"
                             style="margin:auto">
                    {% endif %}
                </td>
                <td>
                    {% if product.translated_name %}{{ product.translated_name }}{% endif %}
                </td>
                {# First we'd have to check if an order has already been placed #}
                {% if product in tours_taken %}
                    <td style="width:80px">
                        <strong>Attending</strong>
                    </td>
                    <td style="width:80px">
                        <a class="add" href="{% url bus_tour_addtocart tour_id=product.pk %}">+1</a>
                    </td>
                {% else %}
                    <td style="width:80px">
                        <strong>Pending</strong>
                    </td>
                    <td style="width:80px">
                        <a class="add" href="{% url bus_tour_addtocart tour_id=product.pk %}">Attend</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
{% block bottom %}
    <script defer src="{{STATIC_URL}}manage/js/mylibs/jquery-fallr-1.2.js"></script>
{% endblock %}
