.image-hover-icon {
	background-image: url('../images/l2.png');
}

body{
    overflow:auto;
}

.logo-menu-container {
	height: 120px;
	width: 100%;
	background:  url(../images/logo-menu-container.png) 50% 0 repeat;
}

.logo-menu-container .wrapper {
	background: url(../images/header-wave-glow.png) 50% 0 no-repeat;
	overflow: visible;
}

#scrolltop-left {
	width:48%;
}

#nav *{
    z-index:1010 !important;
}

#content{
    z-index: 1;
}

#respond-form input, #contact-form-container input { line-height: 36px;}

#respond-form input#submit-button, #contact-form-container input#submit-button { line-height: 20px; }


.narrow #scrolltop-left{
	width:629px;
}

.sf-menu> li > ul li {
    background: #733e1e; 
	
/*	
	autumn: #733e1e
	black: #3e3e3e
	cherry: #962e25
	coffee: #584f4a
	cool-blue: #286894
	default: #c53c28
	fire: #b34d25
	forest-green: #596a33
	golden: #8d6b2b
	lime-green: #768624
	pink: #c83a90
	purple: #722f4e
	royal-blue: #196f8b
	sky-blue: #257691
	teal: #2f7575
	white: #676767
*/
}

.fancybox-ie .fancybox-bg { background: transparent !important; }



