.sf-menu> li > ul li {
    background: #c53c28; 
	
/*	
	autumn: #733e1e
	black: #3e3e3e
	cherry: #962e25
	coffee: #584f4a
	cool-blue: #286894
	default: #c53c28
	fire: #b34d25
	forest-green: #596a33
	golden: #8d6b2b
	lime-green: #768624
	pink: #c83a90
	purple: #722f4e
	royal-blue: #196f8b
	sky-blue: #257691
	teal: #2f7575
	white: #676767
*/
}

.sf-menu> li > ul li:hover a, .sf-menu> li > ul li:active a {
	padding-right: 10px;
}