@charset "utf-8";
/* CSS Document */

.lof-slidecontent, .lof-slidecontent a, .lof-slidecontent * {
	color:#FFF;	
}
.lof-slidecontent a.readmore{
	color:#1fb1ed;
	font-size: 13px ;
	text-decoration: none;
	font-style: italic;
	display: inline;
}
.lof-slidecontent a.readmore:hover{
	text-decoration: underline;
}

.lof-slidecontent{
	position:relative;
	overflow:hidden;
	border:none;
	width:940px;
	height:400px;
}
.lof-slidecontent .preload{
	height:100%;
	width:100%;
	background:transparent;
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	color:#FFF;
	text-align:center
}
.lof-slidecontent .preload div{
	height:100%;
	width:100%;
	background:transparent url(../images/loading.gif) no-repeat scroll 50% 50%;
}
.lof-main-outer{
	position:relative;
	height:100%;
	width:640px;
	z-index:3;
	overflow:hidden;
}


/*******************************************************/
.lof-main-item-desc{
	z-index:100;
	position:absolute;
	bottom:10px;
	left:10px;
	width:350px;
	background:url(../images/slides/lof/lof-desc-bg.png);
	height:auto;
	padding:10px;
}
.lof-main-item-desc p{
	padding:0; 
	font-size:13px;
	margin: 0;
	display: inline;
}
.lof-main-item-desc h3{
	font-size: 23px;
	line-height: 23px;
	padding:0;
	margin:0
}
.lof-main-item-desc h2{
	font-size: 18px;
	padding:0;
	margin:7px 0 0 0px;
}
.lof-main-item-desc h3 a{	
	margin:0;
	background:#ba181c;
	font-size:11px;
	padding:2px 3px;
	font-family:"Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	display: inline;
}

.lof-main-item-desc h3 i {
	font-size:11px;
}


/* main flash */
ul.lof-main-wapper{
	/* margin-right:auto; */
	overflow:hidden;
	background:transparent url(../images/loading.gif) no-repeat scroll 50% 50%;
	padding:0px;
	margin:0;
	height:400px;
	width:640px;
	position:absolute;
	overflow:hidden;
	list-style: none;
}

ul.lof-main-wapper li{
	overflow:hidden;
	padding:0px;
	margin:0px;
	height:100%;
	width:640px;
	float:left;
}
.lof-opacity  li{
	position:absolute;
	top:0;
	left:0;
	float:inherit;
}
ul.lof-main-wapper li img{
	padding:0px;	
	width:940px;
	overflow: hidden;
}

/* item navigator */
ul.lof-navigator{
	top:0;
	padding:0;
	margin:0;
	position:absolute;
	width:100%;
}
ul.lof-navigator li{
	cursor:hand; 
	cursor:pointer;
	list-style:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
	color:#494949;
}
.lof-navigator-outer{
	position:absolute;
	right:0;
	top:00px;
	z-index:98;
	height:400px;
	width:310px;
	overflow:hidden;
	color:#494949;
}
.lof-navigator li.active{
	background:url(../images/slides/lof/arrow-bg.png) no-repeat scroll left center; 
	color:#FFF
}
.lof-navigator li:hover{
	
}


.lof-navigator li h3{
	color:#494949;
	font-size:18px;
	padding:15px 0 0 0;
	margin:0;
	clear: none;
	line-height: 30px;

}
.lof-navigator li div{
	background:url(../images/slides/lof/desc-bg.png);
	color:#494949;
	height:100%;
	position:relative;
	margin-left:50px;
	padding-left:15px;
	border-top:1px solid #E1E1E1;
}

.lof-navigator li.active div{
	background:#202020;
	color:#FFF;
	border: none;
}
.lof-navigator li img{
	height:46px;
	width:46px;
	margin:15px 15px 10px 0px;
	float:left;
	padding:3px;
/*	border:#C5C5C5 solid 1px;*/
}
.lof-navigator li.active img{
/*	border:#6C8E5C  solid 1px;*/
}
.lof-navigator li.active h3{
	color:#FFF;
}

ul.lof-main-wapper li {
		position:relative;	
}