body {
	background-image: url(../images/login/back.jpg);
	background-repeat: no-repeat;
	background-color: #A5A5A5;
	background-position: center;
	font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	font-size:13px;
}


div #loginBox
{
	width:1086px;
	height:502px;

	background-image: url(../images/login/LoginBox.png);
	background-repeat: no-repeat;
	margin-top: 60px;
	

}
div #loginBoxInner
{
	width:350px;
	height:420px;
	float:right;
	margin-top:30px;
	margin-right:120px;
}

.white
{
 color:white;
}

input  {
background-color:#FFFFFF;
border:2px solid #CCCCCC;
width:97%;
}

input, textarea, select {
-moz-border-radius:4px 4px 4px 4px;
color:#000000;
font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
font-size:1.1em;
padding:5px;
}

#loginBoxInner a {
color:#572D02;
text-decoration:underline;
}

input[type="submit"]  {
-moz-box-shadow:none;
background:url("../images/login/btn.png") repeat scroll 0 0 transparent;
border:0 none;
color:#FFFFFF;
display:block;
float:right !important;
font-size:16px !important;
font-weight:100;
height:55px;
left:7px;
margin-top:5px;
padding-bottom:10px !important;
position:relative;
text-shadow:2px 1px 1px #666666;
text-transform:capitalize;
width:173px !important;
}

.reqAlert
{
    color: #ff0000;
}


input.requiredErr
{
    border: 1px solid red;
    background-color: #ffffe1;
}


.alert
{
    margin-bottom: 10px;
    width: 600px;
    background: #fff6bf url(    '../images/login/exclamation.png' ) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    margin-top:50px;
    padding: 15px 20px 15px 45px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    margin-bottom:-30px;
}





.loadingSpinnerHide
{
    float: right;
    margin-right: 20px;
    visibility: hidden;
}

.loadingSpinnerShow
{
    float: right;
    margin-right: 20px;
    visibility: visible;
}

