@import url(http://fonts.googleapis.com/css?family=Judson);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

/*-------------------------------
Css for:
	1. basic html elements
	2. page header
	3. boxes
	4. buttons
	5. columns
	6. dropcaps
	7. icons
	8. lists
	9. image and video frames
	10. shadows
	11. slider
	12. tables
	13. tabs
	14. accordion
	15. contact page
	16. widget container
	17. page footer
	18. blog
	19. sidebar
	20. page wrapper style2
	21. menu (lavaLamp)
	22. fancybox
	23. invent gallery
	24. paginator
	25. color settings
	26. demo panel
  27. user hud
 
-------------------------------*/
/*-------------------------------
	1. basic html elements
-------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, video, object, caption, tbody, tfoot, thead, tr, th, td, hr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  font-size: 13px;
  font-family: 'Judson', sans-serif;
  color: #666666;
  font-weight: normal;
  line-height: 20px; }

#background, #background-2 {
  background: url("../images/backgrounds/default-bottom.jpg") top left fixed;
  width: 100%;
  line-height: 1; }

#background-2 {
  background: url("../images/backgrounds/default-top.png") top left fixed; }

#background-photo #background-2 {
  background: none; }

#main-wrapper, #main-wrapper-narrow {
  background: #fff;
  background-position: 0 5px;
  width: 100%;
  margin: 0 auto; }

#main-wrapper-narrow {
  width: 980px;
  margin: 0 auto; }

.wrapper {
  width: 940px;
  margin: 0px auto;
  padding: 0; }

#content {
  margin-bottom: 20px;
  padding: 0;
  height: auto;
  overflow: auto;
  margin-top: -10px; }
  #content .first-content {
    padding: 0px 20px 0px 20px; }
  #content .wrapper {
    overflow: hidden; }

p {
  font-family: 'Judson', sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px 0;
  color: #666; }

img {
  line-height: 0px; }

strong {
  line-height: 20px;
  font-weight: bold; }

a {
  text-decoration: none;
  line-height: 10px;
  /*color: #fd4c31;*/
  color: #666; }
  a:hover {
    color: #000;
    cursor: pointer; }

p a {
  display: inline; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Judson', sans-serif;
  font-weight: normal;
  color: #000000; }

h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 8px;
  margin-bottom: 2px; }

h2 {
  font-size: 28px;
  line-height: 40px;
  padding-top: 4px;
  margin-bottom: 6px; }

h3 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 3px;
  margin-bottom: 7px; }

h4 {
  font-size: 22px;
  line-height: 30px;
  padding-top: 3px;
  margin-bottom: 7px; }

h5 {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 10px;
    padding-top: 5px; }

h6 {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 10px; }

mark {
  padding: 0px 3px 2px 3px;
  border-radius: 5px; }

mark.red {
  background: #c50000;
  color: #fff; }

mark.orange {
  background: #df6900;
  color: #fff; }

mark.green {
  background: #24aa0e;
  color: #fff; }

mark.blue {
  background: #0175ce;
  color: #fff; }

mark.purple {
  background: #6400c2;
  color: #fff; }

hr {
  height: 20px;
  margin-bottom: 10px;
  background: url("../images/hr/hr4.png") 0px 10px repeat-x;
  width: 100%; }

.hr-gray, .hr1, .hr2, .hr3, .hr4, .hr5, .hr6, .hr7, .hr8, .hr9, .hr10 {
  height: 20px;
  margin-bottom: 10px; }

.hr2 a, .hr3 a, .hr5 a, .hr6 a, .hr8 a, .hr9 a, .hr10 a {
  height: 10px;
  padding-top: 5px;
  width: 20px;
  color: #b5b5b5;
  float: right;
  text-shadow: #fff 0 1px 0px; }

.hr2 a, .hr5 a, .hr8 a {
  font-size: 10px;
  margin-right: 5px;
  text-align: right;
  margin-top: -1px; }

.hr3 a, .hr6 a, .hr9 a {
  margin-right: 3px;
  background: url("../images/hr/hr-arrow.png") 50% no-repeat; }

.hr10 a {
  padding-top: 0px;
  color: #7e7e7e;
  line-height: 29px;
  height: 29px;
  width: auto;
  margin-right: 5px;
  padding-right: 21px;
  background: url("../images/hr/hr10-arrow.png") 100% 50% no-repeat; }

.hr-gray {
  background: url("../images/hr/hr-gray.png") 0px 10px no-repeat; }

.hr1 {
  background: url("../images/hr/hr1-2-3.png") 0px 10px no-repeat; }

.hr2 {
  background: url("../images/hr/hr1-2-3.png") 0px 10px no-repeat; }

.hr3 {
  background: url("../images/hr/hr1-2-3.png") 0px 10px no-repeat; }

.hr4 {
  background: url("../images/hr/hr4.png") 0px 10px repeat-x; }

.hr5 {
  background: url("../images/hr/hr5-6.png") 0px 10px no-repeat; }

.hr6 {
  background: url("../images/hr/hr5-6.png") 0px 10px no-repeat; }

.hr7 {
  background: url("../images/hr/hr7.png") 0px 10px no-repeat; }

.hr8 {
  background: url("../images/hr/hr8-9.png") 0px 10px no-repeat; }

.hr9 {
  background: url("../images/hr/hr8-9.png") 0px 10px no-repeat; }

.hr10 {
  font-size: 12px;
  height: 40px;
  background: url("../images/hr/hr10.png") 0px 0px repeat-x; }

blockquote {
  background: url(../images/quote-end.png) right bottom no-repeat;
  padding: 0px 60px 0  0px;
  margin: 0px 0 16px 0;
  overflow: hidden; }

blockquote p {
  font-family: 'Times New Roman';
  background: url(../images/quote-begin.png) left top no-repeat;
  background-position: 1px  4px;
  font-size: 18px;
  text-align: right;
  padding: 14px 0 0 50px;
  margin: 0;
  line-height: 20px;
  color: #000; }

blockquote p.strong, blockquote.left-align p.strong {
  background: transparent;
  font-style: normal;
  font-weight: normal;
  font-family: 'Judson', sans-serif;
  font-size: 13px;
  text-align: right;
  padding: 0 0 4px 0;
  margin-top: 6px;
  line-height: 20px;
  color: #6a6a6a; }

blockquote.left-align p.strong {
  padding-right: 40px; }

blockquote.left-align {
  background: url(../images/quote-end.png) right bottom no-repeat;
  padding: 0px 20px 10px  0px;
  margin: 0px 0 6px 0;
  overflow: auto; }

blockquote.left-align p {
  background: url(../images/quote-begin.png) left top no-repeat;
  background-position: 1px  4px;
  font-size: 18px;
  text-align: left;
  padding: 14px 0 0 60px;
  margin: 0;
  line-height: 30px; }

ul {
  margin: 0 0 30px 30px; }

ul li {
  padding: 0;
  margin: 0 0 0px 0;
  padding-left: 0px;
  line-height: 20px; }

/*ul { margin: 0 0 30px 0; }

ul li { padding:0; margin:0 0 10px 0; list-style: none; padding-left:20px; line-height: 20px; }

*/
.right {
  clear: both;
  float: right; }

.left {
  clear: both;
  float: left; }

.clear {
  clear: both; }

.hidden {
  display: none;
}
/*-------------------------------
	2. page header
-------------------------------*/
.top-page-color, .bottom-page-color {
  height: 20px;
  width: 100%;
  background: #fd4c31 url("../images/top-color-line.png") 50% bottom repeat-x; }

.logo-menu-container {
  height: 120px;
  width: 100%;
  }
  .logo-menu-container #logo {
    float: left;
    margin: 30px 0 0 0;
    padding: 0;
    margin-left: 0px;
    margin-bottom: 10px; }
  .logo-menu-container .head-info {
    float: right;
    margin-top: 0px;
    overflow: visible;
    height: 50px; 
    margin-right:10px;  }
  .logo-menu-container #nav {
    clear: right;
    margin-top: 17px;
    float: right;
    height: auto;
    list-style: none;
    margin-right: -15px;
    border-bottom: 1px #e5e5e5 solid; }
  .logo-menu-container #nav li {
    float: left; }

.page-header {
  height: 120px;
  width: 100%;
  background: url(../images/page-header.png) 50% 0 no-repeat; }
  .page-header .wrapper {
    padding-top: 20px; }

.home-page-header {
  width: 100%;
  height: 460px; }
  .home-page-header .home-page-header-bg {
    height: 460px;
    width: 100%;
    background: url(../images/widgets-container-bg3.png) 50% 0 no-repeat; }
  .home-page-header .wrapper {
    padding-top: 40px; }

.invent-home-page-header-decoration, .home-page-header-decoration, .page-header-decoration {
  background: url(../images/horizontal-shadow.png) 50% -1px no-repeat;
  border-top: 1px solid #e1e1e1;
  height: 39px;
  width: 100%; }

/*-------------------------------
	3. boxes
-------------------------------*/
.box-green, .box-red, .box-orange, .box-blue {
  border-radius: 5px;
  padding: 9px 30px 0 100px;
  background-position: 30px 30px;
  min-height: 90px;
  background-repeat: no-repeat;
  margin-bottom: 19px; }

.box-blue {
  border: #ccc 1px solid;
  background-color: #fff;
  
}

/* MRVG: Added this selector so that the bluebox elements in /shop/ looked somewhat bigget and nicer */
.box-blue > p {
  font-size: 16px;
}

.box-blue > p > a {
  font-size: 18px;
  color: #ED43AB;
  font-weight: bold;
}

.box-blue * {
  color: #333333; }

.box-red {
  border: #ea9797 1px solid;
  background-color: #ffc8c8;
  background-image: url("../images/gpl-icons/box-cancel.png"); }

.box-red * {
  color: #b72020; }

.box-green {
  border: #9ed47f 1px solid;
  background-color: #e3ffcd;
  background-image: url("../images/gpl-icons/box-clean.png"); }

.box-green * {
  color: #268f1d; }

.box-orange {
  border: #eac45c 1px solid;
  background-color: #fff0bc;
  background-image: url("../images/gpl-icons/box-error.png"); }

.box-orange * {
  color: #a86e1c; }

/*-------------------------------
	4. buttons
-------------------------------*/
/* Buttons type 1 - big*/
.button-big-autumn, .button-big-autumn span {
  background: url("../images/buttons/big/big_autumn.png") no-repeat; }

.button-big-black, .button-big-black span {
  background: url("../images/buttons/big/big_black.png") no-repeat; }

.button-big-cherry, .button-big-cherry span {
  background: url("../images/buttons/big/big_cherry.png") no-repeat; }

.button-big-coffee, .button-big-coffee span {
  background: url("../images/buttons/big/big_coffee.png") no-repeat; }

.button-big-cool-blue, .button-big-cool-blue span {
  background: url("../images/buttons/big/big_cool_blue.png") no-repeat; }

.button-big-fire, .button-big-fire span {
  background: url("../images/buttons/big/big_fire.png") no-repeat; }

.button-big-forest-green, .button-big-forest-green span {
  background: url("../images/buttons/big/big_forest_green.png") no-repeat; }

.button-big-golden, .button-big-golden span {
  background: url("../images/buttons/big/big_golden.png") no-repeat; }

.button-big-lime-green, .button-big-lime-green span {
  background: url("../images/buttons/big/big_lime_green.png") no-repeat; }

.button-big-pink, .button-big-pink span {
  background: url("../images/buttons/big/big_pink.png") no-repeat; }

.button-big-purple, .button-big-purple span {
  background: url("../images/buttons/big/big_purple.png") no-repeat; }

.button-big-red, .button-big-red span {
  background: url("../images/buttons/big/big_red.png") no-repeat; }

.button-big-royal-blue, .button-big-royal-blue span {
  background: url("../images/buttons/big/big_royal_blue.png") no-repeat; }

.button-big-sky-blue, .button-big-sky-blue span {
  background: url("../images/buttons/big/big_sky_blue.png") no-repeat; }

.button-big-teal, .button-big-teal span {
  background: url("../images/buttons/big/big_teal.png") no-repeat; }

.button-big-white, .button-big-white span {
  background: url("../images/buttons/big/big_white.png") no-repeat; }

.button-big-theme-color, .button-big-theme-color span {
  background: url("../images/buttons/big/big_red.png") no-repeat; }

.button-big-autumn, .button-big-black, .button-big-cherry, .button-big-coffee,
.button-big-cool-blue, .button-big-fire, .button-big-forest-green, .button-big-golden,
.button-big-lime-green, .button-big-pink, .button-big-purple, .button-big-red,
.button-big-royal-blue, .button-big-sky-blue, .button-big-teal, .button-big-white, .button-big-theme-color {
  display: block;
  line-height: 40px;
  margin-left: 5px;
  margin-bottom: 20px;
  background-position: top right;
  color: #fff;
  height: 40px; }

.button-big-autumn span, .button-big-black span, .button-big-cherry span, .button-big-coffee span,
.button-big-cool-blue span, .button-big-fire span, .button-big-forest-green span, .button-big-golden span,
.button-big-lime-green span, .button-big-pink span, .button-big-purple span, .button-big-red span,
.button-big-royal-blue span, .button-big-sky-blue span, .button-big-teal span, .button-big-white span, .button-big-theme-color span {
  background-position: 0 -40px;
  display: block;
  margin-left: -5px;
  text-align: center;
  padding: 0px 30px;
  font-size: 16px;
  font-weight: bold;
  height: 39px;
  padding-top: 1px;
  /* base-line height fix */ }

@-moz-document url-prefix() {
  .button-big-autumn span, .button-big-black span, .button-big-cherry span, .button-big-coffee span,
  .button-big-cool-blue span, .button-big-fire span, .button-big-forest-green span, .button-big-golden span,
  .button-big-lime-green span, .button-big-pink span, .button-big-purple span, .button-big-red span,
  .button-big-royal-blue span, .button-big-sky-blue span, .button-big-teal span, .button-big-white span, .button-big-theme-color span {
    height: 40px;
    padding-top: 0px; } }

.button-big-autumn:hover, .button-big-black:hover, .button-big-cherry:hover, .button-big-coffee:hover,
.button-big-cool-blue:hover, .button-big-fire:hover, .button-big-forest-green:hover, .button-big-golden:hover,
.button-big-lime-green:hover, .button-big-pink:hover, .button-big-purple:hover, .button-big-red:hover,
.button-big-royal-blue:hover, .button-big-sky-blue:hover, .button-big-teal:hover, .button-big-white:hover, .button-big-theme-color:hover {
  background-position: 100% -80px; }

.button-big-autumn span:hover, .button-big-black span:hover, .button-big-cherry span:hover, .button-big-coffee span:hover,
.button-big-cool-blue span:hover, .button-big-fire span:hover, .button-big-forest-green span:hover, .button-big-golden span:hover,
.button-big-lime-green span:hover, .button-big-pink span:hover, .button-big-purple span:hover, .button-big-red span:hover,
.button-big-royal-blue span:hover, .button-big-sky-blue span:hover, .button-big-teal span:hover, .button-big-white span:hover, .button-big-theme-color span:hover {
  background-position: 0 -120px;
  color: #fff; }

/* Buttons type 2 - small*/
.button-small-autumn, .button-small-autumn span {
  background: url("../images/buttons/small/small_autumn.png") no-repeat; }

.button-small-black, .button-small-black span {
  background: url("../images/buttons/small/small_black.png") no-repeat; }

.button-small-cherry, .button-small-cherry span {
  background: url("../images/buttons/small/small_cherry.png") no-repeat; }

.button-small-coffee, .button-small-coffee span {
  background: url("../images/buttons/small/small_coffee.png") no-repeat; }

.button-small-cool-blue, .button-small-cool-blue span {
  background: url("../images/buttons/small/small_cool_blue.png") no-repeat; }

.button-small-fire, .button-small-fire span {
  background: url("../images/buttons/small/small_fire.png") no-repeat; }

.button-small-forest-green, .button-small-forest-green span {
  background: url("../images/buttons/small/small_forest_green.png") no-repeat; }

.button-small-golden, .button-small-golden span {
  background: url("../images/buttons/small/small_golden.png") no-repeat; }

.button-small-lime-green, .button-small-lime-green span {
  background: url("../images/buttons/small/small_lime_green.png") no-repeat; }

.button-small-pink, .button-small-pink span {
  background: url("../images/buttons/small/small_pink.png") no-repeat; }

.button-small-purple, .button-small-purple span {
  background: url("../images/buttons/small/small_purple.png") no-repeat; }

.button-small-red, .button-small-red span {
  background: url("../images/buttons/small/small_red.png") no-repeat; }

.button-small-royal-blue, .button-small-royal-blue span {
  background: url("../images/buttons/small/small_royal_blue.png") no-repeat; }

.button-small-sky-blue, .button-small-sky-blue span {
  background: url("../images/buttons/small/small_sky_blue.png") no-repeat; }

.button-small-teal, .button-small-teal span {
  background: url("../images/buttons/small/small_teal.png") no-repeat; }

.button-small-white, .button-small-white span {
  background: url("../images/buttons/small/small_white.png") no-repeat; }

.button-small-theme-color, .button-small-theme-color span {
  background: url("../images/buttons/small/small_red.png") no-repeat; }

.button-small-autumn, .button-small-black, .button-small-cherry, .button-small-coffee,
.button-small-cool-blue, .button-small-fire, .button-small-forest-green, .button-small-golden,
.button-small-lime-green, .button-small-pink, .button-small-purple, .button-small-red,
.button-small-royal-blue, .button-small-sky-blue, .button-small-teal, .button-small-white, .button-small-theme-color {
  display: block;
  line-height: 27px;
  margin-left: 10px;
  margin-bottom: 23px;
  background-position: top right;
  color: #fff;
  height: 27px; }

.button-small-autumn span, .button-small-black span, .button-small-cherry span, .button-small-coffee span,
.button-small-cool-blue span, .button-small-fire span, .button-small-forest-green span, .button-small-golden span,
.button-small-lime-green span, .button-small-pink span, .button-small-purple span, .button-small-red span,
.button-small-royal-blue span, .button-small-sky-blue span, .button-small-teal span, .button-small-white span, .button-small-theme-color span {
  background-position: 0 -27px;
  display: block;
  margin-left: -8px;
  text-align: center;
  padding: 0px 18px;
  font-size: 14px;
  height: 27px; }

.button-small-autumn:hover, .button-small-black:hover, .button-small-cherry:hover, .button-small-coffee:hover,
.button-small-cool-blue:hover, .button-small-fire:hover, .button-small-forest-green:hover, .button-small-golden:hover,
.button-small-lime-green:hover, .button-small-pink:hover, .button-small-purple:hover, .button-small-red:hover,
.button-small-royal-blue:hover, .button-small-sky-blue:hover, .button-small-teal:hover, .button-small-white:hover, .button-small-theme-color:hover {
  background-position: 100% -54px; }

.button-small-autumn span:hover, .button-small-black span:hover, .button-small-cherry span:hover, .button-small-coffee span:hover,
.button-small-cool-blue span:hover, .button-small-fire span:hover, .button-small-forest-green span:hover, .button-small-golden span:hover,
.button-small-lime-green span:hover, .button-small-pink span:hover, .button-small-purple span:hover, .button-small-red span:hover,
.button-small-royal-blue span:hover, .button-small-sky-blue span:hover, .button-small-teal span:hover, .button-small-white span:hover, .button-small-theme-color span:hover {
  background-position: 0 -81px;
  color: #fff; }

/* Buttons type 0*/
.button-0 {
  background: url("../images/buttons/0/grey.png") no-repeat; }

.button-0 {
  display: block;
  line-height: 28px;
  margin-left: 42px;
  margin-bottom: 41px;
  background-position: top right;
  color: #535353;
  height: 39px; }

.button-0 span {
  background: url("../images/buttons/0/grey.png") no-repeat; }

.button-0 span {
  background-position: 0 -39px;
  display: block;
  margin-left: -42px;
  text-align: center;
  padding: 0px 36px;
  font-size: 14px;
  height: 39px; }


/* MRVG: Added this to get a nice vertical spaceing on the join us button in the /join/ flatpage */
.top-spaced-button {
    display: block;
    margin-top: 18px;
}

/*-------------------------------
	5. columns
-------------------------------*/
.column-1-2, .column-1-3, .column-2-3, .column-1-4, .column-3-4, .column-1-6 {
  margin: 0 20px 0 0;
  float: left;
  height: auto; }

.column-1-2 {
  width: 460px; }

.column-1-4 {
  width: 220px; }

.column-1-6 {
  width: 140px; }

.column-3-4 {
  width: 700px; }

.column-1-3 {
  width: 300px; }

.column-2-3 {
  width: 620px; }

.column-last {
  margin-right: 0; }

/* columns-for-accordions */
.invent-accordion .column-1-2, .toggle .column-1-2 {
  width: 445px; }

.invent-accordion .column-1-4, .toggle .column-1-4 {
  width: 212px; }

.invent-accordion .column-1-6, .toggle .column-1-6 {
  width: 135px; }

.invent-accordion .column-3-4, .toggle .column-3-4 {
  width: 658px; }

.invent-accordion .column-1-3, .toggle .column-1-3 {
  width: 290px; }

.invent-accordion .column-2-3, .toggle .column-2-3 {
  width: 600px; }

.column-1-2 .invent-accordion .column-1-4, .column-1-2 .toggle .column-1-4 {
  width: 205px; }

.column-3-4 .invent-accordion .column-1-2, .column-3-4 .toggle .column-1-2 {
  width: 440px; }

.column-3-4 .invent-accordion .column-1-4, .column-3-4 .toggle .column-1-4 {
  width: 210px; }

.column-1-3 .invent-accordion .column-1-6, .column-1-3 .toggle .column-1-6 {
  width: 125px; }

.column-2-3 .invent-accordion .column-1-3, .column-2-3 .toggle .column-1-3 {
  width: 285px; }

.column-2-3 .invent-accordion .column-1-6, .column-2-3 .toggle .column-1-6 {
  width: 132px; }

.invent-accordion .column-last, .toggle .column-last {
  margin-right: 0; }

.column-1-2 .invent-tabs .column-1-2 {
  width: 200px; }

.invent-tabs .column-last {
  margin-right: 0; }

/*-------------------------------
	6. dropcaps
-------------------------------*/
.dropcaps2 {
  color: #676767;
  font-size: 41px;
  line-height: 40px;
  float: left;
  width: auto;
  height: 40px;
  padding: 0 8px;
  text-align: center; }

.dropcaps1::first-letter {
  color: #676767;
  font-size: 41px;
  line-height: 40px;
  float: left;
  width: 32px;
  height: 40px;
  padding: 0 8px;
  text-align: center; }

@-moz-document url-prefix() {
  .dropcaps1::first-letter {
    padding-top: 6px; } }

.dropcaps {
  color: #6a6a6a;
  font-size: 31px;
  line-height: 42px;
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  background: transparent;
  border: 2px #6a6a6a solid;
  background-position: 0 7px;
  border-radius: 24px;
  margin: 8px 9px 0 9px; }

/*-------------------------------
	7. icons
-------------------------------*/
.icon {
  float: left;
  padding: 7px 14px 13px 14px; }

p .icon {
  padding: 6px 10px 4px 10px; }

h5 .icon {
  float: left;
  padding: 0px 14px 0px 14px;
  margin-top: -4px; }

h6 .icon {
  padding: 6px 14px 4px 14px; }

h5.big-icon-title {
  text-align: center;
  font-family: 'Judson', sans-serif; }
  h5.big-icon-title .big-icon {
    margin: 0px auto 24px;
    display: block; }
  h5.big-icon-title .big-icon-coffe2, h5.big-icon-title .big-icon-settings2, h5.big-icon-title .big-icon-target {
    height: 100px;
    display: block; }
  h5.big-icon-title .big-icon-coffe2 {
    background: url("../images/icons/76x76/coffee2.png") center top no-repeat; }
  h5.big-icon-title .big-icon-settings2 {
    background: url("../images/icons/76x76/settings2.png") center top no-repeat; }
  h5.big-icon-title .big-icon-target {
    background: url("../images/icons/76x76/target.png") center top no-repeat; }

.icon-headline {
  margin-bottom: 20px;
  height: auto;
  width: 100%; }

.icon-title {
  margin-bottom: 21px;
  min-height: 40px; }

.icon-desc {
  font-family: 'Judson', sans-serif;
  font-size: 11px;
  line-height: 20px;
  display: block;
  padding-top: 1px;
  margin-bottom: -1px; }

/* only in demo mode*/
.icon-list-demo {
  padding: 0;
  margin: 0;
  list-style: none; }

.icon-list-demo li {
  width: 60px;
  float: left;
  margin: 0 0 30px 20px;
  padding: 0; }

.icon-list-demo li:first-child {
  margin-left: 0; }

/* end-only in demo mode*/
.list-icon-demo {
  float: left;
  padding: 3px 14px 4px 0px; }

/*-------------------------------
	8. lists
-------------------------------*/
ul.alert, ul.shield, ul.bulb, ul.calendar, ul.circle, ul.error, ul.image, ul.plus, ul.shileld, ul.target, ul.twitter, ul.text, ul.arrow1, ul.cart2, ul.clock, ul.file, ul.locker, ul.question, ul.speech, ul.thumb-down, ul.user, ul.arrow2, ul.cart, ul.download, ul.folder, ul.pin, ul.repeat, ul.square, ul.thumb-up, ul.arrow3, ul.check, ul.email, ul.heart, ul.play, ul.search, ul.star, ul.tune {
  margin-left: 0px;
  list-style: none; }

ul.alert li {
  background: url("../images/icons/14x14/alert.png") no-repeat; }

ul.bulb li {
  background: url("../images/icons/14x14/bulb.png") no-repeat; }

ul.calendar li {
  background: url("../images/icons/14x14/calendar.png") no-repeat; }

ul.circle li {
  background: url("../images/icons/14x14/circle.png") no-repeat; }

ul.error li {
  background: url("../images/icons/14x14/error.png") no-repeat; }

ul.image li {
  background: url("../images/icons/14x14/image.png") no-repeat; }

ul.plus li {
  background: url("../images/icons/14x14/plus.png") no-repeat; }

ul.shield li {
  background: url("../images/icons/14x14/shield.png") no-repeat; }

ul.target li {
  background: url("../images/icons/14x14/target.png") no-repeat; }

ul.twitter li {
  background: url("../images/icons/14x14/twitter.png") no-repeat; }

ul.text li {
  background: url("../images/icons/14x14/text.png") no-repeat; }

ul.arrow1 li {
  background: url("../images/icons/14x14/arrow1.png") no-repeat; }

ul.cart2 li {
  background: url("../images/icons/14x14/cart2.png") no-repeat; }

ul.clock li {
  background: url("../images/icons/14x14/clock.png") no-repeat; }

ul.file li {
  background: url("../images/icons/14x14/file.png") no-repeat; }

ul.locker li {
  background: url("../images/icons/14x14/locker.png") no-repeat; }

ul.question li {
  background: url("../images/icons/14x14/question.png") no-repeat; }

ul.speech li {
  background: url("../images/icons/14x14/speech.png") no-repeat; }

ul.thumb-down li {
  background: url("../images/icons/14x14/thumb_down.png") no-repeat; }

ul.user li {
  background: url("../images/icons/14x14/user.png") no-repeat; }

ul.arrow2 li {
  background: url("../images/icons/14x14/arrow2.png") no-repeat; }

ul.cart li {
  background: url("../images/icons/14x14/cart.png") no-repeat; }

ul.download li {
  background: url("../images/icons/14x14/download.png") no-repeat; }

ul.folder li {
  background: url("../images/icons/14x14/folder.png") no-repeat; }

ul.pin li {
  background: url("../images/icons/14x14/pin.png") no-repeat; }

ul.repeat li {
  background: url("../images/icons/14x14/repeat.png") no-repeat; }

ul.square li {
  background: url("../images/icons/14x14/square.png") no-repeat; }

ul.thumb-up li {
  background: url("../images/icons/14x14/thumb_up.png") no-repeat; }

ul.arrow3 li {
  background: url("../images/icons/14x14/arrow3.png") no-repeat; }

ul.check li {
  background: url("../images/icons/14x14/check.png") no-repeat; }

ul.email li {
  background: url("../images/icons/14x14/email.png") no-repeat; }

ul.heart li {
  background: url("../images/icons/14x14/heart.png") no-repeat; }

ul.play li {
  background: url("../images/icons/14x14/play.png") no-repeat; }

ul.search li {
  background: url("../images/icons/14x14/search.png") no-repeat; }

ul.star li {
  background: url("../images/icons/14x14/star.png") no-repeat; }

ul.tune li {
  background: url("../images/icons/14x14/tune.png") no-repeat; }

ul.alert li, li.alert, ul.shield li, ul.bulb li, ul.calendar li, ul.circle li, ul.error li, ul.image li, ul.plus li, ul.shileld li, ul.target li, ul.twitter li, ul.text li, ul.arrow1 li, ul.cart2 li, ul.clock li, ul.file li, ul.locker li, ul.question li, ul.speech li, ul.thumb-down li, ul.user li, ul.arrow2 li, ul.cart li, ul.download li, ul.folder li, ul.pin li, ul.repeat li, ul.square li, ul.thumb-up li, ul.arrow3 li, ul.check li, ul.email li, ul.heart li, ul.play li, ul.search li, ul.star li, ul.tune li {
  background-position: 0 2px;
  padding-left: 20px;
  margin-bottom: 10px; }

/*-------------------------------
	9. image and video frames
-------------------------------*/
.image-container {
  display: block; }

span.clear {
  display: block; }

.image-left {
  float: left;
  margin-left: 0px;
  margin-right: 20px; }

.image-right {
  float: right;
  margin-left: 20px;
  margin-right: 0px; }

.image-center {
  display: block;
  margin: 0 auto;
  text-align: center; }

.image-decoration a, .video-decoration object, .video-decoration iframe, .video-decoration video, .map-decoration .map-canvas {
  border: 5px #fff solid;
  box-shadow: 0px 0px 8px #d6d6d6;
  display: block; }

.image-no-decoration {
  padding-top: 15px;
  margin-bottom: 15px;
  display: block; }
  .image-no-decoration a {
    display: block; }

.image-decoration, .video-decoration, .map-decoration, .accordion-decoration, .tabs-decoration, .lof-decoration {
  padding-bottom: 20px;
  display: block;
  margin-top: 15px;
  position: relative; }

.accordion-decoration, .lof-decoration {
  margin-top: -10px; }

.tabs-decoration {
  margin-top: 0px;
  margin-bottom: 19px; }

.image-decoration {
  margin-bottom: 5px; }

.map-decoration {
  margin-bottom: 0px;
  margin-top: 0px; }

.image-decoration a, .image-no-decoration a, a.portfolio_image {
  position: relative;
  background: url("../images/loading.gif") no-repeat;
  background-position: 50% 50%; }

.image-decoration a.no-link, a.no-link * {
  cursor: default; }

.video-decoration {
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px; }

.html5-video {
  padding-bottom: 20px; }

video {
  background-color: black;
  position: relative; }

@-moz-document url-prefix() {
  .you-tube {
    padding-bottom: 14px; } }

.image-hover {
  position: absolute;
  background: #f5f5f5;
  opacity: 0.0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer; }

.image-decoration .image-hover-icon {
  position: absolute;
  background: url("../images/icons/image-hover-icon/zoom.png") no-repeat;
  background-position: 50% 50%;
  opacity: 0.0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: pointer; }
.image-decoration .link-icon {
  background: url("../images/icons/image-hover-icon/link.png") no-repeat;
  background-position: 50% 50%; }
.image-decoration .document-icon {
  background: url("../images/icons/image-hover-icon/doc.png") no-repeat;
  background-position: 50% 50%; }
.image-decoration .video-icon {
  background: url("../images/icons/image-hover-icon/video.png") no-repeat;
  background-position: 50% 50%; }

/*-------------------------------
	10. shadows
-------------------------------*/
.shadow-200 {
  padding-bottom: 10px;
  background: url("../images/shadows/shadow-200.png") bottom center no-repeat;
  width: 200px; }

.shadow-220 {
  padding-bottom: 20px;
  background: url("../images/shadows/shadow-220.png") bottom center no-repeat;
  width: 220px; }

.shadow-300 {
  padding-bottom: 15px;
  background: url("../images/shadows/shadow-300.png") bottom center no-repeat;
  width: 300px; }

.decoration-shadow {
  padding-bottom: 20px;
  background: url("../images/shadows/shadow-460.png") bottom center no-repeat; }

.shadow-460 {
  width:460px;
  background: url("../images/shadows/shadow-460.png") bottom center no-repeat;}
.shadow-620 {
  background: url("../images/shadows/shadow-620.png") bottom center no-repeat; }

.shadow-700 {
  background: url("../images/shadows/shadow-700.png") bottom center no-repeat; }

.shadow-940 {
  background: url("../images/shadows/shadow-940.png") bottom center no-repeat;
  width: 940px; }

/*-------------------------------
	11. sliders
-------------------------------*/
.spacer {
  height: 5px;
  display: block; }

.spacer-10 {
  height: 10px;
  display: block; }

.slider-full {
  clear: both;
  margin: 0;
  width: 930px;
  height: 370px; }

.home-page-header .slider-full {
  height: 390px; }
.home-page-header .invent-slider-container {
  position: relative;
  height: 460px;
  width: 100%;
  background: transparent; }
.home-page-header .invent-slider-inner-container {
  left: 50%;
  margin-left: -600px;
  position: absolute;
  height: 460px; }
.home-page-header .invent-slider {
  width: 1200px;
  height: 460px; }
.home-page-header .nivo-controlNav {
  bottom: -70px; }
.home-page-header div.anythingSlider-minimalist-round .anythingControls {
  bottom: 0px; }
.home-page-header .any-slider li {
  padding: 0; }
  .home-page-header .any-slider li .any-slide-video {
    padding-left: 5px;
    padding-right: 5px; }

#main-wrapper-narrow .home-page-header .invent-slider {
  width: 980px; }

#main-wrapper-narrow .home-page-header .invent-slider-inner-container {
  margin-left: -490px; }

.slider-1-2 {
  clear: both;
  margin: 0;
  width: 450px;
  height: 250px; }

.slider-1-3 {
  clear: both;
  margin: 0;
  width: 290px;
  height: 160px; }

.slider-1-4 {
  clear: both;
  margin: 0;
  width: 210px;
  height: 110px; }

.any-slide-video {
  float: left;
  z-index: 99; }
  .any-slide-video iframe {
    background: #000; }

.any-slide-text {
  float: left;
  padding: 10px 30px 0 10px;
  width: 300px;
  height: 370px; }
  .any-slide-text p {
    padding-top: 20px;
    color: #666;
    line-height: 24px;
    font-size: 16px; }

.any-slide-video + .any-slide-text {
  float: right;
  padding: 10px 10px 0 30px; }

.any-slide-text + .any-slide-video {
  float: right;
  right: 10px; }

.nivoSlider-shadow {
  position: absolute;
  bottom: -25px;
  height: 20px;
  display: block;
  z-index: 102; }

.slider-full .wrapper, .slider-1-2 .wrapper {
  margin: 0 auto;
  border-bottom: none; }

.nivoSlider {
  margin-top: 0;
  padding: 0;
  background: url("../images/loading.gif") no-repeat;
  background-position: 50% 50%; }

.nivoSlider a {
  display: block; }

.nivoSlider img {
  display: none;
  margin: 0; }

.nivoSlider-decoration {
  border: 5px solid #fff;
  margin-top: 0px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 8px #d6d6d6; }

.wrapper > .nivoSlider-decoration {
  margin-top: 10px; }

.home-page-header .nivoSlider-decoration {
  margin-top: -10px; }

/*-------------------------------
	12. tables
-------------------------------*/
table {
  width: 100%;
  padding: 0px;
  border-style: solid;
  line-height: 20px;
  text-align: center;
  margin-bottom: 24px;
  border: 1px #fff solid;
  -webkit-border-vertical-spacing: 0px;
  -webkit-border-horizontal-spacing: 0px;
  box-shadow: 0px 0px 10px #d6d6d6;
  border-collapse: collapse;
  background: blue; }

th {
  font-weight: normal;
  font-size: 15px;
  padding: 10px 0 10px 0;
  color: #fff;
  background-color: #b6b6b6;
  border-left: #ddd 1px inset; }

th:first-child {
  border-left: none; }

tbody tr {
  background-color: #f4f4f4; }

tbody tr:nth-child(even) {
  background-color: #eaeaea; }

tbody tr:hover {
  background-color: #e2e2e2; }

td {
  font-weight: lighter;
  line-height: 20px;
  color: #4e4e4e;
  padding: 9px 0px 10px 0px;
  border-left: #ddd 1px inset;
  border-top: #ddd 1px inset; }

tbody tr:first-child {
  padding-top: 10px; }

tr:last-child td {
  border-bottom: none; }

tbody tr td:first-child {
  border-left: none; }

tbody tr:first-child td {
  border-top: none; }

table.orange th {
  background-color: #f7910c; }

table.blue th {
  background-color: #25aeec; }

table.green th {
  background-color: #38bd2a; }

table.red th {
  background-color: #f94141; }

table.custom th {
  background-color: #9e7238; }

.table-border {
  width: 100%;
  height: auto;
  background: blue; }


/* MRVG: Added special rules that apply only to the checkout form table container and not the master styling...
  This sounded like engrish
 */
#checkout-form-table td {
  border: none;
  /*border-right: #ddd 1px inset;*/
}


/*-------------------------------
	13. tabs
-------------------------------*/
.invent-tabs {
  position: relative;
  padding: 0; }

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.invent-tabs > ul {
  height: 40px;
  margin: 0;
  padding: 0; }

.invent-tabs > ul li {
  overflow: visible;
  padding: 0;
  margin: 0;
  padding-top: 1px;
  height: 38px;
  list-style: none;
  border-right: 1px solid #d6d6d6;
  float: left;
  border-top: 1px solid #d6d6d6;
  position: relative;
  border-bottom: 0 !important;
  white-space: nowrap; }

.invent-tabs > ul li:first-child {
  border-left: 1px solid #d6d6d6; }

.invent-tabs > ul li a {
  float: left;
  text-decoration: none; }

.invent-tabs > ul li a.current {
  cursor: text;
  position: relative;
  z-index: 99; }

.invent-tabs > ul li a {
  line-height: 39px;
  height: 39px;
  cursor: pointer; }

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.tab-style3 {
  list-style: none;
  margin: 0 0 0 0; }

.tab-style3 ul li a.current, .tab-style3 li a:hover {
  color: #0399f9;
  background: #fff; }

.tab-style3 ul a {
  color: #828282;
  text-shadow: #fff 0 1px 0px;
  font-size: 13px;
  background: url("../images/tabs/tab-bg.png") repeat-x;
  margin: 0;
  padding: 0 15px 0 15px;
  line-height: 39px;
  cursor: pointer; }

.tab-style3 .invent-panes {
  border: #d6d6d6 1px solid;
  padding: 0; }

.tab-style1, .tab-style2 {
  list-style: none;
  margin: 0 0 10px 0; }

.tab-style1 ul li a.current, .tab-style1 li a:hover {
  background: #e0e0e0; }

.tab-style2 ul li a.current, .tab-style2 li a:hover {
  background: url("../images/acc.png") repeat-x;
  color: #fff;
  text-shadow: #424242 0 1px 0px; }

.tab-style1 ul a {
  text-shadow: #fff 0 1px 0px;
  font-size: 18px;
  background: #f2f2f2;
  margin: 0;
  padding: 0 15px 0 15px;
  line-height: 39px;
  cursor: pointer; }

.tab-style2 ul a {
  color: #4f4f4f;
  text-shadow: #fff 0 1px 0px;
  font-size: 18px;
  background: #e0e0e0;
  margin: 0px;
  padding: 0 15px 0 15px;
  line-height: 39px;
  cursor: pointer; }

.tab-style1 .invent-panes {
  border: #f2f2f2 1px solid;
  padding: 14px 10px 4px 10px; }

.tab-style2 .invent-panes {
  border: #e0e0e0 1px solid;
  padding: 14px 10px 4px 10px; }

.invent-tabs .invent-panes {
  position: relative;
  height: auto;
  padding-top: 19px; }

.invent-tabs .invent-panes > div {
  position: absolute;
  opacity: 0;
  padding: 10px 19px 0px 19px; }

.no-left-margin {
  margin-left: 0; }

/*-------------------------------
	14. accordion
-------------------------------*/
.acc-style1, .acc-style2 {
  margin: 0 0 11px 0; }

.acc-style1 h3 {
  text-shadow: #fff 0 1px 0px;
  font-size: 18px;
  background: #f2f2f2;
  height: 39px;
  margin: 0px;
  padding: 0 0 0 15px;
  line-height: 39px;
  cursor: pointer; }

.acc-style2 h3 {
  text-shadow: #fff 0 1px 0px;
  font-size: 18px;
  background: #e0e0e0;
  height: 39px;
  margin: 0px;
  padding: 0 0 0 15px;
  line-height: 39px;
  cursor: pointer;
  color: #4f4f4f; }

.acc-style1 h3:hover, .acc-style1 h3.active {
  background: #e0e0e0;
  color: #4f4f4f; }

.acc-style2 h3:hover, .acc-style2 h3.active {
  background: #424242 url("../images/acc.png") repeat-x;
  color: #fff;
  text-shadow: #424242 0 1px 0px; }

.acc-style1 .acc-content > div, .acc-style2 .acc-content > div {
  padding: 14px;
  background: #fff; }

.acc-style1 .acc-content > div {
  border: #f2f2f2 1px solid; }

.acc-style2 .acc-content > div {
  border: #e0e0e0 1px solid; }

.invent-accordion .acc-content {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0; }

.invent-accordion .active {
  display: block;
  height: auto; }

.acc-style2 {
  list-style: none;
  margin: 0 0 11px 0; }

.acc-style2 li {
  padding: 0;
  margin: 0 0 1px 0; }

.acc-style2 h3 {
  text-shadow: #fff 0 1px 0px;
  font-size: 18px;
  background: #e0e0e0;
  height: 39px;
  margin: 0px;
  padding: 0 0 0 15px;
  line-height: 39px;
  cursor: pointer;
  color: #4f4f4f; }

.acc-style2 h3:hover, .acc-style2 h3.active {
  background: #424242 url("../images/acc.png") repeat-x;
  color: #fff;
  text-shadow: #424242 0 1px 0px; }

.acc-style2 .acc-section {
  overflow: hidden;
  background: #fff; }

.acc-style2 .acc-content {
  padding: 14px;
  background: #fff; }

.acc-style2 .acc-content {
  border: #e0e0e0 1px solid; }

.acc-style-example {
  list-style: none;
  padding-top: 5px;
  margin: 0px 0 45px 0; }

.acc-style-example acc-section {
  padding: 1px;
  background: #fff;
  padding: 0;
  margin: 0;
  border: #d6d6d6 1px solid;
  box-shadow: 0px 0px 3px #d6d6d6; }

.acc-style-example h3 {
  line-height: 36px;
  background: #4f4f4f url("../images/accordion/acc-plus-white.png") no-repeat;
  background-position: 9px 13px;
  height: 100%;
  margin: 1px;
  display: block;
  padding-left: 27px;
  color: #fff; }

.acc-style-example h3:hover {
  cursor: pointer; }

.acc-style-example h3.active {
  background: #4f4f4f url("../images/accordion/acc-minus-white.png") no-repeat;
  background-position: 9px 13px; }

.acc-style-example .acc-content > div {
  overflow: hidden;
  background: #ddd; }

.acc-style-example .acc-content > div {
  padding: 10px 10px 0 10px;
  background: #fff;
  border: none;
  height: 100%; }

.acc-style3 {
  list-style: none;
  margin: 0px 0 10px 0; }

.acc-style3 .acc-section {
  background: #e0e0e0 url("../images/accordion/acc3-bg.png") repeat-x;
  padding: 0;
  margin: 0 0 0 0;
  border: 1px #d6d6d6 solid;
  border-top: none; }

.acc-style3 .acc-section:first-child {
  border-top: 1px #d6d6d6 solid; }

.acc-style3 h3 {
  font-size: 14px;
  background: transparent url("../images/accordion/acc-plus-dark.png") no-repeat;
  background-position: 9px 13px;
  height: 39px;
  margin: 0px;
  padding-top: 0;
  padding-left: 27px;
  line-height: 39px;
  cursor: pointer;
  color: #4f4f4f; }

.acc-style3 .acc-section:first-child h3 {
  height: 38px; }

.acc-style3 h3.active {
  background: transparent url("../images/accordion/acc-minus-dark.png") no-repeat;
  background-position: 9px 13px; }

.acc-style3 .acc-content > div {
  overflow: hidden;
  background: #fff; }

.acc-style3 .acc-content > div {
  padding: 14px 14px 5px 14px;
  background: #fff;
  border-top: #d6d6d6 1px solid; }

.acc-style4 {
  margin: 0px 0 30px 0; }

.acc-style4 .acc-section {
  background: #f5f5f5 url("../images/accordion/acc4-bg.png") repeat-x;
  background-position: 0 17px;
  padding: 0;
  margin: 0 0 10px 0;
  border: 1px #d6d6d6 solid;
  box-shadow: 0px 0px 3px #d6d6d6;
  border-radius: 10px; }

.acc-style4 h3 {
  font-size: 14px;
  background: transparent url("../images/accordion/acc-plus-dark.png") no-repeat;
  background-position: 9px 13px;
  margin: 0px 1px 1px 1px;
  padding-top: 0;
  border-radius: 10px;
  padding-left: 27px;
  line-height: 37px;
  cursor: pointer;
  color: #4f4f4f; }

.acc-style4 h3.active {
  background: transparent url("../images/accordion/acc-minus-dark.png") no-repeat;
  background-position: 9px 13px; }

.acc-style4 .acc-content > div {
  overflow: hidden;
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.acc-style4 .acc-content > div {
  padding: 21px 14px 9px 14px;
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

/*-------------------------------
	15. contact page
-------------------------------*/
.contact-list {
  list-style: none;
  margin-left: 0px; }
  .contact-list .icon, .contact-list li {
    padding-left: 0px;
    margin-bottom: 10px; }

form p {
  margin: 0;
  padding: 0; }

.contact-form-header {
  margin-bottom: 22px; }

#contact-form-container {
  	/*input{
  		margin: 0px 0px 10px 0px;
  	}
  
  	textarea {
  		margin: 0px 0px 20px 0px;
  	}*/ }
  #contact-form-container > p {
    padding: 0px; }
  #contact-form-container p {
    margin: 0;
    padding: 0; }
  #contact-form-container p.logged-in-as {
    margin-bottom: 20px; }
  #contact-form-container p.logged-in-as a:last-child {
    color: red; }
  #contact-form-container .contact-input-block {
    float: left;
    width: 310px;
    overflow: auto; }
  #contact-form-container input, #contact-form-container textarea {
    padding: 0 12px;
    font-family: Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
    border: 2px solid #e8e8e8;
    color: #6a6a6a; }
  #contact-form-container input {
    width: 276px;
    height: 31px;
    float: left;
    line-height: 20px;
    display: inline; }
  #contact-form-container input.email {
    float: right; }
  #contact-form-container textarea {
    clear: both;
    width: 592px;
    resize: none;
    height: 81px;
    padding-top: 10px;
    margin-bottom: 20px; }
  #contact-form-container input:focus, #contact-form-container #submit-button:hover, #contact-form-container input[type="submit"]:hover {
    background: #f9f9f9; }
  #contact-form-container textarea:focus {
    background: #f9f9f9; }
  #contact-form-container input#submit-button, #contact-form-container input[type="submit"] {
    background: #fff;
    width: 100px;
    float: right;
    font-size: 12px;
    height: 30px;
    /*margin-bottom: 20px;*/
    margin-top: 0; }
  #contact-form-container #submit-button:hover, #contact-form-container input[type="submit"]:hover {
    cursor: pointer; }
  #contact-form-container .err-name, #contact-form-container .err-mail, #contact-form-container .err-message {
    color: red;
    font-size: 11px;
    margin: -20px 0 20px 3px;
    float: left; }
  #contact-form-container .err-mail {
    margin-left: 13px; }
  #contact-form-container .err-message {
    margin-top: -25px; }

/*-------------------------------
	16. widget container
-------------------------------*/
#widgets-container {
  height: auto;
  width: 100%;
  background: url(../images/widgets/horizontal-line.png) 50% 0 repeat-x; }
  #widgets-container .widgets-container-bg {
	height: auto;
	width: 100%;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50% -60px;
}
  #widgets-container * {
    color: #666; }
  #widgets-container p {
    margin-bottom: 10px; }
  #widgets-container a, #widgets-container a * {
    line-height: 20px;
    color: #000; }
    #widgets-container a:hover, #widgets-container a:hover *, #widgets-container a *:hover, #widgets-container a *:hover * {
      color: #fd4b30; }
      #widgets-container a:hover img, #widgets-container a:hover * img, #widgets-container a *:hover img, #widgets-container a *:hover * img {
        opacity: 0.8; }
  #widgets-container ul li {
    padding-left: 0px; }
  #widgets-container .wrapper {
    /*background: transparent;*/
    padding-bottom: 30px; }
  #widgets-container .textwidget {
    padding-left: 6px; }
    #widgets-container .textwidget p {
      font-size: 12px; }
    #widgets-container .textwidget .icon {
      padding-left: 0; }
  #widgets-container .widget-title {
    margin-top: 30px;
    padding-bottom: 10px;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 22px;
    color: #000; }
  #widgets-container .widget_popular_posts {
    padding-right: 0;
    width: 220px; }
    #widgets-container .widget_popular_posts ul {
      margin: 0; }
    #widgets-container .widget_popular_posts li {
      clear: both;
      overflow: visible;
      display: block;
      margin-bottom: 20px; }
    #widgets-container .widget_popular_posts a {
      height: 100%;
      overflow: visible;
      margin-bottom: 10px;
      display: block;
      font-size: 14px; }
    #widgets-container .widget_popular_posts .post-thumb {
      display: block;
      height: 70px;
      width: 70px;
      float: left;
      overflow: visible;
      margin-right: 10px; }
      #widgets-container .widget_popular_posts .post-thumb img {
        height: 66px;
        width: 66px;
        border: 2px solid #fff;
        box-shadow: 0px 0px 5px #cfcfcf; }
    #widgets-container .widget_popular_posts .invent-data {
      padding-left: 20px;
      background: url("../images/icons/widget-calendar.png") left center no-repeat; }

/*flickr-widget*/
.widget_flickr ul {
  margin-left: 0; }

.random_image_widget, .random_image_widget strong, .random_image_widget a {
  color: #a6a6a6; }

.random_image_widget a:hover {
  color: #fff; }

#widgets-container .widget-container .random-image-loading {
  margin-top: 8px;
  background: url("../images/loading.gif") center center no-repeat;
  background-position: 92px 48px;
  width: 195px !important;
  overflow: hidden; }

#widgets-container .random-image-loading {
  margin-top: 8px;
  background: url("../images/loading-dark.gif") center center no-repeat;
  background-position: 97px 48px; }

.random_image_widget p {
  margin: 0 0 20px 0; }

#widgets-container .widget_flickr > ul {
  margin: -5px 0 10px -5px;
  overflow: visible; }

#widgets-container .widget_flickr li a img, #widgets-container .widget_flickr li a img:hover {
  opacity: 1.0; }

.widget_flickr li, #widgets-container .widget_flickr > ul > li {
  display: block;
  margin: 10px 10px 0px 0px;
  padding: 0;
  width: 69px;
  height: 59px;
  overflow: visible;
  float: left; }
  .widget_flickr li a, #widgets-container .widget_flickr > ul > li a {
    overflow: visible;
    width: 69px;
    height: 59px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #cfcfcf;
    position: relative; }
  .widget_flickr li a .flickr-hover, #widgets-container .widget_flickr > ul > li a .flickr-hover {
    background: transparent;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px; }
  .widget_flickr li a .flickr-hover-arrow, #widgets-container .widget_flickr > ul > li a .flickr-hover-arrow {
    display: block;
    background: transparent;
    position: absolute;
    left: -60px;
    width: 23px;
    height: 23px;
    background: url("../images/widgets/widget-image-hover-arrow.png") center center no-repeat;
    top: 18px; }
  .widget_flickr li a:hover .flickr-hover, #widgets-container .widget_flickr > ul > li a:hover .flickr-hover {
    background: url("../images/widgets/widget-image-hover.png") center center no-repeat; }

#widgets-container .widget_flickr > ul > li {
  margin: 5px 0px 5px 5px;
  background: black url("../images/loading-dark.gif") center center no-repeat; }

.widget_flickr li a, #widgets-container .widget_flickr > ul > li a, #widgets-container .widget_flickr > ul > li a:first-child {
  display: block;
  width: 66px;
  height: 56px;
  overflow: hidden;
  margin: 0px;
  padding: 0; }

.widget_flickr li a, #widgets-container .widget_flickr > ul > li a {
  border: 2px solid #fff; }

#widgets-container .widget_archive ul, #widgets-container .widget_categories ul {
  list-style: none;
  margin-left: 0px; }
#widgets-container .widget_archive li, #widgets-container .widget_categories li {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 4px; }
#widgets-container .widget_archive li a, #widgets-container .widget_categories li a {
  height: 25px;
  padding-left: 25px;
  background: url("../images/icons/widget-calendar.png") top left no-repeat;
  background-position: 2px 4px;
  display: block; }
  #widgets-container .widget_archive li a:hover, #widgets-container .widget_categories li a:hover {
    color: #000;
    background-image: url("../images/icons/widget-calendar-hover.png"); }

#widgets-container .widget_categories li a {
  background-image: url("../images/icons/widget-folder.png"); }
  #widgets-container .widget_categories li a:hover {
    color: #000;
    background-image: url("../images/icons/widget-folder-hover.png"); }

#widgets-container #widget-contact-form .contact-input-block {
  width: 220px; }
#widgets-container #widget-contact-form input {
  width: 192px;
  float: none;
  margin: 0 0 10px 0;
  height: 26px; }
#widgets-container #widget-contact-form textarea {
  height: 86px;
  width: 192px;
  margin: 0 0 15px 0; }
#widgets-container #widget-contact-form input#widget-contact-submit {
  width: 96px;
  height: 30px; }
  #widgets-container #widget-contact-form input#widget-contact-submit:hover {
    font-weight: bold;
    color: #000; }

/* twitter-widget */
#widgets-container .widget_twitter .twitter-widget-carousel-top {
  background: url("../images/widgets/twitter-widget/twitter-top-container.png") center top no-repeat;
  height: 20px;
  width: 220px; }
#widgets-container .widget_twitter .twitter-carousel-center {
  background: url("../images/widgets/twitter-widget/twitter-center-container.png") repeat-y;
  height: 130px;
  width: 165px;
  padding: 0px 25px 0 30px; }
  #widgets-container .widget_twitter .twitter-carousel-center ul {
    margin-left: 0px;
    list-style: none; }
  #widgets-container .widget_twitter .twitter-carousel-center p {
    padding: 0px 0px 10px 0px;
    margin: 0; }
  #widgets-container .widget_twitter .twitter-carousel-center a {
    color: #fd4b30; }
    #widgets-container .widget_twitter .twitter-carousel-center a:hover {
      text-decoration: underline; }
#widgets-container .widget_twitter .twitter-widget-carousel-bottom {
  background: url("../images/widgets/twitter-widget/twitter-bottom-container.png");
  height: 50px;
  width: 220px;
  margin-bottom: 20px; }
  #widgets-container .widget_twitter .twitter-widget-carousel-bottom .fade-carousel-controls {
    padding-top: 24px;
    margin: 0 0 0 121px; }
    #widgets-container .widget_twitter .twitter-widget-carousel-bottom .fade-carousel-controls a {
      float: left;
      margin-left: 7px;
      height: 13px;
      width: 13px;
      background: url("../images/widgets/twitter-widget/fade-carousel-controls.png");
      background-position: 0px 0px;
      display: block; }
      #widgets-container .widget_twitter .twitter-widget-carousel-bottom .fade-carousel-controls a:hover, #widgets-container .widget_twitter .twitter-widget-carousel-bottom .fade-carousel-controls a.actual {
        background-position: 0px -13px; }
#widgets-container .widget_twitter a.all-tweets {
  text-align: center;
  width: 220px;
  display: block; }

/*-------------------------------
	17. page footer
-------------------------------*/
#page-bottom {
  padding-top: 20px;
  background: url("../images/horizontal-shadow.png") top center no-repeat;
  margin-bottom: 0px;
  height: auto;
  overflow: auto; }

#copyright, #bottom-social-contener {
  float: left;
  width: 455px; }
  #copyright p, #bottom-social-contener p {
    font-size: 11px; }
  #copyright a:hover, #bottom-social-contener a:hover {
    text-decoration: underline; }

#page-bottom .scrolltop {
  float: left;
  background: url("../images/scroll-top.png") no-repeat;
  width: 27px;
  height: 14px;
  margin-top: 6px;
  text-indent: -9999px; }
  #page-bottom .scrolltop:hover {
    background-position: 0 -14px; }

#page-bottom .scrolltop:hover {
  cursor: pointer; }

#bottom-social-contener {
  margin-top: 5px; }

#social, #social-top {
  list-style: none;
  float: right;
  padding: 0;
  margin-bottom: 0;
  margin-right: 10px; }

#social li, #social-top li {
  float: left;
  padding: 0 0 0 10px;
  margin: 0;
  overflow: hidden; }
  #social li a, #social-top li a {
    display: block;
    background: red;
    height: 20px;
    width: 20px; }
  #social li a.linkedin, #social-top li a.linkedin {
    background: url("../images/social/linkedin.png"); }
  #social li a.twitter, #social-top li a.twitter {
    background: url("../images/social/twitter.png"); }
  #social li a.facebook, #social-top li a.facebook {
    background: url("../images/social/facebook.png"); }
  #social li a.vimeo, #social-top li a.vimeo {
    background: url("../images/social/vimeo.png"); }
  #social li a.rss, #social-top li a.rss {
    background: url("../images/social/rss.png"); }
  #social li a.phone, #social-top li a.phone {
    background: url("../images/social/phone.png"); }
  #social li a:hover, #social-top li a:hover {
    background-position: 0px -20px; }

/*-------------------------------
	18. blog
-------------------------------*/
.post:first-child {
  padding-top: 10px; }

.post img {
  min-height: 80px; }

.blog hr {
  margin: 10px 0 20px 0; }

.post .post-image-title {
  margin: -5px 0 10px 0; }
  .post .post-image-title a {
    min-height: 100px; }

.single-post:first-child {
  padding-top: 20px; }
  .single-post:first-child .post-image-title {
    margin-top: 0px; }
    .single-post:first-child .post-image-title a {
      min-height: 100px; }

.post .entry-title {
  margin-bottom: 22px; }

.post .entry-content .image-decoration {
  margin-top: 15px; }

#comments #comment-list {
  margin: 0;
  padding: 0; }
  #comments #comment-list + .hr7 {
    margin-top: 0px; }
  #comments #comment-list li {
    margin: 0;
    padding: 0;
    overflow: auto; }
    #comments #comment-list li h6.comment-author {
      color: #494949;
      clear: none;
      width: 300px;
      float: left;
      margin-top: -10px; }
    #comments #comment-list li .right-post-info {
      margin-top: 0px;
      margin-bottom: 10px;
      float: right; }
      #comments #comment-list li .right-post-info li {
        background: url("../images/icons/blog/post-info-text.png") left no-repeat;
        padding-left: 20px; }
  #comments #comment-list img.avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    float: left;
    display: block;
    margin-top: 0px;
    line-height: 10px;
    overflow: visible; }
  #comments #comment-list .comment-text {
    margin: 0px 0 20px 100px;
    display: block;
    border: #e8e8e8 1px solid;
    width: 566px;
    min-height: 60px;
    padding: 19px 15px 19px 15px; }
  #comments #comment-list .corner {
    background: url("../images/comment-corner.png") no-repeat;
    background-position: 0px 0;
    width: 10px;
    height: 17px;
    float: left;
    margin: -3px 0 0 -25px;
    z-index: 100; }
  #comments #comment-list a.reply {
    margin: -45px 15px 12px 0;
    color: #fd4c31;
    text-decoration: none; }
    #comments #comment-list a.reply:hover {
      color: #000; }

#respond {
  width: 700px;
  padding-top: 10px; }
  #respond > p {
    padding: 0px; }
  #respond p {
    margin: 0;
    padding: 0; }
  #respond p.logged-in-as {
    margin-bottom: 20px; }
  #respond p.logged-in-as a:last-child {
    color: red; }
  #respond .contact-input-block {
    float: left;
    width: 310px;
    overflow: auto; }
  #respond input, #respond textarea {
    padding: 0 12px;
    font-family: Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
    border: 2px solid #e8e8e8;
    color: #6a6a6a; }
  #respond input {
    width: 276px;
    height: 31px;
    float: left;
    line-height: 20px;
    display: inline; }
  #respond input.email {
    float: right; }
  #respond textarea {
    clear: both;
    width: 592px;
    resize: none;
    height: 81px;
    padding-top: 10px;
    margin-bottom: 20px; }
  #respond input:focus, #respond #submit-button:hover, #respond input[type="submit"]:hover {
    background: #f9f9f9; }
  #respond textarea:focus {
    background: #f9f9f9; }
  #respond input#submit-button, #respond input[type="submit"] {
    background: #fff;
    width: 100px;
    float: right;
    font-size: 12px;
    height: 30px;
    /*margin-bottom: 20px;*/
    margin-top: 0; }
  #respond #submit-button:hover, #respond input[type="submit"]:hover {
    cursor: pointer; }
  #respond .err-name, #respond .err-mail, #respond .err-message {
    color: red;
    font-size: 11px;
    margin: -20px 0 20px 3px;
    float: left; }
  #respond .err-mail {
    margin-left: 13px; }
  #respond .err-message {
    margin-top: -25px; }
  #respond input {
    width: 192px;
    margin-left: 20px;
    height: 26px; }
    #respond input#submit-button {
      height: 30px;
      width: auto;
      min-width: 100px; }
    #respond input:first-child {
      margin-left: 0px; }
    #respond input#email {
      float: left; }
    #respond input#website {
      float: right; }
  #respond .textarea-container {
    padding-right: 28px; }
  #respond textarea#comment {
    width: 100%;
    height: 96px; }

.post-info {
  list-style: none;
  padding: 11px 0 9px 10px;
  height: 20px;
  font-size: 11px;
  background: url("../images/icons/blog/post-info-bg.png") left no-repeat;
  margin-bottom: 20px;
  margin-left: 0px; }
  .post-info li {
    padding: 0 0 0 18px;
    float: left;
    margin: 0 30px 0 0; }
    .post-info li.post-info-time {
      background: url("../images/icons/blog/post-info-text.png") left no-repeat; }
    .post-info li.post-info-category {
      background: url("../images/icons/blog/post-info-category.png") left no-repeat; }
    .post-info li.post-info-comments {
      background: url("../images/icons/blog/post-info-comments.png") left no-repeat; }
    .post-info li.post-info-tags {
      background: url("../images/icons/blog/post-info-tags.png") left no-repeat;
      padding-left: 13px; }
    .post-info li.post-info-social {
      float: right;
      margin: 0 5px 0 0;
      padding: 0; }
      .post-info li.post-info-social strong {
        margin-right: 10px; }
      .post-info li.post-info-social img {
        margin-top: -3px; }
      .post-info li.post-info-social a {
        font-weight: normal;
        display: block;
        height: 20px;
        width: 20px;
        padding: 0;
        margin-left: 6px; }
        .post-info li.post-info-social a.linkedin {
          background: url("../images/social/linkedin.png"); }
        .post-info li.post-info-social a.twitter {
          background: url("../images/social/twitter.png"); }
        .post-info li.post-info-social a.facebook {
          background: url("../images/social/facebook.png"); }
        .post-info li.post-info-social a.vimeo {
          background: url("../images/social/vimeo.png"); }
        .post-info li.post-info-social a.rss {
          background: url("../images/social/rss.png"); }
        .post-info li.post-info-social a.phone{
          background: url("../images/social/phone.png"); }
        .post-info li.post-info-social a:hover {
          background-position: 0px -20px; }
        .post-info li.post-info-social a:hover {
          text-decoration: none;
          color: #000; }
  .post-info a {
    font-weight: normal;
    display: inline;
    color: #fd4c31; }
    .post-info a:first-child {
      padding-left: 5px; }
    .post-info a:hover {
      text-decoration: none;
      color: #000; }

.entry-title a {
  color: #000;
  margin-bottom: 22px; }

.single-post {
  padding-top: 10px; }

.post-read-more span.arrow-right {
  height: 90%;
  width: 1px;
  background: transparent url("../images/icons/blog/arrow-right.png") right center no-repeat;
  padding-right: 0px;
  padding-left: 16px;
  float: right;
  margin: 0px; }

/*-------------------------------
	19. sidebar
-------------------------------*/
#sidebar .sidebar-top {
  background: url("../images/sidebar-bg-top.png") left top no-repeat;
  height: 40px; }

.page-content {
  background: url("../images/bg-center-for-sidebar.png") right top repeat-y;
  overflow: visible;
  position: relative; }

.sidebar-widget-container {
  background-position: 0 70px;
  padding-bottom: 70px;
  padding-left: 0;
  margin-top: -30px; }

.sidebar-bottom {
  background: url("../images/sidebar-bg-bottom.png") left top no-repeat;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 220px; }

#sidebar .widget-title {
  font-size: 18px;
  line-height: 30px;
  padding-top: 10px;
  margin-bottom: 11px;
  margin-left: 2px;
  color: #000; }
#sidebar .widget_recent_entries a, #sidebar .widget_categories a, #sidebar .widget_recent_comments a, #sidebar .widget_flickr a, #sidebar .widget_social a, #sidebar .widget_newsletter a {
  line-height: 20px;
  color: #000; }
#sidebar .widget_recent_entries p, #sidebar .widget_categories p, #sidebar .widget_recent_comments p, #sidebar .widget_flickr p, #sidebar .widget_social p, #sidebar .widget_newsletter p {
  font-size: 11px;
  line-height: 20px; }
#sidebar .widget_recent_entries ul, #sidebar .widget_categories ul, #sidebar .widget_recent_comments ul, #sidebar .widget_flickr ul, #sidebar .widget_social ul, #sidebar .widget_newsletter ul {
  padding-bottom: 20px;
  /* background:  url("../images/hr/hr-220.png") no-repeat bottom left; */
  background-position: 2px bottom;
  margin-bottom: 27px;
  list-style: none; }
#sidebar .widget_recent_entries li, #sidebar .widget_categories li, #sidebar .widget_recent_comments li, #sidebar .widget_flickr li, #sidebar .widget_social li, #sidebar .widget_newsletter li {
  line-height: 20px;
  font-size: 13px;
  padding-left: 20px; }
  #sidebar .widget_recent_entries li a, #sidebar .widget_categories li a, #sidebar .widget_recent_comments li a, #sidebar .widget_flickr li a, #sidebar .widget_social li a, #sidebar .widget_newsletter li a {
    font-size: 13px; }
  #sidebar .widget_recent_entries li:hover a, #sidebar .widget_categories li:hover a, #sidebar .widget_recent_comments li:hover a, #sidebar .widget_flickr li:hover a, #sidebar .widget_social li:hover a, #sidebar .widget_newsletter li:hover a {
    color: #0399f9; }
#sidebar .hr220 {
  background: url("../images/hr/hr-220.png") no-repeat bottom left;
  height: 10px;
  overflow: auto; }
#sidebar .widget-container {
  padding-left: 20px;
  background: url("../images/widgets/sidebar/widget-bottom.png") 2px bottom no-repeat; }

/************* sidebar-widgets *************/
/**recent-posts**/
#sidebar .widget_recent_entries .post-thumb {
  display: block;
  padding: 0;
  margin: 0px 10px 0 0;
  float: left; }
#sidebar .widget_recent_entries ul {
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: -20px; }
#sidebar .widget_recent_entries li {
  clear: both;
  padding: 16px 0 10px 17px;
  overflow: visible;
  margin: 0;
  min-height: 74px;
  width: 200px;
  display: block;
  background: url("../images/widgets/post.png"); }
  #sidebar .widget_recent_entries li:hover {
    background: url("../images/widgets/post-hover.png"); }
#sidebar .widget_recent_entries .attachment-invent-widget-small {
  border: 2px #fff solid;
  box-shadow: 0px 0px 8px #d6d6d6; }
#sidebar .widget_recent_entries .date {
  margin-top: 12px;
  padding-left: 20px;
  display: block;
  color: #ababab;
  float: left;
  line-height: 15px;
  background: url("../images/icons/blog/post-info-text.png") left no-repeat; }
#sidebar .widget_recent_entries a {
  height: 100%;
  overflow: visible;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  line-height: 20px; }
#sidebar .widget_recent_entries li:hover * img {
  opacity: 0.8; }

/**categories and comments**/
#sidebar .widget_categories ul, #sidebar .widget_recent_comments ul, #sidebar .widget_archives ul {
  padding-left: 0;
  padding-bottom: 0;
  margin-left: -20px;
  list-style: none; }
#sidebar .widget_categories li, #sidebar .widget_recent_comments li, #sidebar .widget_archives li {
  margin: 0;
  min-height: 30px;
  background: url("../images/widgets/li-small.png") no-repeat; }
  #sidebar .widget_categories li:hover, #sidebar .widget_recent_comments li:hover, #sidebar .widget_archives li:hover {
    background: url("../images/widgets/li-small-hover.png"); }

#sidebar .widget_categories li a {
  background: url("../images/icons/14x14/folder.png") no-repeat;
  padding: 5px 0px 5px 24px;
  width: 166px; }

#sidebar .widget_recent_comments li div {
  background: url("../images/icons/14x14/speech.png") no-repeat;
  padding: 5px 0px 5px 24px;
  width: 166px; }

#sidebar .widget_archives li a {
  background: url("../images/icons/14x14/calendar.png") no-repeat;
  padding: 5px 0px 5px 24px;
  width: 166px; }

#sidebar .widget_categories li a, #sidebar .widget_recent_comments li div, #sidebar .widget_archives li a {
  line-height: 20px;
  background-position: 2px 8px; }

#sidebar .widget_categories li a {
  line-height: 30px; }

#sidebar .widget_recent_comments li a {
  display: inline;
  line-height: 20px; }

/*newsletter-widget*/
#sidebar .widget_newsletter {
  margin-bottom: 30px;
  overflow: auto; }
#sidebar .widget_newsletter p, #sidebar .widget_search p {
  font-size: 11px;
  color: #858585;
  margin-bottom: 4px;
  margin-top: -5px; }
#sidebar form p, #sidebar .widget_newsletter form p {
  padding: 10px 0 0 0px;
  clear: both; }
#sidebar form input, #sidebar .widget_newsletter form input {
  font-family: Times New Roman;
  margin: 0px 0px 17px 0px;
  border: 2px solid #e9e9e9;
  font-style: italic;
  color: #6a6a6a;
  width: 131px;
  height: 26px;
  float: left;
  line-height: 26px;
  display: inline;
  padding: 0 0 0 10px; }
#sidebar form input:focus .widget_newsletter form input:focus {
  border: 2px solid #6a6a6a;
  color: #000; }
#sidebar form #submit-button, #sidebar .widget_newsletter form #submit-newsletter-button {
  border: 2px solid #E8E8E8;
  color: #6A6A6A;
  padding: 0 5px;
  width: 35px;
  margin-left: 5px;
  font-size: 12px;
  height: 30px;
  background: #fff;
  font-style: normal;
  font-family: 'Judson', sans-serif; }
#sidebar form #submit-button:hover, #sidebar .widget_newsletter form #submit-newsletter-button:hover {
  cursor: pointer;
  background: #F9F9F9; }

/*search-widget*/
.widget_search {
  margin-bottom: 30px; }

#sidebar .widget_search form input {
  padding: 0 10px 0 30px;
  width: 85px;
  background: url("../images/widgets/search.png") no-repeat; }

#sidebar .widget_search form input:focus {
  background: url("../images/widgets/search-hover.png"); }

#sidebar .widget_search form #submit-button {
  background: url("../images/widgets/search-submit-bg.png");
  width: 65px; }

#sidebar .widget_search form #submit-button:hover {
  background: url("../images/widgets/search-submit-bg-hover.png"); }

/*twitter-widget*/
#sidebar .widget_twitter {
  padding-left: 0px; }

#sidebar .widget_twitter .widget-title {
  padding-bottom: 10px;
  background: url("../images/hr/hr-220.png") no-repeat bottom left;
  padding-left: 20px; }

#sidebar .twitter-sidebar {
  width: 198px;
  border: 1px #d7d7d7 solid;
  background: #f4f4f4; }

#sidebar ul.twitter-list {
  padding-top: 5px;
  padding-bottom: 5px; }

#sidebar ul.twitter-list li {
  line-height: 10px;
  margin-bottom: 10px;
  padding-left: 20px; }

#sidebar ul.twitter-list li p {
  margin: 0px 0 0 0;
  padding: 9px 0 11px 39px;
  background: url("../images/widgets/blue-bird.png") no-repeat;
  background-position: 8px 15px;
  overflow: hidden;
  line-height: 20px; }

#sidebar ul.twitter-list li p a {
  color: #828282;
  font-weight: bold; }

#sidebar ul.twitter-list li p a:hover {
  color: #0399f9; }

#sidebar .twitter-sidebar-corner {
  height: 20px;
  width: 200px;
  background: url("../images/widgets/sidebar-twitter-corner.png") no-repeat;
  background-position: 170px 0px;
  margin-top: -1px; }

#sidebar ul.social {
  list-style: none;
  height: 37px;
  padding: 0px;
  margin-left: -20px;
  padding-left: 15px;
  margin-top: 0; }
  #sidebar ul.social li {
    float: left;
    padding: 0 0 0 10px;
    margin: 0;
    overflow: hidden; }
    #sidebar ul.social li a {
      display: block;
      height: 20px;
      width: 20px; }
      #sidebar ul.social li a.phone {
        background: url("../images/social/phone.png"); }
      #sidebar ul.social li a.linkedin {
        background: url("../images/social/linkedin.png"); }
      #sidebar ul.social li a.twitter {
        background: url("../images/social/twitter.png"); }
      #sidebar ul.social li a.facebook {
        background: url("../images/social/facebook.png"); }
      #sidebar ul.social li a.vimeo {
        background: url("../images/social/vimeo.png"); }
      #sidebar ul.social li a.rss {
        background: url("../images/social/rss.png"); }
      #sidebar ul.social li a:hover {
        background-position: 0px -20px; }

#sidebar .widget_flickr {
  padding-left: 15px; }
#sidebar .widget_flickr > ul {
  margin: -10px 0 32px -23px;
  overflow: auto;
  width: 210px;
  padding-left: 10px;
  padding-right: 5px; }
#sidebar .widget_flickr li, #sidebar .widget_flickr > ul > li {
  display: block;
  margin: 10px 10px 0px 0px;
  padding: 0;
  width: 56px;
  height: 56px;
  overflow: visible;
  float: left; }
  #sidebar .widget_flickr li a, #sidebar .widget_flickr > ul > li a {
    margin: 10px 10px 0px 0px;
    overflow: visible;
    width: 56px;
    height: 56px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #cfcfcf; }
#sidebar .widget_flickr > ul > li {
  margin: 10px 0px 4px 14px;
  background: black url("../images/loading-dark.gif") center center no-repeat; }
#sidebar .widget_flickr li a, #sidebar .widget_flickr > ul > li a, #sidebar .widget_flickr > ul > li a:first-child {
  display: block;
  width: 56px;
  height: 56px;
  overflow: hidden;
  margin: 0px;
  padding: 0;
  position: relative; }
#sidebar .widget_flickr li a .flickr-hover {
  background: transparent;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px; }
#sidebar .widget_flickr li a:hover .flickr-hover {
  background: url("../images/widgets/widget-image-hover.png") center center no-repeat; }
#sidebar a .flickr-hover-arrow {
  display: block;
  background: transparent;
  position: absolute;
  left: -50px;
  width: 23px;
  height: 23px;
  background: url("../images/widgets/widget-image-hover-arrow.png") center center no-repeat;
  top: 17px; }

/*tagcloud-widget*/
#sidebar .widget_tag_cloud {
  margin-bottom: 30px; }

#sidebar .tagcloud {
  padding-bottom: 0px; }

#sidebar .tagcloud a {
  display: inline;
  padding-right: 2px; }

#sidebar .tagcloud a:hover {
  color: #0399f9; }

/*-------------------------------
	20. page wrapper style2
-------------------------------*/
.shadow-area {
  background: url("../images/horizontal-shadow.png") top center no-repeat;
  display: block;
  overflow: auto;
  margin: 0 0 0 0;
  padding-top: 0px; }
  .shadow-area .wrapper {
    margin: 20px auto 0 auto; }
  .shadow-area p.post-read-more {
    margin-bottom: 10px; }

.shadow-area-bottom {
  margin: 0 auto;
  background: transparent url("../images/horizontal-shadow.png") bottom center no-repeat;
  height: 40px; }

.blockquote-style2 {
  overflow: auto;
  width: 100%;
  background: url("../images/quote-arrow-left.png") left center no-repeat;
  margin-bottom: 30px;
  margin-top: 0px; }

.blockquote-style2 blockquote {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  height: auto;
  margin: 0px;
  padding: 0px;
  background: url("../images/quote-arrow-right.png") right center no-repeat; }

/*-------------------------------
	21. menu (lavaLamp)
-------------------------------*/
.lavaLampWithImage {
  position: relative; }

.lavaLampWithImage > li {
  float: left;
  list-style: none; }

.lavaLampWithImage > li.back {
  width: 30px;
  z-index: 1;
  position: absolute;
  background-color: #bababa;
  top: 27px;
  height: 3px;
  opacity: 0; }

.lavaLampWithImage > li a {
  z-index: 1200;
  display: block;
  float: left;
  position: relative; }

/*-------------------------------
	22. fancybox
-------------------------------*/
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none; }

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url("../images/fancybox/fancybox.png"); }

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none; }

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none; }

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none; }

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff; }

#fancybox-content {
  width: 0;
  height: 0;
  padding: 5px;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #f62aa9; }

  /* rgba(206, 36, 140, .2) */

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101; }

#fancybox-close {
  position: absolute;
  top: -25px;
  right: -75px;
  width: 70px;
  height: 38px;
  background: transparent url("../images/fancybox/close.png") no-repeat;
  background-position: 0 -38px;
  cursor: pointer;
  z-index: 1103;
  display: none; }

#fancybox-close:hover {
  background: transparent url("../images/fancybox/close.png") no-repeat; }

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0; }

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top; }

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  z-index: 1105; }

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 50%;
  cursor: pointer;
  outline: none;
  background: transparent url("../images/fancybox/blank.gif");
  z-index: 1102;
  display: none; }

#fancybox-left {
  position: fixed;
  left: 0px; }

#fancybox-right {
  position: fixed;
  right: 0px; }

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 20px;
  height: 37px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block; }

#fancybox-left-ico {
  background-image: url("../images/fancybox/arrows.png"); }

#fancybox-right-ico {
  background-image: url("../images/fancybox/arrows.png");
  background-position: -20px 0; }

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible;
  /* IE6 */ }

#fancybox-left:hover span {
  left: 20px; }

#fancybox-right:hover span {
  left: auto;
  right: 20px; }

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001; }

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url("../images/fancybox/fancybox-x.png"); }

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -162px; }

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url("../images/fancybox/fancybox-y.png");
  background-position: -20px 0px; }

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -182px; }

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url("../images/fancybox/fancybox-x.png");
  background-position: 0px -20px; }

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -142px; }

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url("../images/fancybox/fancybox-y.png"); }

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url("../images/fancybox/fancybox.png");
  background-position: -40px -122px; }

#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102; }

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative; }

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff; }

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left; }

#fancybox-title-over {
  padding: 10px;
  background-image: url("../images/fancybox/fancy_title_over.png");
  display: block; }

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px; }

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto; }

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap; }

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url("../images/fancybox/fancybox.png") -40px -90px no-repeat; }

#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url("../images/fancybox/fancybox-x.png") 0px -40px; }

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url("../images/fancybox/fancybox.png") -55px -90px no-repeat; }

/*-------------------------------
	23. invent gallery
-------------------------------*/
.invent-gallery {
  overflow: visible;
  padding-top: 10px; }
  .invent-gallery .image-decoration, .invent-gallery .video-decoration {
    padding-bottom: 20px;
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative; }
    .invent-gallery .image-decoration a, .invent-gallery .video-decoration a {
      margin: 0 5px; }
  .invent-gallery .image-description {
    margin-bottom: 10px; }
    .invent-gallery .image-description p {
      margin-bottom: 30px; }
  .invent-gallery .shadow-220 {
    background: url("../images/shadows/portfolio-shadow-220.png") bottom center no-repeat; }
  .invent-gallery .shadow-300 {
    background: url("../images/shadows/portfolio-shadow-300.png") bottom center no-repeat; }

.invent-gallery > div {
  position: relative;
  overflow: visible;
  clear: both; }

.invent-gallery > div > div {
  position: absolute; }

ul.portfolio-1-1 {
  list-style: none;
  margin-left: 0px; }
  ul.portfolio-1-1 > li {
    padding: 29px 0px 0 0;
    margin: 0 0 40px 0;
    overflow: auto;
    clear: left;
    border-top: 1px solid #eaeaea; }
    ul.portfolio-1-1 > li:first-child {
      border: none;
      padding: 0px 0 30px 0; }
    ul.portfolio-1-1 > li > :first-child {
      margin-right: 20px; }
  ul.portfolio-1-1 .portfolio_image {
    width: 640px;
    height: auto;
    float: left;
    padding: 0px; }
    ul.portfolio-1-1 .portfolio_image img {
      display: block; }
  ul.portfolio-1-1 .image-description {
    width: 280px;
    height: 100%;
    float: left; }
    ul.portfolio-1-1 .image-description p {
      margin-bottom: 20px; }

.portfolio-1-2 div {
  width: 460px;
  overflow: visible;
  clear: both;
  padding-bottom: 10px; }
  .portfolio-1-2 div .image-decoration, .portfolio-1-2 div .video-decoration {
    margin-bottom: -10px; }

.portfolio-1-3 div {
  width: 300px;
  overflow: visible;
  clear: both; }
  .portfolio-1-3 div .image-decoration, .portfolio-1-3 div .video-decoration {
    margin-bottom: -5px;
    padding-bottom: 15px; }

.portfolio-1-4 div {
  width: 220px;
  overflow: visible;
  clear: both; }

.invent-gallery .no-description .image-decoration {
  margin-bottom: 10px; }

.gallery-splitter {
  margin: -10px 0 15px 0;
  height: 20px;
  overflow: visible;
  list-style: none; }

.gallery-splitter li {
  float: left;
  font-size: 13px;
  margin: 0 15px 0 0;
  padding: 0 0px 0 0; }

.gallery-splitter a {
  color: #989898; }

.gallery-splitter a:hover, .gallery-splitter a:active, .gallery-splitter .selected a {
  color: #171717; }

.flowy-clone .image-decoration a {
  box-shadow: none; }

/*-------------------------------
	24. Paginator
-------------------------------*/
.paginator-container .paginator {
  height: 42px;
  margin: 18px 0 0 0;
  list-style: none; }
  .paginator-container .paginator li {
    height: 20px;
    margin: 0 12px 0 0;
    float: left;
    color: #666;
    padding: 0; }
    .paginator-container .paginator li a {
      display: block;
      padding: 5px 6px 5px 6px;
      border: 2px transparent solid;
      color: #828282; }
      .paginator-container .paginator li a:hover, .paginator-container .paginator li a:active, .paginator-container .paginator li a.actual {
        border: 2px #e8e8e8 solid;
        color: #000; }
      .paginator-container .paginator li a.first, .paginator-container .paginator li a.last {
        padding: 5px 13px 5px 13px; }
        .paginator-container .paginator li a.first:hover, .paginator-container .paginator li a.first:active, .paginator-container .paginator li a.first.actual, .paginator-container .paginator li a.last:hover, .paginator-container .paginator li a.last:active, .paginator-container .paginator li a.last.actual {
          background: #f9f9f9; }

/*-------------------------------
		25. color settings
-------------------------------*/
/*Menu Lavalamp color*/
.lavaLampWithImage > li.back {
  background: #fd4c31; }

/*Font color and highlight */
a, .color, span.color, .tab-style3 ul li a.current, .tab-style3 li a:hover,
#sidebar .widget_recent_entries li:hover a, #sidebar .widget_categories li:hover a, #sidebar .widget_recent_comments li:hover a, #sidebar .widget_flickr li:hover a, #sidebar .widget_social li:hover a,
.entry-title:hover a, #widgets-container a:hover, #widgets-container a:hover *, #widgets-container a :hover, #widgets-container a :hover *,
#widgets-container .widget_twitter .twitter-carousel-center a, .post-info a {
  color: #fd4c31; }

.home-page-header .nivoSlider-decoration, .home-page-header .image-decoration a, .home-page-header .video-decoration object, .home-page-header .video-decoration iframe, .home-page-header .video-decoration video, .home-page-header .map-decoration .map-canvas {
  box-shadow: 0px 0px 10px #d6d6d6; }

h5.big-icon-title{
    /*-- font-family:'Lobster Two'; --/*
	font-size: 30px;
}

h5.big-icon-title .big-icon-coffe2 {
  background: url("../images/icons/76x76/default_coffee.png") center top no-repeat; }

h5.big-icon-title .big-icon-settings2 {
  background: url("../images/icons/76x76/default_settings.png") center top no-repeat; }

h5.big-icon-title .big-icon-target {
  background: url("../images/icons/76x76/default_target.png") center top no-repeat; }

.button-big-theme-color, .button-big-theme-color span {
  background-image: url("../images/buttons/big/big_red.png"); }

.button-small-theme-color, .button-small-theme-color span {
  background-image: url("../images/buttons/small/small_red.png"); }

#widgets-container .widget_archive a, #widgets-container .widget_categories a {
  color: #fd4c31; }

/*-------------------------------
	26. demo panel
-------------------------------*/
#demopanel {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  top: 100px;
  left: -210px;
  background: #252525;
  width: 210px;
  height: auto;
  opacity: 0.5;
  font-size: 10px;
  font-family: arial,helvetica,sans;
  color: #fff;
  z-index: 1001; }

#demopanel form {
  margin: 10px 15px 20px 15px;
  border-style: none;
  float: left; }

#demopanel label {
  font-size: 13px;
  color: #f7f7f7;
  width: 120px;
  line-height: 20px;
  display: block;
  margin: 0 0 10px 3px; }

#demopanel label[title="color"] {
  margin-top: 30px; }

#demopanel label.small {
  color: #aaa;
  font-size: 12px;
  float: left;
  padding-top: 9px; }

.invent-demo-theme-style {
  margin-bottom: 15px;
  border: 2px solid transparent;
  display: block;
  height: auto;
  width: 82px;
  float: left; }

.demo-wide {
  background: url("../images/demo-panel/wide.png") no-repeat;
  height: 62px;
  margin-top: -3px; }

.demo-narrow {
  background: url("../images/demo-panel/narrow.png") no-repeat;
  margin-left: 4px;
  height: 62px;
  margin-top: -3px; }

.demo-wide:hover, .demo-narrow:hover, .active-demo-theme-style {
  border-color: #fd4c31;
  cursor: pointer; }

.demo-background {
  width: 170px; }

.demo-color-scheme {
  margin-left: 4px; }

.demo-background-box, .demo-color-scheme-box {
  width: 110px;
  height: 40px;
  float: left; }

.demo-background-box {
  background: url("../images/demo-panel/bg-none.png") no-repeat; }

.demo-color-scheme-box {
  background: url("../images/demo-panel/color-scheme-default.png") no-repeat; }

.demo-background-box + div, .demo-color-scheme-box + div, .demo-text-area + div {
  float: left; }

.demo-button {
  width: 28px;
  height: 13px;
  margin: 2px 0 5px 5px;
  border: 1px solid #4b4b4b;
  border-radius: 2px;
  padding-left: 5px;
  line-height: 12px; }

.demo-button:hover {
  cursor: pointer;
  background-color: #7c7c7c;
  border: 1px solid #bebebe; }

.demo-text-area {
  width: 106px;
  height: 23px;
  padding: 0 7px;
  background: #fff;
  float: left;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  padding-top: 7px; }

.demo-text-area + div .demo-button {
  margin: -2px 0 5px 5px; }

div.color-pipet {
  background: #ccc;
  height: 30px;
  width: 30px;
  margin: 1px; }

.color-pipet-decoration {
  width: 32px;
  height: 32px;
  float: left;
  border: 2px solid transparent;
  margin-bottom: 4px; }

.color-pipet-decoration:hover {
  border-color: #fd4c31;
  cursor: pointer; }

#demo-nav {
  top: 140px;
  background: url("../images/demo-panel/arrows.png") no-repeat;
  background-position: 0px 0px;
  position: relative;
  height: 76px;
  width: 27px;
  overflow: hidden;
  float: right;
  margin-right: -27px;
  margin-top: -30px; }

#demo-nav:hover {
  background: url("../images/demo-panel/arrows.png") no-repeat;
  background-position: -27px 0px;
  cursor: pointer; }

/*******************************
* 27. user hud
*******************************/
a#jamberry-info-box {
  text-decoration: none;
  font-color: gray;
}

#user-data {
  margin-left: 130px;
  list-style: none;
  padding-top: 35px;
}

#social-buttons-popup {
  margin-top: 18px;
}

#user-data > li {
  font-size: 18px;
  margin-bottom: 12px;
}

#user-photo-id > img {
  border: 1px solid #000000;
  height: 120px;
  width: 120px;
}

#user-promotional {
    font-size: 16px;
    margin-top: 18px;
    padding: 10px;
    height: 302px;
    background-color: #666666; 
}

#user-promotional > p {
    color: white;
}
