
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding:		0;
	list-style:		none;
	z-index: 999;
}

.sf-menu li{
line-height: 30px;
}

.sf-menu li li{
    line-height: 16px;
}

.sf-menu {
    color:#fff;
}

.sf-menu li li *{
    line-height: 20px;
    font-size: 13px;
	font-family: Arial;
}

.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 168px; /* left offset of submenus need to match (see below) */
    opacity: .95;
}

.sf-menu ul ul{
    margin: -1px 0 0 48px;
    opacity:1.0;
}

.sf-menu ul li {
    width:			100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.sf-menu ul li a{
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 142px;
	display: block;
}
.sf-menu li:hover{
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			29px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			120px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			120px; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	0;
}


.sf-menu a {
	padding:8px 1em 0 1em;
	text-decoration:none;
    color: #d4d4d4;
}

.sf-menu ul li:first-child > a{
/*    border: transparent;*/
}

.sf-menu ul a {
    padding: 		.75em 0;
	text-decoration:none;
}

.sf-menu li li {
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}

 .sf-menu li.sfHover>a{
	outline:		0;
}

.sf-menu ul li:hover{
    width: 100%;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	15px;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.80em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background: none;
}

a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 0px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }

/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	padding: 0 0 0 0;
}

.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

.sf-menu>li img{
    padding-top:12px;
}

.sf-menu>li a{
    padding-left: 15px;
    padding-right: 10px;
}

.sf-menu> li > ul li:hover a, .sf-menu> li > ul li:active a{
    border-bottom: transparent 1px solid;
    border-top:  #3e79ba 1px solid;
}

.sf-menu> li > ul a:hover, .sf-menu> li > ul a:active, .sf-menu >li >ul li.sfHover a:hover {
	color: #f9f9f9;
}

.sf-menu li li a{
    border-top:1px solid #1b61aa;
    border-bottom:1px solid transparent;
}

.sf-menu li li:first-child a{
	border-top:1px solid transparent;
}

.sf-menu li li:hover a{border-bottom:1px solid transparent}
.sf-menu li li:hover+li a{border-top:1px solid #3e79ba;}

.sf-menu li li:last-child:hover a{
    border-bottom:1px solid #3e79ba;
}

.sf-menu >li{
    height: 28px;
}

.sf-menu > li > a{
	color: #666666;
	font-size: 14px;
	font-family: arial;
}

.sf-menu > li > a .sf-sub-indicator {
	right: 0px;
}

.sf-menu > li:hover > a, .sf-menu > li:active > a{
	color: #282828;
}

.sf-menu > li > ul{
    margin-left: 0px;
}

.sf-menu > li:hover > ul{
    margin-left: 0;
}

.sf-menu > li > ul a{
    margin-left:0;
}

ul.sf-menu > li.current > a {
	color: #282828;
}

/*--------- MENU COLOR SETTING----------*/

.sf-menu> li > ul li:hover a, .sf-menu> li > ul li:active a{
	border-top-color:  #a72c18;  /* red:#ba3f42  blue:#3e79ba  green:#63ad2d  brown:#b18056 */
    background: #ca3e28; }	/* red:#a52829  blue:#3e79ba  green:#348417  brown:#7f532e */

.sf-menu li li a{ border-top:1px solid #a52916; } /* red:#a12a2c  blue:#1b61aa  green:#347d13  brown:#6c3f19 */

.sf-menu li li:hover+li a{border-top-color: #a72c18;} /* red:#ba3f42 blue:#3e79ba  green:#63ad2d  brown:#b18056 */

.sf-menu li li:last-child:hover a{
	border-bottom-color: #a72c18; /* red:#ba3f42  blue:#3e79ba  green:#63ad2d  brown:#b18056 */
}

.sf-menu li ul{
    
	/* SVG fallback(Opera 11.10-, IE9) */
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDE5NCw1MSwyOSwxKTsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDE3MCwyNiw1LDEpOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, rgba(194,51,29,1), rgba(170,26,5,1));

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, rgba(194,51,29,1), rgba(170,26,5,1));

	/* Chrome 7+ & Safari 5.03+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(194,51,29,1)), color-stop(1, rgba(170,26,5,1)));

}
