/*
VideoJS VimCSS Skin (http://videojs.com)
Version 2.0.0
*/

.vim-css .vjs-controls {
  height: 60px; opacity: 0.9; color: #fff;
}
.vim-css .vjs-controls > div {
  height: 32px; top: 18px; padding: 0; text-align: center; background: rgba(23, 35, 34, 0.746094);
  border-radius: 0;
  box-shadow: none; 
}
/* Placement of Control Items */
.vim-css .vjs-controls > div.vjs-play-control       { width: 65px; left: 10px; }
.vim-css .vjs-controls > div.vjs-progress-control   { left: 85px; right: 160px; }
.vim-css .vjs-controls > div.vjs-time-control       { width: 75px; right: 85px; }
.vim-css .vjs-controls > div.vjs-volume-control     { width: 50px; right: 35px; }
.vim-css .vjs-controls > div.vjs-fullscreen-control { width: 25px; right: 10px; }

/* Play/Pause
-------------------------------------------------------------------------------- */
.vim-css .vjs-controls .vjs-play-control { top: 10px; margin: 0; height: 40px;  border-radius: 5px; }
.vim-css .vjs-play-control:hover { background: #00ADEF; }
.vim-css.vjs-paused .vjs-play-control span { border-left-color: #fff; border-top-width: 9px; border-left-width: 18px; border-bottom-width: 9px; margin: 11px 0 0 24px; }
.vim-css.vjs-playing .vjs-play-control span { width: 5px; height: 18px; margin: 5px auto 0; border-left: 5px solid #fff; border-right: 5px solid #fff; margin: 11px 0 0 24px; }

/* Progress
-------------------------------------------------------------------------------- */
.vim-css .vjs-controls .vjs-progress-control { border-radius: 5px 0 0 5px; }
.vim-css .vjs-progress-control .vjs-progress-holder { height: 8px; padding: 1px; margin: 10px 5px 0 10px; border-color: #666666; border-radius: 0; }
.vim-css .vjs-progress-control .vjs-play-progress { height: 8px; background: #00ADEF; border-radius: 0; }
.vim-css .vjs-progress-control .vjs-load-progress { height: 8px; background: #898F8F; border-radius: 0; }

/* Time Display
-------------------------------------------------------------------------------- */
.vim-css .vjs-controls .vjs-time-control { font-size: 11px; }
.vim-css .vjs-controls .vjs-time-control span { line-height: 32px; /* Centering vertically */ }

/* Volume
-------------------------------------------------------------------------------- */
.vim-css .vjs-volume-control div { padding: 7px 0 0 5px; width: 30px; }
.vim-css .vjs-volume-control div span {
  float: left; margin: 0 2px 0 0; padding: 0; width: 3px; height: 3px; border-bottom: 12px solid #666666;
  -webkit-transition: all 100ms linear; -moz-transition: all 100ms linear;
}
.vim-css .vjs-volume-control div span.vjs-volume-level-on { border-color: #00ADEF; }
.vim-css .vjs-volume-control div span:hover { height: 0; border-bottom-width: 15px; }

/* Fullscreen
-------------------------------------------------------------------------------- */
.vim-css .vjs-fullscreen-control div { margin: 10px 0 0 0; }
.vim-css .vjs-controls .vjs-fullscreen-control { border-radius: 0 5px 5px 0; }
/* Making default fullscreen icon smaller */
.vim-css .vjs-fullscreen-control div span:nth-child(1) { margin: 0 4px 4px 0; border: none; border-top: 4px solid #fff; border-right: 4px solid transparent; }
.vim-css .vjs-fullscreen-control div span:nth-child(2) { border: none; border-top: 4px solid #fff; border-left: 4px solid transparent; }
.vim-css .vjs-fullscreen-control div span:nth-child(3) { clear: both; margin: 0 4px 0 0; border: none; border-bottom: 4px solid #fff; border-right: 4px solid transparent; }
.vim-css .vjs-fullscreen-control div span:nth-child(4) { border: none; border-bottom: 4px solid #fff; border-left: 4px solid transparent; }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(1) { border: none; border-bottom: 4px solid #fff; border-left: 4px solid transparent; }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(2) { border: none; border-bottom: 4px solid #fff; border-right: 4px solid transparent; }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(3) { border: none; border-top: 4px solid #fff; border-left: 4px solid transparent; }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(4) { border: none; border-top: 4px solid #fff; border-right: 4px solid transparent; }
/* Fullscreen control hovering */
.vim-css .vjs-fullscreen-control:hover div span:nth-child(3), .vim-css .vjs-fullscreen-control:hover div span:nth-child(4), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(1), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(2) { border-bottom-color: #00ADEF; }
.vim-css .vjs-fullscreen-control:hover div span:nth-child(1), .vim-css .vjs-fullscreen-control:hover div span:nth-child(2), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(3), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(4) { border-top-color: #00ADEF; }

/* Big Play Button (at start)
---------------------------------------------------------*/
.vim-css div.vjs-big-play-button {
  width: 130px; height: 80px; margin: -40px 0 0 -65px;
  border: none; opacity: 0.9;
  border-radius: 10px;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2MUV1LcDAABwQEPCYp0sgAAAABJRU5ErkJggg==');

  /* CSS Shadows */
  box-shadow: none;
}
.vim-css div.vjs-big-play-button:hover {
  background: #00ADEF;
  opacity: 1;
}
.vim-css div.vjs-big-play-button span {
  margin: 22px 0 0 48px;
  /* Drawing the play triangle with borders - http://www.infimum.dk/HTML/slantinfo.html */
  border-left: 36px solid #fff; /* Width & Color of play icon */
  /* Height of play icon is total top & bottom border widths. Color is transparent. */
  border-top: 18px solid rgba(0,0,0,0); border-bottom: 18px solid rgba(0,0,0,0);
}
