{% extends 'base.html' %}

{% block header-text %}

    {% if  action == 'join' %}
        Join Today!
    {% else %}
        Find a consultant
    {% endif %}

{% endblock %}

{% block header-description %}
    {% if  action == 'join' %}
        Want to join Jamberry Nails but don’t have a Consultant? Simply enter your information in the fields below to find a Consultant near you.
    {% else %}
        To improve our customer service and your shopping experience, all orders are associated with a local Jamberry Nails Consultant.
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {% if  action == 'join' %}
        {% else %}
            To place your order please search for the nearest consultant using the zip code search below and then add
            your items to the shopping cart. All orders will be fulfilled by our main office but if you have any
            questions about the application process or want to throw a Jamberry party in the future you will have a
            Jamberry Nails Consultant available to help.
        {% endif %}
    </p>

    {% if accounts %}
        <div class="table-decoration">
            <table>
                <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Location</th>
                    <th scope="col">Website</th>
                </tr>
                </thead>
                <tbody>
                {% for user in accounts %}
                    <tr>
                        <td>{{ user.get_full_name }}</td>
                        <td>
                            {% if user.contact.shipping_address %}
                                {{ user.contact.shipping_address.city }}, {{ user.contact.shipping_address.state }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="http://{{ user.website.domain }}{% ifequal action 'join' %}/accounts/join/{% else %}{% ifequal action 'host' %}/accounts/host/{% else %}{% if request.GET.next %}{{ request.GET.next }}{% endif %}{% endifequal %}{% endifequal %}">website</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="tab-style3 invent-tabs" id="tabs11">
        <ul>
            <li><a href="#name-email" class="{% if name_email %}current{% endif %}">Find by Consultant Name/Email</a>
            </li>
            <li><a href="#zip" class="{% if zip %}current{% endif %}">Find by Zip Code</a></li>
        </ul>
        <div class="invent-panes" style="height: 400px;">
            <div class="tab-content" id="name-email" style="z-index: 1; opacity: 0;">

                <div class="column-1-2" id="contact-form-container">
                    <form method="POST">
                        {% csrf_token %}
                        <p>
	    <span class="contact-input-block">
	      <select style="width: 304px; height: 31px; float: left; line-height: 20px; display: inline; padding: 0 12px; font-family: Helvetica, sans-serif; margin: 0px 0px 10px 0px; background-color: white; border:0px;"
                  name='country'>
              <option value='1'>United States</option>
          </select>
	    </span>

	    <span class="contact-input-block">
              <input type="text" class="text-input" placeholder="Name/Email" name='name_email'
                     value="{% if name_email %}{{ name_email }}{% endif %}"/>
	    </span>	    
            <span class="contact-input-block">
	      <input type="submit" name="submit" value="Submit" style="margin:5px;"/>
	    </span>
                            <span class="contact-input-block"><br/></span>
                        </p>
                    </form>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="tab-content" id="zip" style="z-index: 2; opacity: 1;">

                <div class="column-1-2" id="contact-form-container">
                    <form method="POST">
                        {% csrf_token %}
                        <p>
	    <span class="contact-input-block">
              <input type="text" class="text-input" placeholder="Zip Code" name="zip"
                     value="{% if zip %}{{ zip }}{% endif %}"/>
	    </span>	    
            <span class="contact-input-block">
	      <input type="submit" name="submit" value="Submit" style="margin:5px;"/>
	    </span>
                            <span class="contact-input-block"><br/></span>
                        </p>
                    </form>
                    <div class="clear"></div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
