{% extends 'base.html' %}

{% block header-text %}
    Schedule a party
{% endblock %}

{% block header-description %}
    Fill out the following form to schedule your Jamberry Party
{% endblock %}

{% block content %}

    <style>
        form {
            margin: 0;
            padding: 0;
        }

        fieldset {
            padding: 10px;
            margin: 20px;
            border: none;
            border: 1px solid #ccc;
        }

        legend {
            padding: 0 .5px;
            font-size: 1.3em;
            font-weight: bold;
        }

        label {
            float: left;
            width: 250px;
            padding: 0 1em;
            text-align: right;
            line-height: 29px;
        }

        fieldset div {
            margin-bottom: .5em;
            padding: 0;
            display: block;
        }

        fieldset div input, fieldset div textarea {
            width: 330px;
            border: 1px solid #ccc;
            padding: 5px;
            color: #333;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
            -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; /*background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);*/
        }

        fieldset div select {
            padding: 1px;
        }

        div.fm-multi div {
            margin: 5px 0;
        }

        div.fm-multi input {
            width: 1em;
        }

        div.fm-multi label {
            display: block;
            width: 200px;
            padding-left: 5em;
            text-align: left;
        }

        #fm-submit {
            clear: both;
            padding-top: 1em;
            text-align: center;
        }

        #fm-submit input {
            border: 1px solid #333;
            padding: 2px 1em;
            background: #555;
            color: #fff;
            font-size: 100%;
        }

        input:focus, textarea:focus {
            color: #000;
            border: 1px solid #6BC616;
        }

        fieldset div.fm-req {
            font-weight: bold;
        }

        fieldset div.fm-req label:before {
            content: "* ";
        }

        input[type='checkbox'] {
            width: auto
        }

        input[type='submit']:hover {
            color: #000;
            border: 1px solid #6BC616;
            cursor: pointer
        }

        .input_footnote {
            margin-left: 276px
        }
    </style>


    {% if request.GET.done %}
    <div class="box-green">
      <h6>Saved!</h6>
      <p>We have recorded your request. Your consultant will be able to see it next time (s)he logs in.</p>
    </div>
    {% endif %}
    <div style="width:940px; margin:auto;background:#F0F0F0; border:solid 1px #C8C8C8; background-image:url({{ STATIC_URL }}images/widgets-container-bg3.png); background-repeat: no-repeat; background-position: 40% -60px;">
        <form method="post" id="form">
            {% csrf_token %}

            <fieldset>
                <legend>Your Details</legend>
		{% for field in host_form.visible_fields %}
                <div style="clear:both;">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
		{% endfor %}

	    </fieldset>

            <fieldset>
                <legend>Party Details</legend>
		{% for field in party_form.visible_fields %}
                <div style="clear:both;">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
		{% endfor %}

                <div style="text-align:center;">
                    <br/><br/>
                    <input type="submit" style="width:75px; background:white" value="continue"/>
                </div>


            </fieldset>
        </form>
    </div>
    <link href="{{ STATIC_URL }}styles/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine-en.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form").validationEngine();
            {% for i in host_form.errors.items %}$.validationEngine.buildPrompt($('#id_host-{{ i.0 }}'), '{{ i.1.0 }}');{% endfor %}
            {% for i in party_form.errors.items %}$.validationEngine.buildPrompt($('#id_party-{{ i.0 }}'), '{{ i.1.0 }}');{% endfor %}
            $('#id_party-starts_at').datepicker()
        })
    </script>
{% endblock %}


{% block bottom %}
    <link rel="stylesheet" href="/static/manage/css/external/jquery-ui-1.8.16.custom.css">
    <script src="/static/manage/js/libs/jquery-ui-1.8.16.min.js"></script>
{% endblock %}
