{% extends 'base.html' %}

{% block header-text %}
    Joining Form
{% endblock %}

{% block header-description %}
    Jamberry Nails Consultant registration form
{% endblock %}

{% block content %}

    <style>
        form {
            margin: 0;
            padding: 0;
        }

        fieldset {
            padding: 10px;
            margin: 20px;
            border: none;
            border: 1px solid #ccc;
        }

        legend {
            padding: 0 .5px;
            font-size: 1.3em;
            font-weight: bold;
        }

        label {
            float: left;
            width: 250px;
            padding: 0 1em;
            text-align: right;
            line-height: 29px;
        }

        fieldset div {
            margin-bottom: .5em;
            padding: 0;
            display: block;
        }

        fieldset div input, fieldset div textarea {
            width: 330px;
            border: 1px solid #ccc;
            padding: 5px;
            color: #333;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
            -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px; /*background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);*/
        }

        fieldset div select {
            padding: 1px;
        }

        div.fm-multi div {
            margin: 5px 0;
        }

        div.fm-multi input {
            width: 1em;
        }

        div.fm-multi label {
            display: block;
            width: 200px;
            padding-left: 5em;
            text-align: left;
        }

        #fm-submit {
            clear: both;
            padding-top: 1em;
            text-align: center;
        }

        #fm-submit input {
            border: 1px solid #333;
            padding: 2px 1em;
            background: #555;
            color: #fff;
            font-size: 100%;
        }

        input:focus, textarea:focus {
            color: #000;
            border: 1px solid #6BC616;
        }

        fieldset div.fm-req {
            font-weight: bold;
        }

        fieldset div.fm-req label:before {
            content: "* ";
        }

        input[type='checkbox'] {
            width: auto
        }

        input[type='submit']:hover {
            color: #000;
            border: 1px solid #6BC616;
            cursor: pointer
        }

        .input_footnote {
            margin-left: 276px;
            display: block;
        }
    </style>
    <script>
      $(document).ready(function(){
        $('#id_has_propay').change(function(){
          if($(this).is(':checked')){
            $('#pp_id').slideDown()
          }else{
            $('#pp_id').slideUp()
         }
        })
      })
    </script>
    <div style="width:940px; margin:auto;background:#F0F0F0; border:solid 1px #C8C8C8; background-image:url({{ STATIC_URL }}images/widgets-container-bg3.png); background-repeat: no-repeat; background-position: 40% -60px;">
        <form method="post" id="reg_form">
            {% csrf_token %}
            <!-- $.validationEngine.buildPrompt($('#id_first_name'), '') -->
            <fieldset>
                <legend>Personal information</legend>
                <div>
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div>
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div>
                    {{ form.company_name.label_tag }}
                    {{ form.company_name }}
                </div>
                <div>
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}<br/>
                    <span class="input_footnote">Valid email required; we do not distribute email addresses to anyone.</span><br/><br/>
                </div>
                <div>
                    <label style="visibility:hidden">temp</label>
                    {{ form.receive_email }} {{ form.receive_email.label }}
                </div>
                <div>
                    <span>Please review the Jamberry Nails <a target="_blank"
                                                              href="https://workstation.jamberrynails.net/assets/pdf/JamberryPrivacyPolicy.pdf">Privacy
                        Policy</a>.</span>
                </div>
            </fieldset>

            <fieldset>
                <legend>Referral Information</legend>
                <div>
                    <span style="display:block; margin-left:213px; margin-bottom:5px;">Enter the information of the consultant who introduced you to Jamberry Nails. </span>

                    <div>
                        {{ form.referrer.label_tag }}
                        {# {{ form.referrer }} #}<input disabled="disabled" name="referrer" maxlength="80" type="text"
                                                        class="" value="{{ referred_by.username }}"
                                                        id="id_referrer"><br/>
                        <span class="input_footnote">Please enter a Jamberry consultant's website alias, username, or ID to enroll.</span>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Tax Information</legend>
                <div>
                    {{ form.ssn_or_taxid.label_tag }}
                    {{ form.ssn_or_taxid }}
                </div>
                <div>
                    <label for="id_dob_day">Date of Birth</label>
                    {{ form.dob_day }}
                    {{ form.dob_month }}
                    {{ form.dob_year }}
                </div>
            </fieldset>

            <fieldset>
                <legend>Username & Password</legend>
                <div>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    <span class="input_footnote">Username may consist of a-z and 0-9. No spaces.</span>
                </div>
                <div>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <span class="input_footnote">Minimum 6 characters</span>
                </div>
                <div>
                    {{ form.c_password.label_tag }}
                    {{ form.c_password }}
                </div>
            </fieldset>

            <fieldset>
                <legend>Personal Website</legend>
                <div style="padding:10px; text-align:center">Please choose a unique name for your personal web address.
                    This will provide you with a jamberrynails.net website where you can enroll new consultants and sell
                    products.
                </div>
                <div>
                    {{ form.website.label_tag }}
                    {{ form.website }}
                    <span class="input_footnote">Website alias may consist of a-z and 0-9. No spaces.</span>
                    <span class="input_footnote">Your personal web site address will be: <span style="color:#ED43AB">http://<span
                            id="alia">{% if website %}{{ website }}{% else %}&lt;website-alias&gt;{% endif %}</span>.jamberrynails.net</span></span>
                </div>
                <div>
                    {{ form.website_name.label_tag }}
                    {{ form.website_name }}
                    <span class="input_footnote">Name to be displayed on your personal website</span>
                </div>
            </fieldset>

            <fieldset>
                <legend>ProPay Account</legend>
                <div style="padding:10px; text-align:center">
		  Please enter your ProPay account details if you have one, otherwise we will create your propay account.
                </div>
                <div>
                    {{ form.has_propay.label_tag }}
                    {{ form.has_propay }}
                </div>
                <div style="clear:both; {% ifnotequal form.has_propay.value 'on' %}display:none;{% endifnotequal %}" id="pp_id"> 
                    {{ form.propay_account.label_tag }}
                    {{ form.propay_account }}
                    <span class="input_footnote">Your ProPay account details.</span>
                </div>
            </fieldset>

            <fieldset>
                <legend>Terms & Conditions</legend>
                <div style="text-align:center;">
                    {{ form.reviewed }} I have reviewed the Jamberry
                    <a href="https://workstation.jamberrynails.net/assets/pdf/JamberryIndependentConultantAgreement.pdf"
                       target="_blank">Independent Conultant Agreement</a>,
                    <a href="https://workstation.jamberrynails.net/assets/pdf/JamberryConsentToElectronicRecord.pdf"
                       target="_blank">Consent To Electronic Record</a>,
                    and <a href="https://workstation.jamberrynails.net/assets/pdf/JamberryPrivacyPolicy.pdf"
                           target="_blank">Privacy Policy</a>.
                    <br/><br/>
                    <input type="submit" style="width:75px; background:white" value="continue"/>
                </div>
            </fieldset>

        </form>
    </div>
    <link href="{{ STATIC_URL }}styles/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine-en.new.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.validationEngine.new.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reg_form").validationEngine({
	      'onValidationComplete':function(form, status){
	         if(status){
	           var sure=confirm("Are you sure that this information and sponsor is correct?\nYou will not be able to change your sponsor once you confirm.");
	           if(sure){
	             form.validationEngine('detach');
	             form.submit()
	           }
	         }
	       }
	    });
            {# for i in form.errors.items %}$.validationEngine.buildPrompt($('#id_{{ i.0 }}'), '{{ i.1.0 }}');{% endfor #}
            {% for i in form.errors.items %}
         	$('#id_{{ i.0 }}').validationEngine('showPrompt', '{{ i.1.0 }}', 'error', 'topRight', true);
	    {% endfor %}


            $('#id_website').keyup(function () {
                alias = $('#id_website').val()
                if (alias == '') {
                    alias = '&lt;website-alias&gt;'
                }
                $('#alia').html(alias)
            })
        })
    </script>
{% endblock %}
