{% extends "manage/base.html" %}
{% block title %}Dashboard{% endblock %}
{% load getattribute %}
{% load i18n %}

{% block content %}
<aside class="equalize">
      <div class="view">
        <table style="width:90%; margin-bottom:20px;">
          <tbody>
	    <tr>
              <td colspan="3" style="text-align:center">
                <div class="box">
                  <div class="header no-icon">
                    <h3>Saved Filters</h3>
                    <span id="bill-info"></span>
                  </div>
                  <div class="content" style="padding:0px">
		    <table style="width:90%;">
			{% if filters %}
			  {% for f in filters %}
			    <tr>
			      <td>
				<a href="?filter=true&{% for p in f.properties %}{{ p.key }}={{ p.value }}&{% endfor %}">{{ f.name }}</a>
				<a class="cross" style="float:right" href="?delete_filter={{f.id}}"><span>x</span></a>
			      </td>
			    </tr>
			  {% endfor %}
			{% else %}
			<tr>
			  <td>
			    You dont have any saved filters.
			  </td>
			</tr>
			{% endif %}
		    </table>
		  </div>
		</div>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </div>
</aside>

<div id="main_content" class="equalize">
  <h2 class="grid_12">Team Communication</h2>
  <div class="grid_12">
    {% for f, options in filter_types.items %}
    <div style="width:{{ options.width }}px; float:left; margin:15px 30px 0px 0px">
      <label for="option-{{ options.key }}">{{ options.label }}:</label>
      <select class="filters" name="{{ options.key }}" id="option-{{ options.key }}">
	<option></option>
	{% for t in options.values %}
	<option value="{{ t.id }}" {% ifequal t.id filter_on|getattribute:options.key|add:0 %}selected{% endifequal %}>
	  {{ t.name }}
	</option>
	{% endfor %}
      </select>
    </div>
    {% endfor %}      
  </div>

  <div class="grid_12" style="padding-top:10px;">
    {% if filter_on %}
      {% for f, options in filter_types.items %}
        {% if filter_on|getattribute:options.key %}
          <span>
	    <strong>{{ options.label }}</strong>:
	    {% for t in options.values %}
	      {% ifequal t.id filter_on|getattribute:options.key|add:0 %}{{ t.name }}{% endifequal %}
	    {% endfor %}
	    <a class="cross" href="?{% for k, v in filter_on.items %}{% ifnotequal k options.key %}f[{{k}}]={{v}}&{% endifnotequal %}{% endfor %}filter=true">
	      <span>x</span>
	    </a>
	  </span> &nbsp;
        {% endif %}
      {% endfor %}
	  
      <a href="javascript:void(0)" onclick="save_name();" class="button" style="width:70px; display:inline-block; text-align:center;">Save Filter</a>
      <a href="javascript:void(0)" onclick="send_mail();" class="button" style="width:70px; display:inline-block; text-align:center;">Email</a>

    {% endif %}  
  </div>
  
  {% if not people.c %}
  {% if not people.r %}
  <div class="grid_12" style="padding-top:10px;">
    No customers found.
  </div>
  {% endif %}
  {% endif %}
  
  {% if people.c %}
  <div class="grid_12">
    <div class="box" id="tab-panel-consultants">
      <div class="header">
        <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">
        <h3>Consultants</h3>
      </div> 
      <div class="content">
        <div class="tab-content">
          <div>
            <form method="post" action='{% url report_builder_index %}' id="filtered-list">
              <table style="width:100%" class="table style">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Sponsor</th>
                    <th>Email</th>
                    <th>City, State</th>
                    <th></th>
                  </tr>
                </thead>
                {% for p in people.c %}
                <tr>
		  <td>{{ p.current_month_details.payrank.name }}</td>
                  <td>{{ p.first_name }}</td>
                  <td>{{ p.last_name }}</td>
                  <td>{% if p.sponsor.get_full_name %}{{ p.sponsor.get_full_name }}{% endif %}</td>
                  <td>{{ p.email }}</td>
                  <td>{{ p.contact.addressbook_set.all.0.city }}, {{ p.contact.addressbook_set.all.0.state|upper }}</td>
                  <td>
		    <input type="checkbox" class="c" name="s[]" value="{{ p.pk }}" {% if only.c %}{% if p.pk|slugify in only.c %}checked{% endif %}{% else %}checked{% endif %} data-email="{{ p.email }}"/>
		  </td>
                </tr>
                {% endfor %}
              </table>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if people.r %}
  <div class="grid_12">
    <div class="box" id="tab-panel-consultants">
      <div class="header">
        <img src="{{ STATIC_URL }}manage/img/icons/packs/fugue/16x16/ui-tab.png">
        <h3>Retail Customer</h3>
      </div> 
      <div class="content">
        <div class="tab-content">
          <div>
            <form method="post" action='{% url report_builder_index %}' id="filtered-list">
              <table style="width:100%" class="table style">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>City, State</th>
                    <th></th>
                  </tr>
                </thead>
                {% for p in people.r %}
                <tr>
                  <td>{{ p.first_name }}</td>
                  <td>{{ p.last_name }}</td>
                  <td>{{ p.email }}</td>
                  <td>{{ p.addressbook_set.all.0.city }}, {{ p.addressbook_set.all.0.state|upper }}</td>
                  <td>
		    <input type="checkbox" class="r" name="s[]" value="{{ p.pk }}" {% if only.r %}{% if p.pk|slugify in only.r %}checked{% endif %}{% else %}checked{% endif %} data-email="{{ p.email }}"/>
		  </td>
                </tr>
                {% endfor %}
              </table>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}



{% endblock %}


{% block bottom %}
  
  <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sidebar.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/sprite.tables.css">
  <script src="{{ STATIC_URL }}js/base64.js"></script>
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.validate.js"></script>
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.checkbox.js"></script>
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.chosen.js"></script>
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.placeholder.js"></script>
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.miniColors.js"></script>
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery.dataTables.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/plugin.calendar.css"> <!-- PLUGIN: The calendar styling -->
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/fullcalendar.js"></script> <!-- REQUIRED for calendar -->
  <link rel="stylesheet" href="{{ STATIC_URL }}manage/css/sprite.forms.css"> <!-- SPRITE: Forms styling -->
  <script defer src="{{ STATIC_URL }}manage/js/mylibs/jquery-fallr-1.2.js"></script>
  <link rel='stylesheet' type='text/css' href='http://wwwendt.de/tech/dynatree/src/skin/ui.dynatree.css'>
  <script src='http://wwwendt.de/tech/dynatree/jquery/jquery.cookie.js' type="text/javascript"></script>
  <script src='http://wwwendt.de/tech/dynatree/src/jquery.dynatree.js' type="text/javascript"></script>
  
  
  <style>
      a.cross span{
      color:white;
      background:#ccc;
      width: 12px;
      height: 12px; 
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      display:inline-block;
      text-align:center;
      line-height:12px;
      }

      a.cross:hover span{
      background:#666;
      }
  </style>
  <script>

    function send_mail(){
      var only={'c':'', 'r':''}
      $('input.c[@name="s[]"]:checked').each(function(){
        only['c']=only['c']+''+$(this).attr('value')+','
      })
      $('input.r[@name="s[]"]:checked').each(function(){
        only['r']=only['r']+''+$(this).attr('value')+','
      })
      only['c']=btoa(only['c'])
      only['r']=btoa(only['r'])
      window.location='{% url manager_tools_filter %}?o[c]='+only['c']+'&o[r]='+only['r']
    }



    var filter={ {% for k, v in filter_on.items %}'f[{{k}}]':'{{v}}', {% endfor %}}
      
    function save(){
      filter['name']=$('#filter_name').val()
      filter['csrfmiddlewaretoken']='{{ csrf_token }}'
      var only={'c':'', 'r':''}
      $('input.c[@name="s[]"]:checked').each(function(){
        only['c']=only['c']+''+$(this).attr('value')+','
      })
      $('input.r[@name="s[]"]:checked').each(function(){
        only['r']=only['r']+''+$(this).attr('value')+','
      })
      only['c']=btoa(only['c'])
      only['r']=btoa(only['r'])
      filter['o']=only
      filter['filter']=true
      filter['save']=true
      $.ajax({
        url:'.',
        type:'GET',
        data:filter,
        success:function(){
          //window.location='?' //.reload()
        }
      })
    }
      
    function save_name(){
      $.fallr('show', {
        icon        : 'form',
        content     : ''
            + '<form>'
            +     'Please enter a name for the filter:'
            +     '<input type="text" id="filter_name">'
            + '</form>',
        buttons : {
          button1 : {text: 'Submit', onclick: save},
          button4 : {text: 'Cancel'}
        }
      }); 
    }


     $(window).load(function () {
        $(".table.style").dataTable();
      });

      $('.filters').change(function(){
	  var param=''
	  $('.filters').each(function(){
	    var value=$(this).val()
	    var name=$(this).attr('name')
	    if(value!=''){
	      param=param+'f['+name+']='+value+'&'
	    }
	  })
	  if(param!=''){
	    window.location='?'+param+'filter=true'
	  }
      })


  </script>


{% endblock %}
